// keep in sync with constant values in ActionButtons.tsx
$paddingBetweenButtons: 8px; // keep in sync with PADDING_BETWEEN_BUTTONS
$paddingBetweenIconAndLabel: 4px; // keep in sync with PADDING_BETWEEN_ICON_AND_LABEL

.ActionButtons {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    ul {
        list-style: none;
        font-size: 13px;
    }

    li {
        height: 100%;
        background-color: $hover-fill;
        display: inline-block;
        border-radius: 4px;
    }

    li + li {
        margin-left: $paddingBetweenButtons;
    }

    li button,
    li a,
    li a:visited {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        padding: 0;
        cursor: inherit;
        color: $dark-text;

        svg {
            width: 14px;
            height: 14px;
        }

        .label {
            display: inline-block;
            margin-left: $paddingBetweenIconAndLabel;
        }
    }

    li a {
        padding: 8px;
        padding-left: 12px;

        svg {
            position: relative;
            top: 1px;
        }

        .label {
            margin: 0;
            margin-right: $paddingBetweenIconAndLabel;
        }
    }
}
