$light-stroke: #e7e7e7;
$dark-stroke: #2d2d2d;
$active-stroke: #a4b6ca;

$light-fill: #dadada;
$active-fill: #dbe5f0;
$hover-fill: #f2f2f2;
$selected-fill: #c7ced7;

$light-text: #858585;
$dark-text: #5b5b5b;
$active-text: #1d3d63;

$info-icon: #a1a1a1;
$active-switch: #6e87a2;

$medium: 400;
$bold: 700;
$lato: $sans-serif-font-stack;

$indent: 15px;
$control-row-height: 32px;

$option-checkmark: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMS4wMTU2IDAuOTg0Mzc1QzExLjMyMDMgMS4yNjU2MiAxMS4zMjAzIDEuNzU3ODEgMTEuMDE1NiAyLjAzOTA2TDUuMDE1NjIgOC4wMzkwNkM0LjczNDM4IDguMzQzNzUgNC4yNDIxOSA4LjM0Mzc1IDMuOTYwOTQgOC4wMzkwNkwwLjk2MDkzOCA1LjAzOTA2QzAuNjU2MjUgNC43NTc4MSAwLjY1NjI1IDQuMjY1NjIgMC45NjA5MzggMy45ODQzOEMxLjI0MjE5IDMuNjc5NjkgMS43MzQzOCAzLjY3OTY5IDIuMDE1NjIgMy45ODQzOEw0LjQ3NjU2IDYuNDQ1MzFMOS45NjA5NCAwLjk4NDM3NUMxMC4yNDIyIDAuNjc5Njg4IDEwLjczNDQgMC42Nzk2ODggMTEuMDE1NiAwLjk4NDM3NVoiIGZpbGw9IiMxRDNENjMiLz4KPC9zdmc+";

$menu-caret-up: "data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOCA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC40NjA5MzggMy43MzQzOEwzLjQzNzUgMC43MzQzNzVDMy42MDE1NiAwLjU5Mzc1IDMuNzg5MDYgMC41IDQgMC41QzQuMTg3NSAwLjUgNC4zNzUgMC41OTM3NSA0LjUxNTYyIDAuNzM0Mzc1TDcuNDkyMTkgMy43MzQzOEM3LjcwMzEyIDMuOTQ1MzEgNy43NzM0NCA0LjI3MzQ0IDcuNjU2MjUgNC41NTQ2OUM3LjUzOTA2IDQuODM1OTQgNy4yODEyNSA1IDYuOTc2NTYgNUgxQzAuNjk1MzEyIDUgMC40MTQwNjIgNC44MzU5NCAwLjI5Njg3NSA0LjU1NDY5QzAuMTc5Njg4IDQuMjczNDQgMC4yNSAzLjk0NTMxIDAuNDYwOTM4IDMuNzM0MzhaIiBmaWxsPSIjNUI1QjVCIi8+Cjwvc3ZnPg==";

$menu-caret-down: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOCA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNy41MTU2MiAxLjI4OTA2TDQuNTM5MDYgNC4yODkwNkM0LjM3NSA0LjQyOTY5IDQuMTg3NSA0LjUgNCA0LjVDMy43ODkwNiA0LjUgMy42MDE1NiA0LjQyOTY5IDMuNDYwOTQgNC4yODkwNkwwLjQ4NDM3NSAxLjI4OTA2QzAuMjUgMS4wNzgxMiAwLjE3OTY4OCAwLjc1IDAuMjk2ODc1IDAuNDY4NzVDMC40MTQwNjIgMC4xODc1IDAuNjk1MzEyIDAgMSAwSDYuOTc2NTZDNy4yODEyNSAwIDcuNTM5MDYgMC4xODc1IDcuNjU2MjUgMC40Njg3NUM3Ljc3MzQ0IDAuNzUgNy43MjY1NiAxLjA3ODEyIDcuNTE1NjIgMS4yODkwNloiIGZpbGw9IiM1QjVCNUIiLz4KPC9zdmc+Cg==";

// Buttons in the main controls row of the grapher view
nav.controlsRow .controls {
    display: flex;
    gap: 8px;

    button.menu-toggle {
        font: $medium 13px/16px $lato;
        letter-spacing: 0.01em;
        display: flex;
        align-items: center;
        border: 1px solid $light-stroke;
        border-radius: 4px;
        padding: 7px;
        color: $dark-text;
        white-space: nowrap;

        &:hover {
            background: $hover-fill;
            cursor: pointer;
        }

        &.active,
        &:active {
            color: $active-text;
            background: $active-fill;
            border: 1px solid $active-fill;
        }

        svg {
            height: 12px;
            margin-right: 5px;
            vertical-align: bottom;
        }

        label:hover {
            cursor: pointer;
        }
    }

    .settings-menu {
        // the pop-up version of the settings menu
        .settings-menu-controls {
            position: absolute;
            width: 300px;
            right: $indent;
            background: white;
            border-radius: 4px;
            box-shadow: 0px 4px 23px 4px #0000000f;
            z-index: $zindex-controls-drawer;
            overflow-y: scroll;
        }

        // transparent mouse-event catcher while popup is visible
        .settings-menu-backdrop {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: $zindex-controls-backdrop;
        }
    }

    .map-projection-menu {
        font: $medium 13px/16px $lato;

        .control {
            min-height: auto;
            min-width: 150px;
            font: $medium 13px/16px $lato;
            letter-spacing: 0.01em;
            display: flex;
            align-items: center;
            border: 1px solid $light-stroke;
            border-radius: 4px;
            padding: 7px;
            color: $dark-text;

            &:hover {
                background: $hover-fill;
                cursor: pointer;
            }

            &:after {
                content: " ";
                background: url($menu-caret-down) no-repeat center;
                width: 16px;
                height: 16px;
            }

            &.active {
                border-color: $active-stroke;
                &:after {
                    background: url($menu-caret-up) no-repeat center;
                }
            }
        }

        .menu {
            margin-top: 3px;
            border-radius: 4px;
            background: white;
            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
            z-index: $zindex-controls-drawer;

            &:before {
                display: inline-block;
                content: "Zoom to selection";
                font: 700 12px/16px $lato;
                color: $light-text;
                padding: 8px 18px;
            }

            .option {
                padding: 8px 18px;
                &:hover {
                    cursor: pointer;
                    background: $hover-fill;
                }
                &:active,
                &.active {
                    color: $active-text;
                    background: $active-fill;
                }
                &.active {
                    position: relative;
                    &:hover {
                        background: $selected-fill;
                    }
                    &:after {
                        content: " ";
                        background: url($option-checkmark) no-repeat;
                        width: 12px;
                        height: 9px;
                        position: absolute;
                        right: 18px;
                        bottom: 11px;
                    }
                }
            }
        }
    }
}

//
// Make buttons narrower by omitting their text labels as the viewport gets narrower
// TODO: move the logic to js to calculate actual widths for different entity name lengths
//       and the variable number of buttons present in the content switcher block
//
@container grapher (max-width:550px) {
    // collapse the Settings toggle down to just an icon on small screens
    nav.controlsRow .settings-menu button.menu-toggle {
        min-height: $control-row-height;
        svg {
            margin-right: 0;
        }
        .label {
            display: none;
        }
    }
}
@container grapher (max-width:475px) {
    // hide the entity name in the Edit/Select/Switch button
    nav.controlsRow .entity-selection-menu button.menu-toggle {
        label span {
            display: none;
        }
    }
}

@at-root {
    // the drawer version of the settings menu (see GRAPHER_SETTINGS_DRAWER_ID)
    nav#grapher-settings-drawer .settings-menu-contents {
        .settings-menu-controls {
            position: fixed;
            right: 0;
            top: 0;
            width: 300px;
            height: 100vh;
            z-index: $zindex-controls-drawer;
            overflow-y: scroll;
            background: white;
            padding-top: $indent;

            .config-header {
                position: static;
            }
        }
        .settings-menu-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.2);
            z-index: $zindex-controls-backdrop;
        }

        .config-switch {
            label > svg {
                display: none;
            }

            .config-subtitle {
                display: block;
            }
        }
    }

    .settings-menu-contents {
        .settings-menu-controls {
            //
            // shared button coloring & behaviors
            //
            button {
                display: flex;
                align-items: center;
                color: $light-text;
                background: white;
                border: 1px solid $light-stroke;
                font: $medium 13px/16px $lato;
                letter-spacing: 0.01em;
                border-radius: 4px;
                padding: 7px;
                height: 40px;

                &:hover {
                    background: $hover-fill;
                    cursor: pointer;

                    &:not(.active) {
                        color: $dark-text;
                    }
                }

                &.active,
                &:active {
                    background: $active-fill;
                    border: 1px solid $active-fill;
                }

                &.active {
                    cursor: default;
                    color: $active-text;
                }
            }

            //
            // chart-type label and close button
            //
            .config-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: white;
                padding: 9px $indent 3px $indent;
                position: sticky;
                top: 0;
                z-index: 1;

                .config-title {
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: $light-text;
                    font: $bold 12px/16px $lato;
                }

                button.close {
                    position: relative;
                    border-radius: 50%;
                    height: 32px;
                    width: 32px;
                    text-align: center;
                    justify-content: center;
                    svg {
                        height: 14px;
                        width: 14px;
                    }
                }
            }

            //
            // each titled block of control widgets (with optional info-circle + tooltip)
            //
            section {
                font: $medium 14px/1.2 $lato;
                color: $light-text;
                padding: 1em 0;
                margin: 0 $indent;

                .config-name {
                    font: $bold 14px/1.2 $lato;
                    color: $dark-text;
                    list-style: none;

                    svg {
                        color: $info-icon;
                        height: 13px;
                        padding: 0 0.333em;
                    }

                    // the tooltip triggered by hovering the circle-i
                    @at-root .tippy-box[data-theme="settings"] {
                        background: white;
                        color: $dark-text;
                        font: 400 14px/1.5 $sans-serif-font-stack;
                        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);

                        .tippy-content {
                            padding: $indent;
                        }
                        .tippy-arrow {
                            color: white;
                        }
                    }
                }

                .config-subtitle {
                    font-size: 13px;
                    margin: 5px 0;
                }

                .config-toggle {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 0.5em 0;
                }

                & + section {
                    border-top: 1px solid $light-stroke;
                }
            }

            //
            // resuable widgets
            //
            section {
                // left/right pairs of options
                .config-toggle {
                    label {
                        flex-basis: 100%;
                        color: $dark-text;
                        margin-bottom: 0.5em;
                    }
                    button {
                        width: 130px;
                        padding: 7px 16px;
                    }
                }

                // on/off switch with label written to the right
                .config-switch {
                    position: relative;
                    margin: 14px 0;
                    -webkit-user-select: none;
                    user-select: none;

                    label {
                        color: $dark-text;
                        padding-left: 35px;
                        &:hover {
                            cursor: pointer;
                        }

                        svg {
                            color: $info-icon;
                            height: 13px;
                            padding: 0 0.333em;
                        }
                    }

                    .config-subtitle {
                        display: none;
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        left: 0;
                    }

                    .outer {
                        position: absolute;
                        left: 0;
                        top: 0;
                        content: " ";
                        width: 29px;
                        height: 16px;
                        background: $light-fill;
                        border-radius: 8px;
                        pointer-events: none;
                        .inner {
                            position: relative;
                            content: " ";
                            width: 10px;
                            height: 10px;
                            background: $light-text;
                            border-radius: 5px;
                            top: 3px;
                            left: 3px;
                            pointer-events: none;
                            transition: transform 333ms;
                        }
                    }

                    &:hover {
                        .outer .inner {
                            background: $dark-text;
                        }
                    }

                    input:checked + .outer {
                        background: $active-fill;
                        .inner {
                            background: $active-switch;
                            transform: translate(13px, 0);
                        }
                    }
                    &:hover input:checked + .outer .inner {
                        background: darken($active-switch, 13%);
                    }
                }

                // vertical list of options (for selecting faceting mode)
                .config-list {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding: 7px 0;
                    button {
                        width: 100%;

                        .faceting-icon {
                            display: flex;
                            flex-wrap: wrap;
                            width: 34px;
                            height: 24px;
                            justify-content: space-between;
                            margin-right: 8px;
                            span {
                                // the round-rects that make up the grid
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                border-radius: 2px;
                                background: $light-stroke;
                            }
                        }

                        &.entity span {
                            width: 10px;
                            height: 10px;
                        }

                        &.metric span {
                            width: 10px;
                            height: 10px;
                            border-radius: 5px;
                        }

                        &.active span {
                            background: #a4b6ca;
                        }

                        &:hover:not(.active) span {
                            background: $light-fill;
                        }

                        &:active:not(.active) span {
                            background: $light-text;
                        }
                    }
                }
            }
        }
    }
}

@keyframes settings-menu-backdrop-enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes settings-menu-backdrop-exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes settings-menu-controls-enter {
    0% {
        transform: translate(301px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes settings-menu-controls-exit {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(301px, 0);
    }
}
