$borderWidth: 1px;
$borderRadius: 4px;
$gap: 1.5px;

.ContentSwitchers {
    list-style: none;
    height: $controlRowHeight;
    margin: 0;
    padding: $gap;
    border: $borderWidth solid $light-stroke;
    border-radius: $borderRadius;

    li {
        display: inline-block;
        height: 100%;
        position: relative;
    }

    li > a {
        display: block;
        text-transform: capitalize;
        color: $light-text;
        font-size: 14px;
        font-weight: 500;
        height: $controlRowHeight - 2 * ($borderWidth + $gap);
        line-height: $controlRowHeight - 2 * ($borderWidth + $gap);
        border-radius: $borderRadius - $gap;
        padding: 0 16px;
        cursor: default;

        &:hover {
            background-color: $hover-fill;
        }

        .label {
            margin-left: 6px;
        }

        svg {
            color: $info-icon;
        }
    }

    li.active > a {
        color: $active-text;
        background-color: $active-fill;

        svg {
            color: $active-knob;
        }
    }

    // separators between tabs that are hidden on hover and when a tab is active
    li:not(:hover):not(.active) {
        @mixin separator {
            content: "";
            display: block;
            width: 0.5px;
            height: calc(100% - 12px);
            position: absolute;
            top: 6px;
            background-color: $light-stroke;
            z-index: -1;
        }

        &:not(:first-child)::before {
            @include separator;
            left: -0.5px;
        }

        &:not(:last-child)::after {
            @include separator;
            right: -0.5px;
        }
    }
}

&.GrapherComponentMedium {
    .ContentSwitchers:not(.iconOnly) li > a {
        padding: 0 8px;
    }
}
