$light-stroke: #e7e7e7;
$dark-stroke: #2d2d2d;
$active-stroke: #a4b6ca;

$light-fill: #dadada;
$active-fill: #dbe5f0;
$hover-fill: #f2f2f2;
$selected-fill: #c7ced7;

$light-text: #858585;
$dark-text: #5b5b5b;
$active-text: #1d3d63;

$info-icon: #a1a1a1;
$active-switch: #6e87a2;

$medium: 400;
$bold: 700;
$lato: $sans-serif-font-stack;

$indent: 15px;
$control-row-height: 32px;

// Buttons in the main controls row of the grapher view
nav.controlsRow .controls {
    display: flex;
    gap: 8px;

    button.menu-toggle {
        font: $medium 13px/16px $lato;
        letter-spacing: 0.01em;
        display: flex;
        align-items: center;
        border: 1px solid $light-stroke;
        border-radius: 4px;
        padding: 7px;
        color: $dark-text;
        white-space: nowrap;

        &:hover {
            background: $hover-fill;
            cursor: pointer;
        }

        &.active,
        &:active {
            color: $active-text;
            background: $active-fill;
            border: 1px solid $active-fill;
        }

        svg {
            height: 12px;
            margin-right: 5px;
            vertical-align: bottom;
        }

        label:hover {
            cursor: pointer;
        }
    }
}

//
// Make buttons narrower by omitting their text labels as the viewport gets narrower
// TODO: move the logic to js to calculate actual widths for different entity name lengths
//       and the variable number of buttons present in the content switcher block
//
@container grapher (max-width:550px) {
    // collapse the Settings toggle down to just an icon on small screens
    nav.controlsRow .settings-menu button.menu-toggle {
        min-height: $control-row-height;
        svg {
            margin: 0 2px;
        }
        .label {
            display: none;
        }
    }
}
@container grapher (max-width:475px) {
    // hide the entity name in the Edit/Select/Switch button
    nav.controlsRow .entity-selection-menu button.menu-toggle {
        label span {
            display: none;
        }
    }
}
