$active-icon: $blue-50;

@at-root {
    .ContentSwitchers__OverflowMenu {
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
    }

    .ContentSwitchers__OverflowMenuList {
        &:focus:not([data-focus-visible]) {
            outline: none;
        }
    }

    .ContentSwitchers__OverflowMenuItem {
        @include grapher_label-2-medium;

        margin: 4px 0;
        padding: 0 16px;
        height: $controlRowHeight;
        display: flex;
        align-items: center;
        color: $light-text;
        cursor: pointer;
        width: 100%;
        background-color: #fff;

        &[data-hovered] {
            background-color: $gray-10;
        }

        &:focus:not([data-focus-visible]) {
            outline: none;
        }

        &[data-focus-visible] {
            color: $active-text;
            background-color: $active-fill;

            svg {
                color: $active-icon;
            }
        }
    }

    .Tabs.ContentSwitchers .Tabs__Tab,
    .ContentSwitchers__OverflowMenuItem {
        $icon-width: 13px;
        $icon-padding: 6px;

        .label {
            margin-left: $icon-padding;
        }

        svg {
            color: $gray-60;

            &.custom-icon {
                --size: $icon-width;

                display: inline-block;
                height: var(--size);
                width: var(--size);
                vertical-align: -1.625px;

                &.scatter,
                &.marimekko,
                &.slope {
                    --size: 14px;
                }
            }
        }

        &[data-selected] {
            svg {
                color: $active-icon;
            }
        }
    }
}

.ContentSwitchers__Container {
    $light-stroke: $gray-20;
    $border-radius: 4px;
    $visual-gap: 2px;

    display: flex;
    box-shadow: inset 0 0 0 1px $light-stroke;
    border-radius: $border-radius;
    height: $controlRowHeight;

    .Tabs.ContentSwitchers {
        box-shadow: none; // Moved to the container
    }

    // The overflow menu button is styled as a slim variant tab
    > .ContentSwitchers__OverflowMenuButton {
        // Reset button styles
        border: none;
        background: none;

        // Use shared slim tab styling
        @include slim-tab-item;
        @include slim-tab-separator;

        padding: 0 8px;
        margin: $visual-gap;
        margin-left: -$visual-gap;

        &:focus:not([data-focus-visible]) {
            outline: none;
        }

        // Hide the separator line when interacted with
        &[data-hovered]:not(.is-open)::before,
        &[data-pressed]:not(.is-open)::before {
            display: none;
        }
    }

    // Hide separator line when the last tab is hovered or selected
    &:has(.Tabs__Tab:last-child[data-hovered])
        > .ContentSwitchers__OverflowMenuButton::before,
    &:has(.Tabs__Tab:last-child[data-selected])
        > .ContentSwitchers__OverflowMenuButton::before {
        display: none;
    }
}
