$light-stroke: $gray-20;
$dark-stroke: #2d2d2d;
$active-stroke: $blue-30;

$light-fill: $gray-30;
$active-fill: $blue-20;
$hover-fill: $gray-10;
$selected-fill: #c7ced7;

$active-switch: $blue-50;

$lato: $sans-serif-font-stack;

$indent: 15px;
$control-row-height: 32px;

// Buttons in the main controls row of the grapher view
nav.controlsRow .controls {
    display: flex;
    justify-content: flex-end;
    gap: var(--controls-gap, 8px);

    button.menu-toggle {
        font-family: $lato;
        font-size: var(--button-font-size, 13px);
        font-weight: var(--button-font-weight, 400);
        line-height: 16px;
        letter-spacing: var(--label-letter-spacing, 0.01em);
        display: flex;
        align-items: center;
        border: var(--button-border-width, 1px) solid $light-stroke;
        border-radius: 4px;
        height: $control-row-height;
        padding: var(--button-padding, 7px);
        color: $dark-text;
        white-space: nowrap;

        &:hover {
            background: $hover-fill;
            cursor: pointer;
        }

        &.active,
        &:active {
            color: $active-text;
            background: $active-fill;
            border: var(--button-border-width, 1px) solid $active-fill;
        }

        svg {
            width: var(--button-icon-width, 13px);
            height: 12px;
            margin-right: var(--button-icon-margin, 5px);
            vertical-align: bottom;
        }

        label:hover {
            cursor: pointer;
        }

        &.icon-only {
            min-height: $control-row-height;

            svg {
                margin: 0 var(--icon-only-button-icon-margin, 2px);
            }
        }
    }
}

//
// correct for style bleeds in admin
//
@at-root {
    .AdminApp {
        nav.controlsRow .controls button.menu-toggle label {
            margin: 0;
        }
        .GrapherSettingsPopover section {
            background: none;
        }
    }
}
