.map-country-dropdown {
    max-width: 202px;

    .local-icon {
        margin-left: 6px;
        font-size: 0.9em;
        color: #a1a1a1;
    }

    input[type="text"] {
        // prevent auto-zoom on iOS
        font-size: 16px !important;
        height: 16px;
    }
}
