@import "dropdown-icons";

.grapher-search-dropdown {
    $magnifying-glass: "data:image/svg+xml;base64,PHN2ZwogICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICAgdmlld0JveD0iMCAwIDUxMiA1MTIiCj4KICA8cGF0aAogICAgZD0iTTQxNiAyMDhjMCA0NS45LTE0LjkgODguMy00MCAxMjIuN0w1MDIuNiA0NTcuNGMxMi41IDEyLjUgMTIuNSAzMi44IDAgNDUuM3MtMzIuOCAxMi41LTQ1LjMgMEwzMzAuNyAzNzZjLTM0LjQgMjUuMi03Ni44IDQwLTEyMi43IDQwQzkzLjEgNDE2IDAgMzIyLjkgMCAyMDhTOTMuMSAwIDIwOCAwUzQxNiA5My4xIDQxNiAyMDh6TTIwOCAzNTJhMTQ0IDE0NCAwIDEgMCAwLTI4OCAxNDQgMTQ0IDAgMSAwIDAgMjg4eiIKICAgIGZpbGw9IiM4NTg1ODUiCiAgLz4KPC9zdmc+Cg==";

    .control-wrapper {
        position: relative;
    }

    .control-icon {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background: url($magnifying-glass) no-repeat center;
    }

    .caret-icon {
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url($menu-caret-down) no-repeat center;
        border: none;
        padding: 0;
        cursor: pointer;

        &:after {
            content: none;
        }
    }

    &[data-open] .caret-icon {
        background: url($menu-caret-up) no-repeat center;
    }

    .control {
        padding-left: 25px;
        padding-right: 30px;
        width: 100%;
        height: 32px;

        &::placeholder {
            color: $gray-60;
            font-size: 13px;
            line-height: 16px;
        }

        &[data-focused] {
            outline: 1px solid $blue-30;
            outline-offset: -1px;
        }

        &:hover {
            background: white;
        }
    }

    &:hover .control {
        background: white;
    }
}
