$zindex-ControlsFooterMenu: 3;
$zindex-ControlsFooter: 2;
$zindex-embedMenu: 12;

&.mobile .ShareMenu .btn-embed {
    display: none;
}

.ShareMenu {
    position: absolute;
    right: $framePadding;
    bottom: $framePadding + $actionButtonHeight + 8px;
    text-align: left;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
    padding: 4px 0;
    width: 13em;
    z-index: $zindex-ControlsFooterMenu;
    border-radius: 4px;
}

.ShareMenu.disabled a {
    pointer-events: none;
    opacity: 0.3;
}

.ShareMenu h2,
.ShareMenu .btn {
    padding: 12px $framePadding;
}

.ShareMenu h2 {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    color: $light-text;
}

.ShareMenu .btn {
    font-size: 13px;
    display: flex;
    align-items: center;
    text-align: left;
    color: $dark-text;
    text-decoration: none;
}

.ShareMenu .btn > svg {
    font-size: 1em;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    position: relative;
}

.ShareMenu .btn:hover {
    background-color: $hover-fill;
}

.ShareMenu .btn:active {
    background-color: $active-fill;
    color: $active-text;
}

.ShareMenu section.share a {
    display: block;
    text-align: left;
}

.ShareMenu textarea {
    width: 30em;
    height: 20em;
    font-size: 0.8em;
}

.embedMenu {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    background: rgba(255, 255, 255, 0.95);
    padding: 1em;
    text-align: left;
    z-index: $zindex-embedMenu;
}

.embedMenu p {
    margin-bottom: 0;
    margin-bottom: 0.5em;
}

.embedMenu textarea {
    width: 100%;
    height: 80%;
}
