html, body {
    height: 100%;
    width: 100%;
    /* for embeds */
    background: none !important;
}

html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
button {
    background: none;
    border: none;
}

#chart > svg {
    font-size: 22px;
}

#chart .btn {
    font-size: 0.8em;
    white-space: normal;
}

body.chart-container {
    /* Ridiculous hack for iOS compatibility: http://stackoverflow.com/questions/23083462/how-to-get-an-iframe-to-be-responsive-in-ios-safari */
    width: 1px;
    min-width: 100%;
    overflow: hidden;
}

body.chart-container {
    text-align: center;
}

/* Fake (pseudo) element, that enables vertical-align */
body.chart-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.flash {
    margin: 10px;
}
.clickable {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.noselect {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
input[type=checkbox] {
    cursor: pointer;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
.no-bullets {
    list-style-type: none;
}
select.disabled {
    color: #ccc;
}
/**
* CHARTS
**/

#chart.line-dots .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    stroke-opacity: 1;
    fill-opacity: 1;
}

#chart .nv-point {
    stroke-width: 0;
}

#chart .nv-point.hover {
    stroke-width: 4;
}

#chart svg.LineChart .nv-group .nv-line {
    stroke-width: 2.5 !important;
}

#chart svg.MultiBar .nv-controlsWrap {
    -webkit-transform: translate(0, -30px);
    transform: translate(0, -30px);
}

/* Make World line slightly thicker */
#chart svg .nv-group.World .nv-line {
    stroke-width: 5 !important;
}

.nv-group.World .nv-point {
    stroke-width: 3;
}

.nv-group.World .nv-point.hover {
    stroke-width: 6;
}

#chart .dashed .nv-line {
    stroke-dasharray: 2, 2;
}

/* Chart General
--------------------------------------------- */

#chart {
    display: inline-block;
    border-bottom: none;
    border-radius: 2px;

    background: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;

    position: relative;

    /* Hidden overflow x so that tooltips don't cause scrollbars */
    overflow: hidden;
}

#chart:not(.export) {
    vertical-align: middle;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 0px 2px 0px, rgba(0, 0, 0, 0.239216) 0px 2px 2px 0px
}

a {
    cursor: pointer;
    color: #0645ad;
    fill: #0645ad;
}
#chart .logos {
    float: right;
    padding-left: 0.6em;
}
#chart .tab-content {
    position: absolute;
    width: 100%;
    height: 100%;
}
#chart .tab-content > .clearfix {
    position: relative;
    z-index: 2;
    background-color: #fff;
}
#chart .tab-pane {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
}
#chart svg {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#chart {
    z-index: 1;
}

#chart .html-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#chart .html-overlay > * {
    z-index: 2;
}

/* Controls Footer
--------------------------------------------- */

#chart .controlsFooter {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e1e1e1;
    z-index: 2;
}

#chart nav.tabs ul {
    margin: 0;
    padding: 0;
}

#chart nav.tabs li {
    list-style-type: none;
    border-left: 1px solid #e1e1e1;
    border-bottom: 0.2em solid rgba(0,0,0,0);
}

#chart nav.tabs li > a {
    display: block;
    padding: 0.5em 0;
    text-transform: uppercase;
    color: #666;
    font-size: 0.9em;
}

#chart nav.tabs li.icon > a {
    padding: 0.5em 0.4em;
}

#chart nav.tabs li > a:hover {
    text-decoration: none;
}

#chart nav.tabs li.active {
    border-bottom-color: rgba(0,33,71,.9);
}

#chart.landscape nav.tabs {
    float: right;
}

#chart.landscape nav.tabs li {
    float: left;
}

#chart.landscape nav.tabs li > a {
    padding: 0.5em 1em;
}

#chart.portrait nav.tabs ul {
    display: table;
    width: 100%;
    text-align: center;
}

#chart.portrait nav.tabs li {
    display: table-cell;
}

/* The little loading icon */

#chart .loadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.3em;
}
#chart .chart-error {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    text-align: center;
    height: 100%;
    width: 100%;
    pointer-events: none;
    font-weight: bold;
}
#chart .chart-error:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#chart .chart-error > div,
#chart .chart-error > pre {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    white-space: pre-wrap;
    max-width: 95%;
    font-weight: bold;
}
#chart .chart-error.critical > pre {
    color: red;
    font-size: 0.9em;
    font-weight: normal;
}

/* Header
--------------------------------------------- */

#chart .title {
    fill: #4d4d4d;
}
#chart .title {
    text-decoration: none !important;
}
#chart .subtitle {
    font-size: 0.8em;
    fill: #4F4B49;
}
#chart .header path {
    stroke: #FFFFFF;
    stroke-width: 1px;
}
/* Footer
--------------------------------------------- */

#chart .sourcesFooter {
    fill: #777;

    & a {
        fill: #777;
    }
}

/* Legend
--------------------------------------------- */

#chart .nv-custom-legend.transparent .nv-series {
    opacity: .8;
}
#chart .nv-custom-legend.transparent .nv-series.highlight {
    opacity: 1;
}
#chart .nv-custom-legend .nv-series {
    cursor: pointer;
}
#chart .nv-custom-legend .nv-series .nv-custom-legend-symbol {
    stroke-width: 1px !important;
}
#chart .nv-custom-legend .nv-remove-btn {
    display: none;
}
#chart .nv-custom-legend .nv-series:hover .nv-remove-btn {
    display: block;
}
#chart .nv-custom-legend .nv-remove-btn .nv-box {
    stroke-width: 3px;
    stroke: #fff;
}
#chart .nv-custom-legend .nv-legend-text {
    fill: #fff;
}
#chart .nv-custom-legend .nv-add-btn {
    cursor: pointer;
}
#chart .nv-custom-legend .nv-add-btn .add-btn-bg {
    fill: #fff;
}
#chart .nv-custom-legend .nv-add-btn:hover .add-btn-bg {
    fill: #444444;
}
#chart .nv-custom-legend .nv-add-btn:hover text {
    fill: #fff;
}
#chart .nv-custom-legend .nv-add-btn:hover .nv-box {
    stroke: #fff;
    fill: #fff;
}
#chart .nv-custom-legend .nv-add-btn .nv-box {
    stroke-width: 4px;
    stroke: #000;
}
#chart .nv-custom-legend .nv-disabled {
    fill-opacity: 0;
}
#chart .nv-custom-legend .nv-disabled .nv-legend-text {
    fill: #333;
    fill-opacity: 1;
}

#chart .available-countries-select-wrapper {
    position: relative;
    z-index: 51;
    line-height: 0;
}
#chart .available-countries-select-wrapper select {
    display: none;
}
#chart .available-countries-select-wrapper .chosen-container {
    width: 100% !important;
}
#chart .available-countries-select-wrapper .chosen-single {
    display: none;
}
#chart .available-countries-select-wrapper .chosen-container .chosen-fp {
    box-shadow: none;
    border-top: 1px solid #aaa;
    border-radius: 0;
}
#chart .available-countries-select-wrapper .chosen-container .chosen-results li.highlighted {
    background: #002147;
}

/* Axis and Gridlines
--------------------------------------------- */

#chart .axis path.domain {
    stroke: #7f7f7f;
    stroke-width: 1px;
    stroke-opacity: 0;
}

#chart .axis line:first-child {
    display: none;
}

#chart .gridline {
    stroke: #ededed;
    stroke-dasharray: 3,2;
}

#chart .axis {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#chart .axis .tick {
    font-size: 0.7em;
}

#chart .axis .axis-label {
    font-size: 0.75em;
}


/* Axis Scale Selectors
--------------------------------------------- */

#chart .scaleSelector {
    position: absolute;
    font-size: 0.7em;
    color: black;
    text-transform: uppercase;
}
/* Tooltips
--------------------------------------------- */

#chart .owid-tooltip {
    font-size: 1em;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
#chart .owid-tooltip h3 {
    padding: 0.3em 0.9em;
    font-size: 1em;
    margin: 0;
    line-height: 18px;
    font-weight: normal;
    background-color: rgba(247,247,247,0.75);
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}
#chart .owid-tooltip p {
    font-size: 0.8em;
    padding: 0.3em 0.9em;
    margin: 0;
}
#chart .owid-tooltip .var-popup-value {
    display: block;
}

.nvtooltip {
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    box-shadow: none;
}
.nvtooltip table tbody,
.nvtooltip table td {
    border: 0;
}
.nvtooltip h3 {
    padding: 0.3em 0.9em;
    font-size: 20px;
    margin-top: 0 !important;
}
.nvtooltip p {
    font-size: 16px;
    padding: 0.3em 0.9em;
}
.nvtooltip .var-popup-value {
    display: block;
}
/* Chart Tab
--------------------------------------------- */

#chart .nvd3-svg {
    /* Tweak some nvd3 styling */
    /* Allow user to select text */
}
#chart .nvd3-svg .nvd3 .nv-axis line {
    fill: none;
    stroke: #a5a5a5;
    stroke-dasharray: 2, 2;
    shape-rendering: crispEdges;
}
#chart .nvd3-svg .nvd3 text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#chart .nvd3-svg .nvd3 .nv-axis .nv-axisMaxMin text {
    font-weight: normal;
}
#chart .nvd3-svg .nvd3 .nv-axis line {
    opacity: .6;
}
/* Data Tab
--------------------------------------------- */

#chart .dataTab {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgba(255,255,255,0.95);
    padding: 1em;
    text-align: center;
}

#chart h2 {
    font-size: 2em;
    margin-bottom: 0.8em;
}

/* Sources Tab
--------------------------------------------- */



#chart .sourcesTab,
#chart .downloadTab {
    padding: 1em;
    text-align: left;
    background: rgba(255,255,255,0.95);
}

#chart .sourcesTab > div {
    height: 100%;
    overflow-y: auto;
}

#chart .datasource-wrapper {
    font-size: 0.8em;
    max-width: 1024px;
}
#chart.narrow .datasource-wrapper {
    padding: 0;
}
#chart .datasource-wrapper h2 {
    width: 70%;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: inherit;
    border-bottom: 1px solid #35322F;
    margin-bottom: 0;
}
#chart .datasource-wrapper h2,
#chart .datasource-wrapper h3,
#chart .datasource-wrapper h4 {
    margin-left: 0px;
    font-family: inherit;
}
#chart .datasource-wrapper h3,
#chart .datasource-wrapper h4 {
    margin-top: 2px;
    margin-bottom: 1px;
    font-size: 0.9em;
    font-weight: bold;
}

.datasource-wrapper td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.datasource-property {
    display: inline-block;
    width: 150px;
}
.datasource-additional p {
    margin-top: 0.3em;
}

/* Share Menu
--------------------------------------------- */

#chart .shareMenu {
    position: absolute;
    right: 1em;
    bottom: 1em;
    text-align: left;
    background: rgba(255,255,255,0.95);
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    padding-bottom: 0.5em;
    width: 15em;
    z-index: 2;
}

#chart .shareMenu h2 {
    padding: 0.8em 1em;
    margin: 0;
    font-size: 1em;
}

#chart .shareMenu .btn {
    width: 100%;
    padding: 1em 1.5em;
    padding-right: 3em;
    text-align: left;
    color: #333;
    text-decoration: none;
}

#chart .shareMenu .btn > i {
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 1em;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    margin-right: 2px;
    border-radius: 2px;
    position: relative;
}

#chart .shareMenu .btn:hover {
    text-decoration: none;
    background-color: #eee;
}

#chart .shareMenu section.share a {
    display: block;
    text-align: left;
}


#chart .shareMenu textarea {
    width: 30em;
    height: 20em;
    font-size: 0.8em;
}

#chart.mobile .shareMenu .btn-embed {
    display: none;
}

#chart .embedMenu {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    background: rgba(255,255,255,0.95);
    padding: 1em;
    text-align: left;
    z-index: 12;
}

#chart .embedMenu p {
    margin-bottom: 0;
    margin-bottom: 0.5em;
}

#chart .embedMenu textarea {
    width: 100%;
    height: 80%;
}

/* Entity Selection Menu
--------------------------------------------- */

#chart .entitySelect {
    padding: 0.8em;
    text-align: left;
    background: rgba(255,255,255,0.9);
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-top: 1px solid #e1e1e1;
}

#chart .entitySelect h2 {
    font-size: 1em;
}

#chart .entitySelect input[type=search] {
    width: 100%;
    font-size: 0.9em;
    padding: 0.3em;
    margin-bottom: 0.4em;
}

#chart .entitySelect ul {
    padding: 0;
}

#chart .entitySelect li {
    list-style-type: none;
    padding: 0.5em;
    color: rgba(0,0,0,0.87);
}

#chart .entitySelect li:hover {
    background-color: #eee;
}

#chart .entitySelect .btnClose {
    float: right;
}

#chart .btnClose {
    background: none;
    border: none;
}

/* Map Tab
--------------------------------------------- */

#chart .mapLegend .legend-step rect {
    stroke: #4F4F4F;
    stroke-width: .1px;
}
#chart .mapLegend .legend-step text {
    font-size: 0.8em;
}
#chart .mapLegend .legend-step line {
    stroke: #4F4F4F;
    stroke-width: 1px;
}
#chart .mapLegend .map-label {
    font-size: 0.6em;
}
#chart g.map .border-disclaimer {
    font-size: 0.6em;
}
.datamaps-hoverover {
    font-family: inherit !important;
    text-align: center;
}
.datamaps-hoverover h3 {
    margin: 0 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.datamaps-hoverover .hoverinfo {
    padding: 0;
    box-shadow: none;
}
#chart #map-chart-tab {
    overflow: inherit;
    padding: 0 !important;
}
#chart .map-controls-header {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 3;
}
#chart .map-controls-header .control {
    float: left;
    margin-right: 0.2em;
    cursor: pointer;
    -webkit-transition: .3s height;
    transition: .3s height;
    white-space: nowrap;
    overflow: hidden;
}
#chart .map-controls-header .control:hover .control-head,
#chart .map-controls-header .control:hover .control-body,
#chart .map-controls-header .control.active .control-head,
#chart .map-controls-header .control.active .control-body {
    color: #fff;
    background-color: #444;
    border: 1px solid #444;
}
#chart .map-controls-header .control:hover .control-body,
#chart .map-controls-header .control.active .control-body {
    display: block;
}
#chart .map-controls-header .control .control-head,
#chart .map-controls-header .control .control-body {
    padding: 0.2em 0.4em;
    border: 1px solid #EEEEEE;
    background-color: #FAFAFA;
}
#chart .map-controls-header .control .control-head {
    display: inline-block;
    width: auto;
}
#chart .map-controls-header .control .control-head label {
    margin-bottom: 0;
}
#chart .map-controls-header .control .control-body {
    display: none;
    position: absolute;
}
#chart .map-controls-header .control .control-body label {
    margin-bottom: 0;
    cursor: pointer;
}
#chart .map-controls-header .target-year-control .control-body {
    width: 200.5em;
}
#chart .map-controls-header .target-year-control input {
    display: inline-block;
    margin: 0.6em 0;
    /*writing-mode: bt-lr;
        -webkit-appearance: slider-vertical;*/
}
#chart .map-controls-header .region-control .region-label {
    text-align: center;
    font-size: 0.9em;
}
#chart .map-controls-header .region-control ul {
    z-index: 3;
    position: relative;
    margin: 0.2em 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.8em;
}
#chart .map-controls-header .region-control ul li {
    padding: 2px;
}
#chart .map-controls-header .region-control li:hover,
#chart .map-controls-header .region-control li.highlight {
    cursor: pointer;
    color: #FFEC38;
}
#chart .map-controls-header .settings-control .control-body {
    width: 17.5em;
    padding: 0.3em 0.9em 0.3em 0.6em;
}
#chart .map-controls-header .settings-control .control-body input[type=checkbox] {
    margin-right: 6px;
}

/* Timeline
--------------------------------------------- */

#chart .timeline {
    z-index: 2;
    width: 100%;
    color: #404040;
    font-size: 0.9em;
}
#chart .timeline .play-pause-control {
    width: 3.5em;
    margin-right: 0.5em;
    text-align: right;
}
#chart .timeline .play-pause-control .play-btn:hover,
#chart .timeline .play-pause-control .pause-btn:hover {
    color: #666;
}
#chart .timeline .play-pause-control .play-btn:active,
#chart .timeline .play-pause-control .pause-btn:active {
    box-shadow: none;
}
#chart .timeline .play-pause-control .btn {
  color: #404040;
  height: 100%;
  padding: 0;
}
#chart .timeline .play-btn,
#chart .timeline .pause-btn {
    font-size: 1.8em;
    line-height: 1.3em;
}
#chart .timeline .pause-btn {
    position: relative;
}

#chart .timeline {
    display: flex;
    align-items: center;
}

#chart .timeline-slider,
#chart .timeline-min-year,
#chart .timeline-max-year {
    cursor: pointer;
}

#chart .timeline .timeline-min-year,
#chart .timeline .timeline-max-year {
    padding: .3em .5em;
    margin: .5em;
}

#chart .timeline.min-active .timeline-min-year,
#chart .timeline.max-active .timeline-max-year {
    background-color: #404040;
    color: #fff;
}

#chart .timeline .timeline-slider {
    background: #eee;
    flex-grow: 1;
    height: 0.8em;
    position: relative;
    margin: 0 0.5em;
    border-radius: 8px;
}

#chart .timeline .timeline-marker {
    width: .5em;
    height: 100%;
    background: black;
    position: absolute;
    left: 0%;
}

#chart .timeline .timeline-label {
    position: absolute;
    text-align: center;
    top: -1.8em;
    background-color: #404040;
    color: #fff;
    padding: .3em .8em;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
}

#chart .timeline.min-active .timeline-label,
#chart .timeline.max-active .timeline-label {
    display: none;
}

#chart .timeline .timeline-range {
    position: absolute;
    background: green;
    height: 100%;
}

/* Export
--------------------------------------------- */
/* MISPY: When the "download image" button is clicked, the backend fires up phantomjs and hits
 * a special .export url to screenshot the chart. #chart-export styles therefore apply specifically
 * to these screenshots. */

#chart.export {
    padding: 0 !important;
}
/* Remove interactive UI elements since obviously they can't be used in a static image
* NOTE (Mispy): Unneeded SVG elements should be removed entirely by the JS as well as hidden here. */
#chart.export .controlsFooter,
#chart.export .fullscreen-link,
#chart.export .timeline,
#chart.export .settings-control,
#chart.export .color-blind-control,
#chart.export .map-controls-header,
#chart.export .nv-add-btn,
#chart.export .nv-controlsWrap,
#chart.export .scaleSelector {
    display: none !important;
}
#chart.export .tab-pane {
    border: none !important;
}

/* Miscellaneous
--------------------------------------------- */

.error-label {
    color: red;
}
.owidModal.error .modal-content {
    color: #dd4b39;
}
.owidModal .modal-body {
    overflow: auto;
    font-size: 16px;
    max-height: 800px;
}
.unstroked {
    display: none;
}

/* HACK (Mispy): Once we properly update to Bootstrap 4 javascript this shouldn't be needed. */
.modal-backdrop {
    z-index: -1;
}

#chart .downloadTab,
#chart .dataTab,
#chart .sourcesTab {
    z-index: 1;
}

#chart .downloadTab {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > a {
        color: #333;
    }

    & > a:hover {
        text-decoration: none;
    }

    & a:hover aside {
        text-decoration: underline;
    }

    & aside {
        margin: 1em;
    }


    & .imgLoader {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        color: #333;
        margin: 1em;
    }
}

#chart.landscape .downloadTab {
    font-size: 0.8em;
    padding: 3em;

    & > a > div {
        display: flex;
    }
}

#chart.portrait .downloadTab {
    font-size: 0.7em;
    padding: 1em;

    & .imgLoader {
        margin-left: auto;
        margin-right: auto;
    }

    & h2 {
        margin-bottom: 0.2em;
    }
}

/*# sourceMappingURL=front-sass.css.map */
