html, body {
    height: 100%;
    font-family: Roboto, sans-serif;
}

.AdminApp {
    height: 100%;
}

.ChartEditorPage {
    height: 100%;
    display: flex;

    & > form {
        width: 50%;
        max-height: 100%;
        overflow-y: auto;
    }

    & > figure {
        width: 50%;
        /*min-width: 850px;*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
}