.wp-block-all-charts {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        @include lg-down {
            display: flex;
            overflow-x: auto;
            margin-bottom: $vertical-spacing * 0.5; // making space for the scrollbar
            padding-bottom: 1.5rem;
            li {
                flex: 0 0 min(50vw, 13rem);
                margin-right: 1rem;
            }
        }

        @include lg-up {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $vertical-spacing;
        }

        img {
            margin-bottom: $vertical-spacing * 0.5;
            border: 1px solid transparent;
        }

        a:hover img {
            @include image-hover;
        }

        font-size: 14px;
        line-height: 1.2;
    }
}

// Only supported inside Modals
.all-charts-gallery {
    flex: 1;
    display: flex;
    flex-direction: column;

    iframe {
        flex: 1;
        border: 0px none;

        @include lg-up {
            max-height: $grapher-height-in-columns;
        }
    }

    // Mimic grapher page spacing to align navigation arrows with the chart
    .navigation-wrapper {
        @include content-wrapper;
        @include lg-up {
            max-width: $text-max-content-width + $graph-max-content-width + 3 *
                $padding-x-md;
        }
        display: flex;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;

        .close {
            flex: 1;
            button {
                transform: rotate(45deg);
            }
            @include lg-up {
                @include text-column;
                margin-right: $padding-x-md * 0.5;
            }
        }

        .navigation {
            display: flex;
            justify-content: center;
            align-items: center;

            @include lg-up {
                @include media-column;
                margin-left: $padding-x-md * 0.5;
            }

            .gallery-pagination {
                margin: 0 $padding-x-md;
            }
        }

        button {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.2rem;
            border: 2px solid $primary-color;
            border-radius: 50%;
            outline: none;
            color: $primary-color;
            cursor: pointer;
            background: none;
            &:hover {
                color: white;
                background-color: $primary-color;
            }
            &:disabled {
                color: lightgrey;
                border-color: lightgrey;
                pointer-events: none;
            }
        }
    }
}
