.wp-block-media-text.is-style-biography {
    display: flex;
    margin-top: 16px;
    margin-bottom: 32px;
    @include md-down {
        flex-direction: column;
    }
    figure {
        margin-right: $padding-x-md;
        max-width: 128px;
    }
    img {
        margin: 0;
        padding: 0;
        border-radius: 50%;
    }
    h4,
    h5 {
        margin: 0 !important;
    }
    h5 {
        font-weight: normal !important;
        color: $blue-60;
    }
}
