.wp-code-snippet {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: calc(16 / 12);
    display: flex;
    align-items: stretch;

    background-color: $gray-10;
    padding: 16px 24px;
    border: 1px solid $blue-20;
    color: $blue-60;

    pre {
        margin: 0;
        flex: 1;
    }

    .wp-code-snippet__code--is-truncated {
        display: block;
        -webkit-mask-image: linear-gradient(180deg, #000 0%, transparent);
        height: 48px;
    }

    button.code-copy-button {
        background: none;
        border: none;
        flex: 0 0 112px;
        max-height: 32px;
        text-align: right;
        color: $blue-60;
        cursor: pointer;

        &:hover {
            color: $blue-90;
        }

        &:active {
            color: $blue-100;
        }

        &.code-copy-button--has-copied {
            pointer-events: none;
        }
    }
}

.wp-code-snippet--light {
    background-color: $white;
}
