.cookie-preferences {
    @include block-spacing;
    border: 2px solid $oxford-blue;

    h2 {
        margin-top: 0;
    }

    .last-updated {
        font-size: 0.9rem;
    }

    button {
        margin-top: $vertical-spacing;
        .icon {
            margin-right: 0.5rem;
        }
    }
}

.cookie-preference {
    margin-bottom: $vertical-spacing;
    &:last-child {
        margin-bottom: 0;
    }
    .checkbox label {
        display: flex;
        margin-left: 0.5rem;
        margin-bottom: 8px;
        .label {
            @include body-2-semibold;
            padding-left: 16px;
            line-height: 18px;
        }
    }
}
