.expandable-paragraph__gradient-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.expandable-paragraph__gradient {
    height: inherit; // defined in JS for the wrapper
    // The timing of this transition should be identical to the one in the JS
    transition: all 0.25s ease-in-out;
}

.expandable-paragraph__expand-button--slim {
    @include owid-link-90;
    margin: 16px 0;
    background: none;
    border: none;
    cursor: pointer;
}

.expandable-paragraph__expand-button--full {
    @include expandable-paragraph__expand-button--full;
    margin: 16px 0;
}
