.expandable-paragraph__content {
    margin-bottom: 24px;
}

.expandable-paragraph__expand-button--slim {
    @include owid-link-90;
    background: none;
    border: none;
    cursor: pointer;
}

.expandable-paragraph__expand-button--full {
    @include expandable-paragraph__expand-button--full;
}
