$slide-content-height: $grapher-height;

.wp-block-owid-key-insights {
    // Some of these styles are injected in the page through
    // react-horizontal-scrolling-menu's style-loader
    // (https://webpack.js.org/loaders/style-loader/). They are repeated here to
    // prevent a FOUC.
    .react-horizontal-scrolling-menu--wrapper {
        display: flex;
        position: relative;
    }

    .react-horizontal-scrolling-menu--scroll-container {
        display: flex;
        height: max-content;
        overflow-y: hidden;
        position: relative;
        width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
    }

    .arrow {
        position: absolute;
        z-index: $zindex-input;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: $white;
        border: none;
        font-size: 1.5rem;
        width: 3rem;
        padding: 0;
        transition: all 0.2s;
        cursor: pointer;
        animation: fadeIn 500ms;

        &:hover {
            color: $primary-color-600;
        }

        &.left {
            left: 0;
            @include lg-up {
                left: -48px;
            }
            border-right: 1px solid $blue-10;
            clip-path: inset(0 -2.5rem 0 0);
        }
        &.right {
            right: 0;
            @include lg-up {
                right: -48px;
            }
            border-left: 1px solid $blue-10;
            clip-path: inset(0 0 0 -2.5rem);
        }
    }

    .thumbs {
        padding-bottom: 24px;
    }

    .thumb {
        width: 250px;
        min-height: 104px;
        margin-right: 8px;
        padding: 16px 24px;
        border: 1px solid $blue-10;
        color: $blue-60;
        transition: background-color 0.2s;
        background-color: $white;
        text-align: left;

        &:hover {
            cursor: pointer;
            background-color: $gray-10;
            border-color: $gray-10;
        }

        &[aria-selected="true"] {
            background-color: $accent-pale-blue;
            border-color: $accent-pale-blue;
            font-weight: 700;
            color: $blue-90;
        }
    }

    .slides {
        .slide {
            display: none;
            &[data-active="true"] {
                display: block;
            }

            h4 {
                @include h2-bold;
                margin: 0 0 $vertical-spacing;
            }

            p {
                @include body-2-regular;
            }
        }

        figure[data-grapher-src]:not(.grapherPreview) {
            height: $slide-content-height;
        }

        @include sm-only {
            figure[data-grapher-src] {
                // override default full-width behaviour
                width: auto;
                margin: auto;
            }
        }

        @include lg-up {
            .wp-block-columns.is-style-sticky-right .wp-block-column {
                &:first-child {
                    height: $slide-content-height;
                    overflow-y: auto;
                    -webkit-mask-image: linear-gradient(
                        180deg,
                        #000 90%,
                        transparent
                    );
                    // Shifting margin to padding to make space for scrollbar
                    margin-right: 0;
                    padding-right: 16px;
                    scrollbar-color: #ddd #0000;
                    scrollbar-width: thin;

                    > *:first-child {
                        margin-top: 0;
                    }

                    > *:last-child {
                        margin-bottom: 3rem;
                    }
                }

                &:last-child {
                    > *:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
