.article-content .wp-block-owid-prominent-link {
    background-color: $blue-10;
    transition: all 0.1s;
    margin: 32px 0;

    svg {
        // magic numbers for positioning across various variations
        width: 0.8em;
        height: 0.7em;
        margin-left: 0.6em;
        margin-top: -0.1em;
        vertical-align: middle;
        transition: all 0.2s;
    }

    img {
        padding: 0;
        background: none;
    }

    &:hover {
        svg {
            transform: translateX(0.25em);
        }
    }

    a {
        @include cancel-link-styles;
        display: flex;
        flex-wrap: wrap;

        p:last-child {
            margin-bottom: 0;
        }
    }

    .content-wrapper {
        display: flex;
    }

    figure {
        margin: 0;
        img {
            margin: 0;
            box-shadow: none;
            max-width: 128px;
        }
    }

    &[data-style="is-style-default"] {
        a {
            padding: 24px;
        }

        figure {
            margin-right: 24px;
        }

        h3 {
            @include h2-bold;
            margin-top: 0;
        }
        &.with-image {
            h3 {
                margin-bottom: 24px;
            }
        }
    }

    &[data-style="is-style-thin"] {
        .content-wrapper {
            flex-direction: column;
            justify-content: center;
            min-height: 64px;
            margin-left: 24px;
            padding: 8px;
            padding-left: 0;

            .title {
                @include h3-bold;
                margin: 0;
            }

            .content {
                @include body-3-medium;
            }
        }

        &.with-image {
            a {
                flex-wrap: nowrap;
            }
            figure {
                display: flex;
                flex-direction: column;
                justify-content: center;
                outline: 1px solid $blue-10;
                outline-offset: -1px;
                background: $white;
                img {
                    max-width: 96px;
                    min-width: 96px;
                    object-fit: cover;
                    height: 64px;
                }
            }
        }
    }
}
