.article-content .wp-block-owid-prominent-link {
    background-color: $blue-10;
    transition: all 0.1s;
    margin: 32px 0;

    svg {
        // magic numbers for positioning across various variations
        width: 0.8em;
        height: 0.7em;
        margin-left: 0.6em;
        margin-top: -0.1em;
        vertical-align: middle;
        transition: all 0.2s;
    }

    &:hover {
        svg {
            transform: translateX(0.25em);
        }
    }

    a {
        @include cancel-link-styles;
        @include grid(5);
        padding: 24px;

        p:last-child {
            margin-bottom: 0;
        }
    }

    // No margins on images
    figure {
        margin: 0;
        img {
            margin: 0;
            box-shadow: none;
        }
    }

    &[data-style="is-style-default"] {
        h3 {
            @include h2-bold;
            grid-column: 1/6;
            margin-top: 0;
            margin-bottom: 24px;
        }
        .content-wrapper {
            grid-column: 1/6;
            @include grid(5);

            .content {
                grid-column: 1/6;
            }
        }

        &.with-image {
            figure {
                grid-column: 1/3;
            }
            .content {
                grid-column: 3/6;
            }
        }
    }

    &[data-style="is-style-thin"] {
        .content-wrapper {
            grid-column: 1/6;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title {
                @include h3-bold;
                margin: 0;
                grid-column: 1/5;
            }
        }

        &.with-image {
            .figure {
                grid-column: 1/2;
            }
            .content-wrapper {
                grid-column: 2/6;
            }
        }
    }
}
