.quick-insights {
    @include block-shadow;
    background-color: $white;

    .thumbs {
        background-color: $primary-color-30;
        border-bottom: 1px solid #efefef;
    }
    .thumb {
        @include block-shadow;

        width: 16rem;
        min-height: 5rem;
        margin: $vertical-spacing 0.5rem;
        background-color: $white;
        border: none;
        border-radius: 2px;
        font-weight: 700;
        transition: background-color 0.2s;

        &:hover {
            cursor: pointer;
            background-color: $primary-color-30;
            border: 1px solid $primary-color;
        }

        &.selected {
            background-color: $primary-color-100;
            border: 1px solid $primary-color;
        }
    }

    .react-horizontal-scrolling-menu--item {
        &:first-child .thumb {
            margin-left: 1px; // fix box-shadow on left side hidden when scrolling back and forth
        }
    }
    .content {
        padding: 1rem;

        .wp-block-columns.is-style-sticky-right .wp-block-column:first-child {
            > *:first-child {
                margin-top: 0;
            }
        }
    }
}
