.quick-insights {
    @include block-shadow;
    background-color: $white;

    .react-horizontal-scrolling-menu--wrapper {
        position: relative;
    }

    .arrow {
        position: absolute;
        z-index: $zindex-input;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: $primary-color-30;
        border: none;
        font-size: 1.5rem;
        width: 3rem;
        padding: 0;
        transition: all 0.2s;
        cursor: pointer;

        &.left {
            left: 0;
            box-shadow: 0.5rem 0 0.5rem $primary-color-30;
            clip-path: inset(0 -2.5rem 0 0);
        }
        &.right {
            right: 0;
            box-shadow: -0.5rem 0 0.5rem $primary-color-30;
            clip-path: inset(0 0 0 -2.5rem);
        }
    }

    .react-horizontal-scrolling-menu--scroll-container {
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
    }

    .thumbs {
        background-color: $primary-color-30;
        border-bottom: 1px solid #efefef;
        padding: 0 0.5rem;
    }

    .thumb {
        @include block-shadow;

        width: 16rem;
        min-height: 5rem;
        margin: $vertical-spacing 0.5rem;
        padding: 0.5rem;
        background-color: $white;
        border: 1px solid $white;
        border-radius: 2px;
        font-weight: 700;
        transition: background-color 0.2s;

        &:hover {
            cursor: pointer;
            background-color: $primary-color-30;
            border: 1px solid $primary-color;
        }

        &.selected {
            background-color: $primary-color-100;
            border-color: $primary-color;
        }
    }

    .content {
        padding: 1rem;

        .wp-block-columns.is-style-sticky-right .wp-block-column:first-child {
            height: $grapher-height;
            overflow-y: auto;
            -webkit-mask-image: linear-gradient(180deg, #000 95%, transparent);

            > *:first-child {
                margin-top: 0;
            }
        }
    }
}
