.related-charts {
    .wp-block-columns .wp-block-column {
        &:first-child {
            // refactor: merge with KeyInsights.css
            @include lg-up {
                height: 575px;
                overflow-y: auto;
                -webkit-mask-image: linear-gradient(
                    180deg,
                    #000 90%,
                    transparent
                );
                > *:last-child {
                    margin-bottom: 3rem;
                }
                // Shifting margin to padding to make space for scrollbar
                margin-right: 0;
                padding-right: $padding-x-md / 2;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                @include lg-down {
                    display: flex;
                    overflow-x: auto;
                    margin-bottom: $vertical-spacing / 2; // making space for the scrollbar
                    padding-bottom: 1.5rem;
                    li {
                        flex: 0 0 min(50vw, 13rem);
                        margin-right: 1rem;
                    }
                }

                @include lg-up {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: $vertical-spacing;
                }

                img {
                    margin-bottom: $vertical-spacing / 2;
                }

                a:hover img {
                    @include image-hover;
                }

                font-size: 14px;
                line-height: 1.2;
            }

            .active {
                a {
                    @include cancel-link-styles;
                }
                pointer-events: none;
                opacity: 0.5;
            }
            a:visited {
                color: $link-color;
            }
        }

        &:last-child {
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
