.sticky-nav {
    position: sticky;
    top: 0;
    z-index: $zindex-global-entity-select;
    > ul {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        // firefox
        scrollbar-width: none;
        &::-webkit-scrollbar {
            // chrome
            display: none;
        }
    }

    li {
        list-style: none;
        margin: 0 8px;
        padding: 16px;
        @include sm-only {
            padding: 12px;
        }

        a {
            transition: color 0.25s ease-in-out;
            white-space: nowrap;

            &:active,
            &.active,
            &:hover {
                text-decoration: none;
            }
        }
    }

    li:first-child {
        margin-left: 0;
        padding-left: 0;
    }
}

.sticky-nav--dark {
    background-color: $blue-10;
    a {
        color: $blue-40;

        &:visited {
            color: $blue-40;
        }

        &:active,
        &.active,
        &:hover {
            color: $blue-90;
        }
    }
}

.sticky-nav--light {
    border-bottom: 1px solid $blue-10;
    background-color: $white;
    a {
        color: $blue-50;

        &:visited {
            color: $blue-50;
        }

        &:active,
        &.active,
        &:hover {
            color: $blue-90;
        }
    }
}
