.wp-block-owid-technical-text {
    h5 {
        text-transform: uppercase;
    }
    color: $grey-text-color;
}

.article-content > section .wp-block-columns .wp-block-owid-technical-text h5 {
    @include sans-serif;
    font-size: 1rem;
}
