{% extends 'base_admin_template.html' %}

{% block content %}
    <div class="alert alert-error">
        Some of the country names you uploaded did not match with country names we have in the database.
        To proceed, you will need to match the country names in red rows with names that are present in our database.
        If you want to use custom names for certain countries, you can do so by entering them in the textbox.
    </div>
    {% if results %}
        <form id="submit" method="POST" action="{% url 'countrytoolpage' %}">
        {% csrf_token %}
        <table class="table table-bordered table-hover dataTable">
		<thead>
			<tr>
				<th>Original name</th>
				<th>OWID Name</th>
                <th>Enter name manually</th>
			</tr>
		</thead>
		<tbody>
			{% for result in results %}
                {% if not result.new.matched %}
                <tr class="table-danger">
					<td id="{{ forloop.counter }}-original"><pre>{{ result.original }}</pre></td>
                    <td>
                        <label for="{{ forloop.counter }}-select">Select an approximated result:</label>
		                    <select class="form-control" id="{{ forloop.counter }}-select" name="{{ forloop.counter }}">
                            <option value="not selected">Select one</option>
                                {% for each in result.new.country %}
                                    <option value="{{ owid_countries_dict|get_item:each.countryid }}">{{ owid_countries_dict|get_item:each.countryid }} - {{ each.score }}%</option>
	                            {% endfor %}
                            </select>
                    </td>
                    <td>
                        <label for="{{ forloop.counter }}-textbox">Or enter custom name:</label>
                        <input class="form-control" id="{{ forloop.counter }}-textbox" name="{{ forloop.counter }}">
                        </td>
                    </tr>
                {% endif %}
                {% if result.nonalphanumeric %}
                <tr class="table-warning">
                    <td>{{ result.original }}</td>
                <td></td>
                <td></td>
                    </tr>
                {% endif %}
			{% endfor %}
		</tbody>
	</table>
        <input class="btn btn-success" id="submitbutton" type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock %}
{% block scripts %}
    {% autoescape off %}
        <script>
            $(document).ready(function() {
                    $("select").change(function (event) {
                        data["selections"][$('#' + event.target.id.substr(0, event.target.id.indexOf('-')) + '-original').text()] = $('#' + event.target.id).val();
                    });
            });

            $(document).ready(function() {
                $("input").change(function(event) {
                    if ($('#' + event.target.id).val().length > 0) {
                        $('#' + event.target.id.substr(0, event.target.id.indexOf('-')) + '-select').val("not selected");
                        data["selections"][$('#' + event.target.id.substr(0, event.target.id.indexOf('-')) + '-original').text()] = {"custom_name": $('#' + event.target.id).val()};
                    }
                    else {
                        $('#' + event.target.id.substr(0, event.target.id.indexOf('-')) + '-select').val("not selected");
                        data["selections"][$('#' + event.target.id.substr(0, event.target.id.indexOf('-')) + '-original').text()] = "not selected";
                    }
                });
            });

            $("#submit").submit(function( event ) {
                    var readyToSubmit = 1;
                    event.preventDefault();
                    for (var key in data["selections"]) {
                        if (data["selections"].hasOwnProperty(key)) {
                            console.log(key + " -> " + data["selections"][key]);
                            if (data["selections"][key] == "not selected") {
                                readyToSubmit = 0;
                            }
                        }
                    }
                    if (readyToSubmit === 1) {
                        $.ajax({
                            type: "POST",
                            url: "{% url 'countrytoolpage' %}",
                            contentType: 'application/json',
                            data: JSON.stringify(data),
                            dataType: 'json',
                            complete: function(response) {
                            if (response.status == 200) {
                                var filename = response['responseJSON'];
                                if (filename == null) {
                                    alert("There was an error during country matching operation. Please check your CSV file.");
                                }
                                else {
                                    $("#submitbutton").prop("disabled", true);
                                    window.location.replace(filename['filename']);
                                }
                            }
                        }
                        });
                    }
                    else {
                        alert("You need to select a matching name for all listed countries.");
                    }
                    return false;
            });

            data = {{ data }};

        </script>
    {% endautoescape %}
{% endblock %}
