.archive-site-navigation {
    .archive-header-logo-bar {
        position: relative;
        z-index: $zindex-lightbox;
        border-bottom: $header-border-height solid $vermillion;
        background-color: $oxford-blue;

        .site-logos {
            justify-content: start;

            .logos-wrapper {
                display: flex;
            }
        }

        padding-top: 12px;
        padding-bottom: 12px;
    }

    .archive-navigation-bar {
        background-color: $blue-50;
        color: $white;

        padding-top: 18px;
        padding-bottom: 24px;

        .archive-navigation-bar__wrapper {
            @include wrapper-x-spacing;
            max-width: $wrapper-max-width;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .archive-navigation-bar__archive_text {
            text-transform: uppercase;
            @include h5-black-caps;
            margin-bottom: 4px;
        }

        .archive-navigation-bar__date {
            text-align: center;
            @include subtitle-1;
        }

        .archive-navigation-bar__buttons {
            margin-top: 16px;
            row-gap: 8px;
            width: 100%;

            @include sm-up {
                .archive-navigation-bar__button-left {
                    grid-column: 1;
                    justify-self: left;
                }
                .archive-navigation-bar__button-center {
                    grid-column: 2;
                    justify-self: center;
                }
                .archive-navigation-bar__button-right {
                    grid-column: 3;
                    justify-self: right;
                }
            }
        }
    }
}
