.archive-header-logo-bar {
    position: relative;
    z-index: $zindex-lightbox;
    border-bottom: $header-border-height solid $vermillion;
    background-color: $oxford-blue;

    .site-logos {
        justify-content: start;

        .logos-wrapper {
            display: flex;
        }
    }

    padding-top: 12px;
    padding-bottom: 12px;
}

.archive-navigation-bar {
    background-color: $blue-50;
    color: $white;

    padding-top: 18px;
    padding-bottom: 24px;

    .archive-navigation-bar__wrapper {
        @include wrapper-x-spacing;
        max-width: $wrapper-max-width;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .archive-navigation-bar__archive_text {
        text-transform: uppercase;
        @include h5-black-caps;
        margin-bottom: 4px;
        display: flex;
        gap: 8px;
    }

    .archive-navigation-bar__archive_text--tooltip {
        color: $blue-30;

        &:hover,
        &:active {
            color: white;
        }
    }

    .archive-navigation-bar__date {
        text-align: center;
        @include subtitle-1;
        margin-top: 0;
        margin-bottom: 0;

        .archive-navigation-bar__time-value {
            font-size: 0.7em;
            color: $gray-10;
        }
    }

    .archive-navigation-bar__buttons {
        margin-top: 16px;
        gap: 15px;
        width: 100%;

        --archive-mobile-button-width: 40px;

        .archive-navigation-bar__button-left {
            grid-column: 1;
            justify-self: left;
        }
        .archive-navigation-bar__button-center {
            grid-column: 2;
            justify-self: center;
        }
        .archive-navigation-bar__button-right {
            grid-column: 3;
            justify-self: right;
        }

        // On small screens, make the prev/next buttons icon-only and narrow, with the center one taking the rest of the space
        @include sm-only {
            grid-template-columns:
                var(--archive-mobile-button-width)
                1fr var(--archive-mobile-button-width);

            .archive-navigation-bar__button {
                width: 100%;
            }

            .archive-navigation-bar__button-left,
            .archive-navigation-bar__button-right {
                padding-left: 0;
                padding-right: 0;

                > span {
                    display: none;
                }
                > svg {
                    margin: 0;
                }
            }
        }
    }
}
