.announcement-content {
    min-width: 0;
}

.announcement-content__title {
    margin: 0 0 8px;
}

.announcement-content__authors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px 16px;
    color: $blue-60;
    margin-top: 16px;
}

.announcement-content__author {
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        text-decoration: underline;
    }
}

.announcement-content__excerpt {
    @include body-2-regular;
    margin: 16px 0;

    @include sm-only {
        @include body-3-medium;
    }
}

.announcement-content {
    .cta {
        @include sm-only {
            @include body-3-bold;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .expandable-text {
        @include text-block-override {
            @include body-2-regular;

            @include sm-only {
                @include body-3-medium;
            }
        }

        .article-block__image {
            margin: 16px 0 16px;
        }
    }
}
