.expandable-text__lead--collapsed {
    > p:last-of-type {
        display: inline;
    }
}

.expandable-text__toggle {
    background: none;
    border: none;
    padding: 0;
    @include body-2-regular;
    color: $vermillion;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;

    @include sm-only {
        @include body-3-medium;
    }

    &:hover {
        text-decoration: none;
    }
}
