.latest-hit-metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.latest-hit-metadata__left {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $blue-60;
}

.latest-hit-metadata__type-label {
    color: $blue-60;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.latest-hit-metadata__type-icon {
    width: 12px;
    height: 12px;
}

.latest-hit-metadata__separator {
    color: $blue-60;

    @include sm-only {
        display: none;
    }
}

.latest-hit-metadata__area-tag {
    color: $blue-90;

    @include sm-only {
        display: none;
    }
}

.latest-hit-metadata__dateline {
    color: $blue-60;
    margin: 0;
}
