// keep in sync with constant values in CaptionedChart.tsx
$framePadding: 16px; // keep in sync with FRAME_PADDING
$controlRowHeight: 32px; // keep in sync with CONTROLS_ROW_HEIGHT
$relatedQuestionHeight: 28px; // keep in sync with RELATED_QUESTION_HEIGHT

.HeaderHTML,
.SourcesFooterHTML {
    font-family: $sans-serif-font-stack;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

.controlsRow {
    padding: 0 $framePadding;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button.configure {
        text-transform: uppercase;
        color: #777;
        font-size: 0.8em;
        height: $controlRowHeight - 1;
        line-height: $controlRowHeight;
        padding: 0;
    }
}

.relatedQuestion {
    font-size: 12px;
    height: $relatedQuestionHeight;
    padding: 0 $framePadding;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid $light-stroke;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: $dark-text;
    font-weight: $bold;

    a {
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration-line: underline;
    }

    a,
    svg {
        color: inherit;
    }
    svg {
        margin-left: 4px;
        font-size: 0.8em;
        vertical-align: unset;
        transform: translateY(1px);
    }
}
