.collections-page {
    background-color: $gray-10;

    .collections-page__header {
        background-color: #fff;
        margin-bottom: 24px;
    }
    .collection-title {
        margin-bottom: 0;
    }
    .collection-explanation {
        color: $blue-60;
        margin-bottom: 32px;

        &:not(:last-of-type) {
            margin-bottom: 0;
        }
    }

    figure {
        width: 100%;
        height: 650px;
        margin: 0;
        margin-bottom: 16px;
    }

    .remove-from-collection-button {
        border: 1px solid $vermillion;
        color: $vermillion;
        background-color: transparent;
        border-radius: 0;
        padding: 8px;
        line-height: 16px;
        margin: auto;
        display: block;
        margin-bottom: 24px;
        cursor: pointer;
        svg {
            margin-right: 8px;
            height: 10px;
            position: relative;
            top: -2px;
        }

        &:hover {
            border-color: $accent-vermillion;
            color: $accent-vermillion;
        }
    }
}
