/* Reset
   ========================================================================== */

fieldset, legend {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Radio buttons
   ========================================================================== */

$radio-icon-size: 18px;
$radio-bullet-size: 8px;

.owid-radios {
    display: block;
}

.owid-radio {
    display: inline-block;
    position: relative;
    padding-left: $radio-icon-size;
    margin-right: .5rem;
    margin-bottom: .75rem;

    input[type=radio] {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: $radio-icon-size;
        height: $radio-icon-size;
        cursor: pointer;
        margin: 0;
        opacity: 0;
    }

    input[type=radio] + label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: $radio-icon-size;
        height: $radio-icon-size;
        margin-top: -$radio-icon-size / 2;
        border: 2px solid currentColor;
        border-radius: 50%;
        background: transparent;
    }

    input[type=radio]:focus + label::before {
        box-shadow: 0 0 0 4px $highlight-color;
    }

    input[type=radio]:checked + label::after {
        content: "";
        position: absolute;
        top: 50%;
        left: ($radio-icon-size - $radio-bullet-size) / 2;
        width: $radio-bullet-size;
        height: $radio-bullet-size;
        margin-top: -$radio-bullet-size / 2;
        border: 2px solid transparent;
        border-radius: 50%;
        background: currentColor;
    }

    label {
        padding: .5rem;
    }
}

/* Text fields
   ========================================================================== */

.owid-text-field {
    font-family: $sans-serif-font-stack;
    font-size: 1.125rem;
    font-weight: 700;
    color: inherit;
    padding: .5rem;
    border: 1px solid $primary-color-300;
    outline: none;
    &:focus {
        border-color: $primary-color-300;
    }
}

.owid-block-field {
    .owid-block-label {
        display: block;
    }
    .owid-block-input {
        display: block;
        font-family: inherit;
    }
}

.owid-button {
    font-family: $sans-serif-font-stack;
    transition: opacity 150ms ease;
    cursor: pointer;

    &:hover {
        opacity: .85;
    }
    &:focus {
        outline: 4px solid $highlight-color;
    }
}

.owid-button[disabled], .owid-button.disabled {
    opacity: .5;
    cursor: default;
}