/* Reset
   ========================================================================== */

fieldset,
legend {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Radio buttons
   ========================================================================== */

$radio-icon-size: 18px;
$radio-bullet-size: 8px;

.owid-radios {
    display: block;
}

.owid-radio {
    display: inline-block;
    position: relative;
    padding-left: $radio-icon-size;
    margin-right: 0.5rem;
    margin-bottom: 0.75rem;

    input[type="radio"] {
        position: absolute;
        z-index: $zindex-input;
        top: 0;
        left: 0;
        width: $radio-icon-size;
        height: $radio-icon-size;
        cursor: pointer;
        margin: 0;
        opacity: 0;
    }

    input[type="radio"] + label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: $radio-icon-size;
        height: $radio-icon-size;
        margin-top: -$radio-icon-size / 2;
        border: 2px solid currentColor;
        border-radius: 50%;
        background: transparent;
    }

    input[type="radio"]:focus + label::before {
        box-shadow: 0 0 0 4px $highlight-color;
    }

    input[type="radio"]:checked + label::after {
        content: "";
        position: absolute;
        top: 50%;
        left: ($radio-icon-size - $radio-bullet-size) / 2;
        width: $radio-bullet-size;
        height: $radio-bullet-size;
        margin-top: -$radio-bullet-size / 2;
        border: 2px solid transparent;
        border-radius: 50%;
        background: currentColor;
    }

    label {
        padding: 0 0.5rem;
        cursor: pointer;
    }
}

/* Checkboxes
   ========================================================================== */

$checkbox-icon-size: 18px;
$checkbox-check-width: 11px;
$checkbox-check-height: 4px;

.owid-checkboxes {
    display: block;
}

%owid-checkbox {
    display: inline-block;
    position: relative;
    padding-left: $checkbox-icon-size;
    padding-left: calc(#{$checkbox-icon-size} + 0.5rem);
    margin-bottom: 0.5rem;

    input[type="checkbox"] {
        position: absolute;
        z-index: $zindex-input;
        top: 50%;
        left: 0;
        margin-top: -6px;
        width: $checkbox-icon-size;
        height: $checkbox-icon-size;
        cursor: pointer;
        margin: 0;
        opacity: 0;
    }

    input[type="checkbox"] + label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: $checkbox-icon-size;
        height: $checkbox-icon-size;
        margin-top: -$checkbox-icon-size / 2;
        border: 2px solid currentColor;
        background: transparent;
    }

    input[type="checkbox"]:focus + label::before {
        box-shadow: 0 0 0 4px $highlight-color;
    }

    input[type="checkbox"]:checked + label::after {
        content: "";
        position: absolute;
        top: 50%;
        left: ($checkbox-icon-size - $checkbox-check-width) / 2;
        width: $checkbox-check-width;
        height: $checkbox-check-height;
        margin-top: -($checkbox-check-height + 2) / 2;
        border-width: 0 0 3px 3px;
        border-style: solid;
        border-color: currentColor;
        background: transparent;
        transform: rotate(-45deg);
    }

    label {
        padding: 0 0.5rem;
        cursor: pointer;
        display: inline-block;
    }
}

.owid-checkbox,
.owid-checkbox-inline {
    display: inline-block;
    margin-right: 0.5rem;

    @extend %owid-checkbox;
}

.owid-checkbox-block {
    display: block;

    @extend %owid-checkbox;

    input[type="checkbox"] + label::before {
        top: 0;
        margin-top: -$checkbox-icon-size / 2 + 11px;
    }

    input[type="checkbox"]:checked + label::after {
        top: 0;
        margin-top: -$checkbox-check-height / 2 + 10px;
    }

    label {
        display: block;
    }
}

/* Text fields
   ========================================================================== */

%owid-input {
    font-family: $sans-serif-font-stack;
    font-size: 1.125rem;
    color: $primary-color;
    background-color: white;
    padding: 0.625rem 0.75rem;
    border: 2px solid $primary-color;
    border-radius: 0;
    outline: none;

    &:focus {
        border-color: $primary-color-900;
    }

    &::placeholder {
        color: $primary-color-400;
        transition: opacity 150ms ease;
    }

    &:focus::placeholder {
        opacity: 0.5;
    }
}

.owid-text-field {
    font-weight: 700;

    @extend %owid-input;
}

.owid-block-input {
    display: block;
    width: 100%;

    @extend %owid-input;
}

%owid-button-visual {
    font-family: $sans-serif-font-stack;
    font-size: 1.125rem;
    transition: opacity 150ms ease;
    background-color: $primary-color;
    font-weight: 700;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.85;
    }
    &:focus {
        outline: 4px solid $highlight-color;
    }
}

%owid-button {
    padding: 0.8rem 1rem;

    @extend %owid-button-visual;
}

.owid-button {
    @extend %owid-button;
}

.owid-button[disabled],
.owid-button.disabled {
    opacity: 0.5;
    cursor: default;
}

%inline-spacing {
    font-family: $sans-serif-font-stack;
    font-size: 1.125rem;
    padding: 0.75rem 1rem;
}

.owid-block-field {
    display: block;

    label {
        display: block;
    }
}

.owid-input {
    @extend %owid-input;
    width: 100%;
}

.owid-inline-field {
    display: flex;
    @include sm-only {
        flex-direction: column;
    }
}

.owid-inline-input {
    @extend %owid-input;
    @extend %inline-spacing;

    flex: 1;
    outline: none;
    display: inline-block;
}

.owid-inline-button {
    @extend %owid-button-visual;
    @extend %inline-spacing;

    flex: 0;
    background-color: $primary-color;
    border-color: $primary-color;
    display: inline-block;
}
