.site-header {
    background-color: $primary-color;
    border-bottom: 4px solid $secondary-color;
}

.site-logo a {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.1;
    color: white;
    display: block;
    text-align: center;
}

.site-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 11px;
    @include wrapper-x-spacing;
}

.site-navigation {
    display: none;
    @include md-up {
        display: flex;
    }
}

.site-primary-navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    align-items: center;
}

.site-primary-links,
.site-secondary-links {
    a {
        transition: color 150ms ease;
    }
}

.site-primary-links {
    font-size: 1.0625rem;
    margin-top: 0.1em;

    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 1.5rem;
        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: $primary-color-300;
        &:hover {
            color: white;
        }
    }
}

.site-secondary-navigation {
    align-items: center;
}

.site-secondary-links {
    font-size: 0.9375rem;

    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 1rem;
    }

    a {
        color: $primary-color-500;
        &:hover {
            color: $primary-color-300;
        }
    }
}

.HeaderSearch {
    margin-right: 1.5rem;
    position: relative;

    > input {
        font-family: inherit;
        font-size: 1.0625rem;
        line-height: 1.375;
        color: white;
        background-color: transparent;
        border: 1px solid $primary-color-700;
        border-radius: 100px;
        padding: 0.3rem 1rem 0.3rem 2.25rem;
        display: block;
        width: 18rem;
        outline: none;

        &::placeholder {
            color: $primary-color-400;
            transition: color 150ms ease;
        }
        &:focus::placeholder {
            color: $primary-color-800;
        }
    }

    > .icon {
        position: absolute;
        top: 0;
        left: 0.75rem;
        bottom: 0;
        display: flex;
        align-items: center;
        color: $primary-color-600;
    }
}

.HeaderSearch .SearchResults {
    position: fixed;
    top: 93px;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background: white;
    /* Needs to go over the charts */
    z-index: $zindex-search-overlay;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: scroll;
}

.header-logos-wrapper {
    display: none;
    @include md-up {
        display: flex;
        align-items: center;

        .oxford-logo {
            width: 9rem;
        }

        .gcdl-logo {
            width: 2rem;
            margin-left: 0.5rem;
        }

        .oxford-logo,
        .gcdl-logo {
            opacity: 0.85;
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }
        }
        @media (max-width: 68rem) {
            .oxford-logo,
            .gcdl-logo {
                display: none;
            }
        }
    }
}

/* Subnavigation */

.site-subnavigation {
    background-color: $primary-color-200;
    color: $primary-color;
    position: relative;

    @include sm-only {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 1.25rem;
            background: linear-gradient(
                to right,
                $primary-color-200 15%,
                rgba($primary-color-200, 0)
            );
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 1.25rem;
            background: linear-gradient(
                to left,
                $primary-color-200 15%,
                rgba($primary-color-200, 0)
            );
            z-index: 1;
        }
    }
}

.site-subnavigation-scroll {
    display: flex;

    @include sm-only {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.site-subnavigation-links {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0 0.5rem;
    font-size: 16px;

    @include sm-only {
        font-size: 15px;
        flex-wrap: nowrap;
        justify-content: left;
    }

    li {
        padding: 0 0.75rem;

        @include sm-only {
            padding: 0 0.5rem;
        }
    }

    a {
        font-weight: 700;
        color: $primary-color-600;
        text-decoration: none;
        display: block;
        transition: color 200ms ease;
        white-space: nowrap;
        padding-top: 12px;
        padding-bottom: 12px;

        &:hover {
            color: $primary-color;
        }
    }

    .current a {
        border-bottom: 3px solid $secondary-color;
        padding-bottom: 9px;
        color: $primary-color;
    }
}

/* Topics dropdown menu */

.topics-button-wrapper {
    display: flex;
    align-items: stretch;
    margin-right: 1.5rem;
    margin-bottom: 0.25em;
    position: relative;
}

.topics-button {
    font-family: inherit;
    font-size: 1.0625rem;
    line-height: 1.35;
    color: $primary-color-400;
    border: 1px solid $primary-color-700;
    border-radius: 6px;
    background-color: transparent;
    outline: none;
    padding: 0.5rem 0.8rem;
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;

    strong {
        color: $primary-color-200;
        font-weight: 800;
    }

    .label {
        flex: 1;
    }

    .icon {
        color: $primary-color-600;
        flex: 0;
        display: flex;
        padding-left: 3px;
    }

    &.active,
    &:active {
        background-color: white;
        border-color: white;
        color: $primary-color-700;

        strong {
            color: $primary-color;
        }

        .icon {
            color: $primary-color-300;
        }
    }
}

.topics-dropdown {
    display: none;

    &.open {
        display: flex;
    }

    flex-direction: row;
    min-height: 5rem;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-nav-dropdown;
    margin-top: -5px;
    box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    overflow: hidden;
    border-top-left-radius: 0;
    cursor: default;

    background-color: white;
    font-family: $sans-serif-font-stack;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.35;

    width: 14rem;

    &.one-column {
        width: 30rem;
    }

    &.two-column {
        width: 45rem;
    }

    ul {
        list-style-type: none;
    }

    .menu {
        flex: 0 0 14rem;
        padding: 0.5rem 0;

        .item {
            color: $primary-color-600;
            padding: 0.35rem 1rem 0.4rem 1.15rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            .label {
                flex: 1;
            }

            .icon {
                margin-left: 1rem;
                color: $primary-color-200;
            }
        }

        .item.active,
        a.item:hover {
            color: $primary-color;
            .icon {
                color: $primary-color-600;
            }
        }

        .item.active {
            background-color: $primary-color-100;
        }

        hr {
            border: none;
            border-bottom: 1px solid $primary-color-100;
            margin: 0.25rem 0;
            padding: 0;
            display: block;
            height: 1px;
        }

        a.item {
            font-weight: 600;
        }
    }

    .submenu {
        flex: 1;
        padding: 1rem 1.25rem;
        background-color: $primary-color-100;

        .item {
            color: $primary-color;
            display: block;
            margin: 0 0.5rem 0.8rem;

            &:hover {
                color: $primary-color-600;
            }
        }
    }

    &.two-column .submenu {
        column-count: 2;
        column-gap: 0;
    }
}

/* Mobile navigation */

@include sm-only {
    .site-header .wrapper {
        padding: 0;
    }
    .site-navigation-bar {
        font-size: 1.125rem;
        padding: 0;
    }
    .site-logo a {
        font-size: 1.25rem;
        padding: 1rem;
        // do not break "Our world in data" on mobile
        br {
            display: none;
        }
    }
    .mobile-site-navigation button {
        background: transparent;
        border: none;
        padding: 1rem;
        color: white;
    }
}

@include md-up {
    .mobile-site-navigation {
        display: none;
    }
}

.search-dropdown {
    input {
        display: block;
        width: 100%;
        padding: 0.6rem 1rem;
        font-size: 1.125rem;
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
        border: none !important;
    }
}

.mobile-topics-dropdown {
    font-size: 1rem;
    font-weight: 600;
    background-color: white;

    .header {
        background-color: #cc181e;
        color: white;
        text-align: center;

        h2 {
            font-size: 1.125rem;
            padding: 0.5rem;
            margin: 0;
        }
    }

    li a {
        color: $primary-color-800;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid rgba($primary-color, 0.08);
        display: block;
        text-align: center;

        &:hover {
            background-color: $primary-color-100;
        }
    }

    .category a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;

        .icon {
            color: $primary-color-300;
        }
    }

    .end-link {
        text-align: center;
    }

    .subcategory-menu {
        background-color: $primary-color-100;
        margin-top: -1px;

        a {
            color: $primary-color;
            padding-left: 1.5rem;
            &:hover {
                background-color: $primary-color-200;
            }
        }
    }
}
