@mixin owid-link {
    color: $link-color;
    &:visited {
        color: $link-visited-color;
    }
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

@mixin info {
    font-size: 0.875rem;

    p {
        margin-top: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin block-spacing {
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include wrapper-spacing-sm;
    @include md-up {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        @include wrapper-spacing-md;
    }
}

@mixin text-column {
    // set flex-shrink on text column to accomodate grapher
    // resizing "slower" than it should during resizes
    flex: 1 1 $text-min-content-width;
    max-width: $text-max-content-width;

    > *:first-child {
        margin-top: $vertical-spacing;
    }
}

@mixin media-column {
    flex: 1 0 $graph-min-content-width;
    max-width: $graph-max-content-width;
    top: 0;
    position: sticky;

    > *:first-child {
        margin-top: $vertical-spacing;
        padding-top: 0;
    }
}

@mixin left-media-columns {
    @include md-up {
        &.with-image .content-wrapper {
            display: flex;
            figure {
                flex: 1 1 40%;
                margin-right: $padding-x-md;
                img {
                    width: 100%;
                }
            }
            .content {
                flex: 1 1 60%;
                *:first-child {
                    margin-top: 0;
                }
                *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    figure,
    img {
        width: 100%;
        margin: 0;
    }
}

@mixin block-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px,
        rgba(0, 0, 0, 0.25) 0px 2px 2px 0px;
}

@mixin h3-style {
    font-family: $serif-font-stack;
    font-size: 1.75rem;
    @include md-up {
        font-size: 2.25rem;
    }
    font-weight: 400;
    line-height: 1.25em;
}

@mixin button-disabled {
    &:disabled {
        opacity: 0.5;
        cursor: auto;
    }
}

@mixin popover-box-button {
    button {
        padding: 0.7rem 0.85rem;
        border: none;
        border-radius: 3px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        color: white;
        cursor: pointer;
        font-size: 15px;
        background: #002147;

        @include button-disabled;

        svg {
            margin-right: 0.15rem;
            color: rgba(white, 0.75);
        }
    }
}

@mixin popover-box-styles {
    border-radius: 3px;
    width: 23rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 3px 15px rgba(0, 0, 0, 0.25);
    background: hsla(0, 0%, 100%, 0.98);
    color: #333;

    .header {
        background: #002147;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    @include popover-box-button;
}

@mixin wrapper-spacing-sm {
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding-x-sm;
    padding-right: $padding-x-sm;
}

@mixin wrapper-spacing-md {
    padding-left: $padding-x-md;
    padding-right: $padding-x-md;
}

@mixin wrapper-x-spacing {
    @include wrapper-spacing-sm;

    @include md-up {
        @include wrapper-spacing-md;
    }
}

@mixin content-wrapper {
    @include wrapper-x-spacing;
    max-width: $content-max-width + 2 * $padding-x-sm;
    @include md-up {
        max-width: $content-max-width + 2 * $padding-x-md;
    }
}

@mixin posts-list($posts-num) {
    margin-bottom: $vertical-spacing * 2;
    list-style-type: none;

    li {
        margin-bottom: $vertical-spacing;
    }

    @media (min-width: 30rem) {
        /* autoprefixer grid: autoplace */
        display: grid;
        grid-gap: 1.5rem 1.25rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(ceil($posts-num / 2), auto);

        li {
            margin-bottom: 0;
        }
    }

    @include md-up {
        /* autoprefixer grid: autoplace */
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(ceil($posts-num / 4), auto);
    }
}

@mixin hide {
    display: none;
}
