@mixin owid-link {
    color: $link-color;
    &:visited {
        color: $link-visited-color;
    }
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

@mixin info {
    padding: 0.625rem;
    margin-bottom: 2rem;
    font-size: 0.875rem;
    text-align: center;

    p {
        margin-top: 0;
        margin-bottom: 0.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin wrapper-spacing-sm {
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding-x-sm;
    padding-right: $padding-x-sm;
}

@mixin wrapper-spacing-md {
    padding-left: $padding-x-md;
    padding-right: $padding-x-md;
}