@mixin owid-link {
    color: $link-color;
    &:visited {
        color: $link-visited-color;
    }
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

@mixin info {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.875rem;

    p {
        margin-top: 0;
        margin-bottom: 0.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin block-spacing {
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include wrapper-spacing-sm;
    @include lg-up {
        @include wrapper-spacing-md;
    }
}

@mixin left-media-columns {
    @include lg-up {
        &.with-image .content-wrapper {
            display: flex;
            figure {
                flex: 1 1 40%;
                margin-right: $padding-x-md;
                img {
                    width: 100%;
                }
            }
            .content {
                flex: 1 1 60%;
                *:first-child {
                    margin-top: 0;
                }
                *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    figure,
    img {
        width: 100%;
        margin: 0;
    }
}

@mixin block-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px,
        rgba(0, 0, 0, 0.25) 0px 2px 2px 0px;
}

@mixin h3-style {
    font-family: $serif-font-stack;
    font-size: 1.75rem;
    @include lg-up {
        font-size: 2.25rem;
    }
    font-weight: 400;
    line-height: 1.25em;
}

@mixin wrapper-spacing-sm {
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding-x-sm;
    padding-right: $padding-x-sm;
}

@mixin wrapper-spacing-md {
    padding-left: $padding-x-md;
    padding-right: $padding-x-md;
}

@mixin wrapper-x-spacing {
    @include wrapper-spacing-sm;

    @include lg-up {
        @include wrapper-spacing-md;
    }
}

@mixin hide {
    display: none;
}
