.page {
    & > .content-wrapper {
        position: relative;
        padding-top: $vertical-spacing;
        background-color: $body-bg;
    }

    &.with-sidebar {
        @include xlg-down {
            .offset-header,
            .offset-content {
                margin-left: $sidebar-closed-drawer-width;
            }
        }
        @include xxlg-up {
            & > .content-wrapper {
                display: flex;
            }
            .offset-header {
                margin-left: ($sidebar-content-width + 2 * $padding-x-md);
            }
            .offset-content {
                flex: 1;
            }
            .content-and-footnotes {
                margin: auto;
            }
        }
    }

    .content-and-footnotes,
    .article-header {
        @include content-wrapper;
        @include lg-up {
            max-width: $text-max-content-width + $graph-max-content-width + 3 *
                $padding-x-md;
        }
    }

    h1 {
        display: flex;
        flex-direction: column-reverse;
        margin-top: $vertical-spacing;
        margin-bottom: $vertical-spacing * 2;
        font-size: 2.5rem;
        font-family: $serif-font-stack;
        font-weight: 400;
        line-height: 1.2;
    }

    .authors-byline {
        margin-right: 1rem;
        font-size: 1.125rem;
        color: $secondary-text-color;

        a {
            color: inherit;

            &:hover {
                color: #c0023e;
            }
        }
    }

    .blog-info {
        @include info;
        font-style: italic;
        color: $secondary-text-color;
        p {
            margin-bottom: 0.5rem;
        }
    }

    .last-updated {
        margin-top: 2 * $vertical-spacing;
        color: $grey-text-color;
    }

    // Cite this research and other potential tools located at the top of entries
    .tools {
        display: flex;
        margin-top: 3rem;
        a {
            margin-right: 1rem;
            font-size: 0.8125rem;
            color: $grey-text-color;
            transition: all 0.2s;
            &:hover {
                color: $secondary-color;
            }
            svg {
                margin-right: 0.5rem;
            }
        }
        strong {
            text-decoration: underline;
        }
    }

    &.large-banner {
        background-color: $primary-color-100;

        .article-header {
            padding-top: 2rem;
            padding-bottom: 2 * $vertical-spacing;

            @include lg-up {
                padding-top: 4rem;
            }
            @include xlg-up {
                padding-top: 6rem;
                padding-bottom: 3 * $vertical-spacing;
            }

            h1 {
                @mixin subtitle($base-font-size) {
                    span:nth-child(2) {
                        margin-bottom: -($font-size / 10);
                        font-size: $font-size * 40 / 100;
                    }
                }

                span {
                    display: block;
                    &:nth-child(2) {
                        font-family: $sans-serif-font-stack;
                        font-weight: lighter;
                    }
                }

                $font-size: 2.5rem;
                font-size: $font-size;
                @include subtitle($font-size);

                @include md-up {
                    $font-size: 3rem;
                    font-size: $font-size;
                    @include subtitle($font-size);
                }
                @include lg-up {
                    $font-size: 4rem;
                    font-size: $font-size;
                    @include subtitle($font-size);
                }
                @include xlg-up {
                    $font-size: 5rem;
                    font-size: $font-size;
                    @include subtitle($font-size);
                }
            }
        }
    }

    &.thin-banner {
        background-color: $tertiary-color-100;
        .article-header {
            padding-top: 2 * $vertical-spacing;
            padding-bottom: 2 * $vertical-spacing;

            h1 {
                max-width: $content-max-width;
                font-size: 2rem;
            }

            time {
                display: block;
                font-size: 0.875rem;
                color: $secondary-text-color;
            }

            .blog-info {
                margin-top: $vertical-spacing;
            }
        }
    }
}

.columns {
    display: flex;
    flex-direction: row;
    margin: 0 -1rem;

    .column {
        margin: 0 1rem 2rem;
        flex: 1;
    }

    @include sm-only {
        display: block;
    }
}
