.page {
    @include wrapper-spacing-sm;
    max-width: $page-max-width-sm;
    padding-bottom: 50px;

    @include md-up {
        @include wrapper-spacing-md;
        max-width: $page-max-width-md;
    }

    @include xlg-up {
        max-width: $page-max-width-xlg;
        & .article-content section > *:not(.wp-block-columns),
        & .article-footer {
            // Do not declare padding here to give elements
            // the possibility to declare their own
            max-width: $content-max-width;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .article-header {
        margin: 1.5rem auto 1.2rem;

        &.with-sidebar {
            @include xlg-up {
                margin-left: $sidebar-content-width + $padding-x-md;
            }
        }

        & > * {
            max-width: $content-max-width;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        h1 {
            margin-bottom: 1rem;
        }

        .authors-byline {
            margin-top: 0.5rem;
            text-align: center;
            font-family: $serif-font-stack;
            font-size: 1.125rem;
            color: rgba($text-color, .8);

            a {
                color: inherit;

                &:hover {
                    color: #c0023e;
                }
            }
        }

    }
}

.contentAndFootnotes {
    margin: 0 auto;
}

.columns {
    display: flex;
    flex-direction: row;
    margin: 0 -1rem;

    .column {
        margin: 0 1rem 2rem;
        flex: 1;
    }

    @include sm-only {
        display: block;
    }
}

/* Notice for entries that are only a preliminary collection of relevant material */
.pcrm {
    @include info;
    background-color: $tertiary-color;
    h2 {
        span {
            @include hide;
        }
        margin: 0 0 0.5rem;
        font-size: inherit;
        text-transform: uppercase;
    }
}
