/* Page Navigation Sidebar
--------------------------------------------- */

.entry-sidebar {
    width: $sidebar-content-width + 2 * $padding-x-md;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;

    &.sticky {
        background: $primary-color-100;
    }

    @include lg-down {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: $zindex-sidebar;
        overflow-x: visible;
        margin-left: -($sidebar-content-width + 2 * $padding-x-md) + $sidebar-closed-drawer-width;
        background-color: $white;

        .toggle-toc {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            width: $sidebar-toggle-width;
            height: $sidebar-toggle-width;
            background-color: $primary-color;
            &:hover {
                background-color: $primary-color-700;
            }

            color: $white;
            border-radius: 50%;
            outline: none;
            border: none;
            padding: 0;
            cursor: pointer;

            svg {
                display: block;
                position: initial;
                background: none;
                width: 100%;
                padding: 0.5rem;
            }
        }

        .entry-toc {
            margin-right: -$sidebar-toggle-width / 2;
            padding: $vertical-spacing $padding-x-md +
                $sidebar-closed-drawer-width/2 2 * $vertical-spacing
                $padding-x-md;
        }

        &.toggled {
            margin-left: 0;
            @include block-shadow;

            .entry-toc {
                overflow-y: scroll; //only show scrollbar when necessary
            }

            .toggle-toc {
                position: initial;
                float: right;
                z-index: 1;
                color: $primary-color;
                background: none;
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
    @include xlg-up {
        position: relative;
        // margin-top: $vertical-spacing; // chain reaction from aligning the top of the first elements of columns
        height: 100%;

        .sticky-sentinel {
            position: absolute;
            height: 1px;
            width: inherit;
        }

        .entry-toc {
            overflow-y: scroll;
        }

        .toggle-toc {
            display: none;
        }
    }
}

nav.entry-toc {
    top: 0;
    height: 100vh;
    position: sticky;
    font-size: 12px;
    text-align: left;
    padding: $vertical-spacing $padding-x-md;
}

nav.entry-toc li {
    list-style-type: none;
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    direction: ltr;
}

nav.entry-toc .section {
    margin-top: 18px;
    color: #111;
    margin-bottom: 4px;
    padding-bottom: 0px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 700;
}

.entry-toc .section.nosubs {
    border-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

nav.entry-toc .subsection {
    color: #444;
    line-height: 18px;
    font-size: 13px;
}

nav.entry-toc li > a {
    opacity: 0.7;
}

nav.entry-toc li.active > a {
    opacity: 1;
}

.entry-toc li:first-child {
    font-size: 16px;
    line-height: 22px;
}

.entry-toc li > a {
    color: #616161;
    display: block;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
}

.entry-toc li > a:hover {
    opacity: 1;
}
