/* Page Navigation Sidebar
--------------------------------------------- */

.entry-sidebar {
    width: $sidebar-content-width + 2 * $padding-x-md;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $white;

    &.sticky {
        background: $primary-color-100;
    }

    .entry-toc {
        top: 0;
        height: 100vh;
        position: sticky;
        line-height: 1.3em;
        padding: $vertical-spacing 0;
        overflow-y: auto;
    }

    li {
        list-style-type: none;
        &.section {
            margin-top: $vertical-spacing;
            color: #111;
            font-weight: 700;
        }

        &.subsection {
            font-size: 0.8rem;
        }

        a {
            display: block;
            color: $grey-text-color;
            font-size: 0.9rem;
            border-left: 0.5rem solid transparent;
            padding: $vertical-spacing/4 $padding-x-md;

            &:hover {
                background-color: $primary-color-200;
            }
        }

        &.active a {
            color: $primary-color;
            background-color: $primary-color-200;
            border-left-color: $primary-color;
        }

        &:first-child a {
            font-size: 1rem;
            background: none;
            color: $grey-text-color;
            border-left-color: transparent;

            &:hover {
                color: $primary-color;
            }
        }
    }

    @include xlg-down {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: $zindex-sidebar;
        margin-left: -($sidebar-content-width + 2 * $padding-x-md) + $sidebar-closed-drawer-width;
        @include sm-only {
            margin-left: -($sidebar-content-width + 2 * $padding-x-md);
        }
        transition: margin 300ms ease;

        .toggle-toc {
            position: absolute;
            top: 0;
            bottom: 0;
            padding: $vertical-spacing 0;
            right: -$sidebar-toggle-width / 2;
            @include sm-only {
                right: -$sidebar-toggle-width - $padding-x-sm/2;
            }
            button {
                position: sticky;
                top: $vertical-spacing;
                @include sm-only {
                    top: $padding-x-sm/2;
                }
                width: $sidebar-toggle-width;
                height: $sidebar-toggle-width;
                background-color: $primary-color;
                &:hover {
                    background-color: $primary-color-700;
                }

                color: $white;
                border-radius: 50%;
                outline: none;
                border: none;
                padding: 0;
                cursor: pointer;
            }
        }

        ul {
            // Hide ToC content for smoother looking transition
            display: none;
        }

        &.toggled {
            margin-left: 0;
            @include block-shadow;

            .toggle-toc {
                right: -$sidebar-toggle-width;
                button {
                    border-radius: 0 50% 50% 0;
                }
            }

            ul {
                display: block;
            }
        }
    }

    @include xxlg-up {
        position: relative;
        height: 100%;
        background-color: initial;

        .sticky-sentinel {
            position: absolute;
            height: 1px;
            width: inherit;
        }

        .toggle-toc {
            display: none;
        }
    }
}
