/* Float Clearing
--------------------------------------------- */

.clearfix:before {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: table;
}

@include md-up {
    .sm-only {
        display: none !important;
    }
}

@include sm-only {
    .md-up {
        display: none !important;
    }
}

.nowrap {
    white-space: nowrap;
}

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }