/*******************************************************************************
 * Spacing
 */

$padding-x-sm: 1.5rem;
$padding-x-md: 2rem;


/*******************************************************************************
* Sizes
*/

// In a two column layout (only in xlg for now), the total width including paddings is:
// - a: $sidebar-content-width
// - b: $padding-x-md
// - c: $content-max-width
// a + b + c + b + c + b

$content-max-width: 48rem;
$sidebar-content-width: 14rem;

// Page
$page-max-width-sm: $content-max-width + 2 * $padding-x-sm;
$page-max-width-md: $content-max-width + 2 * $padding-x-md;
// The sidebar is added from the lg breakpoint but is absolutely
// positioned so the wrapper size does not need to accomodate it.
// $page-max-width-lg
$page-max-width-xlg: $sidebar-content-width + 4 * $padding-x-md + 2 * $content-max-width;

/*******************************************************************************
 * Breakpoints
 */

$md-min-width: 960px;
$lg-min-width: 2 * $sidebar-content-width + 4 * $padding-x-md + $content-max-width;
$xlg-min-width: $page-max-width-xlg;

@mixin sm-only {
    @media (max-width: $md-min-width - 1px) {
        @content;
    }
}

// The full menu is shown from that breakpoint up
@mixin md-up {
    @media (min-width: $md-min-width) {
        @content;
    }
}

// The sidebar is shown from that breakpoint up
@mixin lg-only {
    @media only screen and (min-width: $lg-min-width) and (max-width: $xlg-min-width - 0.0625rem) {
        @content;
    }
}

@mixin lg-up {
    @media only screen and (min-width: $lg-min-width) {
        @content;
    }
}

// Blocks are shown side-by-side from that breakpoint up (when applicable)
@mixin xlg-up {
    @media only screen and (min-width: $xlg-min-width) {
        @content;
    }
}

/*******************************************************************************
 * Fonts
 */

$sans-serif-font-stack: Lato, "Helvetica Neue", Arial, sans-serif;
$serif-font-stack: "Playfair Display", Georgia, "Times New Roman", serif;

/*******************************************************************************
 * Colors
 */

/* Oxford Blue */
$primary-color: #002147;
$primary-color-1000: $primary-color;
$primary-color-900: #0D2E54;
$primary-color-800: #1D3D63;
$primary-color-700: #365578;
$primary-color-600: #577291;
$primary-color-500: #6E87A2;
$primary-color-400: #92A5BB;
$primary-color-300: #C0CCDA;
$primary-color-200: #D8E0E9;
$primary-color-100: #EBEEF2;

/* Blood Orange */
$secondary-color: #D42B21;

/* Yellow */
$tertiary-color: #F8C723;
$tertiary-color-100: #F4EDDB;
$tertiary-color-400: $tertiary-color;
$tertiary-color-700: #d8b43b;

/* Highlight color */
$highlight-color: #F8C723;

/* Default background color */
$body-bg: #fafafa;

/* Text colors */
$text-color: $primary-color-800;
$secondary-text-color: $primary-color-600;
$tertiary-text-color: $tertiary-color;
$error-text-color: $secondary-color;

/* Hyperlink colors */
$link-color: #2162e6;
$link-hover-color: $link-color;
$link-visited-color: #7c45d8;

/* Category colors */
$population-color: #2082a2;
$health-color: #bf1b1b;
$food-color: #588a0f;
$energy-color: #ca6f34;
$environment-color: #0c6947;
$technology-color: #2774c6;
$growth-and-inequality-color: #009655;
$work-and-life-color: #ab348a;
$public-sector-color: #eb6400;
$global-connections-color: #17393d;
$war-and-peace-color: #660000;
$politics-color: #1b0655;
$violence-and-rights-color: #cc235c;
$education-color: #253f77;
$media-color: #0089be;
$culture-color: #af488f;


/*******************************************************************************
 * Z-index
 */

$zindex-input: 1;
$zindex-article-image: 10;
$zindex-footnote: 10;
$zindex-popover: 100;
$zindex-search-overlay: 100;
$zindex-cookie-notice: 110;
$zindex-nav-dropdown: 120;
$zindex-tooltip: 1070;
$zindex-adminbar: 99999;