/*******************************************************************************
 * Spacing
 */

$padding-x-sm: 1.5rem;
$padding-x-md: 2rem;
$vertical-spacing: 1rem;

/*******************************************************************************
* Sizes
*/

$mobile-header-wrapper-height: 3.5rem;
$mobile-header-border-height: 0.25rem;
$mobile-header-height: $mobile-header-wrapper-height +
    $mobile-header-border-height;

$content-max-width: 50rem;
$sidebar-content-width: 14rem;
$sidebar-padding-top: 2rem;
$sidebar-toggle-width: 2rem;
$sidebar-closed-drawer-width: $padding-x-sm;
$text-min-content-width: 30rem;
$text-max-content-width: 40rem;
// NB: the side by side layout depends on
// $graph-min-content-width < $text-max-content-width + $graph-max-content-width
$graph-min-content-width: 44rem;
$graph-max-content-width: 50rem;

$wrapper-max-width: $text-min-content-width + $graph-min-content-width + 3 *
    $padding-x-md;

/*******************************************************************************
* Breakpoints
*/

//md
$md-min-width: 55rem;
// lg: graphs and text shown side by side.
$lg-min-width: $text-min-content-width + $graph-min-content-width + 3 *
    $padding-x-md + $sidebar-closed-drawer-width;
// xlg: md + graphs shown side by side
$xlg-min-width: $text-max-content-width + $graph-max-content-width + 3 *
    $padding-x-md + $sidebar-closed-drawer-width;
// xxlg: xlg + permanent sidebar
$xxlg-min-width: $text-max-content-width + $graph-max-content-width + 5 *
    $padding-x-md + $sidebar-content-width;

@mixin sm-only {
    @media (max-width: $md-min-width - 0.0625rem) {
        @content;
    }
}

@mixin md-up {
    @media (min-width: $md-min-width) {
        @content;
    }
}

@mixin lg-up {
    @media (min-width: $lg-min-width) {
        @content;
    }
}

@mixin lg-only {
    @media (min-width: $lg-min-width) and (max-width: $xlg-min-width - 0.0625rem) {
        @content;
    }
}

// Blocks are shown side-by-side from that breakpoint up (when applicable)
@mixin xlg-down {
    @media only screen and (max-width: $xxlg-min-width - 0.0625rem) {
        @content;
    }
}

@mixin xlg-only {
    @media only screen and (min-width: $xlg-min-width) and (max-width: $xxlg-min-width - 0.0625rem) {
        @content;
    }
}

@mixin xlg-up {
    @media only screen and (min-width: $xlg-min-width) {
        @content;
    }
}

// The sidebar is shown from that breakpoint up
@mixin xxlg-up {
    @media only screen and (min-width: $xxlg-min-width) {
        @content;
    }
}

/*******************************************************************************
 * Fonts
 */

$sans-serif-font-stack: Lato, "Helvetica Neue", Arial, sans-serif;
$serif-font-stack: "Playfair Display", Georgia, "Times New Roman", serif;

/*******************************************************************************
 * Colors
 */

/* Oxford Blue */
$primary-color: #002147;
$primary-color-1000: $primary-color;
$primary-color-900: #0d2e54;
$primary-color-800: #1d3d63;
$primary-color-700: #365578;
$primary-color-600: #577291;
$primary-color-500: #6e87a2;
$primary-color-400: #92a5bb;
$primary-color-300: #c0ccda;
$primary-color-200: #d8e0e9;
$primary-color-100: #ebeef2;
$primary-color-50: #f4f5f7;
$primary-color-30: #fafbfd;

/* Blood Orange */
$secondary-color: #d42b21;

/* Yellow */
$tertiary-color: #f8c723;
$tertiary-color-brighter: #f9cf44;
$tertiary-color-100: #f4eddb;
$tertiary-color-400: $tertiary-color;
$tertiary-color-700: #d8b43b;

/* Highlight color */
$highlight-color: #f8c723;

/* Default background color */
$body-bg: #fafafa;

/* White */
$white: #ffffff;

/* Text colors */
$text-color: $primary-color-800;
$secondary-text-color: $primary-color-600;
$tertiary-text-color: $tertiary-color;
$error-text-color: $secondary-color;
$grey-text-color: #616161;
$bluish-grey-text-color: $primary-color-500;

/* Hyperlink colors */
$link-color: #2162e6;
$link-hover-color: $link-color;
$link-visited-color: #7c45d8;

/* Category colors */
$population-color: #2082a2;
$health-color: #bf1b1b;
$food-color: #588a0f;
$energy-color: #ca6f34;
$environment-color: #0c6947;
$technology-color: #2774c6;
$growth-inequality-color: #009655;
$work-life-color: #ab348a;
$public-sector-color: #eb6400;
$global-connections-color: #17393d;
$war-peace-color: #660000;
$politics-color: #1b0655;
$violence-rights-color: #cc235c;
$education-color: #253f77;
$media-color: #0089be;
$culture-color: #af488f;

/* Controls color */
$controls-color: #3f9eff;

/*******************************************************************************
 * Z-index
 */

$zindex-input: 1;
$zindex-global-entity-select: 11;
$zindex-site-header: 12;
$zindex-footnote: 15;
$zindex-sidebar: 20;
$zindex-popover: 100;
$zindex-search-overlay: 100;
$zindex-dropdown: 100;
$zindex-cookie-notice: 110;
$zindex-nav-dropdown: 120;
$zindex-tooltip: 1070;
$zindex-lightbox: 99998;
$zindex-adminbar: 99999;

/*******************************************************************************
  * Coronavirus (COVID-19)
  */

$max-width-covid-data-explorer: 75rem;
