/*******************************************************************************
 * Fonts
 */

$sans-serif-font-stack: Lato, "Helvetica Neue", Arial, sans-serif;
$serif-font-stack: "Playfair Display", Georgia, "Times New Roman", serif;


/*******************************************************************************
 * Colors
 */

/* Oxford Blue */
$primary-color: #002147;
$primary-color-1000: $primary-color;
$primary-color-900: #0D2E54;
$primary-color-800: #1D3D63;
$primary-color-700: #365578;
$primary-color-600: #577291;
$primary-color-500: #6E87A2;
$primary-color-400: #92A5BB;
$primary-color-300: #C0CCDA;
$primary-color-200: #D8E0E9;
$primary-color-100: #EBEEF2;

/* Blood Orange */
$secondary-color: #D42B21;

/* Highlight color */
$highlight-color: #F8C723;

/* Category colors */
$population-color: #2082a2;
$health-color: #cc0000;
$food-color: #689920;
$energy-color: #e37f3f;
$environment-color: #013220;
$technology-color: #2774c6;
$growth-and-inequality-color: #009655;
$work-and-life-color: #d2bc00;
$public-sector-color: #eb6400;
$global-connections-color: #17393d;
$war-and-peace-color: #660000;
$politics-color: #1b0655;
$violence-and-rights-color: #cc235c;
$education-color: #012d8e;
$media-color: #0089be;
$culture-color: #d76db6;

$body-bg: #fafafa;

// $text-color: #2e4057;
$text-color: $primary-color-800;
$error-text-color: $secondary-color;


/*******************************************************************************
 * Breakpoints
 */

$desktop-min-width: 960px;

@mixin mobile {
    @media (max-width: #{$desktop-min-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-min-width}) {
        @content;
    }
}