.DownloadTab {
    padding: 2em;
    color: #444;
    line-height: 1.4;
    display: flex; // allows vertical centering when using margin:auto
    overflow: auto; // we want to be able to scroll if contents overflow

    .grouped-menu {
        width: 100%;
        max-width: 35em;
        margin: auto;
    }

    .grouped-menu-section {
        h2 {
            font-size: 1.125em;
            font-weight: 700;
        }
    }

    .grouped-menu-section + .grouped-menu-section {
        margin-top: 3em;
    }

    .grouped-menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #444;
        background-color: #fafafa;
        border: 1px solid rgba(0, 0, 0, 0.15);
        position: relative;
        width: 100%;
        margin-top: -1px;
        padding: 0;
        overflow: hidden;
        text-align: left;

        &:first-child {
            margin-top: 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &:hover {
            z-index: 1;
            background-color: #f3f3f3;
            border-color: rgba(0, 0, 0, 0.25);
            color: #222;
        }
    }

    .grouped-menu-icon {
        flex: 0;

        img {
            display: block;
            margin: 10px;
            margin-right: 3px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
                0 2px 4px 1px rgba(0, 0, 0, 0.09);
        }
    }

    .grouped-menu-content {
        flex: 1;
        padding: 0.85em 1em;

        .title {
            font-size: 1em;
            margin: 0 0 0.35em;
        }

        .description {
            font-size: 0.9375em;
            margin: 0;
            opacity: 0.9;
        }

        .faint {
            font-weight: normal;
        }
    }

    .download-icon {
        opacity: 0.5;
        padding-left: 0.5em;
        padding-right: 1.5em;
    }
    .grouped-menu-item:hover .download-icon {
        opacity: 1;
    }
}
