.DownloadTab {
    padding: 2em;
    color: #444;
    line-height: 1.4;
    display: flex; // allows vertical centering when using margin:auto
    overflow: auto; // we want to be able to scroll if contents overflow

    .grouped-menu {
        width: 100%;
        max-width: 45em;
        margin: auto;
    }

    .grouped-menu-section {
        h2 {
            font-size: 1.125em;
            font-weight: 700;
        }
    }

    .grouped-menu-section + .grouped-menu-section {
        margin-top: 3em;
    }

    .grouped-menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #444;
        background-color: #fafafa;
        border: 1px solid rgba(0, 0, 0, 0.15);
        position: relative;
        width: 100%;
        margin-top: -1px;
        padding: 0;
        overflow: hidden;
        text-align: left;

        &:first-child {
            margin-top: 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &:hover {
            z-index: 1;
            background-color: #f3f3f3;
            border-color: rgba(0, 0, 0, 0.25);
            color: #222;
        }
    }

    .grouped-menu-icon img {
        display: block;
        margin: 10px;
        margin-right: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
            0 2px 4px 1px rgba(0, 0, 0, 0.09);
    }

    .grouped-menu-content {
        flex: 1;
        padding: 0.85em 1em;

        .title {
            font-size: 1em;
            margin: 0 0 0.35em;
        }

        .description {
            font-size: 0.9375em;
            margin: 0;
            opacity: 0.9;
        }

        .faint {
            font-weight: normal;
        }

        li {
            margin-left: 1.25em;
        }
    }

    .aside-icon {
        opacity: 0.5;
        padding-left: 0.5em;
        padding-right: 1.5em;
    }
    .grouped-menu-item:hover .aside-icon {
        opacity: 1;
    }

    .grouped-menu-callout {
        display: flex;
        flex-direction: row;
        // align-items: center;
        color: #444;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        margin-bottom: 1.25em;

        &.danger {
            background-color: #fbf3f3;
            border-color: #bb7a76;
            color: #851811;
        }

        .title {
            font-size: 1em;
            margin: 0;
        }

        p {
            font-size: 0.9375em;
            margin: 0.5em 0 0;
            opacity: 0.9;
        }
    }

    .grouped-menu-callout-icon {
        flex: 0;
        margin: 1em;
        margin-right: 0;
    }

    .grouped-menu-callout-content {
        flex: 1;
        padding: 0.85em 1em;
    }
}

.static-exports-options {
    margin: 8px 2px;
    height: 0;

    label {
        margin-left: 8px;
    }
}
