# Ensure node gives all dates in UTC
TZ=utc

# Essential settings
SECRET_KEY='fejwiaof jewiafo jeioa fjieowajf isa fjidosajfgj'

# Database settings
DB_NAME='owid'
DB_USER='root'
DB_PASS=''

# Overrides of anything else in settings.ts can go here