**/*.js
bakedSite/**
coverage/**
itsJustJavascript/**
devtools/**
jest.config.js
knexfile.ts
ormconfig.js
postcss.config.js
public/detect-country.js
wordpress/web/wp/wp-includes/**
wordpress/web/wp/wp-admin/**
wordpress/web/app/plugins/**
wordpress/web/wp/wp-content/**
!wordpress/web/app/plugins/owid/**/*.js
wordpress/vendor/**
