/node_modules
/public/build
/public/uploads/*
.env
.idea/
db.sqlite3
__pycache__/
*.py[cod]
/node_modules
.sublime*
yarn-error.log
secret_settings.py
env
.vscode/tags
.mypy_cache
.awcache
data
dist
public
grapher_admin/static/build
.netlify
*.swp
