/node_modules
/bakedSite
logs/
.idea/
db.sqlite3
.sublime*
.yarn/*
!.yarn/patches
!.yarn/releases
yarn-error.log
.vscode/tags
.awcache
/data
itsJustJavascript/
.netlify
*.swp
datasetsExport
.DS_Store
.tscache
.queue
.pending
coverage/
public/head.txt
public/covidChartAndVariableMeta.json
.storybook/build
*tempDeployScript.*
.env
clientSettings.json
serverSettings.json
localBake/
/grapherData
/grapherSvgs
/differentGrapherSvgs
/owid-content
tmp-downloads
/data_files_checksums
packages/@ourworldindata/*/dist/
packages/@ourworldindata/*/node_modules
wpmigration
dist/
