.tscache
/bakedSite
datasetsExport
dist
package.json
covidChartAndVariableMeta.json
/.storybook/build
coverage
/wordpress/vendor
/wordpress/web/wp
/wordpress/web/app/plugins/*
!/wordpress/web/app/plugins/owid