<!doctype HTML>
<html lang="en">
    <head>
        <title>owid-admin</title>
        <meta name="description" content=""/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
        <style>
            html, body {
                height: 100%;
            }

            body {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            h1 {
                margin-bottom: 0.4em;
            }

            button {
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <form method="POST" action="/grapher/admin/login">
            <h1>owid-admin</h1>
            <div class="form-group">
                <label>Email address</label>
                <input name="username" type="email" class="form-control" placeholder="Enter email" required/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" placeholder="Password" required/>
            </div>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            <p>Having trouble logging in? Go to <a href="https://owid.slack.com/messages/tiny-tech-problems/">#tiny-tech-problems</a>.</p>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </body>
</html>