.about-page {
    .footnote-container {
        margin-top: 0;
    }
}

.about-header {
    color: $blue-60;
}

.about-nav {
    margin-bottom: 32px;
    border-bottom: 1px solid $blue-20;
    overflow-x: auto;
}

.about-nav-list {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;

    h2 {
        margin: 0;
    }
}

.about-nav-link {
    @include body-2-regular;
    display: block;
    padding: 16px;
    color: $blue-60;
    text-wrap: nowrap;

    &--is-active {
        @include body-2-semibold;
        color: $blue-90;
        border-bottom: 1px solid $vermillion;
    }

    &:hover {
        color: $blue-90;
    }
}

.about-body {
    margin-bottom: 80px;

    &:has(.article-block__donors) {
        margin-bottom: 0;
    }

    h2.article-block__heading {
        @include h1-semibold;
        color: $blue-60;
        margin-top: 0;
    }

    h3.article-block__heading {
        @include h2-bold;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    h4.article-block__heading {
        @include h3-bold;
        margin-bottom: 16px;
    }

    h5.article-block__heading {
        color: $blue-60;
    }

    .article-block__heading + .article-block__heading {
        margin-top: 0;
    }

    .grid .article-block__text + .h2-bold,
    .grid .article-block__list + .h2-bold,
    .grid .article-block__text + .h3-bold,
    .grid .article-block__list + .h3-bold,
    .grid .article-block__text + .h4-semibold,
    .grid .article-block__list + .h4-semibold {
        margin-top: 16px;
    }

    hr {
        margin: 16px 0 40px 0;
    }

    .article-block__callout {
        margin-top: 0;
        margin-bottom: 24px;

        .article-block__text {
            font-size: 14px;
        }
    }

    .article-block__code-snippet {
        margin-bottom: 16px;
    }

    .article-block__chart,
    .article-block__image {
        margin: 0 0 24px;
    }

    .article-block__image-download-button-container {
        @include touch-device {
            display: none;
        }
    }

    .article-block__people + .article-block__heading {
        margin-top: 24px;
    }

    .article-block__prominent-link {
        margin-bottom: 24px;
    }

    // Remove some margins since margins don't collapse in display: grid.
    .article-block__side-by-side,
    .article-block__sticky-left,
    .article-block__sticky-right {
        @include md-up {
            margin: 0;
        }
    }

    .article-block__side-by-side {
        :first-child {
            margin-top: 0;
        }
    }

    .article-block__donors {
        margin-top: 32px;
        padding-top: 40px;
        background-color: $beige;

        @include md-down {
            margin-top: 16px;
            padding-top: 24px;
        }
    }
}
