.announcements-page {
    background-color: $gray-10;
    padding-bottom: 80px;

    @include md-down {
        padding-bottom: 40px;
    }
}

.announcements-page__header {
    margin-bottom: 40px;
    background-color: #fff;
    @include md-down {
        margin-bottom: 24px;
    }

    h2 {
        margin: 0;
        margin-top: 40px;
    }
    p {
        margin: 0;
        margin-bottom: 32px;
    }
}
