:root {
    --gray-100: #2d2d2d;
    --blue-20: #dbe5f0;
    --legend-swatch-size: 12px;
}

* {
    font-family:
        Lato, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
}

.income-plot-legend {
    font-size: 12px;
    width: max-content;

    display: grid;
    grid-template-columns: max-content 150px;
    column-gap: 5px;

    color: var(--gray-100);

    padding: 16px;
    border: 1px solid var(--blue-20);

    cursor: default;

    .legend-entry {
        /* We could be using row-gap in the grid, but then there's space between legend items for mouse events, which makes for an odd mouse interaction. So we use padding instead. */
        padding-top: 1px;
        padding-bottom: 1px;
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
    }

    /* If there's at least one hovered legend entry, dim all non-highlighted ones */
    &:has(.legend-entry--hovered) {
        .legend-entry:not(.legend-entry--hovered) {
            opacity: 0.5;
        }
    }

    .legend-entry-swatch {
        background-color: var(--legend-entry-color);
        height: var(--legend-swatch-size);
        width: var(--legend-swatch-size);
        justify-self: end;
    }
}

.income-plot-chart {
    .income-plot-series .area-bg {
        fill-opacity: 0.3;
    }
    .income-plot-series .area-fg {
        fill-opacity: 0.8;
    }
}
