:root,
:host {
    --gray-20: #e7e7e7;
    --gray-80: #5b5b5b;
    --gray-100: #2d2d2d;
    --blue-20: #dbe5f0;
    --legend-swatch-size: 12px;
}

* {
    font-family:
        Lato, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
}

/**
 * This here is super annoying. We need `shape-rendering: crispEdges` to be set in Chrome in order
 * to avoid pixelated edges, but in Firefox it _causes_ pixelated edges and we don't want to set it.
 * So we use a Firefox-specific media query to unset it afterwards. Ugh.
 */
.income-plot-chart-svg path {
    shape-rendering: crispEdges;

    /* This media query only works in Firefox, and so it's used to apply a style only for Firefox. */
    @media screen and (min--moz-device-pixel-ratio: 0) {
        shape-rendering: unset;
    }
}

.income-plot-legend {
    position: absolute;
    right: 12px;
    top: 12px;
    width: max-content;
    z-index: 100;
    background: white;

    padding: 16px;
    border: 1px solid var(--blue-20);

    .legend-poverty-line-header {
        font-size: 13px;
        color: black;
        margin-bottom: 12px;
    }

    .legend-entries-container {
        font-size: 12px;

        display: grid;
        grid-template-columns: max-content 170px;
        column-gap: 5px;

        color: var(--gray-100);

        cursor: default;
    }

    .legend-entry {
        /* We could be using row-gap in the grid, but then there's space between legend items for mouse events, which makes for an odd mouse interaction. So we use padding instead. */
        padding-top: 1px;
        padding-bottom: 1px;
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;

        color: color-mix(
            in oklab,
            var(--legend-entry-color),
            var(--gray-100) 30%
        );

        &.legend-entry--has-percentages {
            .legend-entry-label {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        &.--legend-entry--is-world {
            font-weight: bold;
        }
    }

    /* If there's at least one hovered legend entry, dim all non-highlighted ones */
    &:has(.legend-entry--hovered) {
        .legend-entry:not(.legend-entry--hovered) {
            opacity: 0.5;
        }
    }

    .legend-entry-percentage-container {
        justify-self: end;
        display: flex;
        gap: 5px;
        color: var(--gray-80);
    }

    .legend-entry-swatch {
        display: inline-block;
        background-color: var(--legend-entry-color);
        height: var(--legend-swatch-size);
        width: var(--legend-entry-percentage, var(--legend-swatch-size));
        justify-self: end;
    }
}

.income-plot-chart + .income-plot-legend {
    position: static;
    width: auto;
    border: none;
    padding: 8px 0;
}

.income-plot-chart {
    .plot-series-stacked {
        .income-plot-series .area-bg {
            fill-opacity: 0.3;
        }
        .income-plot-series .area-fg {
            fill-opacity: 0.8;
        }
    }

    .plot-series-unstacked {
        .income-plot-series .area-bg {
            fill-opacity: 0.15;
        }
        .income-plot-series .area-fg {
            fill-opacity: 0.3;
        }
    }

    &:has(.income-plot-series[data-selected]) {
        .income-plot-series {
            opacity: 0.5;
        }
        .income-plot-series[data-selected="true"] {
            opacity: 1;
            path {
                stroke-width: 0.3px;
            }
        }
    }

    .region-label {
        fill: rgba(0, 0, 0, 0.9);
        stroke: rgba(255, 255, 255, 0.8);
        stroke-width: 3px;
        paint-order: stroke;
        pointer-events: none;
        text-anchor: middle;
        dominant-baseline: central;
    }

    &:has(.income-plot-series[data-highlighted]) {
        .income-plot-series {
            opacity: 0.35;
        }
        .income-plot-series[data-highlighted="true"] {
            opacity: 1;
        }

        .plot-series-unstacked {
            .income-plot-series[data-highlighted="true"] .area-bg {
                fill-opacity: 0.3;
            }
            .income-plot-series[data-highlighted="true"] .area-fg {
                fill-opacity: 0.5;
                stroke-opacity: 1;
            }
        }
    }
}

.income-plot-tooltip {
    border: 1px solid var(--gray-20);
    border-radius: 4px;
    background: white;
    padding: 12px;
    max-width: 160px;
    font-size: 14px;
    pointer-events: none;
    box-shadow: 0px 4px 40px 0px #00000026;

    display: flex;
    flex-direction: column;
    gap: 2px;

    .tooltip--entityName {
        color: var(--gray-100);
    }

    .tooltip--percentage {
        color: var(--gray-100);
        font-weight: bold;
    }

    .tooltip--set-pov-line {
        color: var(--gray-80);
        font-style: italic;
    }
}
