.indicator-processing {
    .data-processing {
        --content-size: var(--data-processing-content-size, 0.875rem);

        margin-top: 0;
        margin-bottom: 24px;

        > p {
            @include body-3-medium;
            margin: 0 0 16px;
            font-size: var(--content-size);
        }
    }

    .indicator-processing__link {
        @include expandable-paragraph__expand-button--full;

        svg {
            display: none; // used in Grapher's sources modal
            font-size: 0.75em;
            margin-left: 12px;
        }
    }

    .indicator-processing-callout {
        --background: var(--indicator-processing-background, #{$white});
        --title: var(--indicator-processing-title, currentColor);
        --content: var(--indicator-processing-content, #{$blue-60});
        --content-size: var(--indicator-processing-content-size, 0.875rem);

        display: flex;
        flex-direction: column;
        background-color: var(--background);
        margin: 32px -24px 0;
        padding: 24px;

        &__title {
            @include overline-black-caps;
            text-transform: uppercase;
            margin: 0 0 8px;
            color: var(--title);
        }

        &__content {
            @include body-3-medium;
            color: var(--content);
            margin: 0;
            font-size: var(--content-size);

            > *:first-child {
                margin-top: 0;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }

        a {
            @include owid-link-60;
            color: inherit;
        }
    }
}
