#slideshow-page {
    .site-footer,
    .donate-footer {
        display: none;
    }
}

.SlideGrapher {
    height: 100%;

    .GrapherComponent {
        border: none;
    }
}

.SlideContent,
.SlideGrapher {
    aspect-ratio: 16 / 9;
    height: auto;
}
