<!doctype html>
{% load webpack %}
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}owid-grapher{% endblock %}</title>
		<meta name="description" content="">
		<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet" type="text/css">
		<!-- Place favicon.ico in the root directory -->
    <link href="{% webpack "admin.css" %}" rel="stylesheet" type="text/css">
	</head>
	<body class="skin-blue">
		<!--[if lt IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="wrapper">
			<header class="main-header">
				<a href="#" class="logo">owid-grapher</a>
				<nav class="navbar navbar-static-top">
					<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>
				</nav>
			</header>
			<div class="content-wrapper">
            {% if messages %}
                {% for each in messages %}
                    <div class='alert alert-{{ each.tags }}'>
                        <p>{{ each }}</p>
                    </div>
                {% endfor %}
            {% endif %}
				{% block content %}
                {% endblock %}
			</div>
		</div>

		{% block scripts %}
        {% endblock %}
	</body>
</html>
