$controls-color: #3f9eff;
$ideal-ratio: 680/480;

$border-radius: 4px;
$text-color: #7a899e;

.CovidChartBuilder {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding-top: 5px;

    .CovidChartBuilderSideBar {
        width: 220px;
        margin-right: 10px;

        .ClearSelectionButton {
            color: $controls-color;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            cursor: pointer;
            margin-top: 15px;
        }

        .CountrySearchResults {
            height: 695px;
            overflow-y: scroll;

            .CountryOption {
                display: block;
                padding: 10px;
                font-size: 14px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                cursor: pointer;
                background-color: transparent;
                transition: background-color 150ms linear;

                &.selected {
                    background-color: #fff;
                }

                &.MissingTests {
                    opacity: 0.9;
                }

                input {
                    margin-right: 8px;
                }
            }
        }
    }

    .CovidChartBuilderMain {
        width: calc(100% - 200);

        .CovidChartBuilderTopBar {
            display: flex;
            justify-content: space-between;
            background: white;
            border-radius: 5px;
            margin-bottom: 10px;
            border: 1px solid rgb(233, 233, 233);
        }

        .CovidChartBuilderFigure {
        }
    }

    .CovidChartBuilderRadio {
        height: 80px;
        margin: 3px;
        padding: 7px;
        font-size: 14px;

        input {
            margin-right: 5px;
        }
    }
}

.CountryList {
    border-radius: $border-radius;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    background-color: #fafafa;
    overflow: hidden;
}

.CovidSearchInput {
    position: relative;
    color: $text-color;
    margin-bottom: 10px;

    .input-field {
        width: 100%;
        border: 1px solid #d6dadf;
        padding: 0.5em 0.75em;
        padding-left: 2em;
        outline: none;
        color: inherit;
        font-weight: 700;
        border-radius: $border-radius;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

        &:focus {
            border-color: $text-color;
        }

        &::placeholder {
            color: inherit;
            font-weight: 400;
            transition: opacity 150ms ease;
        }
        &:focus::placeholder {
            opacity: 0.5;
        }
    }

    .search-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0.6em;
        display: flex;
        align-items: center;
        pointer-events: none;
    }
}

.LoadingChartBuilder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 790px;
    width: 100%;
}

.LoadingChartBuilder:after {
    content: "";
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    opacity: 0;

    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
