$controls-color: #3f9eff;
$sidebar-width: 200px;
$ideal-ratio: 680/480;

.CovidChartBuilder {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding-top: 5px;

    .CovidChartBuilderSideBar {
        width: $sidebar-width;
        background: white;
        margin-right: 10px;
        border: 1px solid rgb(233, 233, 233);
        border-radius: 5px;

        .CountrySearch {
            padding: 5px;
            margin-top: 5px;
            border: 0;
            border-bottom: 1px solid #ddd;
            width: 100%;
        }

        .ClearSelectionButton {
            color: $controls-color;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            cursor: pointer;
            margin-top: 15px;
        }

        .CountrySearchResults {
            height: 695px;
            overflow-y: scroll;

            td {
                border-bottom: 1px solid #eee;
            }

            .CountryOption {
                display: block;
                padding: 10px;
                font-size: 14px;

                &.MissingTests {
                    opacity: 0.9;
                }

                input {
                    margin-right: 8px;
                }
            }
        }
    }

    .CovidChartBuilderMainBar {
        width: calc(100% - $sidebar-width);

        .CovidChartBuilderTopBar {
            display: flex;
            justify-content: space-between;
            background: white;
            border-radius: 5px;
            margin-bottom: 10px;
            border: 1px solid rgb(233, 233, 233);
        }

        .CovidChartBuilderFigure {
        }
    }

    .CovidChartBuilderRadio {
        height: 80px;
        margin: 3px;
        padding: 7px;
        font-size: 14px;

        input {
            margin-right: 5px;
        }
    }
}
