$table-bg: $body-bg;

.covid-table-container {
    margin: 0 0 2rem;
}

.covid-table {
    margin: 0;
    border: none;
    width: 100%;
    border-spacing: 0px;

    th {
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        border-bottom: 1px solid rgba($primary-color, 0.08);
        border-right: 1px solid rgba($primary-color, 0.12);

        &:last-child {
            border-right: none;
        }
    }

    thead tr:last-child th {
        border-bottom: 2px solid rgba($primary-color, 0.15);
    }

    th {
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 1.3;
        vertical-align: bottom;
        position: sticky;
        top: 0;
        z-index: 10;
        background: linear-gradient(
            $table-bg 0%,
            rgba($table-bg, 0.97) 85%,
            rgba($table-bg, 0.93) 100%
        );
    }

    th.sortable {
        cursor: pointer;
    }

    th,
    td {
        padding-left: 12px;
        padding-right: 12px;
    }

    td {
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid rgba($primary-color, 0.08);
        vertical-align: middle;

        &.plot-cell {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: bottom;
        }
    }

    tbody:last-child tr:last-child td {
        border-bottom-color: rgba($primary-color, 0.15);
    }

    .location {
        text-align: left;
    }

    td.location {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 30%;
    }

    td.total-cases {
        width: 20%;
    }

    td.doubling-days {
        text-align: right;
        width: 20%;
    }

    td.new-cases {
        width: 20%;
    }

    td {
        p {
            margin: 0;
        }
    }

    .faint {
        opacity: 0.65;
    }

    .no-data {
        opacity: 0.6;
    }

    .time-series-value {
        line-height: 1.3;
        white-space: nowrap;

        .count {
            font-size: 16px;
            font-weight: 700;
            display: block;
            margin-bottom: 2px;
        }

        .date {
            font-size: 13px;
            display: block;
            opacity: 0.7;
        }
    }

    .large-value {
        font-size: 18px;
        font-weight: 700;
    }

    .trend {
        display: flex;
        height: 100%;

        .plot {
            flex: 0;
            margin-bottom: -1px;
            align-self: flex-end;
        }

        .value {
            flex: 1;
            align-self: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
        }
    }
}

.covid-table-note {
    margin-top: 0.75em;

    p {
        font-size: 14px;
        color: rgba($text-color, 0.75);
        margin: 0 0 0.75em;
    }

    .tiny {
        font-size: 13px;
    }
}

.covid-table-embed:empty,
.covid-error {
    border-top: 1px solid rgba($primary-color, 0.08);
    border-bottom: 1px solid rgba($primary-color, 0.08);
    padding: 3em 0;
    font-weight: 700;
    text-align: center;
}

.covid-table-embed:empty {
    color: rgba($text-color, 0.5);
    &:after {
        content: "Loading table...";
    }
}

.covid-error {
    color: #860000;
}

.covid-bars {
    width: 84px; // should be a multiple of 14
    height: 3em;
    display: flex;

    .bar-wrapper {
        flex: 1;
        height: 100%;
        margin-right: 1px;
        position: relative;
    }

    .bar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($primary-color, 0.3);
        min-height: 1px;
    }

    .hanging-value {
        display: inline;
        pointer-events: none;
        position: absolute;
        right: 100%;
        text-align: right;
        margin-right: 6px;
        box-shadow: 0 0 6px 3px rgba($table-bg, 0.5);
        background-color: rgba($table-bg, 0.5);
        text-shadow: 0 0 1px $table-bg, 0 0 2px $table-bg, 0 0 3px $table-bg,
            0 0 4px $table-bg, 0 0 5px $table-bg, 0 0 6px $table-bg;
        z-index: 1;
    }
}
