$table-bg: $body-bg;

.covid-table-container {
    margin: 0 0 2rem;
}

.covid-table {
    margin: 0;
    border: none;
    width: 100%;
    border-spacing: 0px;

    th {
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        border-bottom: 1px solid rgba($primary-color, 0.08);
        border-right: 1px solid rgba($primary-color, 0.12);
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 1.3;
        vertical-align: bottom;
        position: sticky;
        top: 0;
        z-index: 10;
        background: linear-gradient(
            $table-bg 0%,
            rgba($table-bg, 0.97) 85%,
            rgba($table-bg, 0.93) 100%
        );

        &:last-child {
            border-right: none;
        }

        .note {
            font-size: 13px;
            font-weight: 400;
            opacity: 0.6;
        }
    }

    thead tr:last-child th {
        border-bottom: 2px solid rgba($primary-color, 0.15);
    }

    th.sortable {
        cursor: pointer;
    }

    th .sort-icon {
        float: right;
        opacity: 0.15;
        padding-left: 5px;

        &.asc:after {
            content: "";
            display: inline-block;
            border-width: 0 7px 6px 7px;
            border-color: transparent;
            border-style: solid;
            border-bottom-color: currentColor;
        }
        &.active.asc:after {
            border-bottom-color: currentColor;
        }

        &.desc:after {
            content: "";
            display: inline-block;
            border-width: 6px 7px 0 7px;
            border-color: transparent;
            border-style: solid;
            border-top-color: currentColor;
        }
        &.active.desc:after {
            border-top-color: currentColor;
        }

        &.active {
            opacity: 1 !important;
        }
    }

    th:hover .sort-icon {
        opacity: 0.6;
    }

    th,
    td {
        padding-left: 12px;
        padding-right: 12px;
    }

    td {
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid rgba($primary-color, 0.08);
        vertical-align: middle;

        &.plot-cell {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: bottom;
        }
    }

    tbody:last-child tr:last-child td {
        border-bottom-color: rgba($primary-color, 0.15);
    }

    .location {
        text-align: left;
    }

    td.location {
        font-size: 17px;
        font-weight: 400;
        line-height: 1.4;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 35%;
    }

    td.doubling-days {
        line-height: 1.1;
        text-align: left;
        width: 30%;
        padding-left: 15px;

        .days {
            font-size: 20px;
            font-weight: 700;
            display: inline-block;
            margin-top: 3px;
            margin-bottom: 5px;
            white-space: nowrap;
            padding: 3px 9px 3px 10px;
            margin: 4px -9px 0 -10px;
            line-height: 1.5rem;
            border-radius: 2rem;
        }

        .label {
            font-size: 14px;
            font-weight: 700;
            opacity: 0.7;
        }

        .info-icon {
            font-size: 15px;
            color: currentColor;
            transition: opacity 200ms ease;
            opacity: 0.45;

            &:hover {
                opacity: 1;
            }
        }

        .no-data {
            font-size: 14px;
            font-weight: 400;
            opacity: 0.45;
        }
    }

    td {
        p {
            margin: 0;
        }
    }

    .time-series-value {
        line-height: 1.3;
        white-space: nowrap;

        .count {
            font-size: 16px;
            font-weight: 700;
            display: block;
            margin-bottom: 1px;
        }

        .date {
            font-size: 13px;
            font-weight: 400;
            display: block;
            opacity: 1;
        }

        .date.latest {
            font-size: 12px;
            font-weight: 400;
            opacity: 0.65;
        }

        .help-icon {
            font-size: 15px;
            color: rgba($primary-color, 0.3);
            transition: color 200ms ease;

            &:hover {
                color: rgba($primary-color, 0.65);
            }
        }
    }

    .trend {
        display: flex;
        height: 100%;

        .plot {
            flex: 0;
            margin-bottom: -1px;
            align-self: flex-end;
        }

        .value {
            flex: 1;
            align-self: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
        }
    }
}

.covid-table-note {
    margin-top: 0.75em;

    p {
        font-size: 14px;
        color: rgba($text-color, 0.75);
        margin: 0 0 0.75em;
    }

    .tiny {
        font-size: 13px;
    }
}

.covid-table-mobile .info-icon {
    font-size: inherit !important;
}

.covid-table-embed:empty,
.covid-error {
    border-top: 1px solid rgba($primary-color, 0.08);
    border-bottom: 1px solid rgba($primary-color, 0.08);
    padding: 3em 0;
    font-weight: 700;
    text-align: center;
}

.covid-table-embed:empty {
    color: rgba($text-color, 0.5);
    &:after {
        content: "Loading table...";
    }
}

.covid-error {
    color: #860000;
}

.covid-table-mobile {
    .covid-bars {
        width: 100%;
        max-width: 70px;
        height: 2.5em;
    }

    .trend .plot {
        flex: 1;
    }
}

.covid-bars {
    width: 84px; // should be a multiple of 14
    height: 3em;
    display: flex;

    .bar-wrapper {
        flex: 1;
        height: 100%;
        margin-right: 1px;
        position: relative;
    }

    .bar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 1px;
    }

    .hanging-value {
        display: inline-block;
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        text-align: right;
        margin-right: 6px;
        text-shadow: 0 0 3px $table-bg, 0 0 3px $table-bg, 0 0 3px $table-bg,
            0 0 3px $table-bg, 0 0 3px $table-bg, 0 0 3px $table-bg,
            0 0 3px $table-bg, 0 0 3px $table-bg, 0 0 3px $table-bg;
        z-index: 1;
    }
}

.covid-tooltip {
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    color: rgba($primary-color, 0.8);
    padding: 8px;
    text-align: center;

    .period {
        font-weight: 700;
        color: $secondary-color;
    }

    .growth-rate {
        font-weight: 700;
        color: $primary-color;
        white-space: nowrap;
    }

    table.values {
        margin: 8px auto 0;
        padding: 0;
        width: auto;
        border: none;
        border-spacing: 0px;

        td {
            padding: 0 2px;
        }

        .value {
            font-weight: 700;
            text-align: right;
        }

        .date {
            font-weight: 700;
            text-align: left;
        }

        .from-color {
            color: $secondary-color;
        }

        .to-color {
            color: $primary-color;
        }
    }
}

// themes

.time-series-value {
    &.highlighted {
        color: #d42b21;
    }
}

.covid-bars {
    .bar {
        background-color: rgba($primary-color, 0.3);
        &.current {
            background-color: #1d3d63;
        }
        &.highlighted {
            background-color: #d42b21;
        }
    }
}

.covid-table {
    thead tr th {
        &.sortable:hover {
            border-bottom-color: rgba($primary-color, 0.4);
        }

        &.sorted,
        &.sorted:hover {
            border-bottom-color: $secondary-color;

            .sort-icon {
                color: $secondary-color;
            }
        }
    }
}

.measure--deaths {
    $measure-color: #ab0000;
    $highlight-color: $measure-color;

    &.sortable:hover {
        border-bottom-color: rgba($measure-color, 0.4) !important;
    }

    &.sorted,
    &.sorted:hover {
        border-bottom-color: $measure-color !important;
    }

    &.sorted .sort-icon,
    &.sortable:hover .sort-icon {
        color: $measure-color !important;
    }

    .time-series-value.current .count,
    .measure {
        color: $measure-color;
    }

    .time-series-value.highlighted {
        color: $highlight-color;
    }

    .bar {
        background-color: rgba(desaturate($measure-color, 40%), 0.25);
        &.current {
            background-color: $measure-color;
        }
        &.highlighted {
            background-color: $highlight-color;
        }
    }
}

.measure--cases {
    $measure-color: #ca3a77;
    $highlight-color: $measure-color;

    &.sortable:hover {
        border-bottom-color: rgba($measure-color, 0.4) !important;
    }

    &.sorted,
    &.sorted:hover {
        border-bottom-color: $measure-color !important;
    }

    &.sorted .sort-icon,
    &.sortable:hover .sort-icon {
        color: $measure-color !important;
    }

    .time-series-value.current .count,
    .measure {
        color: $measure-color;
    }

    .time-series-value.highlighted {
        color: $highlight-color;
    }

    .bar {
        background-color: rgba(desaturate($measure-color, 35%), 0.3);
        &.current {
            background-color: $measure-color;
        }
        &.highlighted {
            background-color: $highlight-color;
        }
    }
}
