$controls-color: #3f9eff;
$ideal-ratio: 680/480;

$grid-gap: 10px;
$placeholder-height: 800px;

// Match chart styles
$chart-border-radius: 2px;
$chart-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.25) 0px 2px 2px 0px;
$light-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.08) 0px 2px 2px;

.CovidDataExplorer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 9fr;
    margin: 0 auto;
    padding-top: $grid-gap;
    width: 100%;
    max-width: 1200px;
    height: 90vh;
    max-height: 900px;
    min-height: 480px;
    grid-row-gap: $grid-gap;
    grid-column-gap: $grid-gap;

    .mobile-button {
        color: #fff;
        background-color: #3f9eff;
        text-align: center;
        padding: 0.375rem 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
    }

    .CovidHeaderBox {
        padding: 8px;
        min-width: 200px;
        background: white;
        border-radius: $chart-border-radius;
        box-shadow: $light-shadow;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .CovidTitle {
            font-size: 28px;
            font-weight: bold;
            line-height: 32px;
            font-family: "Playfair Display";
        }

        .CovidLastUpdated {
            color: #7a899e;
            font-size: 13px;
        }
    }

    .CountryListContainer {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .CountryList {
        flex: 1;
        display: flex;
        flex-direction: column;
        box-shadow: $chart-box-shadow;
        border-radius: $chart-border-radius;
        background-color: #fff;
        margin-top: 10px;

        &.isDropdown {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: $zindex-dropdown;
        }
    }

    .ClearSelectionButton {
        color: $controls-color;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        cursor: pointer;
        padding: 5px;
    }

    .CountrySearchResults {
        overflow-y: scroll;
    }

    .CovidDataExplorerControlBar {
        display: flex;
        justify-content: space-between;
        background: white;
        border-radius: $chart-border-radius;
        box-shadow: $light-shadow;
        padding: 8px 14px;

        .CovidDataExplorerControl {
            display: flex;
            flex-direction: column;
            font-size: 13px;
            color: #7a899e;
            line-height: 26px;

            input {
                margin-right: 5px;
            }

            .ControlHeader {
                font-size: 11px;
                text-transform: uppercase;
            }

            .SelectedOption {
                color: #243d60;
            }
        }
    }

    .CovidDataExplorerFigure {
        display: flex;
        justify-content: center;
        position: relative;
        min-height: 600px;

        // Remove chart from layout calculation.
        // Since grid/flex layouts size to their contents, having the chart dictate that leads to
        // a very slow adaptations to resizing.
        .chart {
            position: absolute;
        }
    }

    &.mobile-explorer {
        grid-template-columns: auto;
        grid-template-rows: 0fr 0fr 0fr 1fr;

        .CountryList {
            min-height: 200px;
            height: 45vh;
        }

        .CovidDataExplorerControlBar {
            .mobile-button {
                margin: 12px 0;
                display: block;
            }

            flex-direction: column;
            position: fixed;
            left: 0;
            right: 0;
            z-index: 100;
            border-radius: 0;

            &.show-controls-popup {
                bottom: 0;
                animation-name: slideUp;
                animation-duration: 0.5s;
                transition-timing-function: cubic-bezier();
                animation-iteration-count: 1;
                box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
            }

            &.hide-controls-popup {
                bottom: -150%;
                animation-name: slideDown;
                animation-duration: 0.5s;
                transition-timing-function: cubic-bezier();
                animation-iteration-count: 1;
            }
        }

        .CovidDataExplorerFigure {
            min-height: 480px;
        }
    }
}

.CountryPicker {
    display: flex;
    flex-direction: column;
}

.CountryOption {
    display: flex;
    align-items: center;
    padding: 10px;
    line-height: 1.3;
    border-bottom: 1px solid $primary-color-200;
    font-size: 15px;
    cursor: pointer;
    color: $text-color;
    background-color: $primary-color-50;
    user-select: none;
    position: relative;

    &.selected {
        background-color: #fff;
        font-weight: bold;
        z-index: 1;
    }

    &.focused {
        background-color: $primary-color-30;
    }

    .input-container {
        flex: 0;
        margin-right: 6px;
        align-items: center;
    }

    .info-container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .labels-container {
        flex: 1;
        display: flex;
    }

    .name {
        flex: 1;
    }

    mark {
        font-weight: 600;
        background-color: #f9eec6;
        border-radius: 2px;
    }

    .color-marker-container {
        position: absolute;
        top: 6px;
        right: 0;
        bottom: 6px;
        display: flex;
        align-items: center;
    }

    .color-marker {
        width: 3px;
        height: 100%;
    }

    .metric {
        flex: 0;
        font-size: 14px;
        font-weight: 400;
        color: $primary-color-500;
    }

    .plot {
        position: absolute;
        left: 0;
        right: 10px;
        bottom: 0;
    }

    .bar {
        height: 3px;
        background-color: $primary-color-300;
    }
}

.CovidSearchInput {
    flex: 0;
    position: relative;
    color: $primary-color-800;

    .input-field {
        width: 100%;
        border: none;
        background-color: #fff;
        border-radius: 3px;
        border: none;
        box-shadow: $light-shadow;
        padding: 11px 10px;
        padding-left: 2em;
        outline: none;
        color: inherit;
        font-weight: 700;
        position: relative;
        z-index: 1;

        // Mobile Safari ignores box-shadow if we don't reset the appearance.
        -webkit-appearance: none;

        &::placeholder {
            color: inherit;
            transition: opacity 150ms ease;
        }
        &:focus::placeholder {
            opacity: 0.25;
        }

        &.with-done-button {
            padding-right: 4em;
        }
    }

    .search-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        font-size: 14px;
        display: flex;
        align-items: center;
        pointer-events: none;
        z-index: 2;
    }

    .done {
        position: absolute;
        top: 0;
        right: 6px;
        bottom: 0;
        display: flex;
        align-items: center;
        z-index: 2;

        button {
            background-color: $primary-color;
            padding: 8px 12px;
            font-size: 14px;
            color: white;
            border-radius: 3px;
            border: none;
        }
    }
}

#covidDataExplorerContainer {
    min-height: $placeholder-height;
    width: 100%;
    position: relative;
    padding: 8px;
}

@keyframes slideUp {
    0% {
        bottom: -150%;
    }

    100% {
        bottom: 0;
    }
}

@keyframes slideDown {
    0% {
        bottom: 0%;
    }

    100% {
        bottom: -150%;
    }
}
