.checkbox {
    $checkbox-size: 16px;

    $light-stroke: #dadada;
    $hover-stroke: #a4b6ca;
    $active-fill: #dbe5f0;

    position: relative;

    input {
        position: absolute;
        opacity: 0;
        left: 0;
        cursor: pointer;
    }

    .custom {
        position: absolute;
        left: 0;
        top: 0;
        content: " ";
        width: $checkbox-size;
        height: $checkbox-size;

        background: white;
        pointer-events: none;
        border-radius: 2px;
        border: 1px solid $light-stroke;
        color: $dark-text;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            font-size: 10px;
            padding-left: 0.75px;
            color: $active-text;
        }
    }

    input:active + .custom {
        background: $active-fill;
    }

    input:checked + .custom {
        background: $active-fill;
        border-color: $active-fill;
    }

    input:checked:active + .custom {
        background: white;
    }

    .label {
        padding-left: $checkbox-size + 8px;
        cursor: pointer;
        font-size: 14px;
        letter-spacing: 0.01em;
        line-height: 1.15;
    }

    &:hover {
        input:not(:checked) + .custom {
            border-color: $hover-stroke;
        }
    }
}
