.GrapherTrendArrow {
    $grey: #787878;
    $red: #cc3b55;
    $green: #2c8465;

    fill: $grey;
    &.colored.up path {
        fill: $green;
    }
    &.colored.down path {
        fill: $red;
    }
    &.colored.right path {
        fill: $grey;
    }
}
