
.datatree {
    position: relative;
    display: block;
    list-style: none;
    margin-top: 1px; /* compensate margin-top: -1 of datatree-item */
}

.datatree-list {
    display: block;
    position: relative;
    padding: 0;
    list-style: none;
}

.datatree-list .datatree-list {
    padding-left: 30px;
}

.datatree-collapsed .datatree-list {
    display: none;
}

.datatree-item,
.datatree-empty,
.datatree-placeholder {
    display: block;
    position: relative;
    min-height: 20px;
    font-size: 13px;
}

.datatree-handle {
    display: block;
    padding: 8px 10px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    background: #fff;
}

.datatree-item {
    margin-top: -1px;
}

.datatree-handle:hover {
    color: #2ea8e5;
    background: #fafafa;
}

.datatree-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 9px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.datatree-item > button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.datatree-item > button[data-action="collapse"]:before {
    content: '-';
}

.datatree-placeholder,
.datatree-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
}

.datatree-empty {
    border: 1px dashed #d8d8d8;
    background: #ddd;
    padding: 8px 10px;
    min-height: 100px;
    padding-top: 30px;
    font-style: italic;
    text-align: center;
}

.datatree-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.datatree-dragel > .datatree-item .datatree-handle {
    margin-top: 0;
}

.datatree-dragel .datatree-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

@media only screen and (min-width: 700px) {

    /*.datatree {*/
    /*float: left;*/
    /*width: 48%;*/
    /*}*/

    /*.datatree + .datatree {*/
    /*margin-left: 2%;*/
    /*}*/

}

.datatree-item [data-field-name=_edit]
{
    float: right !important;
}