.expandable-inline-block {
    button {
        background-color: $primary-color-100;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0.25rem;
        color: $primary-color;
        transition: all 150ms;
        &:hover {
            background-color: $primary-color-200;
        }
    }
}
