html, body {
	width: 100%;
	height: 100%;
}
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.flash {
	margin: 10px;
}

/* ==========================================================================
   Header
   ========================================================================== */

.main-header {
	color: white;
	/*box-shadow: -1px 2px 3px rgba(0,0,0,0.25);*/
}
	.main-header h1 {
		margin: 13px 30px;
		text-transform: uppercase;
		font-size: 22px;
	}

/* ==========================================================================
   Content wrapper - layout
   ========================================================================== */
.content-wrapper {
	/*margin: 0;
	padding: 0;*/
}

.chart-wrapper, .form-wrapper {
	padding: 0;
}
	.chart-wrapper-inner, .form-wrapper-inner {
		position: relative;
		overflow: auto;
		height: 100%;
	}

/* ==========================================================================
  Chart
   ========================================================================== */
.chart-wrapper {
	background-color: #ffffff;
}
.chart-wrapper-inner {
	padding: 0px 50px 50px;
}
	.chart-wrapper .chart-name {
		margin-top: 40px;
	}
	.chart-wrapper svg {
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;	
	}
	.chart-wrapper .chart-description {
		position: absolute;
		bottom: 30px;
	}

/* ==========================================================================
  Form
   ========================================================================== */
.form-wrapper {
	overflow: auto;
	/*box-shadow: -1px 2px 3px rgba(0,0,0,0.25) !important;*/
	border-left: 1px solid gray;
}
.form-wrapper-inner {}
	.form-section {
		padding: 15px 30px 30px;
	}
		.form-section:nth-child(2n) {
			background-color: #d2d6de;
		}
		.form-section-header {}
			.form-section-digit {
				display: inline-block;
				margin-right: 20px;
				padding: 9px 16px;
				font-size: 24px;
				font-weight: 700;
				color: white;
				background-color: #3c8dbc;
				border-radius: 50%;
			}
				.form-section:nth-child(2n) .form-section-digit {
					background-color: #357ca5;
				}
		.form-section-content {
			margin-left: 65px;
			margin-right: 40px;
			padding: 10px 0px;
		}
		.form-section-desc {
			font-style: italic;
		}
		.file-picker-wrapper {
			position: relative;
			background-color: #ecf0f5;
		}
			.file-picker-wrapper input {
				width: 100%;
				padding: 20px;
			}

			.remove-uploaded-file-btn {
				position: absolute;
				top: 8px;
				right: 16px;
				font-size: 32px;
				color: #dd4b39;
			}
				.remove-uploaded-file-btn:hover {
					color: #d33724;
				}

		/* override ugly chosen */
		.chosen-container-single .chosen-single {
			background-color: #ffffff !important;
		}

		button[type="submit"] {
			margin: 20px 0px 0px;
		}
		
		.form-section-submit {
			background-color: #222d32 !important;
		}

		.form-wrapper textarea {
			width: 100%;
			padding: 10px;
		}

.selected-countries-box {
	margin: 20px 0px;
	padding: 0;
}	
.country-label {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px 20px;
	background-color: #bbb;
	cursor: pointer;
}
	.country-label .fa {
		margin-right: -10px;
		margin-left: 10px;
		color: #ffffff;
		cursor: pointer;
	}
		.country-label .fa:hover {
			color: #000000;
		}

/**
* popup picker
**/
.popup-picker-wrapper {
	position: absolute;
	top: 0px;
	left: 101px;
	width: 105px;
	padding: 10px;
	background-color: #666;
	z-index: 100;
}
	.popup-picker-wrapper ul {
		padding-left: 0px;
	}
	.popup-picker-wrapper li {
		float: left;
		width: 14px;
		height: 14px;
		margin: 0px 3px 3px 0px;
	}
		.popup-picker-wrapper li:hover {
			border: 1px solid white;
		}
	.popup-picker-wrapper::before {
		position: absolute;
		top: 10px;
		left: -20px;
		content: "";
		width: 10px;
		height: 10px;
		border: 10px solid transparent;
		border-right: 10px solid #666;
	}

/* override ion range slider default */
.irs {
	height: 70px;
	margin: 40px 0px 0px;
}
.irs-line, .irs-bar {
	top: 35px;
}
.irs-slider {
	top: 32px;
}
.irs-from, .irs-to, .irs-single {
	font-size: 20px;
	border-radius: 0;
}
.irs-min, .irs-max {
	font-size: 17px;
}
.irs-grid-text {
	font-size: 15px;
}

/*.irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider {
	background: url("../img/sprite-skin-flat.png") repeat-x;
}*/


/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
	display: none !important;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.no-bullets {
	list-style-type: none;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 1.25dppx),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
