@at-root {
    .EntitySelector {
        $light-stroke: #e7e7e7;
        $active-fill: #dbe5f0;

        text-align: left;
        margin: 0 var(--modal-padding, 16px) var(--modal-padding, 16px);

        ul {
            margin: 0;
            padding: 0;
            font-size: 0.8125em;
        }

        li {
            list-style-type: none;
        }

        .searchBar {
            display: flex;
            position: sticky;
            top: 0;
            left: 0;
            background-color: #fff;
            z-index: 1;
        }

        .searchInput {
            flex-grow: 1;

            // search icon
            $svg-margin-left: 8px;
            $svg-size: 12px;

            $placeholder: #a1a1a1;
            $focus-outline: 2px solid $controls-color;

            svg {
                position: absolute;
                top: 50%;
                left: $svg-margin-left;
                color: $light-text;
                transform: translateY(-50%);
                font-size: $svg-size;
                font-weight: 900;
            }

            input[type="search"] {
                width: 100%;
                height: 32px;
                font-size: 0.8125em;
                border: 1px solid $light-stroke;
                padding-left: $svg-margin-left + $svg-size + 4px;
                padding-right: 1em;
                border-radius: 4px;

                // style placeholder text in search input
                &::placeholder {
                    color: $placeholder;
                    opacity: 1; /* Firefox */
                }
                &:-ms-input-placeholder {
                    color: $placeholder;
                }
                &::-ms-input-placeholder {
                    color: $placeholder;
                }

                // style focus state
                &:focus {
                    outline: $focus-outline;
                }
                &:focus:not(:focus-visible) {
                    outline: none;
                }
                &:focus-visible {
                    outline: $focus-outline;
                }
            }
        }

        .searchResults .empty {
            font-size: 0.8125em;
        }

        &.EntitySelectorSingle {
            ul {
                margin-top: 8px;
            }

            li {
                color: $dark-text;
                cursor: pointer;
                padding: 12px 16px;
                border-bottom: 1px solid $light-stroke;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:last-child {
                    border-bottom: none;
                }

                &.selected,
                &:hover {
                    background-color: $active-fill;
                    color: $active-text;
                }

                svg {
                    color: $active-text;
                    font-size: 12px;
                    font-weight: 900;
                }
            }

            .searchResults .empty {
                margin-top: 1.5em;
            }
        }

        &.EntitySelectorMulti {
            .searchInput {
                max-width: 75%;
            }

            .entities {
                margin-top: 1.5em;
                display: flex;
                justify-content: space-between;
            }

            .selectedData {
                min-width: 25%;
                padding-left: 1em;

                .selectedLabel {
                    color: #a1a1a1;
                    font-size: 0.8125em;
                    font-weight: 700;
                    margin: 0;
                    margin-bottom: 1em;
                }
            }

            .searchResults {
                width: 100%;
            }

            li + li {
                margin-top: 1em;
            }

            .clearSelection {
                font-size: 0.8125em;
                padding: 0;
                margin-left: 16px;
                color: $dark-text;
                font-weight: 500;
                text-decoration: underline;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
