#charts-index-page-root {
}

.data-catalog-header {
    background-color: $blue-5;
    margin-bottom: 24px;
    padding-bottom: 24px;
}

.data-catalog-search-form {
    position: relative;
}

.data-catalog-breadcrumbs {
    margin-bottom: 16px;
}

.data-catalog-breadcrumb {
    margin-left: 8px;
    display: inline-block;
    color: $blue-60;
    a {
        @include owid-link-90;
        &:visited {
            color: $blue-90;
        }
    }
    svg {
        margin-right: 8px;
    }
}

.data-catalog-facets {
    margin-bottom: 16px;
}

.data-catalog-facets-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.data-catalog-facets-list-item {
    margin-right: 8px;
    border: 1px solid $blue-20;
    border-radius: 50px;
    margin-bottom: 4px;
    &:hover {
        border-color: $blue-40;
    }

    &.ais-RefinementList-item--selected {
        background-color: $blue-20;
    }
}

.data-catalog-facets-list-item__checkbox {
    display: none;
}

.data-catalog-facets-list-item__label {
    cursor: pointer;
    padding: 2px 4px;
    display: inline-block;
}

.data-catalog-facets-list-item__label-text {
    @include body-3-medium;
    margin-left: 8px;
}

.data-catalog-facets-list-item__count {
    margin-left: 8px;
    background-color: $blue-10;
    font-size: 0.75rem;
    color: $blue-90;
    border-radius: 50px;
    padding: 4px 8px;
}

.data-catalog-ribbon {
    background-color: $blue-5;
    padding: 24px;
    margin-bottom: 24px;
}

.data-catalog-ribbon__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    h2 {
        margin: 0;
    }
    a {
        line-height: 38.4px;
        margin-right: 16px;
    }
}
.data-catalog-ribbon-hits {
}
.data-catalog-ribbon-hit {
}
.data-catalog-search-list,
.data-catalog-ribbon-list {
    list-style: none;
    grid-gap: var(--grid-gap);
}

.data-catalog-search-thumbnail,
.data-catalog-ribbon-thumbnail {
    img {
        width: 100%;
    }
    p {
        margin: 0;
        color: $blue-90;
    }
    &:hover {
        p {
            text-decoration: underline;
        }
    }
}
