@use "sass:math";

.DataPageContent__grapher-for-embed {
    display: none;
}

.DataPageContent {
    .header__wrapper {
        padding-top: 24px;

        @include sm-up {
            padding-top: 48px;
            padding-bottom: 0;
        }
    }

    .header__left {
        margin-bottom: 16px;

        @include sm-up {
            margin-bottom: 40px;
        }
    }

    .bg-blue-10 {
        background-color: $blue-10;
    }

    .header__supertitle {
        @include overline-black-caps;
        color: $blue-50;

        @include sm-only {
            font-size: 0.625rem;
        }
    }

    .header__title {
        @include display-2-semibold;
        display: inline;
        margin: 0 16px 0 0;

        @include sm-only {
            font-size: 2rem;
            line-height: 1.125;
        }
    }

    .header__source {
        display: inline-block;
        @include body-1-regular;
        color: $blue-50;

        @include sm-only {
            font-size: 1rem;
            line-height: 1.5;
        }
    }

    .header__right {
        margin-bottom: 16px;
        padding-left: 24px;
        border-left: 1px solid $blue-20;
        align-self: start;

        @include sm-only {
            display: none;
        }
    }

    .sticky-nav-container {
        @include sm-only {
            border-top: 1px solid $blue-20;
        }
    }

    .chart-key-info {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 48px;
        @include sm-up {
            padding-top: 24px;
            padding-bottom: 80px;
        }
    }

    .full-width--border {
        border-bottom: 1px solid $blue-20;
    }

    .GrapherWithFallback {
        margin-bottom: 24px;
        @include sm-up {
            margin-bottom: 40px;
        }
        @include grid(12);

        figure[data-grapher-src],
        figure.GrapherWithFallback__fallback,
        figure.grapher-component {
            grid-column: span 12;
            margin: 0;

            // grapher sizing roughly follows the strategy used on standalone grapher pages,
            // outlined in site/css/chart.scss. some adjustments have been made.
            // in particular, on data pages, we want to make sure that the content
            // below the grapher chart is always partly visible.

            // landscape values – slightly adjusted from site/css/chart.scss
            $orientation-width: 680px;
            $orientation-height: 380px;
            $ideal-ratio: math.div($orientation-width, $orientation-height);

            min-height: 540px;

            // on small viewports, use the full available height
            // but leave space for the mobile header and some more space
            // to make content below the chart visible
            height: calc(100vh - $header-height-sm - 110px);

            // prevent the chart from growing too tall
            max-height: 150vw;

            // use ratio-preserving sizing but make sure the chart
            // doesn't cover the full viewport height
            @include sm-up {
                height: #{math.div(1, $ideal-ratio) * 100}vw;
                max-height: calc(100vh - $header-height-sm - 110px);
            }

            // on large viewports, use a fixed height
            @include lg-up {
                height: 680px;
                max-height: 680px;
            }
        }

        .GrapherWithFallback__fallback {
            display: flex;
            flex-direction: column;
            img {
                margin: auto;
            }
        }
    }

    .section-wrapper {
        padding-top: 32px;
        padding-bottom: 32px;
        @include sm-up {
            padding-top: 48px;
            padding-bottom: 48px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $blue-20;
        }
    }

    .related-research__title {
        @include datapage-section-title;
        @include lg-up {
            margin-bottom: 0px;
        }
    }

    .related-research__items {
        row-gap: 24px;
    }

    .related-research__item {
        &:hover h3 {
            text-decoration: underline;
        }
    }

    .related-article__title {
        @include h3-bold;
        margin: 0;
        color: $blue-90;
    }

    .related-article__authors {
        color: $blue-50;
    }

    .section-wrapper__related-charts {
        .related-charts {
            margin-bottom: 0;
        }

        figure[data-grapher-src],
        figure.grapher-component {
            height: $grapher-height;
        }
    }

    .related-charts__title {
        @include datapage-section-title;
    }

    .wp-code-snippet {
        margin-bottom: 16px;
    }

    .simple-markdown-text {
        @include body-3-medium;

        a {
            @include owid-link-60;
            color: inherit;
        }
    }
}

/*
CSS for A/B experiments  

CSS pattern for hiding/showing elements based on visitor's assignment to an experiment:

Elements to be shown for an experimental arm should be given a class such as "exp-data-page-insight-links--t0__block",
following the format "exp-{experimentId}--{armId}__block". If the visitor is assigned to that arm,
the html body will contain the "exp-data-page-insight-links--t0" class, which is how we then
determine whether to show or hide the elements.

To implement this show/hide logic for an experiment, you must add the following css code.
This will hide all elements associated with the experiment, except for elements
that match the experimental arm the visitor is assigned to.

The logic is that all elements with "exp-{experimentId}--{armId}__block" classes are hidden, except those
that match the body's "exp-{experimentId}--{armId1}" class (which indicates the visitor's
experimental arm assignment).

body {
    .exp-{experimentId}--{armId1}__block,
    .exp-{experimentId}--{armId2}__block {
        display: none;
    }
    &.exp-{experimentId}--{armId1} .exp-{experimentId}--{armId1}__block,
    &.exp-{experimentId}--{armId2} .exp-{experimentId}--{armId2}__block {
        display: block;
    }
}

Note: make sure any additional css you write for experimental elements is scoped
to the experiment and arm, so that it doesn't unintentionally affect other elements.

Example:
.exp-{experimentId}--{armId} {
    .my-btn {
        padding: 1rem;
        ...
    }
}
*/

/* experiments: exp-data-page-insight-buttons-basic, exp-data-page-insight-buttons-full */
body {
    .exp-data-page-insight-buttons-basic--c1__block,
    .exp-data-page-insight-buttons-basic--t0__block,
    .exp-data-page-insight-buttons-basic--t1__block,
    .exp-data-page-insight-buttons-full--c1__block,
    .exp-data-page-insight-buttons-full--t000__block,
    .exp-data-page-insight-buttons-full--t010__block,
    .exp-data-page-insight-buttons-full--t100__block,
    .exp-data-page-insight-buttons-full--t110__block,
    .exp-data-page-insight-buttons-full--t101__block,
    .exp-data-page-insight-buttons-full--t200__block,
    .exp-data-page-insight-buttons-full--t210__block,
    .exp-data-page-insight-buttons-full--t201__block,
    .exp-data-page-insight-buttons-full--t211__block {
        display: none;

        // add .exp-hide to elements that are shown by default but which you want
        // to hide for an experimental arm (must also include experimental arm in
        // the element's class names, e.g. "exp-data-page-insight-buttons-basic--t0__block exp-hide")
        &.exp-hide {
            display: block;
        }
    }

    &.exp-data-page-insight-buttons-basic--c1
        .exp-data-page-insight-buttons-basic--c1__block,
    &.exp-data-page-insight-buttons-basic--t0
        .exp-data-page-insight-buttons-basic--t0__block,
    &.exp-data-page-insight-buttons-basic--t1
        .exp-data-page-insight-buttons-basic--t1__block,
    &.exp-data-page-insight-buttons-full--c1
        .exp-data-page-insight-buttons-full--c1__block,
    &.exp-data-page-insight-buttons-full--t000
        .exp-data-page-insight-buttons-full--t000__block,
    &.exp-data-page-insight-buttons-full--t010
        .exp-data-page-insight-buttons-full--t010__block,
    &.exp-data-page-insight-buttons-full--t100
        .exp-data-page-insight-buttons-full--t100__block,
    &.exp-data-page-insight-buttons-full--t110
        .exp-data-page-insight-buttons-full--t110__block,
    &.exp-data-page-insight-buttons-full--t101
        .exp-data-page-insight-buttons-full--t101__block,
    &.exp-data-page-insight-buttons-full--t200
        .exp-data-page-insight-buttons-full--t200__block,
    &.exp-data-page-insight-buttons-full--t210
        .exp-data-page-insight-buttons-full--t210,
    &.exp-data-page-insight-buttons-full--t201
        .exp-data-page-insight-buttons-full--t201__block,
    &.exp-data-page-insight-buttons-full--t211
        .exp-data-page-insight-buttons-full--t211__block {
        display: block;

        margin-bottom: 24px;
        @include sm-up {
            margin-bottom: 40px;
        }

        &.exp-hide {
            display: none !important;
        }

        &.grid {
            display: grid;
        }
    }

    &.exp-data-page-insight-buttons-basic--c1,
    &.exp-data-page-insight-buttons-basic--t0,
    &.exp-data-page-insight-buttons-basic--t1,
    &.exp-data-page-insight-buttons-full--c1,
    &.exp-data-page-insight-buttons-full--t000,
    &.exp-data-page-insight-buttons-full--t010,
    &.exp-data-page-insight-buttons-full--t100,
    &.exp-data-page-insight-buttons-full--t110,
    &.exp-data-page-insight-buttons-full--t101,
    &.exp-data-page-insight-buttons-full--t200,
    &.exp-data-page-insight-buttons-full--t210,
    &.exp-data-page-insight-buttons-full--t201,
    &.exp-data-page-insight-buttons-full--t211 {
        .DataPageContent {
            .chart-key-info {
                padding-bottom: 0;
                @include sm-up {
                    padding-bottom: 0;
                }
            }
            .insight-links {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            .insights-link {
                padding: 12px 24px;
                &.has-thumbnail {
                    text-align: left;
                }
            }

            .insights__title {
                @include h2-bold;
                margin: 24px 0 16px;

                @include sm-up {
                    margin: 24px 0 24px;
                }
            }

            .insight__type {
                @include h5-black-caps;

                @include md-down {
                    @include h6-black-caps;
                }

                margin-bottom: 4px;
                margin-top: 0;
                color: $blue-20;
            }

            .insight__title {
                margin: 0;

                @include subtitle-2-bold;

                @include md-down {
                    font-size: 18px;
                }
            }
        }
    }
}
