html.IsInIframe body.DataPage {
    // GrapherWithFallback
    figure[data-grapher-src] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        margin: 0;
    }

    @include hide-site-chrome;
}
