html.IsInIframe body.DataPage {
    .DataPageContent__grapher-for-embed {
        display: block;
    }

    .DataPageContent {
        display: none;
    }

    // GrapherWithFallback
    figure[data-grapher-src],
    figure[data-grapher-component] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        margin: 0;
    }

    @include hide-site-chrome;
}

.DataPage__edit-links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 8px 16px;
    background-color: $blue-10;
}

.DataPage__edit-link {
    font-size: 0.8rem;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
