html.IsInIframe body.DataPage {
    .DataPageContent__grapher-for-embed {
        display: block;
    }

    .DataPageContent {
        display: none;
    }

    // GrapherWithFallback
    figure[data-grapher-src] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        margin: 0;
    }

    @include hide-site-chrome;
}
