#charts-index-page-root {
}

.data-catalog-header {
    background-color: $blue-5;
    margin-bottom: 24px;
    padding-bottom: 24px;
}

.data-catalog-search-form {
    position: relative;
}

.data-catalog-breadcrumb {
    margin-left: 8px;
    display: inline-block;
    svg {
        margin-right: 8px;
    }
    a {
        color: $blue-60;
    }
}

.data-catalog-ribbon {
    background-color: $blue-5;
    padding: 24px;
    margin-bottom: 24px;
}

.data-catalog-ribbon__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    h2 {
        margin: 0;
    }
    a {
        line-height: 38.4px;
        margin-right: 16px;
    }
}
.data-catalog-ribbon-hits {
}
.data-catalog-ribbon-hit {
}
.data-catalog-search-list,
.data-catalog-ribbon-list {
    list-style: none;
    grid-gap: var(--grid-gap);
}

.data-catalog-search-thumbnail,
.data-catalog-ribbon-thumbnail {
    img {
        width: 100%;
    }
    p {
        margin: 0;
        color: $blue-90;
    }
    &:hover {
        p {
            text-decoration: underline;
        }
    }
}
