@use "sass:math";

.DataPageContent__grapher-for-embed {
    display: none;
}

.DataPageContent {
    .header__wrapper {
        padding-top: 24px;
        padding-bottom: 24px;

        @include sm-up {
            padding-top: 48px;
            padding-bottom: 40px;
        }
    }

    .bg-blue-10 {
        background-color: $blue-10;
    }

    .header__supertitle {
        @include overline-black-caps;
        color: $blue-50;
    }
    .header__title {
        @include display-2-semibold;
        display: inline;
        margin: 0 16px 0 0;
    }
    .header__source {
        display: inline-block;
        @include body-1-regular;
        color: $blue-50;
    }

    .header__right {
        @include sm-only {
            padding-top: 24px;
            padding-bottom: 24px;
            margin-top: 24px;
            border-top: 1px solid $blue-20;
            border-bottom: 1px solid $blue-20;
        }
        @include sm-up {
            padding-left: 24px;
            border-left: 1px solid $blue-20;
            align-self: start;
        }
    }

    .topic-tags__label {
        margin-bottom: 16px;
        @include overline-black-caps;
        color: $blue-50;
    }

    .topic-tags {
        @include gap-wrap(12px, 16px);

        a {
            background-color: $white;
            border-radius: 24px;
            padding: 6px 16px;
            @include body-3-medium;
            color: $blue-90;

            &:hover {
                color: $blue-60;
            }
        }
    }

    .chart-key-info {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $blue-20;
        padding-top: 16px;
        padding-bottom: 48px;
        @include sm-up {
            padding-top: 24px;
            padding-bottom: 80px;
        }
    }

    .GrapherWithFallback {
        margin-bottom: 24px;
        @include sm-up {
            margin-bottom: 40px;
        }
        width: 100%;
        @include grid(12);

        figure[data-grapher-src] {
            grid-column: span 12;
            margin: 0;

            // grapher sizing roughly follows the strategy used on standalone grapher pages,
            // outlined in site/css/chart.scss. some adjustments have been made.
            // in particular, on data pages, we want to make sure that the content
            // below the grapher chart is always partly visible.

            // landscape values – slightly adjusted from site/css/chart.scss
            $orientation-width: 680px;
            $orientation-height: 380px;
            $ideal-ratio: math.div($orientation-width, $orientation-height);

            min-height: 540px;

            // on small viewports, use the full available height
            // but leave space for the mobile header and some more space
            // to make content below the chart visible
            height: calc(100vh - $header-height-sm - 110px);

            // prevent the chart from growing too tall
            max-height: 150vw;

            // use ratio-preserving sizing but make sure the chart
            // doesn't cover the full viewport height
            @include sm-up {
                height: #{math.div(1, $ideal-ratio) * 100}vw;
                min-height: $orientation-height;
                max-height: calc(100vh - $header-height-sm - 110px);
            }

            // on large viewports, use a fixed height
            @include lg-up {
                height: 680px;
                max-height: 680px;
            }
        }

        .GrapherWithFallback__fallback {
            display: flex;
            flex-direction: column;
            img {
                margin: auto;
            }
        }
    }

    .bg-gray-10 {
        background-color: $gray-10;
    }

    .section-wrapper {
        padding-top: 32px;
        padding-bottom: 32px;
        @include sm-up {
            padding-top: 48px;
            padding-bottom: 48px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $blue-20;
        }
    }

    .related-research__title {
        @include datapage-section-title;
        @include lg-up {
            margin-bottom: 0px;
        }
    }

    .related-research__items {
        row-gap: 24px;
    }

    .related-research__item {
        &:hover h3 {
            text-decoration: underline;
        }
    }

    .related-article__title {
        @include h3-bold;
        margin: 0;
        color: $blue-90;
    }

    .related-article__authors {
        color: $blue-50;
    }

    .related-data__title {
        @include datapage-section-title;
        @include lg-up {
            margin-bottom: 0px;
        }
    }

    .related-data__items--two-cols {
        @include sm-only {
            overflow-x: auto;
            grid-template-columns: repeat(6, 80px);
            padding-bottom: 16px;
        }
    }

    .related-data__category--grid {
        display: grid;
        height: fit-content;
        row-gap: 24px;
    }

    .related-data__category--columns {
        @include sm-up {
            columns: 2;
            column-gap: var(--grid-gap);
        }
        .related-data-item {
            margin-bottom: 24px;
            display: block;
            break-inside: avoid;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .related-data-item--medium {
        padding: 24px;
        background-color: $blue-10;
        transition: background-color 0.1s;
        &:hover {
            background-color: $blue-20;
        }
        .related-data-item__title {
            @include h3-bold;
            margin: 0;
            color: $blue-90;
        }
    }

    .related-data-item--small {
        .related-data-item__title {
            @include h4-semibold;
            margin: 0;
            color: $blue-90;
        }

        &:hover .related-data-item__title {
            text-decoration: underline;
        }

        .related-data-item__source {
            @include body-3-medium;
            color: $blue-60;
            margin-top: 4px;
        }
    }

    .related-data-item__type {
        @include overline-black-caps;
        color: $blue-50;
        margin-bottom: 8px;
    }

    .related-data-item__source {
        @include h3-bold;
        color: $blue-50;
        margin: 0;
    }

    .related-data-item__content {
        @include body-3-medium;
        color: $blue-60;
        margin-top: 8px;
    }

    .section-wrapper__related-charts {
        .related-charts {
            margin-bottom: 0;
        }

        figure[data-grapher-src] {
            height: 575px;
        }
    }

    .data-sources-processing__title,
    .related-charts__title {
        @include datapage-section-title;
    }

    .section-wrapper__faqs {
        .article-block__text,
        .article-block__list,
        .article-block__html,
        .article-block__numbered-list {
            @include body-2-regular;
            color: $blue-60;
        }
    }

    .faqs__title {
        @include datapage-section-title;
        @include md-up {
            margin-bottom: 0px;
        }
    }

    .faqs__items {
        > *:first-child {
            margin-top: 0;
        }
        h3 {
            margin: 24px 0 16px;
        }
    }
    .data-sources {
        .article-block__text,
        .article-block__list,
        .article-block__html,
        .article-block__numbered-list {
            @include body-3-medium;
        }
    }

    .data-sources__heading,
    .data-processing__heading,
    .citations__heading {
        @include h3-bold;
        margin: 0 0 24px;
    }

    .data-processing {
        margin-top: 32px;
    }

    .reuse__content {
        margin-bottom: 24px;
    }

    .reuse__content {
        margin-left: 16px;
    }

    .reuse__list-item,
    .citation__paragraph {
        @include body-3-medium;
        margin: 0 0 16px;
    }

    .citation__how-to-header {
        @include overline-black-caps;
        text-transform: uppercase;
        margin: 0 0 8px;
    }

    .reuse__title {
        @include datapage-section-title;
    }

    .reuse__content,
    .citation__paragraph {
        color: $blue-60;
    }

    .reuse__link {
        @include owid-link-60;
    }

    .citations {
        margin-top: 16px;
    }

    .citations-section {
        &:first-child {
            margin-bottom: 32px;
        }
        &:not(:first-child) {
            padding-top: 32px;
            border-top: 1px solid $blue-20;
        }
    }

    .citation__how-to-header--data {
        margin-bottom: 16px;
    }

    .citation__type {
        color: $blue-90;
    }

    .wp-code-snippet {
        margin-bottom: 16px;
    }

    .simple-markdown-text {
        @include body-3-medium;

        a {
            @include owid-link-60;
            color: inherit;
        }
    }
}
