.dod-container {
    padding: 16px;

    > p.article-block__text:first-child {
        font-weight: bold;
        font-size: 1rem;
    }

    > p.article-block__text:not(:first-child) {
        margin-top: 8px;
        font-size: 0.875rem;
    }
}

// Need to overwrite the Grapher styles
.GrapherComponent .dod-container a.span-link {
    @include owid-link-60;
}

.dod-span {
    color: inherit;
    border-bottom: 1px dotted #1d3d63;

    span {
        pointer-events: none;
    }
}
