.ExpandableAnimatedToggle {
    border-top: 1px solid #d0dae3;
    border-bottom: 1px solid #d0dae3;
    padding: 0 8px;
    > button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 12px 0;
        color: $blue-90;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    h4 {
        @include h4-semibold;
        margin: 0;
    }
    svg {
        font-size: 0.75em;
        margin: 0 12px;
    }
    .content {
        padding-bottom: 12px;
    }
}
