/*
CSS for A/B experiments

CSS patterns for hiding/showing elements based on visitor's assignment to an experiment.
When a visitor is assigned to an experimental arm, the html body is given a class corresponding
to the experiment+arm assignment: "{experimentId}--{armId}" (e.g. "exp-data-page-insight-links--treat1").

Then, we conditionally show/hide blocks of content when this class is present on the body.
Blocks with matching "{experimentId}--{armId}--show" are shown, while blocks with matching
"{experimentId}--{armId}--hide" are hidden.

By default when a user is NOT assigned to {armId}, blocks with "{experimentId}--{armId}--show"
are hidden, while blocks with "{experimentId}--{armId}--hide" are shown.
*/

@use "sass:map";

$experiments: (
    exp-data-page-insight-btns-2: (
        control1,
        treat00,
        treat10,
        treat01,
        treat11,
        treat20,
        treat21,
    ),
    exp-all-charts-vs-featured-v1: (
        all-charts,
        featured-metrics,
    ),
);

@each $exp, $arms in $experiments {
    .#{$exp} {
        @each $a in $arms {
            // default state: all --show are hidden
            &--#{$a}--show {
                display: none;
            }

            // when arm is active, show the matching --show
            &--#{$a} &--#{$a}--show {
                display: block;

                &.grid {
                    display: grid;
                }
                margin-bottom: 24px;

                @include sm-up {
                    margin-bottom: 40px;
                }
            }

            // when arm is active, hide the matching --hide
            &--#{$a} &--#{$a}--hide {
                display: none;
            }
        }
    }
}

// styles specific to experiment exp-all-charts-vs-featured-v1
.exp-all-charts-vs-featured-v1 {
    $arms: map.get($experiments, exp-all-charts-vs-featured-v1);
    @each $a in $arms {
        &--#{$a} .DataPageContent {
            .section-wrapper__related-charts {
                border-bottom: none !important;
            }
            .featured-metrics__title {
                @include datapage-section-title;
            }
        }

        &--#{$a} .article-block__featured-metrics > h1 {
            text-align: left;
        }
    }
}

// styles specific to experiment exp-data-page-insight-btns-2
.exp-data-page-insight-btns-2 {
    $arms: map.get($experiments, exp-data-page-insight-btns-2);
    @each $a in $arms {
        &--#{$a} .DataPageContent {
            .chart-key-info {
                padding-bottom: 0;
                @include sm-up {
                    padding-bottom: 0;
                }
            }

            .insight-links__title {
                @include h2-bold;
                & {
                    margin: 24px 0 16px;
                }

                @include sm-up {
                    margin: 24px 0 24px;
                }
            }

            .insight-links__items,
            .insight-links__items--left {
                display: flex;
                flex-direction: column;
                gap: 16px;

                > * {
                    padding: 12px 24px;
                }

                .item__type {
                    @include h6-black-caps;

                    margin-bottom: 4px;
                    margin-top: 0;
                    color: $blue-30;
                }

                .item__title {
                    font-size: 16px;
                    margin: 0;
                }
                .item__icon {
                    margin-left: 0.5rem;
                }
            }

            .insight-links__items--left {
                > * {
                    text-align: left;
                }
            }
        }
    }
}
