.explorer-index-page {
    .explorer-index-page__header {
        background-color: $gray-10;
        margin-bottom: 24px;
    }
    .explorer-index-page-list {
        background-color: #fff;
        list-style: none;
        row-gap: var(--grid-gap);
        .explorer-index-page__card {
            display: block;
            height: 100%;
            padding: 8px;
            display: flex;
            flex-direction: column;
            &:hover {
                h2 {
                    text-decoration: none;
                }
                img {
                    box-shadow: 0px 0px 20px 0px rgba(49, 37, 2, 0.07);
                }
            }
            img {
                transition: 150ms;
                box-shadow: 0px 0px 12px 0px rgba(49, 37, 2, 0.05);
            }
            h2 {
                @include owid-link-90;
                @include h3-bold;
                font-weight: bold;
                margin-top: 8px;
                margin-bottom: 8px;
            }
            p {
                color: $blue-90;
                margin-top: 0;
            }
        }
    }
}
