.article-block__featured-metrics {
    margin-bottom: 48px;
}

.article-block__featured-metrics__title {
    margin-top: 0;
    text-align: center;
}

.article-block__featured-metrics__see-all {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
