#featured-data-insights {
    margin-top: 32px;
    margin-bottom: 48px;
}

#featured-metrics + #featured-data-insights {
    margin-top: 0;
}

.featured-data-insights {
    border-top: 1px solid $blue-10;
}

.featured-data-insights__hits {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: var(--grid-gap);

    @include sm-only {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
    }

    @include sm-up {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.featured-data-insights__hit {
    @include sm-up {
        @include flex-item-width-for-row-of(2);
    }

    @include md-up {
        @include flex-item-width-for-row-of(3);
    }

    @include lg-up {
        @include flex-item-width-for-row-of(4);
    }
}

.featured-data-insights__title {
    text-align: center;
    margin-top: 32px;
}

.featured-data-insights__see-all {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
