.featured-metrics {
    margin-bottom: 48px;
}
}

.featured-metrics__title {
    text-align: center;
}

.featured-metrics__see-all {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
