.article-block__featured-metrics > h1 {
    text-align: center;
    margin-bottom: $margin-bottom-section-heading-ltp;
}

.article-block__featured-metrics__see-all {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
