.global-dod {
    padding: 16px;

    > p:first-child {
        font-weight: bold;
        font-size: 1rem;
    }

    p {
        font-size: 0.875rem;
    }
}

.dod-span {
    color: inherit;
    border-bottom: 1px dotted #1d3d63;

    span {
        pointer-events: none;
    }
}
