.indicator-metadata-box {
    padding: 24px;
    background-color: $blue-5;
    grid-template-columns: repeat(12, 1fr);
    grid-column-start: 2;
    grid-column-end: span 12;
    // Compensate for neighbour element padding from V1 datapage
    margin-top: -104px;
    margin-right: -6px;
    margin-bottom: 48px;
    @include sm-only {
        margin-top: -56px;
        margin-right: -8px;
        margin-left: -8px;
        margin-bottom: 32px;
    }
}

@include md-up {
    .indicator-metadata-box {
        grid-template-columns: repeat(9, 1fr);
        grid-column-start: 2;
        grid-column-end: span 9;
    }
}

.indicator-metadata-box__title {
    margin: 0;
    color: $blue-90;
    max-width: calc(100% - 104px);
}

.indicator-metadata-box__title-variant {
    @include note-13-medium;
    margin-left: 8px;
    color: $blue-50;
}

.metadata-box-key-data {
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.metadata-box-key-data__row {
    display: flex;
    gap: 4px;
}

.metadata-box-key-data__row--full-width {
    flex-basis: 100%;
}

.metadata-box-key-data__key {
    @include note-13-medium;
    color: $blue-50;
}
.metadata-box-key-data__value {
    @include note-13-medium;
    margin: 0;
    color: $blue-90;
    // The markdown p tag
    p {
        margin: 0;
    }
    a {
        @include owid-link-90;
    }
}

.metadata-box-key-data__key--source {
    text-wrap: nowrap;
}

.metadata-box-section {
    margin-bottom: 32px;
}

.metadata-box-section:first-of-type .metadata-box-section__title {
    margin-top: 16px;
}

.metadata-box-section__title {
    @include body-2-bold-tight;
    color: $blue-90;
    margin-top: 0;
    margin-bottom: 16px;
}

.metadata-box-section--faqs {
    .indicator-processing .indicator-processing-callout {
        margin: 16px 8px;
    }
    // Prevent borders stacking when FAQ and "How we process this data" is present
    > .ExpandableToggle:nth-last-child(2) {
        border-bottom: none;
    }
}

.indicator-metadata-box__reuse-notice {
    margin-top: 32px;
    @include note-13-medium;
    a {
        @include owid-link-90;
    }
    > p:first-child {
        margin-top: 0;
    }
    > p:last-child {
        margin-bottom: 16px;
    }
}
