.indicator-metadata-box {
    padding: 24px;
    background-color: $blue-5;
    grid-template-columns: repeat(12, 1fr);
    grid-column-start: 2;
    grid-column-end: span 12;
    // Compensate for neighbour element padding from V1 datapage
    margin-top: -104px;
    margin-right: -6px;
    margin-bottom: 48px;
    @include sm-only {
        margin-top: -56px;
        margin-right: -8px;
        margin-left: -8px;
        margin-bottom: 32px;
    }
}

@include md-up {
    .indicator-metadata-box {
        grid-template-columns: repeat(9, 1fr);
        grid-column-start: 2;
        grid-column-end: span 9;
    }
}

.indicator-metadata-box .metadata-box-expander {
    border-top: 1px solid $blue-20;
}

.indicator-metadata-box .metadata-box-expander__preview {
    margin-top: 16px;
}

.indicator-metadata-box__title {
    margin: 0;
    color: $blue-90;
    max-width: calc(100% - 104px);
}

.indicator-metadata-box__title-variant {
    @include note-13-medium;
    margin-left: 8px;
    color: $blue-50;
}

.indicator-metadata-box__reuse-notice {
    margin-top: 32px;
    @include note-13-medium;
    a {
        @include owid-link-90;
    }
    > p:first-child {
        margin-top: 0;
    }
    > p:last-child {
        margin-bottom: 16px;
    }
}
