.MetadataSection {
    background-color: $gray-10;

    .section-wrapper__faqs {
        .article-block__text,
        .article-block__list,
        .article-block__html,
        .article-block__numbered-list {
            @include body-2-regular;
            color: $blue-60;
        }
    }

    .faqs__title {
        @include datapage-section-title;

        @include md-up {
            margin-bottom: 0;
        }
    }

    .faqs__items {
        > *:first-child {
            margin-top: 0;
        }

        h3 {
            margin: 24px 0 16px;
        }
    }

    .data-sources {
        .article-block__text,
        .article-block__list,
        .article-block__html,
        .article-block__numbered-list {
            @include body-3-medium;
        }
    }

    .data-sources-processing__title {
        @include datapage-section-title;
    }

    .data-sources__heading,
    .data-processing__heading,
    .citations__heading,
    .downloads__heading {
        @include h3-bold;
        margin: 0 0 24px;
    }

    .data-processing {
        margin-top: 32px;
    }

    .reuse__title {
        @include datapage-section-title;
    }

    .reuse__content {
        margin-bottom: 24px;
        margin-left: 16px;
    }

    .reuse__content,
    .citation__paragraph {
        color: $blue-60;
    }

    .reuse__list-item,
    .citation__paragraph {
        @include body-3-medium;
        margin: 0 0 8px;
    }

    .reuse__link {
        @include owid-link-60;
    }

    .citations {
        margin-top: 16px;
    }

    .citations-section {
        &:first-child {
            margin-bottom: 32px;
        }

        &:not(:first-child) {
            padding-top: 32px;
            border-top: 1px solid $blue-20;
        }
    }

    .citation__how-to-header {
        @include overline-black-caps;
        text-transform: uppercase;
        margin: 0 0 8px;
    }

    .citation__how-to-header--data {
        margin-bottom: 16px;
    }

    .citation__type {
        display: block;
        color: $blue-90;
    }

    .downloads {
        margin-top: 16px;
    }

    .downloads-section {
        &:first-child {
            margin-bottom: 32px;
        }
    }

    .downloads__download-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $blue-90;
        background-color: $blue-5;
        width: 100%;
        padding: 16px;
        text-align: left;
        cursor: pointer;
        border: none;
        border-radius: 0;

        &:hover {
            background-color: $accent-pale-blue;
        }

        &:active {
            background-color: $blue-20;
        }

        + .downloads__download-button {
            margin-top: 2px;
        }

        .downloads__option-icon {
            margin-right: 12px;
            display: flex;
            color: $blue-90;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        .downloads__download-button-content {
            flex: 1;

            h4 {
                @include body-2-regular;
                margin: 0 0 4px;
            }
        }

        .downloads__download-button-description {
            @include label-2-regular;
            color: $blue-60;
            margin: 0;
        }

        .downloads__download-icon {
            padding: 0 8px 0 16px;
            font-size: 16px;
            color: $blue-60;
        }
    }

    .downloads__config-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 8px;
        margin-top: 8px;

        .label {
            color: $blue-60;
        }

        + .downloads__config-list {
            border-top: 1px solid $blue-20;
            padding-top: 16px;
        }

        p {
            margin-top: 4px;
            margin-bottom: 0;
            margin-left: 24px;
            font-size: 13px;
            line-height: 1.3;
            color: $blue-60;
        }
    }

    .downloads__api-urls {
        border-top: 1px solid $blue-20;
        padding-top: 16px;
        margin-top: 8px;

        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .downloads__code-blocks {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .downloads__code-label {
        margin: 0 0 8px;
        color: $blue-90;
    }

    .downloads__buttons {
        margin-top: 8px;
    }
}
