.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: $zindex-lightbox;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;

    .modal-panel {
        $offset-top: 2rem;
        background-color: $white;
        width: 100vw;
        height: calc(100vh - $offset-top);
        display: flex;
        flex-direction: column;
        margin-top: $offset-top;
    }
}
