.newsletter-signup {
    background-color: $blue-10;
    padding: 24px;
    margin-bottom: 24px;
    align-self: start;

    .newsletter-subscription-header {
        .newsletter-subscription-header__icon {
            height: 48px;
            width: 48px;

            @include md-down {
                display: none;
            }
        }

        .newsletter-subscription-header__heading {
            flex: 0 0 100%;
        }
    }

    .newsletter-subscription-form {
        @include lg-up {
            padding-bottom: 16px;
            border-bottom: 1px solid $blue-20;
        }
    }

    .newsletter-subscription-form__email-submit {
        flex-wrap: wrap;
        gap: 8px;

        @include md-down {
            flex-wrap: nowrap;

            .newsletter-subscription-form__submit {
                flex: 0 1 min-content;
                padding: 9.5px 48px;
            }
        }
    }

    .newsletter-subscription-form__email {
        margin: 0;
    }

    .newsletter-subscription-form__submit {
        flex: 1 1 100%;
        height: 40px;
    }

    .newsletter-subscription-form__privacy-notice {
        @include body-3-regular;
    }

    .owid-socials {
        @include md-down {
            display: none;
        }
    }
}
