.SearchApp {
    padding: 32px 0;
    @include grid(12);

    .search-header {
        grid-column: 3 / span 10;

        h2 {
            @include h1-semibold;
            margin-bottom: 8px;
        }
    }

    .search-sticky-bar {
        grid-column: 3 / span 10;
        margin-bottom: 40px;
        margin-top: 24px;
        padding: 16px;
        position: sticky;
        top: 0;
        z-index: $zindex-search-overlay;
        background: rgba(#fff, 0.8);
    }

    .SearchAutocomplete {
        width: 50vw;
        margin: auto;
        top: 24px;
        .aa-List {
            margin-right: 4px;
        }
        .aa-Tags {
            margin: 0;
            svg {
                margin: 0;
            }
        }
    }

    h3 {
        @include h1-semibold;
        margin-bottom: 16px;
        &:first-of-type {
            margin-top: 0;
        }
    }

    .refinements {
        grid-column: 1 / span 2;
    }

    .ais-RefinementList {
        position: sticky;
        top: 8px;
    }

    .search-results {
        grid-column: 3 / span 10;
    }
    .ais-Hits-list {
        @include grid(10);
        row-gap: $grid-gap;
        .ais-Hits-item {
            grid-column: span 2;
            padding: 16px;
        }
    }

    .tag {
        border-radius: 4px;
        margin-left: 0;
        margin-right: 4px;
    }

    .SearchChartsHits {
        grid-column: 1 / span 12;
    }

    .wp-block-research-and-writing {
        padding-bottom: 0;
        figure {
            padding-bottom: 0;
        }
        canvas {
            width: 100%;
        }
    }
}

.SearchPage {
    .aa-Panel {
        z-index: $zindex-search-overlay;
    }
}
