.site-navigation-root {
    .overlay {
        @include overlay;
        z-index: $zindex-lightbox - 1;
    }
}

.site-navigation {
    position: relative;
    z-index: $zindex-lightbox;
    border-bottom: $mobile-header-border-height solid $vermillion;
    background-color: $oxford-blue;

    @include sm-only {
        .wrapper {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

.site-navigation-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    @include sm-up {
        column-gap: 24px;
    }

    .mobile-menu-toggle {
        padding: 8px;
        line-height: 1;
        margin-left: -8px;
    }

    .site-primary-links {
        > ul {
            display: flex;
            flex-direction: row;
            column-gap: 24px;
            align-items: center;
            > li {
                list-style-type: none;
                > a,
                .SiteNavigationToggle {
                    @include body-3-medium;
                    color: $blue-20;
                    &:hover {
                        color: $blue-40;
                    }
                }
            }
        }

        .with-relative-dropdown {
            position: relative;
            .toggle-dropdown {
                position: absolute;
                top: 100%;
                width: 330px;
                margin-top: $vertical-spacing;
                margin-left: -40px;
                padding: 24px 40px;
                background-color: $accent-pale-blue;

                ul {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    li {
                        list-style-type: none;
                        a {
                            display: block;
                            padding: 8px 0;
                            @include body-3-medium;
                            color: $blue-90;
                            &:hover {
                                color: $blue-50;
                            }
                        }
                    }
                }
            }
        }
    }

    .site-search-cta {
        $search-cta-column-gap: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: $search-cta-height;
        column-gap: 0;
        @include lg-up {
            column-gap: $search-cta-column-gap;
        }

        button.mobile-search,
        a.donate {
            display: flex;
            align-items: center;
            height: $search-cta-height;
            background: none;
            border: none;
            color: $white;
            cursor: pointer;
        }

        button.mobile-search {
            padding: 0 8px;
        }

        .SiteNavigationToggle.newsletter-subscription {
            > button {
                padding: 0 8px;
                @include lg-down {
                    margin-right: 8px;
                }
                @include sm-only {
                    margin-right: -8px;
                }
                @include lg-only {
                    margin-right: 0;
                    padding: 0 16px;
                }

                @include lg-up {
                    height: $search-cta-height;
                    padding: 0 24px;
                    @include body-3-medium;
                    border: 1px solid $white;
                    &:hover {
                        color: $blue-90;
                        background-color: $white;
                    }
                    &.active {
                        color: $blue-90;
                        background-color: $blue-20;
                        border-color: $blue-20;
                    }
                }
            }
            .toggle-dropdown {
                position: absolute;
                top: 100%;
                right: 0;
                width: 411px;
                padding: 32px 40px;
                background-color: $white;
            }
        }
        a.donate {
            @include sm-only {
                display: none;
            }
            @include body-3-medium;
            padding: 0 24px;
            background-color: $vermillion;
            &:hover {
                background-color: #b40000;
            }
        }
    }

    &.search-active {
        @include sm-only {
            .site-logos {
                display: none;
            }
        }
        @include lg-down {
            .site-search-cta {
                flex: 1;
            }
            .site-primary-links {
                display: none;
            }
        }
    }

    .SearchResults {
        position: absolute;
        top: 100%;
        height: 90vh;
        left: 0;
        margin: 0 #{-$padding-x-md};
        padding: 0 $padding-x-md 40px;
        /* Needs to go over the charts */
        z-index: $zindex-search-overlay;
        overflow-y: scroll;
        overscroll-behavior: contain;
        background: white;
    }
}
