.SiteMobileArea {
    .SiteNavigationToggle.active {
        background-color: #d5e7fe;
    }
    .SiteNavigationToggle__button {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 8px 16px;
        color: $blue-60;
        line-height: 21px;
        &.active {
            color: $blue-90;
        }
    }
}
