.SiteSearchInput {
    position: relative;
    flex: 1;
    display: none;
    width: 100%;
    @include lg-up {
        width: 300px;
    }
    @include md-down {
        margin-right: 8px;
    }
    color: $white;

    &.active {
        display: block;
    }

    @include md-up {
        display: block;
    }

    > input {
        height: $search-cta-height;
        width: inherit;
        padding: 0 40px 0 16px;
        background-color: $blue-90;
        border: 1px solid $blue-90;
        color: inherit;
        outline: none;
        @include body-3-medium;

        &:hover {
            border: 1px solid $blue-60;
        }

        &:focus,
        &.active {
            border: 1px solid $blue-40;
        }

        &::placeholder {
            color: $blue-30;
            transition: color 150ms ease;
        }
    }

    > .icon {
        position: absolute;
        top: 0;
        right: 16px;
        bottom: 0;
        display: flex;
        align-items: center;
        color: $blue-30;
    }
}
