.SiteNavigationTopics {
    @include grid(12);
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1;

    .categories {
        grid-column: 1 / span 6;
        @include sm-up {
            grid-column-end: span 4;
        }
        margin-left: -$padding-x-md;
        padding: 32px 0;
        padding-left: $padding-x-md;
        background-color: $accent-pale-blue;

        .heading {
            @include overline-black-caps;
            margin-bottom: 16px;
            color: $blue-40;
        }
        li {
            list-style-type: none;
            > button {
                @include h3-bold;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: calc(100% + 16px);
                padding: 8px 24px;
                margin: 8px 0;
                margin-left: -16px;
                text-align: left;
                color: $blue-60;
                background-color: transparent;
                cursor: pointer;
                border: none;
                svg {
                    margin-left: 24px;
                    color: $blue-40;
                }
                &:hover,
                &.active {
                    color: $blue-90;
                    background-color: #d5e7fe;
                }
                &:hover svg {
                    color: inherit;
                }
                &.active svg {
                    visibility: hidden;
                }
            }
        }
    }

    ul.topics {
        grid-column: 7 / span 6;
        @include sm-up {
            grid-column: 5 / span 4;
        }
        column-gap: $grid-gap;
        margin-left: -$grid-gap;
        padding: 32px 48px;
        background-color: #d5e7fe;

        &.columns-medium {
            @include sm-up {
                column-count: 2;
                grid-column: 5 / span 8;
            }
            @include lg-up {
                grid-column-end: span 6;
            }
        }

        &.columns-large {
            @include sm-up {
                column-count: 2;
                grid-column: 5 / span 8;
            }
            @include lg-up {
                column-count: 3;
            }
        }

        > li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            break-inside: avoid-column;
            > a {
                display: block;
                padding: 8px 0;
                margin: 8px 0;
                color: $blue-90;
                &:hover {
                    color: $blue-50;
                }
            }
        }
    }
}
