.SiteMobileArea {
    details[open] {
        background-color: #d5e7fe;
    }
    .SiteMobileArea__summary {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 8px 16px;
        color: $blue-60;
        line-height: 21px;
    }
    details[open] > .SiteMobileArea__summary {
        color: $blue-90;
    }
}
