.SiteNavigationToggle {
    > button {
        padding: 0;
        border: none;
        cursor: pointer;
        color: $blue-20;
        background-color: transparent;
        &:hover {
            color: $blue-40;
        }
    }
}
