.site-header {
    /* Topics dropdown menu */

    .topics-dropdown {
        display: none;

        &.open {
            display: flex;
        }

        flex-direction: row;
        min-height: 5rem;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: $zindex-nav-dropdown;
        margin-top: -5px;
        box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        overflow: hidden;
        border-top-left-radius: 0;
        cursor: default;

        background-color: white;
        font-family: $sans-serif-font-stack;
        font-size: 0.9375rem;
        font-weight: 700;
        line-height: 1.35;

        width: 14rem;

        &.one-column {
            width: 30rem;
        }

        &.two-column {
            width: 45rem;
        }

        ul {
            list-style-type: none;
        }

        .menu {
            flex: 0 0 14rem;
            padding: 0.5rem 0;

            .item {
                color: $blue-60;
                padding: 0.35rem 1rem 0.4rem 1.15rem;
                display: flex;
                flex-direction: row;
                align-items: center;

                .label {
                    flex: 1;
                }

                .icon {
                    margin-left: 1rem;
                    color: $blue-20;
                }
            }

            .item.active,
            a.item:hover {
                color: $blue-100;
                .icon {
                    color: $blue-60;
                }
            }

            .item.active {
                background-color: $blue-10;
            }

            hr {
                border: none;
                border-bottom: 1px solid $blue-10;
                margin: 0.25rem 0;
                padding: 0;
                display: block;
                height: 1px;
            }

            a.item {
                font-weight: 600;
            }
        }

        .submenu {
            flex: 1;
            padding: 1rem 1.25rem;
            background-color: $blue-10;

            .item {
                color: $blue-100;
                display: block;
                margin: 0 0.5rem 0.8rem;

                &:hover {
                    color: $blue-60;
                }
            }
        }

        &.two-column .submenu {
            column-count: 2;
            column-gap: 0;
        }
    }

    /* Mobile navigation */

    @include md-down {
        .site-header .wrapper {
            height: $mobile-header-wrapper-height;
            padding: 0;
        }
        .site-navigation-bar {
            font-size: 1.125rem;
            padding: 0;
        }
        .site-logo a {
            font-size: 1.25rem;
            padding: 0 1rem;
            // do not break "Our world in data" on mobile
            br {
                display: none;
            }
        }
        .mobile-site-navigation button {
            background: transparent;
            border: none;
            padding: 0 1rem;
            color: white;
        }
    }

    @include md-up {
        .mobile-site-navigation {
            display: none;
        }
    }

    .search-dropdown {
        input {
            display: block;
            width: 100%;
            padding: 0.6rem 1rem;
            font-size: 1.125rem;
            -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
            border: none !important;
        }
    }

    .mobile-topics-dropdown {
        font-size: 1rem;
        font-weight: 600;
        background-color: white;

        .header {
            background-color: #cc181e;
            color: white;
            text-align: center;

            h2 {
                font-size: 1.125rem;
                padding: 0.5rem;
                margin: 0;
            }
        }

        li a {
            color: $blue-90;
            padding: 0.5rem 1rem;
            border-bottom: 1px solid rgba($oxford-blue, 0.08);
            display: block;
            text-align: center;

            .label-wrapper {
                display: flex;
                align-items: baseline;
                overflow: hidden;
                flex-grow: 1;
            }

            .entries-muted {
                color: $blue-40;
                font-size: 0.7em;
                font-weight: 400;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                flex-basis: 0;
                flex-grow: 1;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }

            &:hover {
                background-color: $blue-10;
            }
        }

        li.expanded a {
            .entries-muted {
                display: none;
            }
        }

        .category a {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;

            .icon {
                color: $blue-30;
            }
        }

        .end-link {
            text-align: center;
        }

        .subcategory-menu {
            background-color: $blue-10;
            margin-top: -1px;

            a {
                color: $blue-90;
                padding-left: 1.5rem;
                &:hover {
                    background-color: $blue-20;
                }
            }
        }
    }
}
