.site-navigation-root {
    .overlay {
        @include overlay;
        z-index: $zindex-lightbox - 1;
    }
}

.site-navigation {
    position: relative;
    z-index: $zindex-lightbox;
    border-bottom: $mobile-header-border-height solid $vermillion;
    background-color: $oxford-blue;

    @include sm-only {
        .wrapper {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

.site-navigation-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
    padding-top: 12px;
    padding-bottom: 12px;

    .site-primary-links {
        > ul {
            display: flex;
            flex-direction: row;
            column-gap: 24px;
            > li {
                list-style-type: none;
                > a {
                    @include body-3-medium;
                    color: $blue-20;
                    &:hover {
                        color: $blue-40;
                    }
                }
            }
        }

        li.toggle-wrapper {
            position: relative;
        }
    }

    .site-search-cta {
        $search-cta-column-gap: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: $search-cta-height;
        column-gap: 0;
        @include lg-only {
            flex: 1;
        }
        @include lg-up {
            column-gap: $search-cta-column-gap;
        }

        button.mobile-search,
        button.prompt,
        a.donate {
            display: flex;
            align-items: center;
            height: $search-cta-height;
            padding: 0 24px;
            @include body-3-medium;
            background: none;
            border: none;
            color: $white;
            cursor: pointer;
        }

        button.mobile-search {
            padding: 0 8px;
            font-size: 16px;
        }

        button.prompt {
            padding: 0 8px;
            font-size: 16px;
            @include lg-down {
                margin-right: 8px;
            }
            @include sm-only {
                margin-right: -8px;
            }
            @include lg-only {
                margin-right: 0;
                padding: 0 16px;
            }

            @include lg-up {
                padding: 0 24px;
                font-size: 14px;
                border: 1px solid $white;
                &:hover {
                    background-color: $white;
                    color: $blue-90;
                }
            }
        }
        a.donate {
            @include sm-only {
                display: none;
            }
            background-color: $vermillion;
            &:hover {
                background-color: #b40000;
            }
        }
    }
}
