.site-navigation-root {
    background-color: $oxford-blue;
    border-bottom: $mobile-header-border-height solid $vermillion;
}

.site-navigation-bar {
    @include body-3-medium;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 11px;

    .logo-owid a {
        margin-right: 32px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
        color: $white;
        display: block;
        text-align: center;
    }

    .site-logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logos-wrapper {
        display: flex;
        align-items: flex-start;
        margin-top: 5px;

        a {
            display: none;
            @media (min-width: $lg) {
                display: initial;
                margin: 1px;
            }
            color: white;
            opacity: 0.6;
            transition: color 150ms ease;
            line-height: 1;
            &:hover {
                opacity: initial;
            }
        }
        .oxford-logo img {
            margin-right: 3px;
            height: 46px;
        }
        .gcdl-logo img {
            height: 42px;
        }
    }

    .site-primary-links {
        display: flex;
        flex-direction: row;

        > ul > li {
            list-style-type: none;
            display: inline-block;
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }

            > a,
            > button {
                color: $blue-20;
                background-color: transparent;
                border: none;
                cursor: pointer;
                &:hover {
                    color: $blue-40;
                }
            }
        }
    }

    .site-topics {
        @include grid(12);
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 1;

        .categories {
            grid-column: 1 / span 6;
            @include sm-up {
                grid-column-end: span 4;
            }
            margin-left: -$padding-x-md;
            padding: 32px 0;
            padding-left: $padding-x-md;
            background-color: $accent-pale-blue;

            .heading {
                @include overline-black-caps;
                margin-bottom: 16px;
                color: $blue-40;
            }
            li {
                list-style-type: none;
                > button {
                    @include h3-bold;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(100% + 16px);
                    padding: 8px 24px;
                    margin: 8px 0;
                    margin-left: -16px;
                    text-align: left;
                    color: $blue-60;
                    background-color: transparent;
                    cursor: pointer;
                    border: none;
                    svg {
                        margin-left: 24px;
                        color: $blue-40;
                    }
                    &:hover,
                    &.active {
                        color: $blue-90;
                        background-color: #d5e7fe;
                    }
                    &:hover svg {
                        color: inherit;
                    }
                    &.active svg {
                        visibility: hidden;
                    }
                }
            }
        }

        ul.topics {
            grid-column: 7 / span 6;
            @include sm-up {
                grid-column: 5 / span 4;
            }
            column-gap: $grid-gap;
            margin-left: -$grid-gap;
            padding: 32px 48px;
            background-color: #d5e7fe;

            &.columns-medium {
                @include sm-up {
                    column-count: 2;
                    grid-column: 5 / span 8;
                }
                @include lg-up {
                    grid-column-end: span 6;
                }
            }

            &.columns-large {
                @include sm-up {
                    column-count: 2;
                    grid-column: 5 / span 8;
                }
                @include lg-up {
                    column-count: 3;
                }
            }

            > li {
                list-style-type: none;
                margin: 0;
                padding: 0;
                break-inside: avoid-column;
                > a {
                    display: block;
                    padding: 8px 0;
                    margin: 8px 0;
                    color: $blue-90;
                    &:hover {
                        color: $blue-50;
                    }
                }
            }
        }
    }

    .site-search-cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        > * {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }
        button.prompt,
        a.donate {
            display: flex;
            align-items: center;
            height: $search-cta-height;
            padding: 0 24px;
            background: none;
            color: $white;
        }
        button.prompt {
            border: 1px solid $white;
            cursor: pointer;
            &:hover {
                background-color: $white;
                color: $blue-90;
            }
        }
        a.donate {
            background-color: $vermillion;
            &:hover {
                background-color: #b40000;
            }
        }
    }
}
