.site-navigation-bar.search-active .SiteSearchNavigation {
    width: 100%;
}

.SiteSearchNavigation {
    @include lg-up {
        display: block;
        width: 300px;
    }

    &.active {
        display: block;
    }

    > input {
        height: $search-cta-height;
        width: inherit;
        padding: 0 40px 0 16px;
        background-color: $blue-90;
        border: 1px solid $blue-90;
        color: $white;
        outline: none;

        &:hover {
            border: 1px solid $blue-60;
        }

        &:focus,
        &.active {
            border: 1px solid $blue-40;
        }

        &::placeholder {
            @include body-3-medium;
            color: $blue-30;
            transition: color 150ms ease;
        }
    }

    > .icon {
        position: absolute;
        top: 0;
        right: 16px;
        bottom: 0;
        display: flex;
        align-items: center;
        color: $blue-30;

        button {
            padding: 8px;
            margin-right: -8px;
            border: none;
            cursor: pointer;
            color: $white;
            background-color: transparent;
            &:hover {
                color: $blue-40;
            }
        }
    }
}

// .SiteSearchNavigation__mobile-toggle {
//     display: flex;
//     align-items: center;
//     height: $search-cta-height;
//     margin-right: -8px;
//     background: none;
//     border: none;
//     color: $white;
//     cursor: pointer;
// }

// .SiteSearchNavigation__mobile-toggle {
//     @include mobile-toggle-icon;
//     &:hover {
//         color: $blue-40;
//     }
// }
