.SiteMobileMenu {
    position: absolute;
    width: 100vw;
    top: calc(100% + $header-border-height);
    background-color: $accent-pale-blue;
    margin: 0 -16px;
    @include body-3-medium;

    ul {
        list-style-type: none;
    }

    > ul {
        // Don't add a border to the last two items (Donate and Send Feedback)
        > li:not(:nth-last-child(2)) {
            border-bottom: rgba(152, 169, 189, 0.3) 1px solid;
        }
    }

    .section__header,
    .SiteNavigationToggle--lvl1 .SiteNavigationToggle__button {
        @include h3-bold;
        color: $blue-60;
        margin: 0;
        padding: 12px 16px;
        background: none;
        border: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &.active {
            color: $blue-90;
        }
    }

    .section__dropdown--topics {
        padding-bottom: 12px;
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    .SiteNavigationToggle__caret {
        font-size: 12px;
        margin-right: 8px;
    }
    .SiteNavigationToggle__dropdown {
        ul {
            padding-bottom: 12px;
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            li {
                a {
                    display: block;
                    padding: 8px 16px 8px 32px;
                    color: $blue-60;
                    line-height: 21px;
                }
            }
        }
    }

    .donate {
        display: flex;
        justify-content: center;
        margin: 16px;
        padding: 8px;
        color: $white;
        background-color: $vermillion;
    }

    .donate {
        padding: 9.5px 24px;
    }
    .send-feedback-button {
        background-color: transparent;
        width: calc(100% - 32px);
        margin: 16px;
    }
}

.SiteMobileFeedbackModal {
    position: fixed;
    inset: 0;
    z-index: $zindex-site-header + 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SiteMobileFeedbackModal__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.SiteMobileFeedbackModal__box {
    position: relative;
    width: 100vw;
    height: 100vh;
    @include popover-box-styles;
    width: 100vw;
    border-radius: 0;

    @include sm-up {
        width: calc(100vw - 32px);
        max-width: 500px;
        height: auto;
        border-radius: 3px;
    }

    .FeedbackForm {
        height: 100%;
        max-height: none;

        @include sm-up {
            max-height: 700px;
        }

        > div.formBody textarea {
            font-size: 16px;
        }
    }

    .SiteMobileFeedbackModal__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 1rem !important;
        cursor: pointer;
        z-index: 1;
        svg {
            margin-right: 0;
        }
    }
}
