.wp-block-owid-additional-information {
    @include block-title;
    h3 {
        padding: $padding-x-sm;
        @include md-up {
            padding: $padding-x-md;
        }
        transition: background-color 0.2s;
        &:hover {
            cursor: pointer;
            background-color: $primary-color-100;
            svg {
                margin-right: $padding-x-md;
            }
        }
        svg {
            margin-right: $padding-x-sm;
            transition: all 0.2s;
        }
    }
    &.open {
        h3 {
            background-color: $primary-color-100;
            svg {
                transform: rotate(90deg);
            }
        }
    }

    &[data-variation="merge-left"] {
        @include block-shadow;
        @include left-media-columns;
        margin-bottom: 2rem;
        h3 {
            margin: 0;
        }
        .content-wrapper {
            background-color: $primary-color-100;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            @include wrapper-spacing-sm;
            @include md-up {
                @include wrapper-spacing-md;
            }
        }
    }
}
