.wp-block-owid-additional-information {
    margin-bottom: 2rem;
    h3 {
        @include h3-style;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        transition: background-color 0.2s;
        &:hover {
            cursor: pointer;
            background-color: $primary-color-100;
            svg {
                margin-right: $padding-x-md;
            }
        }
        svg {
            margin-right: $padding-x-sm;
            transition: all 0.2s;
        }
    }
    &.open {
        h3 {
            background-color: $primary-color-100;
            svg {
                transform: rotate(90deg);
            }
        }
    }

    &[data-variation="merge-left"] {
        @include block-shadow;
        @include left-media-columns;
        h3 {
            padding: 1.5rem $padding-x-sm;
            @include lg-up {
                padding: 1.5rem $padding-x-md;
            }
        }
        .content-wrapper {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            @include wrapper-spacing-sm;
            @include lg-up {
                @include wrapper-spacing-md;
            }
            background-color: $primary-color-100;
        }
    }

    &[data-variation="full-width"] {
        background-color: $primary-color-100;
        @include lg-up {
            margin-left: -#{$padding-x-md};
            margin-right: -#{$padding-x-md};
            padding: 0 $padding-x-md;
        }
        h3 {
            padding: 1.5rem 0;
        }
        .content {
            padding-bottom: 1.5rem;
        }
    }
}
