<!doctype html>
{% load webpack %}{% load rootrequest %}
<html class="no-js" lang="">
{% autoescape off %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if chartmeta %}
    <title>{{ chartmeta.title }} - Our World in Data</title>
    <meta name="description" content="{{ chartmeta.description }}">
    {% endif %}
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    {% if chartmeta %}
        {% if query %}
    <meta name="robots" content="noindex">
        {% else %}
    <link rel="canonical" href="{{ chartmeta.canonicalUrl }}">
        {% endif %}
    <meta property="fb:app_id" content="1149943818390250">
    <meta property="og:url" content="{{ chartmeta.canonicalUrl }}">
	<meta property="og:title" content="{{ chartmeta.title }}">
	<meta property="og:description" content="{{ chartmeta.description }}">
	<meta property="og:image" content="{{ chartmeta.imageUrl }}">
	<meta property="og:image:width" content="1080">
	<meta property="og:image:height" content="720">
	<meta property="og:site_name" content="Our World in Data">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@MaxCRoser">
	<meta name="twitter:creator" content="@MaxCRoser">
	<meta name="twitter:title" content="{{ chartmeta.title }}">
	<meta name="twitter:description" content="{{ chartmeta.description }}">
	<meta name="twitter:image" content="{{ chartmeta.imageUrl }}">
    {% endif %}
    <link href="{% webpack "charts.css" %}" rel="stylesheet" type="text/css">
</head>
{% endautoescape %}
<body style="margin: 0;">
    {% block content %}
    {% endblock %}
	<!--[if lt IE 9]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<script>
		var Global = {};
        Global.rootUrl = "{% rootrequest %}";
        Global.adminRootUrl = "{% rootrequest %}/admin";

        window.App = {}
        App.isEditor = false;
        App.loadChart = function(jsonConfig) {
            var isExport = !!window.location.pathname.match(/.export$/)

            if (isExport)
                window.ExportView.bootstrap({ jsonConfig: jsonConfig, containerNode: document.body });
            else
                window.ChartView.bootstrap({ jsonConfig: jsonConfig, containerNode: document.body });
            };
        App.isDebug = true;
	</script>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,fetch"></script>
    <script src="{% webpack "charts.js" %}"></script>
    {% block config_file %}
    {% endblock %}
</body>
</html>
