{% extends 'base_chart_template.html' %}

{% block content %}

    <style>
		iframe {
			border: 0;
			width: 914px;
			height: 400px;
		}

		.row {
			padding: 10px;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}

		h3 {
			width: 50%;
			text-align: center;
			margin: 0;
		}

		nav.pagination {
			width: 100%;
			text-align: center;
		}
	</style>

<div class="row">
	<h3>Old Version</h3>
	<h3>New Version</h3>
</div>
{% for i in urls %}
    <div class="row">
		<iframe src="{{ i.live_url }}"></iframe>
        {% if i.live_url != i.local_url %}
            <iframe src="{{ i.local_url }}"></iframe>
        {% endif %}
    </div>
{% endfor %}

    <nav class="pagination">
		{% if prev_page_url %}
			<a href="{{ prev_page_url }}"><< Prev</a>
		{% endif %}
		{% if next_page_url %}
			<a href="{{ next_page_url }}">Next >></a>
		{% endif %}
	</nav>

{% endblock %}