@import "../../css/libs/bootstrap.css";

.importer {
	max-width: 1000px;

	& input:not([type=submit]), select, textarea, button {
		@extend .form-control;
	}

	& label {
		display: block;
	}

	& textarea {
		resize: none;
	}

    & .updateWarning {
        margin-top: 20px;
        margin-bottom: 0;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
    }

    & select.chooseDataset {
        margin-bottom: 20px;
        font-size: 1.2em;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.validation {
	margin-top: 20px;
}

.editVariable {
	& .variableProps {
	    display: inline-flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	}

    & .variableProps > label {
        margin-right: 10px;
        line-height: normal;
    }

    & .name, & .description {
    	width: 100%;
    }
}

.editSource {
	& label {
		display: block;
	}
}

.editSourceDescription {
	display: flex;
	flex-direction: row;

	& .description {
		margin: 10px;
	}

	& .description textarea {
		height: calc(100% - 20px);
	}

	& .preview {
		margin: 10px;
		width: 50%;
	}

	& .preview > div {
		padding: 10px;
		background: white;
	}
}

.importProgress {
	background: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 20px;

	& .success {
		color: #00a65a;
	}

	& .error {
		color: #dd4b39;
	}

	& .progressInner {
		overflow: auto;
		margin: 10px;
	}
}
