.food-supply-chain-captioned-chart__chart-area {
    position: relative;
}

.food-supply-chain-captioned-chart__no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    color: $light-text;
}
