.democracy-development--narrow .democracy-controls {
    border: none;
    padding: 0;
}

.democracy-development--narrow .democracy-development__box {
    border: none;
    padding: 8px 0 0;
}

.democracy-development .tooltip-container.fixed-bottom .content-and-endmatter {
    max-height: min(230px, 35vh);
}
