$sans-serif-font-stack:
    Lato, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;

$serif-font-stack:
    "Playfair Display", Georgia, "Times New Roman", "Liberation Serif", serif;

$monospace-font-stack:
    "Menlo", "Courier New", Courier, monospace; // only to be used for code blocks

$default-font-features: "liga", "kern", "calt", "lnum";
