.side-panel {
    flex-grow: 0;
    flex-shrink: 0;
    border-left: 1px solid $frame-color;
    overflow-y: auto;

    // necessary for scrolling
    display: flex;
    flex-direction: column;

    .side-panel__header {
        margin: 16px;
        flex-shrink: 0; // necessary for scrolling
    }

    .side-panel__scrollable {
        overflow-y: auto;
    }
}
