.collapsibleList {
    white-space: nowrap;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        > .list-item {
            display: inline-block;

            padding-left: 15px;

            &.hidden {
                visibility: hidden;
            }
        }
    }

    .moreButton {
        cursor: pointer;
    }
}
