$cell-border: 1px solid rgba(0, 0, 0, 0.08);

.DataTableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
}

.DataTableContainer {
    border-bottom: $cell-border;
}

.DataTableContainer .data-table {
    thead {
        position: sticky;
        z-index: 20;
        top: 0;
    }

    th {
        white-space: nowrap;
    }

    .entity,
    .title td:first-child {
        position: sticky;
        left: 0;
        z-index: 10;
    }

    th.entity {
        top: 0;
    }
}

.data-table {
    font-size: 0.9375rem;
    line-height: 1.333em;
    border: none;
    background: white;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px,
        rgba(0, 0, 0, 0.25) 0px 2px 2px 0px;

    thead tr:last-child th,
    th.entity {
        border-bottom: $cell-border;
    }

    tr th:first-child,
    tr td:first-child {
        padding-left: 15px;
    }

    tr th:last-child,
    tr td:last-child {
        padding-right: 15px;
    }

    thead tr:first-child th {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    th {
        padding-top: 8px;
        padding-bottom: 8px;
        vertical-align: bottom;
        line-height: 19px;
    }

    tr:first-child td {
        padding-top: 8px;
    }

    tr:last-child td {
        padding-bottom: 15px;
    }

    th.sortable {
        cursor: pointer;
    }

    th {
        background-color: white;
    }

    th.sortable:hover {
        background-color: rgb(245, 245, 245);
    }

    th,
    td {
        padding-left: 15px;
        padding-right: 15px;

        &:not(.entity) {
            vertical-align: bottom;
        }
    }

    th.dimension {
        text-align: center;

        > div {
            min-height: 35px;
        }
    }

    th.subdimension {
        border-right: $cell-border;
    }

    .deltaColumn {
        min-width: 145px;
    }

    th.entity,
    td.entity {
        border-right: $cell-border;
    }

    tr > .dimension-start ~ .dimension-start,
    tr > th.dimension ~ th.dimension,
    tr > th.firstSubdimension ~ th.firstSubdimension {
        border-left: $cell-border;
    }

    th.firstSubdimension div,
    th.endSubdimension div {
        min-width: 56px;
    }

    th.lastSubdimension {
        border-right: none;
    }

    th:last-child,
    td:last-child {
        border-right: none;
    }

    td {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .title td {
        background: #e7e7e7;

        &:first-child {
            text-align: left;
            font-weight: 700;
        }
    }

    tbody tr {
        padding-top: 20px;
        padding-bottom: 20px;

        td {
            background-color: white;
        }
    }

    tbody tr:not(.title):nth-child(2n + 1) td {
        background-color: rgba(247, 247, 247);
    }

    tbody tr:not(.title):hover td {
        background-color: rgba(241, 241, 241);
    }

    .entity {
        text-align: left;
        font-weight: 700;
    }

    .dimension {
        text-align: right;

        .divider {
            opacity: 0.25;
        }

        .unit,
        .time {
            font-weight: 700;
            opacity: 0.5;
            padding-bottom: 3px;
        }
    }

    .closest-time-notice-icon {
        opacity: 0.5;
        font-size: 13px;
        cursor: default;

        .icon {
            font-size: 0.75rem;
            opacity: 0.6;
        }

        & + span {
            margin-left: 8px;
        }
    }

    .range-time {
        opacity: 0.5;
        font-size: 13px;
        padding-bottom: 4px;
        padding-left: 2px;
    }

    th.sortable > div {
        display: flex;
        align-items: end;
        justify-content: space-between;

        :first-child {
            flex-grow: 1;
        }
    }

    th .sort-icon {
        opacity: 0.15;
        padding-left: 5px;

        &.active {
            opacity: 1 !important;
        }
    }

    th:hover .sort-icon {
        opacity: 0.6;
    }
}

.closest-time-notice-tippy {
    max-width: 13rem;
    text-align: center;
    padding: 0.25rem;
}
