@import "../../../components/src/styles/colors.scss";
@import "../../../components/src/styles/variables.scss";
@import "../../../components/src/styles/typography.scss";
@import "../../../components/src/styles/util.scss";
@import "../../../components/src/styles/mixins.scss";

@import "../../../components/src/CodeSnippet/code-snippet.scss";
@import "../../../components/src/ExpandableToggle/ExpandableToggle.scss";

@import "../../../components/src/IndicatorSources/IndicatorSources.scss";
@import "../../../components/src/IndicatorProcessing/IndicatorProcessing.scss";

// grapher frame
$frame-color: #f2f2f2;

// text
$dark-text: #5b5b5b;
$light-text: #858585;
$active-text: $blue-90;

// tooltip for button label
$tooltip-fill: #4e4e4e;
$tooltip-text: #fff;

// These should be between 0–100 in order to avoid conflicting with
// site dropdowns, search overlays, etc.
$zindex-chart: 1;
$zindex-table: 1;
$zindex-global-entity-select: 11;
$zindex-Tooltip: 20;
$zindex-modal: 30;

$zindex-full-screen: 120;
$zindex-controls-backdrop: 130;
$zindex-controls-drawer: 140;

// needed for .global-entity-control-container
@mixin xxlg-down {
    @media only screen and (max-width: $xxlg) {
        @content;
    }
}

// All styles are scoped to GrapherComponent only, to prevent rule leaking
// and low-specificity rules from the site CSS trumping these ones.
// You can use sass's "&" syntax at the top level of one of these files
// if you want to write a rule that requires .GrapherComponent to have a second class.
// e.g. &.narrow is equivalent to .GrapherComponent.narrow
.GrapherComponent {
    @import "../controls/CommandPalette.scss";
    @import "../controls/LabeledSwitch.scss";
    @import "../controls/Controls.scss";
    @import "../controls/SettingsMenu.scss";
    @import "../controls/MapProjectionMenu.scss";
    @import "../noDataModal/NoDataModal.scss";
    @import "../captionedChart/CaptionedChart.scss";
    @import "../timeline/TimelineComponent.scss";
    @import "../controls/ContentSwitchers.scss";
    @import "../controls/ActionButtons.scss";
    @import "../controls/ShareMenu.scss";
    @import "../modal/Modal.scss";
    @import "../modal/EntitySelectorModal.scss";
    @import "../modal/EmbedModal.scss";
    @import "../modal/DownloadModal.scss";
    @import "../dataTable/DataTable.scss";
    @import "../modal/SourcesModal.scss";
    @import "../tooltip/Tooltip.scss";
    @import "../mapCharts/MapTooltip.scss";
    @import "../loadingIndicator/LoadingIndicator.scss";
    @import "../footer/Footer.scss";
    @import "../header/Header.scss";
    @import "../modal/SourcesKeyDataTable.scss";
    @import "../modal/SourcesDescriptions.scss";
    @import "../tabs/Tabs.scss";
    @import "../tabs/ExpandableTabs.scss";
}

// These rules are currently used elsewhere in the site. e.g. Explorers
// so we can't scope them to be grapher-only
@import "../controls/entityPicker/EntityPicker.scss";
@import "../controls/globalEntitySelector/GlobalEntitySelector.scss";
@import "../sparkBars/SparkBars.scss";
@import "../fullScreen/FullScreen.scss";
@import "../../../components/src/Checkbox.scss";

.GrapherComponent,
.GrapherComponent h2,
.GrapherComponent p,
.GrapherComponent ul,
.GrapherComponent ol {
    font-family: $sans-serif-font-stack;
}

.GrapherComponent {
    display: inline-block;
    text-align: left;

    line-height: 1em;

    background: white;
    color: $dark-text;

    position: relative;
    container-type: size;
    container-name: grapher;

    border: 1px solid $frame-color;
    z-index: $zindex-chart;

    * {
        box-sizing: border-box;
    }

    button {
        background: none;
        border: none;
    }

    .clickable {
        cursor: pointer;

        a {
            text-decoration: none;
            &:visited {
                color: initial;
            }
        }
    }

    input[type="checkbox"] {
        cursor: pointer;
    }

    /* Make World line slightly thicker */
    svg .key-World_0 polyline {
        stroke-width: 2 !important;
    }

    .projection .nv-line {
        stroke-dasharray: 3, 3;
    }

    .projection .nv-point {
        fill: #fff;
        stroke-width: 1;
        opacity: 0.5;
    }

    .projection .nv-point.hover {
        stroke-width: 4;
    }

    .DataTableContainer {
        z-index: $zindex-table;
    }

    // customize css of the <CodeSnippet> component
    .wp-code-snippet {
        --code-snippet-border: #e7e7e7;
        --code-snippet-background-light: #f7f7f7;
        --code-snippet-text: #{$light-text};
        --code-snippet-button: #{$dark-text};
        --code-snippet-button-hover: #{$light-text};
        --code-snippet-button-active: #{$light-text};
    }
}

.GrapherComponent.isStatic {
    border: none;
}

.GrapherComponent.isExportingToSvgOrPng {
    padding: 0 !important;
}

// when optimized for horizontal space, grapher bleeds onto the edges horizontally
// and the left and right borders are hidden. the top and bottom borders are visible,
// but stretch across the entire page.
.GrapherComponent.optimizeForHorizontalSpace {
    border: none;

    // adds top and bottom borders that stretch across the entire page.
    // since we don't know the width of the page, we use a large number (200vw)
    // and offset it by another large number (-50vw) to make sure the borders
    // stretch across the entire page.
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: -50vw;
        height: 1px;
        width: 200vw;
        background: $frame-color;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.Tooltip {
    z-index: $zindex-Tooltip;
}

.markdown-text-wrap__line {
    display: block;
}

.markdown-text-wrap {
    a,
    a:visited {
        color: #666;
        text-decoration: underline;
    }
    a:hover {
        color: darken(#666, 10%);
    }

    // needed so DoD border-bottom doesn't clip
    .markdown-text-wrap__line:last-child {
        margin-bottom: 2px;
    }

    a.dod-span {
        border-bottom: 1px dotted #666;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}
