.overlay-header {
    --padding: var(--modal-padding, 16px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding) var(--padding) 16px;

    .title {
        @include grapher_h5-black-caps;
        color: $light-text;
    }

    .close-button {
        margin-left: 8px;
        flex-shrink: 0;
    }
}
