//
// headings
//

@mixin grapher_h1-semibold {
    display: block;
    margin: 0;

    font-family: $serif-font-stack;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1667;
    letter-spacing: 0;
}

@mixin grapher_h2-semibold {
    display: block;
    margin: 0;

    font-family: $serif-font-stack;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
}

@mixin grapher_h3-semibold {
    display: block;
    margin: 0;

    font-family: $serif-font-stack;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1111;
    letter-spacing: 0;
}

.grapher_h3-semibold {
    @include grapher_h3-semibold;
}

@mixin grapher_h4-semibold {
    display: block;
    margin: 0;

    font-family: $serif-font-stack;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
}

.grapher_h4-semibold {
    @include grapher_h4-semibold;
}

@mixin grapher_h5-black-caps {
    display: block;
    margin: 0;

    font-family: $sans-serif-font-stack;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.3333;
    letter-spacing: 0.1em;

    text-transform: uppercase;
}

.grapher_h5-black-caps {
    @include grapher_h5-black-caps;
}

//
// body
//

@mixin grapher_body-2-semibold {
    display: block;
    margin: 0;

    font-family: $sans-serif-font-stack;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
}

.grapher_body-2-semibold {
    @include grapher_body-2-semibold;
}

@mixin grapher_body-2-medium {
    display: block;
    margin: 0;

    font-family: $sans-serif-font-stack;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0;
}

.grapher_body-2-medium {
    @include grapher_body-2-medium;
}

@mixin grapher_body-3-medium {
    display: block;
    margin: 0;

    font-family: $sans-serif-font-stack;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3846;
    letter-spacing: 0;
}

.grapher_body-3-medium {
    @include grapher_body-3-medium;
}

@mixin grapher_body-3-regular {
    @include grapher_body-3-medium;
    font-weight: 400;
}

.grapher_body-3-regular {
    @include grapher_body-3-regular;
}

@mixin grapher_body-3-regular-italic {
    @include grapher_body-3-regular;
    font-style: italic;
}

.grapher_body-3-regular-italic {
    @include grapher_body-3-regular-italic;
}

@mixin grapher_body-3-medium-italic {
    @include grapher_body-3-medium;
    font-style: italic;
}

.grapher_body-3-medium-italic {
    @include grapher_body-3-medium-italic;
}

//
// labels
//

@mixin grapher_label-1-medium {
    display: block;
    margin: 0;

    font-family: $sans-serif-font-stack;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
}

.grapher_label-1-medium {
    @include grapher_label-1-medium;
}

@mixin grapher_label-1-regular {
    display: block;
    margin: 0;

    font-family: $sans-serif-font-stack;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
}

.grapher_label-1-regular {
    @include grapher_label-1-regular;
}

@mixin grapher_label-2-regular {
    display: block;
    margin: 0;

    font-family: $sans-serif-font-stack;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.grapher_label-2-regular {
    @include grapher_label-2-regular;
}

@mixin grapher_label-2-medium {
    @include grapher_label-2-regular;
    font-weight: 500;
}

.grapher_label-2-medium {
    @include grapher_label-2-medium;
}
