// grapher frame
$frame-color: $gray-10;

// text
$dark-text: $gray-80;
$light-text: $gray-70;
$active-text: $blue-90;

// tooltip for button label
$tooltip-fill: $gray-90;
$tooltip-text: #fff;

// These should be between 0–100 in order to avoid conflicting with
// site dropdowns, search overlays, etc.
$zindex-chart: 1;
$zindex-table: 1;
$zindex-global-entity-select: 11;
$zindex-Tooltip: 20;
$zindex-modal: 30;

$zindex-full-screen: 120;
$zindex-controls-backdrop: 130;
$zindex-controls-popup: 140;
$zindex-controls-drawer: 150;
