.tableTab .data-table {
    th {
        position: sticky;
        z-index: 10;
        height: 51px;
        white-space: nowrap;

        &.dimension,
        &.entity {
            top: 0;
        }

        &.entity {
            z-index: 11;
        }

        &.subdimension {
            top: 51px;
        }
    }

    .entity {
        position: sticky;
        left: 0;
        z-index: 10;
    }
}
