.floating-entity-control-container {
    position: sticky;
    top: 5px;
    z-index: $zindex-floating-entity-select;
}

.floating-entity-control {
    margin-top: 4rem;
    padding: 0.75rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 60px, 0 0 0 1px rgba(0, 0, 0, 0.12);

    display: flex;
    align-items: center;

    .select-dropdown-container {
        width: 15%;
        min-width: 16rem;
        max-width: 19rem;
    }

    .selected-items-container {
        margin-left: 0.75rem;
        border-radius: 100px;
        flex: 1;
        overflow-y: auto;
        overflow-x: visible;
    }

    .selected-items {
        display: flex;
        align-content: center;
    }

    .selected-item {
        display: flex;
        align-items: center;
        border-radius: 100px;
        padding: 0;
        margin-right: 0.375rem;
        user-select: none;
        white-space: nowrap;
        // enough to avoid clipping box-shadow
        margin-left: 2px;
        margin-top: 2px;
        margin-bottom: 2px;

        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15),
            inset 0 0 0 1px rgba(0, 0, 0, 0.1);

        background-color: #3360a9;
        color: #fff;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

        .label {
            font-weight: 700;
            padding-left: 0.85rem;
            padding-right: 0.3rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }

        .control-icon {
            flex: 0;
            font-size: 15px;
            display: flex;
            align-items: center;
            padding-right: 0.85rem;
            padding-left: 0.3rem;
            cursor: pointer;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}
