.lightbox {
    .container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: $zindex-lightbox;
        background-color: black;
    }

    .content {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        & > * {
            cursor: grab;
            &:active {
                cursor: grabbing;
            }
        }
    }
    .react-transform-component {
        overflow: visible;
    }
    .tools {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem 0.5rem;
        background-color: black;

        button {
            padding: 0 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            border: none;
            outline: none;
            color: $white;
            cursor: pointer;
            background: none;
            transition: color 0.3s;
            &:hover {
                color: lightgrey;
            }
        }
        .close {
            transform: rotate(45deg);
        }
    }
}
