.lightbox {
    .container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: $zindex-lightbox;
        background-color: black;
    }

    .content {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: opacity 300ms;
    }
    .close {
        position: absolute;
        margin: 1rem;
        top: 0;
        right: 0;
        transform: rotate(45deg);
        font-size: 1.5rem;
        font-weight: bold;
        color: $white;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
}
