.newsletter-subscription form {
    p {
        margin-top: 0;
    }

    button[type="submit"] {
        border-width: 1px;
    }

    .label-title {
        font-weight: bold;
    }

    fieldset {
        margin-bottom: 1rem;
    }
}

.homepage-subscribe .newsletter-subscription {
    flex: 1;
    .box {
        padding: 2rem;
        border: 3px solid $text-color;
        color: $text-color;
    }
}

.site-header .newsletter-subscription {
    .box {
        width: 100%;
        border-radius: initial;
        margin: 0;
    }
}

.site-tools .newsletter-subscription,
.site-header .newsletter-subscription {
    .box {
        padding: 1rem;
    }
    .email-submit {
        flex-direction: column;
        align-items: flex-end;

        input {
            width: 100%;
            font-size: inherit;
        }

        button {
            margin-top: $vertical-spacing;
        }
    }
}
