{% extends 'base_admin_template.html' %}
{% block content %}
<div class="module-wrapper index-variable-module">
    <a class="back-btn" href="{% url 'showdataset' variable.dataset.id %}"><i class="fa fa-arrow-left"></i>Back to the dataset</a>
		<div class="pull-right right-btns-wrapper clearfix">
			<a href="{% url 'editvariable' variable.id %}"><i class="fa fa-pencil"></i> Edit variable</a>
			<form method="POST" action="{% url 'managevariable' variable.id %}" accept-charset="UTF-8" class="form-inline"><input name="_method" type="hidden" value="DELETE">{% csrf_token %}
				<button class="delete-btn" type="submit"><i class="fa fa-remove"></i> Delete variable</button>
			</form>
		</div>
		<h2>{{ variable.name }}</h2>
		<div class="property-wrapper">
			<h3 class="property-title">Charts</h3>
			<div class="property-value">
                {% for chart in variable.charts %}
                <a href="{% url 'editchart' chart.id %}">{{ chart.config.title }}</a><br/>
                {% endfor %}
            </div>
		</div>
		<div class="property-wrapper">
			<h3 class="property-title">Unit</h3>
			<div class="property-value">
            {{ variable.unit }}
			</div>
		</div>
        <div class="property-wrapper">
			<h3 class="property-title">Short Unit</h3>
			<div class="property-value">
            {{ variable.short_unit }}
			</div>
		</div>
		<div class="property-wrapper">
			<h3 class="property-title">Description</h3>
			<div class="property-value">
            {{ variable.description }}
			</div>
		</div>
		<div class="property-wrapper">
			<h3 class="property-title">Source</h3>
			<div class="property-value">
                <a href="{% url 'managesource' variable.source.id %}">{{ variable.source.name }}</a>
            </div>
		</div>
		<div class="property-wrapper">
			<h3 class="property-title">Data</h3>
			<div class="property-value">
				<div class="rpd-dataform inline">
            <form method="GET" action="?search=1" accept-charset="UTF-8" class="form-inline" role="form">

            <div class="form-group" id="fg_value">

                <label for="value" class="sr-only">Value</label>
                <span id="div_value">
                    <input class="form-control form-control" placeholder="Value" type="text" id="value" name="value">
                </span>
            </div>
                <div class="form-group" id="fg_name">
                    <label for="name" class="sr-only">Entity</label>
                    <span id="div_name">
                        <select class="form-control form-control" type="select" id="name" name="name">
                            <option value="" selected="selected">All</option>
                            {% for each in entities %}
                            <option value="{{ each}}">{{ each}}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>

                <div class="form-group" id="fg_year">
                    <label for="year" class="sr-only">Time</label>

                    <span id="div_year">
                        <input class="form-control form-control" placeholder="Time" type="text" id="year" name="year">
                    </span>
                </div>
                <input class="btn btn-primary" type="submit" value="search">

                <input name="search" type="hidden" value="1"></form>
                </div>

				<div class="rpd-datagrid">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width:100px">ID</th>
                                <th>Value</th>
                                    <th>Entity</th>
                                    <th>Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for each in variable.values %}
                            <tr>
                                <td>{{ each.pk }}</td>
                                <td>{{ each.value }}</td>
                                <td>{{ each.fk_ent_id__name }}</td>
                                <td>{{ each.year }}</td>
                            </tr>
                            {% endfor %}
            </tbody>
        </table>
    </div>

<div class="btn-toolbar" role="toolbar">
        <div class="pull-left">
            <ul class="pagination">
                {% for i in nav_pages %}
                    {% if i == '#' %}
                    <li class="disabled"><span>...</span></li>
                    {% else %}
                <li><a href="{% url 'showvariable' variable.id %}{{ page_request_string }}page={{ i }}">{% if i == current_page %}<b>{{ i }}</b> {% else %}{{ i }}{% endif %}</a></li>
                    {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="pull-right rpd-total-rows">
                {{ total_rows }}
        </div>
    </div>


</div>



			</div>

		</div>
	</div>
{% endblock %}
