{% extends 'base_admin_template.html' %}

{% block content %}

    <a class="back-btn" href="{% url 'showcategory' category.id %}"><i class="fa fa-arrow-left"></i>Back to the category</a>
	<div class="pull-right">
		<form method="POST" action="{% url 'managesubcategory' subcategory.id %}" accept-charset="UTF-8" class="form-inline">
            <input name="_method" type="hidden" value="DELETE">
            {% csrf_token %}
			<input class="btn btn-danger" type="submit" value="Delete subcategory">
		</form>
	</div>
	<h2>Edit subcategory</h2>
	<form method="POST" action="{% url 'managesubcategory' subcategory.id %}" accept-charset="UTF-8" class="col-sm-12 col-md-6 p0">
        <input name="_method" type="hidden" value="PATCH">
        {% csrf_token %}
	<div class="form-group">
		<label for="name">Name:</label>
		<input class="form-control" required="required" name="name" type="text" value="{{ subcategory.name }}" id="name">
	</div>
	<div class="form-group">
		<label for="fk_dst_cat_id">Subcategories ID:</label>
		<select class="form-control" required="required" id="fk_dst_cat_id" name="fk_dst_cat_id">
            {% for each in categories %}
                {% if each.id == category.id %}
                    <option value="{{ each.id }}" selected="selected">{{ each.name }}</option>
                {% else %}
                    <option value="{{ each.id }}">{{ each.name }}</option>
                {% endif %}
	        {% endfor %}
        </select>
    </div>
	<div class="form-group">
		<input class="btn btn-success" type="submit" value="Update subcategory">
	</div>
</form>

{% endblock %}