{% extends 'base_admin_template.html' %}

{% block content %}
<div class="module-wrapper edit-datasource-module">
		<a class="back-btn" href="{% url 'showsource' source.id %}"><i class="fa fa-arrow-left"></i>Back to the source</a>
		<h2>Edit source</h2>
		<form method="POST" action="{% url 'managesource' source.id %}" accept-charset="UTF-8">
            <input name="_method" type="hidden" value="PATCH">
            {% csrf_token %}
			<div class="form-group">
				<label for="name">Name:</label>
				<input class="form-control" name="name" type="text" value="{{ source.name }}" id="name">
			</div>
            <div class="form-group">
				<label for="dataPublishedBy">Data published by:</label>
				<input class="form-control" name="dataPublishedBy" type="text" value="{{ source.dataPublishedBy }}" id="dataPublishedBy">
			</div>
            <div class="form-group">
				<label for="dataPublisherSource">Data publisher's source:</label>
				<input class="form-control" name="dataPublisherSource" type="text" value="{{ source.dataPublisherSource }}" id="dataPublisherSource">
			</div>
            <div class="form-group">
				<label for="link">Link:</label>
				<input class="form-control" name="link" type="text" value="{{ source.link }}" id="link">
			</div>
            <div class="form-group">
				<label for="retrievedDate">Retrieved:</label>
				<input class="form-control" name="retrievedDate" type="text" value="{{ source.retrievedDate }}" id="retrievedDate">
			</div>
			<div class="form-group">
				<label for="additionalInfo">Additional Information:</label>
				<textarea class="form-control source-editor" rows="20" name="additionalInfo" cols="50" id="additionalInfo">{{ source.additionalInfo }}</textarea>
			</div>
			<div class="form-group">
				<input class="btn btn-success" type="submit" value="Update source">
			</div>
	    </form>
	</div>
{% endblock %}
