{% extends 'base_admin_template.html' %}

{% block content %}

    <div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h2>Charts</h2>
				<a href="{% url 'createchart' %}" class="btn btn-success">New chart</a>
			</div>
				{% if not charts %}
					There are no charts.
				{% else %}
					<table id="charts-index" class="table table-bordered table-hover dataTable">
						<thead>
							<tr>
								<th><i class="fa fa-star"></i></th>
								<th>Name</th>
								<th>Type</th>
								<th>Variables</th>
								<th>Notes</th>
								<th>Last Seen On</th>
								<th>Last Updated</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						{% for chart in charts %}
							<tr>
								<td>
									{% if chart.published %}
										<a class="star-toggle" data-chart-id="{{ chart.id }}" title="Show this chart on the front page of the website.">
											{% if chart.starred %}
												<i class="fa fa-star"></i>
											{% else %}
												<i class="fa fa-star-o"></i>
											{% endif %}
										</a>
									{% endif %}
								</td>
								<td>
									{% if not chart.published %}
										<span style="color: red;">Draft: </span> {{ chart.name }}
									{% else %}
										<a href="{{ rootrequest }}/{{ chart.slug }}">{{ chart.name }}</a>
									{% endif %}
								</td>
								<td>{{ chart.type }}</td>
								<td>
                                    {% for variable in chart.variables %}
										<a href="#">{{ variable.name }}</a><br>
									{% endfor %}
								</td>
								<td>{{ chart.notes }}</td>
								<td>
                                    {% if chart.origin_url %}
										<a href="{{ chart.origin_url }}">{{ chart.origin_url }}</a>
									{% endif %}
								</td>
								<td>
									<time class="timeago" datetime="{{ chart.last_edited_at|date:'c' }}">{{ chart.last_edited_at }}</time>
									{% if chart.last_edited_by %}
										by {{ chart.last_edited_by }}
									{% endif %}
								</td>
								<td><a href="{% url 'editchart' chart.id %}" class="btn btn-primary">Edit</a></td>
								<td>
									<form method="POST" action="{% url 'managechart' chart.id %}" accept-charset="UTF-8" class="form-inline">
                                        <input name="_method" type="hidden" value="DELETE">
                                        {% csrf_token %}
										<input class="btn btn-danger" type="submit" value="Delete">
									</form>
                                </td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% endif %}
		</div>
	</div>

{% endblock %}