{% extends 'base_admin_template.html' %}

{% block content %}
	<div class="module-wrapper show-license-module">
		<a class="back-btn" href="{% url 'listlicenses' %}"><i class="fa fa-arrow-left"></i>Back to the list of licenses</a>
		<div class="pull-right right-btns-wrapper clearfix">
			<a href="{% url 'editlicense' license.id %}"><i class="fa fa-pencil"></i> Edit license</a>
		</div>
		<h2>{{ license.name }}</h2>
		<div class="property-wrapper">
			<h3>Description</h3>
			<div class="property-value">
                {% autoescape off %}
				{{ license.description }}
                {% endautoescape %}
			</div>
		</div>
	</div>
{% endblock %}