{% extends 'base_admin_template.html' %}

{% block content %}

    <a class="back-btn" href="{% url 'listcategories' %}"><i class="fa fa-arrow-left"></i>Back to the list of categories</a>
	<h2>New subcategory</h2>
	<form method="POST" action="{% url 'storesubcategory' %}" accept-charset="UTF-8" class="col-sm-12 col-md-6 p0">
    {% csrf_token %}
	<div class="form-group">
		<label for="name">Name:</label>
		<input class="form-control" required="required" name="name" type="text" id="name">
	</div>
	<div class="form-group">
		<label for="fk_dst_cat_id">Subcategories ID:</label>
	    <select class="form-control" required="required" id="fk_dst_cat_id" name="fk_dst_cat_id">
            {% for each in categories %}
                    <option value="{{ each.id }}">{{ each.name }}</option>
	        {% endfor %}
        </select>
    </div>
	<div class="form-group">
		<input class="btn btn-success" type="submit" value="Create category">
	</div>
</form>

{% endblock %}