{% extends 'base_admin_template.html' %}
{% block content %}
<h2>Entities</h2>
<div class="rpd-datagrid">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th style="width:100px">ID</th>
                <th>Name</th>
                <th>Display Name</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for i in entities %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.displayName }}</td>
                <td><a href="{% url 'showentity' i.id %}">View</a></td>
                <td><a href="{% url 'editentity' i.id %}">Edit</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn-toolbar" role="toolbar">
        <div class="pull-left">
            <ul class="pagination">
                {% for i in nav_pages %}
                    {% if i == '#' %}
                    <li class="disabled"><span>...</span></li>
                    {% else %}
                <li><a href="{% url 'listentities' %}?page={{ i }}">{% if i == current_page %}<b>{{ i }}</b> {% else %}{{ i }}{% endif %}</a></li>
                    {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="pull-right rpd-total-rows">
                {{ total_rows }}
        </div>
    </div>
</div>
{% endblock %}