{% extends 'base_admin_template.html' %}

{% block content %}
    <div id="editor" style="position:absolute;top:0;left:0;right:0;bottom:0;">
        <div class="chart-container"></div>

<div id="form-view" class="col-sm-12 col-md-6 form-wrapper">
</div>

	</div>
{% endblock %}

{% block outercontent %}
    <div class="select-var-popup">
	<div class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title">Select dataset from database</h4>
				</div>
				<div class="modal-body">
					<div class="form-variable-select-wrapper">
						<label class="variable-wrapper">
							Database:
							<select name='database' class='form-control'>
                                {% for eachone in data.namespaces %}
                                    {% if namespace == 'owid' %}
								        <option value="{{ eachone.namespace }}" selected>{{ eachone.namespace }}</option>
                                    {% else %}
                                        <option value="{{ eachone.namespace }}">{{ eachone.namespace }}</option>
                                    {% endif %}
                                {% endfor %}
							</select>
						</label>
						<label class="variable-wrapper">
							Variable:
							<select name='chart-variable' data-placeholder="Select your variable" class="form-control form-variable-select chosen-select">
								{% for key, optgroup in data.optgroups.items %}
									<optgroup label="{{ optgroup.name }}">
                                        {% for variable in optgroup.variables %}
											<option title="{{ variable.description }}" data-namespace="{{ variable.namespace }}" data-unit="{{ variable.unit }}" value="{{ variable.id }}">{{ variable.name }}</option>
										{% endfor %}
									</optgroup>
								{% endfor %}
							</select>
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Add variable</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>
</div>
    <form class="settings-var-popup">
	<div class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title">Settings for this variable</h4>
				</div>
				<div class="modal-body">
					<div class="form-variable-select-wrapper">
						<div class="settings-var-name">
							<div class="input-wrapper">
								<label for="display-name">Display Name</label>
								<input class="form-control" type="text" name="display-name" style="width: 100%;"/>
								<label class="isProjection">
									<span>Is projection?</span>
									<input type="checkbox" name="isProjection"/>
								</label>
							</label>
							</div>
						</div>
						<br>
						<div class="advanced-settings">
							<label>
								<span>Target year</span>
								<input type="text" class="form-control digit-input" name="targetYear" />
							</label>
							<label>
								<span>Tolerance</span>
								<input type="text" class="form-control digit-input" name="tolerance" />
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-primary" value="Save">
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>
</form>
{% endblock %}
{% block scripts %}
    {% autoescape off %}
    <script type="text/javascript">
        var chartConfig = {{ chartconfig }};
        var chartView = ChartView.bootstrap({ jsonConfig: chartConfig, containerNode: d3.select('.chart-container').node(), isEditor: true })
		ChartEditor.bootstrap({ chartView: chartView })
    </script>
    {% endautoescape %}
{% endblock %}
