{% extends 'base_admin_template.html' %}

{% block content %}

    <div class="module-wrapper edit-sources-template-module">
		<h2>Edit source template</h2>
		<form method="POST" action="" accept-charset="UTF-8">
            <input name="_method" type="hidden" value="PATCH">
            {% csrf_token %}
			<div class="form-group">
				<label for="source_template">Source template:</label>
				<textarea class="form-control datasource-editor required" name="source_template" cols="50" rows="10" id="source_template">{% autoescape off %}{{ sourcetemplate.meta_value }}{% endautoescape %}</textarea>
			</div>
			<div class="form-group">
				<input class="btn btn-success" type="submit" value="Update sources template">
			</div>
	    </form>
	</div>

{% endblock %}