<!doctype html>
{% load webpack %}{% load rootrequest %}{% load isdebug %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="_token" value="{{ csrf_token }}">
		<title>{% block title %}owid-grapher{% endblock %}</title>
		<meta name="description" content="">
        <link href="{% webpack "charts.css" %}" rel="stylesheet" type="text/css">
		<link href="{% webpack "editor.css" %}" rel="stylesheet" type="text/css">
	</head>
	<body class="skin-blue">
		<script src="{% webpack "charts.js" %}"></script>
		<script src="{% webpack "editor.js" %}"></script>
        <script type="text/javascript">
			window.Global = {}
			Global.rootUrl = "{% rootrequest %}"
			window.App = {}
			App.isEditor = true
			App.isDebug = {% isdebug %}
            window.admin = new Admin("{% rootrequest %}", "{{ cachetag }}", "{{ current_user }}")
            admin.start(document.body)
        </script>
    </body>
</html>