{% extends 'base_admin_template.html' %}

{% block content %}

    <div class="module-wrapper create-logo-module">
		<a class="back-btn" href="{% url 'listlogos' %}"><i class="fa fa-arrow-left"></i>Back to logos</a>
		<h2>Create new logo</h2>
		<form method="POST" action="{% url 'storelogo' %}" accept-charset="UTF-8" enctype="multipart/form-data">
            {% csrf_token %}
			<div class="form-group">
				<label for="name">Name:</label>
				<input class="form-control" name="name" type="text" id="name">
			</div>
			<input name="image" type="file">
			<input class="btn btn-success form-control" type="submit" value="Submit">
		</form>
	</div>

{% endblock %}