{% extends 'base_admin_template.html' %}

{% block content %}
	<a class="back-btn" href="{% url 'listcategories' %}"><i class="fa fa-arrow-left"></i>Back to the list of categories</a>
	<div class="pull-right">
		<a class="" href="{% url 'editcategory' category.id %}"><i class="fa fa-pencil"></i>Edit category</a>
	</div>
	<h2>{{ category.name }}</h2>
	<h3>Subcategories</h3>
	<ul class="no-bullets p0">
    {% for subcategory in category.subcategories %}
			<li><a href="{% url 'editsubcategory' subcategory.id %}">{{ subcategory.name }}</a></li>
    {% endfor %}
	</ul>
	<a class="new-subcategory-btn" href="{% url 'createsubcategory' %}"><i class="fa fa-plus"></i>Create new subcategory</a>
{% endblock %}