{% extends 'base_admin_template.html' %}
{% block content %}
<div class="module-wrapper edit-variable-module">
		<a class="back-btn" href="{% url 'showvariable' variable.id %}"><i class="fa fa-arrow-left"></i>Back to the variable</a>
		<h2>Edit value</h2>
		<form method="POST" action="{% url 'managevariable' variable.id %}" accept-charset="UTF-8" class="validate-form"><input name="_method" type="hidden" value="PATCH">
            {% csrf_token %}
			<div class="form-group">
				<label for="name">Name:</label>
				<input class="form-control required" name="name" type="text" value="{{ variable.name }}" id="name">
			</div>
			<div class="form-group">
				<label for="unit">Unit:</label>
				<input class="form-control" name="unit" type="text" value="{{ variable.unit }}" id="unit">
			</div>
            <div class="form-group">
				<label for="short_unit">Short Unit:</label>
				<input class="form-control" name="short_unit" type="text" value="{{ variable.short_unit }}" id="short_unit">
			</div>
			<div class="form-group">
				<label for="coverage">Geographic Coverage:</label>
				<input class="form-control" name="coverage" type="text" value="{{ variable.coverage }}" id="coverage">
			</div>
			<div class="form-group">
				<label for="timespan">Time Span:</label>
				<input class="form-control" name="timespan" type="text" value="{{ variable.timespan }}" id="timespan">
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<textarea class="form-control" name="description" cols="50" rows="10" id="description">{{ variable.description }}</textarea>
			</div>
			<div class="form-group">
				<label for="sourceId">Source:</label>
				<select class="form-control" id="sourceId" name="sourceId"><option value="{{ variable.source.id }}" selected="selected">{{ variable.source.name }}</option></select>
			</div>
			<div class="form-group">
				<input class="btn btn-success" type="submit" value="Update variable">
			</div>
	    </form>
	</div>
{% endblock %}
