<!doctype html>
{% load webpack %}{% load rootrequest %}{% load isdebug %}
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="_token" value="{{ csrf_token }}">
		<title>{% block title %}owid-grapher{% endblock %}</title>
		<meta name="description" content="">
		<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet" type="text/css">
		<!-- Place favicon.ico in the root directory -->

		<link href="{% webpack "charts.css" %}" rel="stylesheet" type="text/css">
		<link href="{% webpack "admin.css" %}" rel="stylesheet" type="text/css">
	</head>
	<body class="skin-blue">
		<!--[if lt IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="wrapper">
			<header class="main-header">
				<a href="#" class="logo">owid-grapher</a>
				<nav class="navbar navbar-static-top">
					<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
							<li class="dropdown user user-menu">
									<a href="{% url 'logout' %}">
										<span class="hidden-xs">Signed in as <strong>{{ current_user }}</strong></span>
									</a>
							</li>
						</ul>
					</div>
				</nav>
			</header>
			<aside class="main-sidebar">
				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar" style="height: auto;">
					<!-- sidebar menu: : style can be found in sidebar.less -->
					<ul class="sidebar-menu">
						<li class="header">CHARTS</li>
						<li><a href="{% url 'listcharts' %}"><i class="fa fa-bar-chart"></i> Charts</a></li>
						<li class="header">IMPORT</li>
						<li><a href="{% url 'importdata' %}"><i class="fa fa-upload"></i> Import new data</a></li>
						<li class="header">DATA MANAGEMENT</li>
						<li><a href="{% url 'listdatasets' %}"><i class="fa fa-table"></i> Datasets</a></li>
                        <li><a href="{% url 'treeviewdatasets' %}"><i class="fa fa-list-ul"></i> Datasets by categories</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='wdidatasets' %}"><i class="fa fa-database"></i> WDI Datasets</a></li>
                        <li><a href="{% url 'listunwppdatasets' %}"><i class="fa fa-database"></i> UN WPP Datasets</a></li>
                        <li><a href="{% url 'listqogdatasets' %}"><i class="fa fa-database"></i> QOG Datasets</a></li>
                        <li><a href="{% url 'listfaodatasets' %}"><i class="fa fa-database"></i> FAOSTAT Datasets</a></li>
                        <li><a href="{% url 'listclioinfradatasets' %}"><i class="fa fa-database"></i> Clio-Infra Datasets</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='edstatsdatasets' %}"><i class="fa fa-database"></i> EdStats Datasets</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='genderstatsdatasets' %}"><i class="fa fa-database"></i> Gender Stats Datasets</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='hnpstatsdatasets' %}"><i class="fa fa-database"></i> WB HNP Datasets</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='findexdatasets' %}"><i class="fa fa-database"></i> WB FINDEX Datasets</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='bbscdatasets' %}"><i class="fa fa-database"></i> WB BBSC Datasets</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='povstatsdatasets' %}"><i class="fa fa-database"></i> WB POVSTATS Datasets</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='climatechdatasets' %}"><i class="fa fa-database"></i> WB Climate Datasets</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='hnpqstatsdatasets' %}"><i class="fa fa-database"></i> WB HNPQ Datasets</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='se4alldatasets' %}"><i class="fa fa-database"></i> WB SE4ALL Datasets</a></li>
                        <li><a href="{% url 'listwbdatasets' dataset='aspiredatasets' %}"><i class="fa fa-database"></i> WB ASPIRE Datasets</a></li>
                        <li><a href="{% url 'listgbdcausedatasets' %}"><i class="fa fa-database"></i> GBD Cause Datasets</a></li>
                        <li><a href="{% url 'listgbdriskdatasets' %}"><i class="fa fa-database"></i> GBD Risk Datasets</a></li>
                        <li><a href="{% url 'listilostatdatasets' %}"><i class="fa fa-database"></i> ILOSTAT Datasets</a></li>
                        <li><a href="{% url 'countrytoolpage' %}"><i class="fa fa-flag"></i> Country name tool</a></li>
                        <li><a href="{% url 'alldatasethistory' %}"><i class="fa fa-history"></i> Version history</a></li>
						<li class="header">SETTINGS</li>
						<li><a href="{% url 'listusers' %}"><i class="fa fa-users"></i> Users</a></li>
						<li><a href="{% url 'listcategories' %}"><i class="fa fa-folder"></i> Categories</a></li>
					</ul>
				</section>
				<!-- /.sidebar -->
			  </aside>
			<div class="content-wrapper">
            {% if messages %}
                {% for each in messages %}
                    <div class='alert alert-{{ each.tags }}'>
                        <p>{{ each }}</p>
                    </div>
                {% endfor %}
            {% endif %}
				{% block content %}
                {% endblock %}
			</div>
		</div>
		{% block outercontent %}
        {% endblock %}

		<script>
			window.Global = {}
			Global.rootUrl = "{% rootrequest %}"

			window.App = {}
			App.isEditor = true
			App.isDebug = {% isdebug %}

			App.url = function(path) {
				return Global.rootUrl + path;
			}

			App.fetchJSON = function(path) {
				return window.fetch(App.url(path), { credentials: 'same-origin' }).then(function(data) { return data.json(); });
			}

			App.postJSON = function(path, data) {
				return window.fetch(App.url(path), {
					method: 'POST',
					credentials: 'same-origin',
					headers: {
						'Content-Type': 'application/json',
						'Accept': 'application/json',
						'X-CSRFToken': "{{ csrf_token }}"
					},
					body: JSON.stringify(data)
				})
			}
		</script>

		<script src="{% webpack "charts.js" %}"></script>
		<script src="{% webpack "admin.js" %}"></script>

		{% block scripts %}
        {% endblock %}
	</body>
</html>
