<!doctype html>
{% load webpack %}{% load rootrequest %}
<html lang="en">
{% autoescape off %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test All Charts</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

		figure, iframe {
			border: 0;
			width: 914px;
			height: 400px;
		}

		.row {
			padding: 10px;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}

		h3 {
			width: 50%;
			text-align: center;
			margin: 0;
		}

		nav.pagination {
			width: 100%;
			text-align: center;
		}
    </style>
</head>
{% endautoescape %}
<body>
    <div class="row">
        <h3>Old Version</h3>
        <h3>New Version</h3>
    </div>
    
    {% for i in urls %}
        <div class="row">
            <iframe src="{{ i.live_url }}"></iframe>
            {% if i.live_url != i.local_url %}
                <figure data-grapher-src="{{ i.local_url }}"></figure>
            {% endif %}
        </div>
    {% endfor %}

    <nav class="pagination">
		{% if prev_page_url %}
			<a href="{{ prev_page_url }}"><< Prev</a>
		{% endif %}
		{% if next_page_url %}
			<a href="{{ next_page_url }}">Next >></a>
		{% endif %}
	</nav>

    <script src="/grapher/embedCharts.js"></script>
</body>
</html>