$sans-serif-font-stack: Lato, "Helvetica Neue", Arial, sans-serif;
$serif-font-stack: "Playfair Display", Georgia, "Times New Roman", serif;

$controls-color: #3f9eff;

// These should be between 0–100 in order to avoid conflicting with
// site dropdowns, search overlays, etc.
$zindex-chart: 1;
$zindex-tab: 1;
$zindex-ControlsFooter: 2;
$zindex-ControlsFooterMenu: 3;
$zindex-embedMenu: 12;
$zindex-Tooltip: 20;
$zindex-DataSelector: 30;
$zindex-IndicatorDropdown: 50;

figure[data-grapher-src]:empty,
.loading-chart {
    display: flex;
    align-items: center;
    justify-content: center;
}

figure[data-grapher-src]:empty:after,
.loading-chart:after {
    content: "";
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    opacity: 0;

    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.chart,
.chart p,
.chart ul,
.chart ol {
    font-family: $sans-serif-font-stack;
}

.chart {
    display: inline-block;
    border-bottom: none;
    border-radius: 2px;

    line-height: 1em;

    background: white;
    color: #333;

    position: relative;

    /* Hidden overflow x so that tooltips don't cause scrollbars */
    overflow: hidden;

    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px,
        rgba(0, 0, 0, 0.25) 0px 2px 2px 0px;
    z-index: $zindex-chart;

    * {
        box-sizing: border-box;
    }

    button {
        background: none;
        border: none;
    }

    .btn {
        font-size: 0.8em;
        white-space: normal;
    }

    .flash {
        margin: 10px;
    }
    .clickable,
    button {
        cursor: pointer;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .noselect {
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    input[type="checkbox"] {
        cursor: pointer;
    }

    /* Make World line slightly thicker */
    svg .key-World_0 polyline {
        stroke-width: 2 !important;
    }

    .projection .nv-line {
        stroke-dasharray: 3, 3;
    }

    .projection .nv-point {
        fill: #fff;
        stroke-width: 1;
        opacity: 0.5;
    }

    .projection .nv-point.hover {
        stroke-width: 4;
    }

    /* Chart General
    --------------------------------------------- */

    a {
        cursor: pointer;
        color: #0645ad;
        fill: #0645ad;
        border-bottom: none;
    }

    /* Chart Layout
    --------------------------------------------- */

    .HeaderHTML,
    .SourcesFooterHTML {
        font-family: $sans-serif-font-stack;
        font-size: 16px;
        text-rendering: optimizelegibility;
        -webkit-font-smoothing: antialiased;
    }

    .HeaderHTML {
        padding: 15px;
        padding-bottom: 2px;
        text-align: left;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-decoration-color: rgba(0, 0, 0, 0.2);
            }
        }

        h1 {
            font-family: $serif-font-stack;
            font-weight: normal;
            color: #555;
            margin: 0;
        }

        p {
            color: #666;
            margin: 0;
        }

        .logo {
            float: right;

            svg {
                height: 35px !important;
                width: auto !important;
            }
        }
    }

    .SourcesFooterHTML {
        padding: 15px;
        padding-top: 0;
        text-align: left;

        a {
            color: #777;
            text-decoration: none;
            &:visited {
                color: #777;
            }
        }

        p {
            margin: 0;
        }
    }

    .SourcesFooterHTML.compact .license {
        float: right;
    }

    /* Controls Footer
    --------------------------------------------- */

    $footerRowHeight: 40px;

    .ControlsFooter {
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: $zindex-ControlsFooter;
        color: #777;

        .footerRowSingle,
        .footerRowMulti {
            border-top: 1px solid #e1e1e1;
            box-sizing: content-box;
            width: 100%;
            height: $footerRowHeight - 1px;
        }

        .footerRowSingle > * {
            width: 100%;
        }

        .footerRowMulti {
            display: flex;

            > * {
                width: 50%;
            }
        }

        .extraControls {
            display: flex;
            height: 100%;
            align-items: center;
            font-size: 0.8em;
        }

        .footerRowMulti .extraControls {
            padding-left: 0.5em;
        }

        .footerRowSingle .extraControls {
            justify-content: center;
        }

        .extraControls label {
            margin: 0;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }

        .extraControls button {
            margin: 0;
            font-size: 1em;
            color: #666;
        }

        nav.tabs ul {
            margin: 0;
            padding: 0;
            display: table;
            width: 100%;
            text-align: center;
        }

        nav.tabs li {
            list-style-type: none;
            border-left: 1px solid #e1e1e1;
            display: table-cell;
            height: $footerRowHeight;
        }

        .footerRowSingle nav.tabs li:first-child {
            border-left: none;
        }

        nav.tabs li > a {
            display: block;
            text-transform: uppercase;
            color: #777;
            font-size: 0.85em;
            height: $footerRowHeight - 2px;
            line-height: $footerRowHeight;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
        }

        nav.tabs li.icon > a {
            padding: 0 0.4em;
        }

        nav.tabs li > a:hover {
            text-decoration: none;
        }

        nav.tabs li.active > a {
            border-bottom-color: rgba(0, 33, 71, 0.9);
        }
    }

    /* The little loading icon on the download tab */
    .loadingIcon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3em;
    }

    /* Axis Scale Selectors
    --------------------------------------------- */

    .scaleSelector {
        position: absolute;
        font-size: 0.7em;
        color: black;
        text-transform: uppercase;
    }

    /* Data Tab
    --------------------------------------------- */

    .dataTab {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.95);
        padding: 1em;
        text-align: center;
    }

    .dataTab .btn {
        color: #fff;
        background-color: #0275d8;
        border-color: #0275d8;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 1rem;
        font-size: 1em;
        line-height: 1.5;
        border-radius: 0.25rem;
        text-decoration: none;
    }

    .dataTab .btn:hover {
        color: #fff;
        background-color: #025aa5;
        border-color: #01549b;
    }

    h2 {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0.8em;
        font-weight: 500;
        line-height: 1.1;
    }

    /* Sources Tab
    --------------------------------------------- */

    .sourcesTab,
    .DownloadTab {
        padding: 1em;
        text-align: left;
        background: rgba(255, 255, 255, 0.95);
    }

    .sourcesTab > div,
    .DownloadTab > div {
        height: 100%;
        overflow-y: auto;
    }

    .datasource-wrapper {
        font-size: 0.8em;
        max-width: 1024px;
    }

    .datasource-wrapper h2 {
        width: 70%;
        padding-bottom: 0.3em;
        text-transform: uppercase;
        font-size: 0.9em;
        font-family: inherit;
        border-bottom: 1px solid #35322f;
        margin-bottom: 0;
    }
    .datasource-wrapper h2,
    .datasource-wrapper h3,
    .datasource-wrapper h4 {
        margin-left: 0px;
        font-family: inherit;
    }
    .datasource-wrapper h3,
    .datasource-wrapper h4 {
        margin-top: 2px;
        margin-bottom: 1px;
        font-size: 0.9em;
        font-weight: bold;
    }

    .datasource-wrapper td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .datasource-property {
        display: inline-block;
        width: 150px;
    }
    .datasource-additional p {
        margin-top: 0.3em;
    }

    /* Settings Menu
    --------------------------------------------- */

    .SettingsMenu {
        position: absolute;
        right: 1em;
        bottom: 1em;
        text-align: left;
        background: rgba(255, 255, 255, 0.95);
        border: 1px solid #e0e0e0;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12),
            0 2px 2px 0 rgba(0, 0, 0, 0.24);
        padding: 0.8em 1em;
        padding-bottom: 0.5em;
        width: 15em;
        z-index: $zindex-ControlsFooterMenu;
    }

    .SettingsMenu h2 {
        font-size: 1em;
    }

    .SettingsMenu label {
        display: block;
        font-size: 0.8em;
        margin-bottom: 0.2em;
    }

    /* Share Menu
    --------------------------------------------- */

    .ShareMenu {
        position: absolute;
        right: 1em;
        bottom: 1em;
        text-align: left;
        background: rgba(255, 255, 255, 0.95);
        border: 1px solid #e0e0e0;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12),
            0 2px 2px 0 rgba(0, 0, 0, 0.24);
        padding-bottom: 0.5em;
        width: 15em;
        z-index: $zindex-ControlsFooterMenu;
    }

    .ShareMenu.disabled a {
        pointer-events: none;
        opacity: 0.3;
    }

    .ShareMenu h2 {
        padding: 0.8em 1em;
        margin: 0;
        font-size: 1em;
    }

    .ShareMenu .btn {
        display: block;
        padding: 1em 1.5em;
        padding-right: 3em;
        text-align: left;
        color: #333;
        text-decoration: none;
    }

    .ShareMenu .btn > i {
        background-color: #333;
        color: white;
        text-align: center;
        font-size: 1em;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8em;
        margin-right: 2px;
        border-radius: 2px;
        position: relative;
    }

    .ShareMenu .btn:hover {
        text-decoration: none;
        background-color: #eee;
    }

    .ShareMenu section.share a {
        display: block;
        text-align: left;
    }

    .ShareMenu textarea {
        width: 30em;
        height: 20em;
        font-size: 0.8em;
    }

    .embedMenu {
        position: absolute;
        left: 5%;
        top: 5%;
        width: 90%;
        height: 90%;
        border: 1px solid #e0e0e0;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12),
            0 2px 2px 0 rgba(0, 0, 0, 0.24);
        background: rgba(255, 255, 255, 0.95);
        padding: 1em;
        text-align: left;
        z-index: $zindex-embedMenu;
    }

    .embedMenu p {
        margin-bottom: 0;
        margin-bottom: 0.5em;
    }

    .embedMenu textarea {
        width: 100%;
        height: 80%;
    }

    /* Miscellaneous
    --------------------------------------------- */

    .unstroked {
        display: none;
    }

    .DownloadTab,
    .dataTab,
    .sourcesTab {
        z-index: $zindex-tab;
    }

    .DownloadTab {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            color: #333;
            text-decoration: none;
        }

        > a:hover > div {
            text-decoration: underline;
        }

        aside {
            margin: 1em;
        }
    }

    .tooltipHint {
        hr {
            margin-bottom: 0.2em;
            margin-top: 0.2em;
        }
        opacity: 0.7;
    }

    .dataSelectorOverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.08);
    }

    .DataSelectorSingle,
    .DataSelectorMulti {
        z-index: $zindex-DataSelector;
        background: rgba(255, 255, 255, 0.94);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.2);
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        left: 0.35em;
        top: 0.35em;
        bottom: 0.35em;
        right: 0.35em;
        border-radius: 2px;
        text-align: left;

        header {
            position: sticky;
            top: 0;
            background: linear-gradient(
                rgba(white, 1) 75%,
                rgba(white, 0) 100%
            );
            padding-top: 1em;
            padding-bottom: 1.5em;
            margin: 0;

            h2 {
                font-size: 1.5em;
                margin-bottom: 0;
            }
        }

        .wrapper {
            padding-left: 1em;
            padding-right: 1em;
        }

        h2 button {
            float: right;
            line-height: 1.15;
            font-size: 1em;
        }
    }

    .DataSelectorSingle {
        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;
            padding: 0.5em;
            color: #666;
            cursor: pointer;
            margin-bottom: 0.3em;
        }

        li:hover {
            background-color: #eee;
        }

        input[type="search"] {
            width: 100%;
            font-size: 0.9em;
            padding: 0.4em;
            margin-bottom: 0.4em;
            border: 1px solid #ccc;
        }
    }

    .DataSelectorMulti {
        .entities {
            display: flex;
            justify-content: space-between;
            padding-bottom: 1em;
        }

        .selectedData {
            min-width: 25%;
            padding-left: 1em;
        }

        .searchResults {
            width: 100%;
        }

        .searchResults ul {
            display: flex;
            flex-wrap: wrap;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;
            flex: 1 0 15em;
            margin-bottom: 0.3em;
        }

        li > label {
            width: 100%;
        }

        input[type="search"] {
            width: 100%;
            font-size: 0.9em;
            padding: 0.4em;
            margin-bottom: 0.4em;
            border: 1px solid #ccc;
        }

        input[type="checkbox"],
        .clearSelection .icon {
            margin: 0 0.1em 0 0;
        }

        .clearSelection {
            font-size: 1em;
            padding: 0;
            margin: 0.5em 0 0;
            color: rgba(black, 0.4);
            transition: color 150ms ease;

            &:hover {
                color: $controls-color;
            }
        }
    }

    .TimelineControl {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        padding: 0 1em;

        > div {
            margin-right: 0.5em;
        }

        .slider {
            height: 0.6em;
            flex-grow: 1;
            background: #eee;
            border-radius: 5px;
            position: relative;
            display: flex;
            align-items: center;
        }

        .handle {
            height: 1em;
            width: 0.5em;
            border-radius: 0.2em;
            margin-left: -5px;
            background: $controls-color;
            position: absolute;
        }

        .interval {
            position: absolute;
            height: 0.6em;
            background: $controls-color;
        }
    }
}

.chart.portrait .DataSelectorMulti {
    .selectedData {
        min-width: 50%;
    }
}

.chart .DownloadTab {
    font-size: 0.8em;
    padding: 2em;

    > a > div {
        display: flex;
    }
}

.chart.narrow .datasource-wrapper {
    padding: 0;
}

.chart.mobile .ShareMenu .btn-embed {
    display: none;
}

.chart.export {
    padding: 0 !important;
}

.ControlsOverlay {
    position: relative;
    clear: both;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ControlsOverlay .addDataButton {
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 2px;
    padding: 0;
    border: none;
    color: $controls-color;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: -25px;
    outline: none;

    .icon {
        display: inline-block;
        margin-right: 3px;
        vertical-align: text-bottom;
        position: relative;
        width: 16px;
        height: 16px;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        path {
            stroke: #fff;
            stroke-width: 2px;
        }

        &::before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            background-color: $controls-color;
            border-radius: 100%;
            transition: transform 1s cubic-bezier(0, 0, 0.4, 1);
        }
    }

    &:hover .icon::before {
        transform: scale(1.2) !important;
    }
}

.Tooltip {
    z-index: $zindex-Tooltip;
}

.NoData {
    background-color: rgba(#fff, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .action {
        background-color: $controls-color;
        border-radius: 2px;
        padding: 8px 10px;
        color: #fff;
    }
}

/* Copied from .ChartPage styles above for now */
// MB: .ChartPage styles moved to site/ tree
.ExplorePage main #explore {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: calc(100vh - 140px);
}

.ExplorePage .chart-type-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 20px auto;
}

.ExplorePage .chart-type-button {
    height: 54px;
    width: 64px;
    margin-left: 10px;
    font-size: 14px;
    font-variant: all-small-caps;
    vertical-align: bottom;
    color: #555;
    background-color: white;
    border: 1px solid #ccc;
    outline: none;
}

.ExplorePage .chart-type-button.selected {
    color: #333;
    border: 1px solid #3f9eff;
}

.ExplorePage .indicator-dropdown {
    position: relative;
    z-index: $zindex-IndicatorDropdown;
    margin: 20px auto;
}

.ExplorePage .data-table {
    font-size: 0.9375rem;
    margin-top: 60px;
    border: none;
    background: white;
    width: 100%;
    border-spacing: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px,
        rgba(0, 0, 0, 0.25) 0px 2px 2px 0px;

    th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    tr th:first-child,
    tr td:first-child {
        padding-left: 15px;
    }

    tr th:last-child,
    tr td:last-child {
        padding-right: 15px;
    }

    thead tr:first-child th {
        padding-top: 10px;
        padding-bottom: 8px;
        vertical-align: text-top;
    }

    th {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    tr:first-child td {
        padding-top: 8px;
    }

    tr:last-child td {
        padding-bottom: 15px;
    }

    th.sortable {
        cursor: pointer;
    }

    th.sorted,
    th.sortable:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }

    th,
    td {
        padding-left: 15px;
        padding-right: 15px;
        border-right: 1px solid rgba(0, 0, 0, 0.08);
        vertical-align: text-top;
    }

    th:last-child,
    td:last-child {
        border-right: none;
    }

    td {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    tbody tr {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    tbody tr:nth-child(2n) td {
        background-color: rgba(0, 0, 0, 0.017);
    }
    tbody tr:nth-child(2n) td.sorted {
        background-color: rgba(0, 0, 0, 0.037);
    }

    td.sorted {
        background-color: rgba(0, 0, 0, 0.02);
    }

    tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.035);
    }

    .entity {
        text-align: left;
        font-weight: 700;
    }

    .dimension {
        text-align: right;

        .name,
        .unit {
            display: block;
        }

        .unit {
            font-weight: 700;
            opacity: 0.5;
        }
    }

    .notice {
        opacity: 0.5;
        padding-right: 8px;
        font-size: 13px;
        cursor: default;

        .icon {
            font-size: 0.75rem;
            opacity: 0.6;
        }
    }

    .range-year {
        opacity: 0.5;
        font-size: 13px;
        padding-bottom: 4px;
        padding-left: 2px;
    }

    th .sort-icon {
        float: right;
        opacity: 0.15;
        padding-left: 5px;

        &.active {
            opacity: 1 !important;
        }
    }

    th:hover .sort-icon {
        opacity: 0.6;
    }
}

.closest-year-notice {
    max-width: 13rem;
    text-align: center;
    padding: 0.25rem;
}
