.article-block__all-charts {
    h1.h1-semibold {
        text-align: center;
    }

    figure[data-grapher-src] {
        height: $grapher-height;

        @include sm-only {
            // 50px is the height of the header on mobile
            // 40px is the height of the gallery navigation
            // 1rem is the margin between the figure and the gallery navigation
            // 1rem is additional margin
            height: calc(100vh - 90px - 2rem);
        }
    }
}
