.centered-article-container {
    .ref {
        color: $vermillion;
        text-decoration: none;
        &:visited {
            color: $vermillion;
        }
    }
}

$banner-height: 200px;
.article-banner {
    position: absolute;
    left: 0;
    right: 0;
    height: $banner-height;
    background: #f7c020;
    z-index: -1;
}

.article-summary {
    margin-bottom: 32px;
}

.centered-article-header {
    background: $white;
    margin-top: 80px;
    min-height: calc($banner-height - 80px);
    padding-top: 2 * $vertical-spacing;
    padding-bottom: 2 * $vertical-spacing;
}

.article-block__text {
    margin-top: 0;
}

h2.article-block__heading.has-supertitle {
    margin-top: 24px;
    .article-block__heading-supertitle {
        color: $blue-50;
        margin-bottom: 8px;
    }

    // Center the next three subsequent paragraphs 🥴
    + .article-block__text {
        text-align: center;
        + .article-block__text {
            text-align: center;
            + .article-block__text {
                text-align: center;
            }
        }
    }
}

.centered-article-container > .article-block__divider {
    border-top: 1px solid $blue-20;
    margin: 48px 0;
}

// Don't show the divider directly after the ToC
.article-block__sdg-toc + .article-block__divider {
    border: none;
    margin: 0;
}

h3.article-block__heading.has-supertitle {
    margin-bottom: 24px;

    .article-block__heading-supertitle {
        color: $blue-50;
        margin-bottom: 8px;
    }

    + * {
        margin-top: 0;
    }
}

.centered-article-header__title-container {
    margin-top: 50px;
    .centered-article-header__supertitle {
        @include overline-black-caps;
        color: $blue-50;
    }

    .centered-article-header__title {
        @include display-2-semibold;
        margin-top: 0;
        color: $blue-90;
    }
}

.centered-article-header__subtitle {
    @include subtitle-1;
    color: $blue-50;
}

.centered-article-header__meta-container {
    border-bottom: 1px solid $blue-10;
    border-top: 1px solid $blue-10;
    margin-bottom: 32px;
    padding: 32px 0;
    color: $blue-60;
    @include body-1-regular;

    a {
        text-underline-offset: 5px;
        margin-bottom: 8px;
        @include owid-link-60;
        &:visited {
            color: $blue-60;
        }
    }

    .centered-article-header__byline,
    .centered-article-header__dateline {
        margin-bottom: 8px;
    }

    svg {
        margin-right: 8px;
    }

    @include sm-up {
        > div:first-child {
            border-right: 1px solid $blue-10;
        }
    }
}

.footnote-container,
#article-citation,
#article-licence {
    margin-top: 48px;
    padding-top: 48px;
    @include body-3-medium;
    border-top: 1px solid $blue-10;
    color: $blue-60;
    width: 100%;

    h3 {
        @include h3-bold;
        color: $blue-50;
        margin: 24px 0 16px;
    }

    a {
        @include owid-link-60;
        color: inherit;
    }
}

#article-citation {
    h3 {
        margin-top: 0;
    }
    p {
        margin-bottom: 16px;
    }
    div:last-of-type .wp-code-snippet {
        margin-bottom: 0;
    }
}

#article-licence {
    text-align: center;
    margin-bottom: 34px; // Should be 48px, but I don't get why this margin doesn't collapse with the 32px margin of the last paragraph.
}

.article-block__text,
.article-block__list,
.article-block__html {
    @include body-2-regular;

    .span-link {
        @include owid-link-60;
        color: inherit;
    }
}

.article-block__aside-right figcaption {
    border-left: 1px solid $blue-20;
    padding-left: 24px;

    @include md-down {
        border: 1px solid $blue-20;
        padding: 24px;
    }
}

.article-block__aside-left figcaption {
    border-right: 1px solid $blue-20;
    padding-right: 24px;
    text-align: right;

    // Same as aside-right when in a single-column mobile view
    @include md-down {
        border: 1px solid $blue-20;
        padding: 24px;
        text-align: left;
    }
}

.article-block__pull-quote {
    @include h1-bold-italic;
    border-bottom: 1px solid #dbe5f0;
    border-top: 1px solid #dbe5f0;
    margin: 32px 0;
    padding: 32px 0;
    text-align: center;
}

.article-block__recirc {
    margin-bottom: 24px;

    .recirc-content {
        background: $gray-10;
        padding: 24px;
    }

    .recirc-content__heading {
        color: $blue-40;
    }

    h3 {
        margin-top: 0;
        a {
            color: $blue-90;
        }
    }

    .recirc-article-container {
        padding: 24px 0;
        &:not(:last-child) {
            border-bottom: 1px solid $blue-10;
        }
    }
}

.article-block__chart {
    // necessary for containerNode.getBoundingClientRect() in Grapher.renderGrapherIntoContainer
    width: 100%;
    margin: 0;

    figure {
        margin: 0;
    }

    .GrapherComponent {
        display: block;
        margin: 0 auto;
    }
}

.article-block__chart-story {
    .chart-story__nav-arrow {
        display: flex;
        align-items: center;
        background: none;
        border: none;

        &:disabled {
            cursor: default;
            svg {
                color: $blue-40;
            }
        }
    }

    .chart-story__nav-arrow--left {
        justify-content: flex-start;
        svg {
            margin-left: 4px;
        }
    }

    .chart-story__nav-arrow--right {
        justify-content: flex-end;
        svg {
            margin-right: 8px;
        }
    }

    .chart-story__chart {
        margin-top: 32px 0;
        // necessary for containerNode.getBoundingClientRect() in Grapher.renderGrapherIntoContainer
        width: 100%;
        > figure {
            margin: 0;
            width: 100%;
            > figure {
                margin: 0;
            }
        }
    }

    .chart-story__technical-text {
        margin-bottom: 16px;
    }

    .chart-story__technical-details {
        margin-bottom: 24px;
        li {
            margin-bottom: 12px;
        }
    }
}

.sticky-column-wrapper {
    top: 32px;
    position: sticky;
}

.article-block__scroller {
    margin-bottom: 32px;
    position: relative;

    @include sm-up {
        .scroller__paragraph {
            height: 50vh;
            margin: 200px 0;

            &:first-child {
                margin-top: 0;
            }
        }
        .scroller__chart {
            position: sticky;
            top: calc((100vh - 550px) / 2);
        }
    }

    @include sm-only {
        .scroller__paragraph-container {
            pointer-events: none;
            z-index: 1;
        }

        .scroller__chart-container {
            position: sticky;
            bottom: 0;
            z-index: 0;
        }

        .GrapherComponent {
            box-shadow: none;
        }

        .scroller__paragraph-intersection-wrapper {
            height: 100vh;
        }

        .scroller__paragraph {
            @include body-2-regular;
            background: white;
            padding: 8px;
            outline: 1px solid $gray-10;
            pointer-events: all;
        }
    }
}

.article-block__grey-section {
    background-color: $gray-10;
    padding: 48px 0;
    margin: 32px 0;

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    // don't add the special heading formatting if we're inside a grey section
    .article-block__heading.has-supertitle {
        border: none;
        padding-top: 0;
    }
}

.article-block__sticky-right,
.article-block__sticky-left,
.article-block__side-by-side {
    margin: 48px 0;
}

.article-block__prominent-link {
    color: $blue-90;
    margin-bottom: 24px;

    > .prominent-link__image {
        background-color: $gray-10;
        height: 100%;
        width: 100%;
    }

    h3 {
        display: inline-block;
        &:hover {
            text-decoration: underline;
        }
    }

    svg {
        color: $blue-90;
        margin-left: 8px;
        transition: 150ms;
    }

    a:hover svg {
        transform: translateX(0.125em);
    }

    + .article-block__prominent-link {
        padding-top: 24px;
        border-top: 1px solid $blue-10;
    }
}
