.article-container {
}

$banner-height: 200px;
.article-banner {
    position: absolute;
    left: 0;
    right: 0;
    height: $banner-height;
    background: #f7c020;
    z-index: -1;
}

.article-header {
    background: #fff;
    min-height: $banner-height;
    text-align: center;
}

.article-header__title {
    @include display-2-semibold;
    color: $blue-90;
}

.article-header__subtitle {
    @include subtitle-1;
    color: $blue-50;
}

.article-header__byline-container {
    border-bottom: 1px solid $blue-20;
    border-top: 1px solid $blue-20;
    margin-bottom: 32px;
    padding: 32px 0;
    @include body-1-regular;
}

.article-block__text {
    @include body-1-regular;
}

.article-block__aside-right figcaption {
    border-left: 1px solid $blue-20;
    padding-left: 24px;
}

.article-block__aside-left figcaption {
    border-right: 1px solid $blue-20;
    padding-right: 24px;
    text-align: right;
}

.article-block__pull-quote {
    @include h1-bold-italic;
    border-bottom: 1px solid #dbe5f0;
    border-top: 1px solid #dbe5f0;
    margin: 32px 0;
    padding: 32px 0;
    text-align: center;
}

.article-block__recirc {
    .recirc-content {
        background: $gray-10;
        padding: 24px;
    }

    .recirc-content__heading {
        color: $blue-40;
    }

    h3 {
        margin-top: 0;
        a {
            color: $blue-90;
        }
    }

    .recirc-article-container {
        padding: 24px 0;
        &:not(:last-child) {
            border-bottom: 1px solid $blue-10;
        }
    }
}

.article-block__chart-story {
    .chart-story__nav-hud {
        margin-bottom: 24px;
    }

    .chart-story__nav-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chart-story__chart {
        margin-top: 32px;
    }

    .chart-story__technical-text {
        margin-bottom: 16px;
    }

    .chart-story__technical-details {
        margin-bottom: 24px;
        li {
            margin-bottom: 12px;
        }
    }
}

.sticky-column-wrapper {
    top: 32px;
    position: sticky;
}
