.owidArticle .sdg-grid {
    // todo: responsive

    @include lg-up {
        @include grid(12);
        row-gap: $grid-gap;
        grid-column: 2 / 14;

        // Centering last row
        &:before {
            content: "";
            grid-column: 1 / 2;
            grid-row: 3;
        }
        .sdg-grid--tile {
            grid-column: span 2;
        }
    }
}
