/* 
* Topic Page
**/

.topic-page-header {
    background-color: $blue-10;
    color: $blue-90;
    margin-bottom: 48px;

    h1 {
        margin-bottom: 0;
        @include sm-only {
            font-size: 2rem;
            margin-top: 24px;
        }
    }

    .topic-page-header__subtitle {
        margin: 0;
    }

    .topic-page-header__byline {
        color: $blue-60;
        margin-bottom: 34px;
        a {
            @include owid-link-60;
        }
    }

    + .sticky-nav {
        margin-top: -48px;
    }
}

.article-block__topic-page-intro {
    margin-top: 48px;

    @include sm-only {
        margin-top: 24px;
    }

    .topic-page-intro__content {
        p:first-child {
            margin-top: 0;
        }
        a {
            @include owid-link-90;
        }
    }

    .topic-page-intro__download-button {
        a {
            padding: 8px 24px;
            border: 1px solid $vermillion;
            color: $vermillion;
            display: inline-block;
            cursor: pointer;
            line-height: 30px;
            text-align: center;
        }

        &:hover {
            a {
                color: $accent-vermillion;
                border-color: $accent-vermillion;
            }
        }

        @include md-down {
            margin-top: 32px;
        }
    }

    .topic-page-intro__related-topics {
        border-left: 1px solid $blue-10;
        padding-left: 24px;
        margin-top: 48px;
        @include md-down {
            display: none;
        }

        h4 {
            color: $blue-40;
        }

        ul {
            list-style-type: none;

            li {
                margin-top: 16px;

                a {
                    @include body-3-medium;
                    color: $blue-90;
                    position: relative;

                    &:hover {
                        text-decoration: underline;
                    }

                    &:after {
                        content: "";
                        background-color: $blue-90;
                        mask: url($right-arrow) no-repeat;
                        -webkit-mask: url($right-arrow) no-repeat;
                        position: absolute;
                        width: 9px;
                        top: 0;
                        height: 12px;
                        background-repeat: no-repeat;
                        margin-top: 4px;
                        margin-left: 6px;
                    }
                }
            }
        }
    }
}

.article-block__key-insights {
    @include sm-only {
        h2 {
            font-size: 1.625rem;
        }
    }

    figure {
        margin: 0;
    }

    img {
        width: 100%;
    }

    .article-block__key-insights-content-column {
        max-height: 575px;
        overflow-y: auto;
        scrollbar-width: thin;
        @include md-up {
            padding-right: 16px;
        }
        ul {
            margin-bottom: 32px;
            li {
                @include body-2-regular;
                margin-bottom: 8px;
            }
        }
    }

    .article-block__callout {
        h5 {
            text-align: center;
            letter-spacing: 10%;
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid $blue-20;
        }
    }
}

.article-block__gray-section {
    h1 {
        text-align: center;
        // Countering the gray-section padding to make this have 32px 16px
        margin-top: -16px;
        margin-bottom: 16px;
    }

    .article-block__text,
    .article-block__list,
    .article-block__html,
    .article-block__numbered-list {
        @include body-3-medium;
    }
}

// Collapse margins for "More about this data" heading below the explorer
.centered-article-container--topic-page
    .article-block__explorer
    + .article-block__sticky-right {
    margin-top: 0;

    .article-block__sticky-right-left-column h2:first-child {
        margin-top: 0;
    }
}
