@use "sass:color";

.bespoke-component__error {
    padding: 16px;
    background-color: color.scale($vermillion, $lightness: +90%);
    border: 1px solid $vermillion;
    border-radius: 4px;
    color: $vermillion;
    font-size: 14px;
}

.bespoke-component__fallback-image {
    picture {
        // fixes strange extra height that is otherwise added to the element on firefox
        display: flex;

        border: 1px solid $gray-20;
    }

    img {
        width: 100%;
        height: auto;
    }
}
