.article-block__explorer-tiles {
    margin-bottom: 40px;
    .explorer-tiles__title {
        margin: 0;
    }
    .explorer-tiles__subtitle {
        color: $blue-60;
        margin: 0 0 16px 0;
    }
    .explorer-tiles__cta {
        display: block;
        padding: 8.5px 16px;
        color: $vermillion;
        border: 1px solid $vermillion;
        border-radius: 0;
        width: fit-content;
        justify-self: end;
        grid-row: span 2;
        align-self: center;
        height: 40px;
        &:hover {
            color: $accent-vermillion;
            border-color: $accent-vermillion;
        }
        @include sm-only {
            justify-self: start;
            margin-top: 16px;
            order: 4;
            text-align: center;
            width: 100%;
        }
    }
    .explorer-tiles-grid {
        row-gap: var(--grid-gap);
        @include md-down {
            grid-template-rows: repeat(2, 1fr);
            column-gap: var(--grid-gap);
        }
    }
    .explorer-tile {
        background-image: url("/explorer-thumbnail.webp");
        background-size: cover;
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .explorer-tile__icon {
        background-color: $blue-55;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .explorer-tile__text-container {
        width: 100%;
        margin-top: 18px;
    }
    .explorer-tile__title,
    .explorer-tile__suffix {
        margin: 0;
    }
    .explorer-tile__title {
        color: #fff;
    }
    .explorer-tile__suffix {
        color: $blue-40;
    }
}
