.hybrid-link-item {
    list-style: none;
    padding: 16px 0;

    &:first-child {
        padding-top: 12px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $blue-20;
    }

    a {
        position: relative; // for anchoring the external link icon with position: absolute
        display: flex;
        gap: var(--grid-gap);
        &:hover {
            h4 {
                text-decoration: underline;
            }
        }
    }

    h4 {
        @include h4-semibold;
        line-height: 1.3125;
        margin: 0;
        margin-bottom: 4px;
        color: $blue-90;
    }

    p {
        @include note-13-medium;
        margin: 0;
        color: $blue-65;
        overflow-y: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.hybrid-link-item--external {
    svg {
        color: $blue-60;
        margin-left: 8px;
        height: 14px;
        margin-top: 6px;
        width: 14px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .hybrid-link-item-text {
        margin-right: 20px;
    }
}

.hybrid-link-thumbnail {
    flex-shrink: 0;
    object-fit: contain;
    align-self: start;
    width: var(--thumbnail-width);
}
