.key-indicator {
    background-color: $blue-5;

    margin: 0 -24px 24px;
    padding: 24px;

    @include sm-only {
        margin: 0 -16px 16px;
        padding: 16px;
    }

    .left {
        @include sm-only {
            margin-bottom: 16px;
        }
    }

    .indicator-title {
        @include body-2-semibold;
        color: $blue-90;
        margin-bottom: 16px;
    }

    .indicator-source {
        @include body-3-medium;
        display: inline-block;
        margin-left: 8px;
        color: $blue-50;
    }

    .narrative-title {
        @include subtitle-2-bold;
        color: $blue-90;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .blurb {
        @include body-2-regular;
        color: $blue-90;

        p:first-of-type {
            margin-top: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .blurb a {
        @include owid-link-90;
    }

    .metadata-entry {
        @include body-3-medium;
    }

    .metadata-entry__title {
        color: $blue-50;
    }

    .metadata-entry__value {
        color: $blue-90;
    }

    .description {
        @include body-3-medium;
        color: $blue-60;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .datapage-link {
        @include body-3-medium;

        display: block;
        @include sm-up {
            display: inline-block;
        }

        min-height: 40px;
        padding: 8px 24px;
        text-align: center;
        color: $white;
        background-color: $blue-60;
        cursor: pointer;
        border: none;

        &:hover {
            background-color: $blue-90;
        }

        svg {
            font-size: 0.75rem;
            margin-left: 8px;
        }
    }

    // TODO: should this be at the bottom of the section?
    .datapage-link-desktop {
        margin-top: 24px;
        @include sm-only {
            display: none;
        }
    }

    .datapage-link-mobile {
        margin-top: 16px;
        @include sm-up {
            display: none;
        }
    }
}
