.key-indicator-collection {
    // keep in sync with HEIGHT_ANIMATION_DURATION_IN_SECONDS in KeyIndicatorCollection.tsx
    $duration: 0.4s;
    $border: $blue-10;

    margin: 0 -24px;

    .accordion-item--closed + .accordion-item--closed {
        border-top: 1px solid $border;
    }

    .accordion-item--closed:first-of-type {
        border-top: 1px solid $border;
    }

    .accordion-item--closed:last-of-type {
        border-bottom: 1px solid $border;
    }

    .accordion-item h3 {
        margin: 0;
    }

    .accordion-item__header {
        background-color: $white;
        width: 100%;
        text-align: left;
        padding: 16px 24px;
    }

    .accordion-item--open .accordion-item__header {
        background-color: $blue-20;
    }

    .accordion-item--closed .accordion-item__header:hover {
        background-color: $blue-5;
    }

    .accordion-item--closed
        .accordion-item__header:hover
        .key-indicator-header__icon {
        opacity: 1;
        transition: opacity 0s;
    }

    .accordion-item__content {
        padding: 0 24px;
        overflow: hidden;
        transition: height $duration cubic-bezier(0.76, 0, 0.24, 1);
    }

    .key-indicator-header__title {
        @include body-2-semibold;
        color: $blue-90;
    }

    .key-indicator-header__source {
        @include body-3-medium;
        display: inline-block;
        margin-left: 8px;
        color: $blue-50;
    }

    .key-indicator-header__icon {
        color: $blue-90;
        font-size: 0.875rem;
        font-weight: 900;
        text-align: right;

        @include sm-up {
            opacity: 0;
            transition: opacity 0.2s;
        }
    }

    button {
        border: 0;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
    }

    button[disabled] {
        cursor: default;
    }

    // update <KeyIndicator /> styles
    .key-indicator {
        margin-bottom: 0;
        .indicator-title {
            display: none;
        }
    }
}
