.key-indicator {
    background-color: $blue-10;

    margin: 0 -24px 24px;
    padding: 16px 24px;

    @include sm-only {
        margin: 0 -16px 16px;
        padding: 16px;
    }

    .indicator-title {
        @include body-2-semibold;
        color: $blue-60;
        margin-bottom: 14px;
    }

    .narrative-title {
        @include h3-bold;
        color: $blue-90;
        margin-top: 0;
        margin-bottom: 8px;
    }

    .blurb {
        @include body-2-regular;
        color: $blue-90;
        margin-bottom: 16px;

        p:first-of-type {
            margin-top: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .blurb a {
        @include owid-link-90;
    }

    .metadata {
        @include sm-only {
            display: none;
        }
    }

    .metadata--border-top {
        border-top: solid rgba(164, 182, 202, 0.5);
        padding-top: 16px;
    }

    .metadata-entry {
        @include body-3-medium;
        margin-bottom: 16px;
    }

    .metadata-entry__title {
        color: $blue-50;
    }

    .metadata-entry__value {
        color: $blue-90;
    }

    .datapage-link {
        @include body-3-medium;

        display: block;
        @include sm-up {
            display: inline-block;
        }

        min-height: 40px;
        padding: 8px 24px;
        text-align: center;
        color: $white;
        background-color: $blue-60;
        cursor: pointer;
        border: none;
    }

    .datapage-link-desktop {
        margin-top: 8px;
        @include sm-only {
            display: none;
        }
    }

    .datapage-link-mobile {
        margin-top: 16px;
        @include sm-up {
            display: none;
        }

        svg {
            font-size: 0.75rem;
            margin-left: 8px;
        }
    }
}
