.person {
    display: flex;
    gap: var(--grid-gap);
    margin-bottom: 8px;

    @include sm-only {
        flex-direction: column;
        gap: 16px;
    }
}

.person-image-container {
    display: flex;
    flex: 0 0 193px;
    gap: 16px;

    @include sm-only {
        align-items: center;
        flex: initial;
    }
}

.person-image {
    picture {
        display: flex; // Fix extra padding at the bottom.
    }

    img {
        border-radius: 50%;
    }

    @include sm-only {
        flex: 0 0 76px;
    }
}

.person-header {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 8px;
}

.person-heading {
    margin: 0;
}

.person-title {
    color: $blue-60;
}

.person-socials {
    margin-top: 16px;
    margin-bottom: 16px;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 16px;
        list-style-type: none;
        list-style-position: inside;
    }

    svg {
        color: $blue-60;
    }

    a {
        @include owid-link-90;
    }
}
