.recirc {
    --thumbnail-width: 70px;
    background-color: $gray-5;
    padding: 16px;
    padding-bottom: 8px;
    align-self: start;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    grid-row: span 10;
}

.article-block__chart:has(+ .recirc) {
    margin-bottom: 32px;
}

.recirc--right,
.recirc--left {
    @include md-up {
        .hybrid-link-thumbnail {
            display: none;
        }
    }
}

.recirc__heading {
    color: $blue-60;
}
