.article-block__research-and-writing {
    margin-bottom: 40px;

    > h1 {
        font-size: 32px;
        margin-bottom: 40px;

        // Only the first large thumbnail, the "shorts" section has a margin
        // so the second thumbnail doesn't need any
        + .research-and-writing-link {
            @include md-down {
                margin-bottom: 16px;
            }
        }
    }
}

.research-and-writing-row h2 {
    margin-top: 32px;
    margin-bottom: 24px;
    color: $blue-50;
}

.research-and-writing-row__links {
    row-gap: 32px;

    @include sm-only {
        display: flex;
        overflow-x: auto;
        scrollbar-width: thin;
    }
    .research-and-writing-link {
        h3 {
            @include h3-bold;
            margin-top: 16px;
            margin-bottom: 8px;
        }
        @include sm-only {
            flex: 1 0 80%;
        }
    }
}

.research-and-writing-link {
    h2,
    h3 {
        @include owid-link-90;
        margin-top: 16px;
        margin-bottom: 8px;
        text-decoration: none;
    }

    &:hover {
        h2,
        h3 {
            text-decoration: underline;
        }
    }

    .research-and-writing-link__description {
        color: $blue-90;
        margin-bottom: 8px;
        margin-top: 0;
    }

    .research-and-writing-link__authors {
        color: $blue-60;
        margin-bottom: 8px;
        margin-top: 0;
    }

    figure {
        padding-bottom: 57%;
        width: 100%;
        max-height: 57%;
        display: block;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        margin: 0;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.research-and-writing-link--error {
    background-color: rgba(255, 0, 0, 0.1);
    padding: 24px;
}

.article-block__gray-section + .article-block__research-and-writing {
    // Compensating for non-collapsing margins
    margin-top: -32px;
}
