$rw-margin-bottom-grid-cell: 4px;

.article-block__research-and-writing {
    margin-bottom: 40px;

    > h1 {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

.research-and-writing-row__heading {
    // The assumption here is that the last item of the cell always has a
    // margin-bottom of 8px, whether it is author names (topic pages) or an
    // excerpt (author pages). The calculation is kept visible as a way to
    // better document what is happening, and to preserve the design intent in
    // code.
    margin-top: 32px - $rw-margin-bottom-grid-cell;
    margin-bottom: 24px;
    color: $blue-50;
}

.research-and-writing-row__links {
    row-gap: 40px - $rw-margin-bottom-grid-cell;

    @include sm-only {
        display: flex;
        overflow-x: auto;
        scrollbar-width: thin;
    }
}

.research-and-writing-row__links--condensed {
    row-gap: 32px - $rw-margin-bottom-grid-cell;
}

.research-and-writing-link {
    @include sm-only {
        flex: 1 0 80%;
    }

    @include owid-link-90;
    text-decoration: none;

    &:hover .research-and-writing-row-link__title {
        text-decoration: underline;
    }

    figure {
        padding-bottom: 57%;
        width: 100%;
        max-height: 57%;
        display: block;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        margin: 0 0 12px;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.research-and-writing-link__title {
    margin-top: 0;
    margin-bottom: $rw-margin-bottom-grid-cell;
}

.research-and-writing-link__description {
    color: $blue-90;
    margin-bottom: $rw-margin-bottom-grid-cell;
    margin-top: 0;
}

.research-and-writing-link__authors {
    color: $blue-60;
    margin-bottom: $rw-margin-bottom-grid-cell;
    margin-top: 0;
}

.research-and-writing-link--error {
    background-color: rgba(255, 0, 0, 0.1);
    padding: 24px;
}

.article-block__gray-section + .article-block__research-and-writing {
    // Compensating for non-collapsing margins
    margin-top: -32px;
}
