/*
* Topic Page
**/

// These styles are used both for topic page and linear topic page headers
.topic-page-header {
    background-color: $blue-10;
    color: $blue-90;
    margin-bottom: 48px;
    z-index: $zindex-extended-header;

    h1 {
        margin-bottom: 0;
        @include sm-only {
            font-size: 2rem;
            margin-top: 24px;
        }
    }

    .topic-page-header__subtitle {
        margin: 0;
    }

    p.topic-page-header__byline {
        margin-bottom: 0;
        color: $blue-60;
        @include sm-only {
            font-size: 0.875rem;
        }
    }
    .topic-page-header__byline a {
        @include owid-link-60;
        &:visited {
            color: inherit;
        }
    }

    // Applies to either .topic-page-header__byline or .topic-page-header__dateline, if specified
    p:last-child {
        margin-bottom: 34px;
        @include sm-only {
            margin-bottom: 16px;
        }
    }

    + .sticky-nav {
        margin-top: -48px;
    }
}

.article-block__topic-page-intro {
    margin-top: 48px;

    @include sm-only {
        margin-top: 24px;
    }

    .topic-page-intro__content {
        p:first-child {
            margin-top: 0;
        }
        a {
            @include owid-link-90;
        }
    }

    .topic-page-intro__download-button {
        a {
            padding: 8px 24px;
            border: 1px solid $vermillion;
            color: $vermillion;
            display: inline-block;
            cursor: pointer;
            line-height: 30px;
            text-align: center;
        }

        &:hover {
            a {
                color: $accent-vermillion;
                border-color: $accent-vermillion;
            }
        }

        @include md-down {
            margin-top: 32px;
        }
    }

    .topic-page-intro__related-topics {
        border-left: 1px solid $blue-10;
        padding-left: 24px;
        margin-top: 48px;
        @include md-down {
            display: none;
        }

        @include related-topics;
    }
}

.article-block__key-insights {
    @include sm-only {
        h1 {
            font-size: 1.625rem;
        }
    }

    figure {
        margin: 0;
    }

    img {
        width: 100%;
    }

    .article-block__key-insights-content-column {
        max-height: 575px;
        overflow-y: auto;
        scrollbar-width: thin;
        @include md-up {
            padding-right: 16px;
        }

        @include sm-only {
            margin-bottom: 24px;
            .content > *:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            margin-bottom: 32px;
            li {
                @include body-2-regular;
                margin-bottom: 8px;
            }
        }
    }

    .article-block__callout {
        h5 {
            text-align: center;
            letter-spacing: 10%;
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid $blue-20;
        }
    }
}

// small amount of extra padding to match figma designs which is 40px total for key-insights heading
.article-block__heading + .wp-block-owid-key-insights {
    margin-top: 8px;
}

.centered-article-container--topic-page .article-block__gray-section {
    > h1 {
        // Countering the gray-section padding to make this have 32px 16px
        margin-top: -16px;
        margin-bottom: 16px;

        // Special exception for the "Explore data on Blah" heading (which is a gdoc .article-block__heading)
        // so that it's left-aligned like the rest of the topic page component headings
        &[id^="explore"] {
            grid-column-start: 2;
        }
    }

    .article-block__text,
    .article-block__list,
    .article-block__html,
    .article-block__numbered-list {
        @include body-3-medium;
    }
}

// Collapse margins for "More about this data" heading below the explorer
.centered-article-container--topic-page
    .article-block__explorer
    + .article-block__sticky-right {
    margin-top: 0;

    .article-block__sticky-right-left-column h2:first-child {
        margin-top: 0;
    }
}

.centered-article-container--topic-page #article-citation h3 {
    text-align: left;
}

// Linear topic page customizations
.centered-article-container--linear-topic-page {
    .article-block__horizontal-rule
        + h1.article-block__heading.h1-semibold
        + .article-block__horizontal-rule {
        // h1's have a bottom margin of 24px, which stacked atop the hr's 48px, is too large.
        // this shrinks the second hr's margin-top so that it's 48px total, without affecting the
        // margins of any h1 that might come directly after it.
        margin-top: 24px;
    }
    h1.article-block__heading.h1-semibold {
        font-size: 2.25rem;
        a.deep-link {
            margin-top: 19px;
        }
        @include sm-up {
            font-size: 2.625rem;
            a.deep-link {
                margin-top: 23px;
            }
        }
    }
    h2.article-block__heading.h2-bold {
        font-size: 1.5rem;
        a.deep-link {
            margin-top: 13px;
        }
        @include sm-up {
            font-size: 2rem;
            a.deep-link {
                margin-top: 19px;
            }
        }
    }
    h3.article-block__heading.h3-bold {
        font-size: 1.25rem;
        a.deep-link {
            margin-top: 10px;
        }
        @include sm-up {
            font-size: 1.5rem;
            a.deep-link {
                margin-top: 12px;
            }
        }
    }
}
