.article-content .wp-block-owid-prominent-link {
    svg {
        width: 0.4em;
        height: 1em;
        vertical-align: middle;
        margin-left: 0.6rem;
        transition: all 0.2s;
    }

    background-color: $primary-color-100;
    border: 1px solid $primary-color-100;
    border-radius: 2px;
    transition: all 0.3s;

    &:hover {
        @include block-shadow;
        background-color: $primary-color-200;
        border: 1px solid $primary-color;
        svg {
            margin-left: 0.8rem;
        }
    }

    a {
        display: block;
        color: $primary-color-800;
        &:visited {
            color: $primary-color-800;
        }
        &:hover {
            text-decoration: none;
            color: $primary-color;
        }
    }

    &.is-style-default {
        @include left-media-columns;
        margin-bottom: 2rem;
        a {
            padding: $padding-x-sm;
            @include md-up {
                padding: $padding-x-md;
            }
        }

        h3 {
            @include h3-style;
            margin-top: 0;
        }
    }

    &.is-style-thin {
        margin-bottom: $vertical-spacing;
        .content-wrapper {
            margin: 1rem;
        }
        .content {
            font-size: 0.9rem;
            font-weight: lighter;
            line-height: 1.2;
            *:first-child {
                margin-top: 0;
            }
            *:last-child {
                margin-bottom: 0;
            }
        }
        .title {
            margin-top: $vertical-spacing / 2;
            font-weight: bold;
            line-height: 1;
        }

        &.with-image a {
            display: flex;
            align-items: flex-start;
            @include md-up {
                align-items: center;
            }
            figure {
                flex: 0 0 100px;
                margin: 1rem 0 1rem 1rem;
                @include md-up {
                    flex: 0 0 120px;
                    margin: 0;
                }
                img {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    box-shadow: none;
                }
            }
            .content-wrapper {
                flex: 1;
            }
        }
    }
}
