.HeaderHTML {
    padding: $framePadding;
    padding-bottom: 0;
    text-align: left;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
            text-decoration-color: rgba(0, 0, 0, 0.2);
        }
    }

    h1 {
        font-family: $serif-font-stack;
        font-weight: normal;
        color: #555;
        margin: 0;
    }

    p {
        color: #666;
        margin: 0;
    }

    .logo {
        float: right;

        svg {
            height: 100% !important;
            width: auto !important;
        }
    }
}
