.HeaderHTML {
    text-align: left;

    a {
        text-decoration: none;
        text-underline-offset: auto;
        color: inherit;

        &:hover {
            text-decoration: underline;
            text-decoration-color: rgba(0, 0, 0, 0.2);
        }
    }

    h1 {
        font-family: $serif-font-stack;
        color: $gray-100;
        margin: 0;
    }

    // subtitle
    p {
        color: $dark-text;
        margin: 0;
    }

    .logo {
        float: right;

        svg {
            height: 100% !important;
            width: auto !important;
        }
    }
}
