/* ==========================================================================
   General
   ========================================================================== */

.right-btns-wrapper {
	a, form {
		float: left;
		margin-left: 10px;
	}

}
	
a > i, 
button > i {
	margin-right: 3px;
}

.back-btn {
	i {
		font-size: 12px;
	}
}

.property-wrapper {
	.property-title {
		font-weight: 700;
		font-size: 14px;
	}
}

.delete-btn {
	margin-top: 0px;
	border: 0;
	color: red;
	background-color: transparent;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none; 
}

.p0 {
	padding: 0px;
}

/* validation */
.error-label {
	margin-bottom: 0px;	
	color: #dd4b39;
	font-weight: 700;
}
.form-control.error {
	border: 1px solid #dd4b39;
}

/* tables */
.table {

	tr {
		border-bottom: 1px solid gray;
	}
	th, td {
		border-top: 0px !important;
		border-bottom: 0px !important;
	}
}
.datepicker .table tr {
	border-bottom: 0px;
}

.flash {
	padding: 10px;

	p {
		margin: 0;
	}

}

.text-danger i,
.text-success i {
	margin-right: 5px;
}
.text-danger a,
.text-success a {
	color: inherit;
	text-decoration: underline;
}

/* ==========================================================================
   Header
   ========================================================================== */

.main-header {
	color: white;
	/*box-shadow: -1px 2px 3px rgba(0,0,0,0.25);*/
	h1 {
		margin: 13px 30px;
		text-transform: uppercase;
		font-size: 22px;
	}
}
	
/* ==========================================================================
   Content wrapper - layout
   ========================================================================== */
.content-wrapper {
	/*margin: 0;
	padding: 0;*/
	overflow: auto;
	position: relative;
	padding: 20px;
}

.chart-wrapper, .form-wrapper {
	padding: 0;
}
	.form-wrapper-inner {
		position: relative;
		overflow: auto;
		height: 100%;
	}

.chart-edit-module, .chart-show-module {
	background-color: #ffffff;
}

/* ==========================================================================
  Form
   ========================================================================== */
.form-wrapper {
	/*overflow: auto;*/
	height: 100%;
	/*box-shadow: -1px 2px 3px rgba(0,0,0,0.25) !important;*/
	border-left: 1px solid #ddd;
	background-color: #ecf0f5;
}
.form-wrapper-inner {}
	.form-section {
		padding: 5px 30px 15px;
	}
		.form-section h2 {
			font-size: 24px;
		}
		.form-section:nth-child(2n) {
			background-color: #d2d6de;
		}
		.form-section-header {}
			.form-section-digit {
				display: inline-block;
				margin-right: 20px;
				padding: 9px 14px;
				font-size: 18px;
				font-weight: 700;
				color: white;
				background-color: #3c8dbc;
				border-radius: 50%;
				text-transform: uppercase;
			}
				.form-section:nth-child(2n) .form-section-digit {
					background-color: #357ca5;
				}
		.form-section-content {
			margin-left: 65px;
			margin-right: 40px;
			padding: 10px 0px;
		}
		.group-by-variable-wrapper {
			margin-left: 65px;
			margin-right: 40px;
		}
		.form-section-desc {
			font-style: italic;
		}
		.file-picker-wrapper {
			position: relative;
			background-color: #ecf0f5;
		}
			.file-picker-wrapper input, .form-variable-select-wrapper select {
				width: 100%;
				padding: 20px;
			}
			.form-variable-select-wrapper {
				padding: 20px;
				background-color: #ecf0f5;
			}

			/* select-var-popup */
			.select-var-popup .form-variable-select-wrapper {}
				.select-var-popup .form-variable-select-wrapper label {
					display: block;
					width: 100%;
				}
					.select-var-popup .form-variable-select-wrapper .chosen-container {
						width: 100% !important;
					}

					.select-var-popup .select-var-search-wrapper {
						position: relative;
						padding: 20px;
						margin-bottom: 20px;
						background-color: #ecf0f5;
					}

					.select-var-popup .search-input-wrapper {
						position: relative;
					}
						.select-var-popup .search-input-wrapper i {
							position: absolute;
							top: 10px;
							right: 10px ;
						}
							.select-var-popup .search-input-wrapper .fa-times {
								cursor: pointer;
							}

				.select-var-popup .search-results {
					position: absolute;
					left: 20px;
					right: 20px;
					padding-left: 0;
					z-index: 1;
					background-color: white;
					border: 1px solid #d2d6de;
					border-top: 0;
					display: none;
				}
					.select-var-popup .search-results li {
						padding: 6px 6px;
						cursor: pointer;
					}
						.select-var-popup .search-results .selected,
						.select-var-popup .search-results li:hover {
							background-color: #eeeeee;
						}

			.remove-uploaded-file-btn {
				position: absolute;
				top: 8px;
				right: 16px;
				font-size: 32px;
				color: #dd4b39;
			}
				.remove-uploaded-file-btn:hover {
					color: #d33724;
				}

		/* override ugly chosen */
		.chosen-container-single .chosen-single {
			background-color: #ffffff !important;
		}

		button[type="submit"]:not(".delete-btn") {
			margin: 20px 0px 0px;
		}
		
		.form-section-submit {
			/*position: absolute;
			bottom: 0px;*/
			width: 100%;
			margin-top: 20px;
			padding: 15px 30px 15px;
			background-color: #222d32 !important;
		}

		.form-wrapper textarea {
			width: 100%;
			padding: 10px;
		}

	.form-wrapper .dd-empty {
		min-height: 35px;
		background-color: transparent;
		background-image: none;
	}

.axis-scale-selector-wrapper {
	margin-top: 12px;
}

/* collapsed panel */
.form-panel-collapsed {}
	.form-panel-collapsed #chart-view {
		width: 99%;
	}
	.form-panel-collapsed #form-view {
		width: 1%;
	}

.selected-countries-box {
	margin: 20px 0px;
	padding: 0;
}	
.country-label, .variable-label {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid #bbb;
	cursor: pointer;
}
	.country-label:hover,
	.variable-label:hover {
		border: 1px solid #666;
		color: #000;
	}
	.country-label .fa,
	.variable-label .fa {
		margin-right: -10px;
		margin-left: 10px;
		color: #bbbbbb;
		cursor: pointer;
	}
		.country-label:hover .fa,
		.variable-label:hover .fa {
			color: #666666;
		}
		.country-label:hover .fa:hover {
			color: #000000;
		}
	.variable-label .fa {
		position: absolute;
		top: 14px;
		right: 10px;
		color: #666666;
		margin-right: 0;
		margin-left: 0;
	}

/**
*
**/
.new-subcategory-btn {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

/**
* popup picker
**/
.popup-picker-wrapper {
	position: absolute;
	top: 0px;
	left: 101px;
	width: 105px;
	padding: 10px;
	background-color: #666;
	z-index: 100;
}
.map-color-scheme-preview .popup-picker-wrapper {
	left: 45px;
}
	.popup-picker-wrapper ul {
		padding-left: 0px;
	}
	.popup-picker-wrapper li {
		float: left;
		width: 14px;
		height: 14px;
		margin: 0px 3px 3px 0px;
	}
		.popup-picker-wrapper li:hover {
			border: 1px solid white;
		}
	.popup-picker-wrapper::before {
		position: absolute;
		top: 10px;
		left: -20px;
		content: "";
		width: 10px;
		height: 10px;
		border: 10px solid transparent;
		border-right: 10px solid #666;
	}

/* override ion range slider default */
.irs {
	height: 70px;
	margin: 40px 0px 0px;
}
.irs-line, .irs-bar {
	top: 35px;
}
.irs-slider {
	top: 32px;
}
.irs-from, .irs-to, .irs-single {
	font-size: 20px;
	border-radius: 0;
}
.irs-min, .irs-max {
	font-size: 17px;
}
.irs-grid-text {
	font-size: 15px;
}

/*.irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider {
	background: url("../img/sprite-skin-flat.png") repeat-x;
}*/

/**
*	NESTABLE
**/
.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }
.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 0px solid #ccc;
	background: #fafafa;
	background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
	background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
	background:         linear-gradient(top, #fafafa 0%, #eee 100%);
	-webkit-border-radius: 3px;
			border-radius: 3px;
	box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }
.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }
.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
	background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
					  -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
						 -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
							  linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;
}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
	-webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
			box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
