.form-variable-select-wrapper {}
	.form-variable-select-wrapper select {
		margin-bottom: 10px;
	}

.form-collapse-btn {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -22px;
    padding-left: 8px;
    font-size: 26px;
    border: 1px solid #ddd;
    background-color: #ecf0f5;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}    
	.form-panel-collapsed .form-collapse-btn i {
		position: relative;
		left: -4px;
		padding-left: -2px;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

/**
*	add variable section
**/
.variable-label {}
	.variable-label .dd-handle {
		background: transparent;
	}	
		.variable-label:hover {
			background-color: #ddd;
		}
		.variable-label .dd-handle:hover {
			color: inherit;
		}
		.variable-label .variable-label-input {
			/* hidden by default */
			display: none;
		}
			.variable-label .variable-label-input input {
				position: relative;
				top: -6px;
			}
			.variable-label .variable-label-input .fa {
				position: absolute;
				top: 14px;
				font-size: 16px;
				cursor: pointer;
			}
			.variable-label .variable-label-input .fa-check {
				right: 40px;
			}
				.variable-label .variable-label-input .fa-check:hover {
					color: #00a65a;
				}
			.variable-label .variable-label-input .fa-times {
				right: 20px;
			}
				.variable-label .variable-label-input .fa-times:hover {
					color: #dd4b39;
				}

	.dimensions-section .variable-label .variable-label-name {
		cursor: text;
	}

/**
*	select var popup
**/
.select-var-popup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1040;
	display: none;
}
	.select-var-popup .modal {
		display: block;
	}

/**
*	settings var popup
**/
.settings-var-popup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1040;
	display: none;
}
	.settings-var-popup .modal {
		display: block;
	}
	.settings-var-popup .settings-var-header {
		padding-bottom: 10px;
		margin-bottom: 15px;
		border-bottom: 1px solid black;
	}
	.settings-var-popup .form-control[type=text] {
		display: inline-block;
		width: 40%;
	}
		.settings-var-popup .settings-var-header label,
		.settings-var-popup .settings-var-content-single-header label,
		.settings-var-popup .settings-var-content-all-header label {
			margin-right: 20px;
		}
			.settings-var-popup .settings-var-content > div:not(:first-child) {
				display: none;
			}
			.settings-var-popup .settings-var-content-single-content > div:not(:first-child),
			.settings-var-popup .settings-var-content-all-content > div:not(:first-child) {
				display: none;
			}
		.settings-var-popup .settings-var-content-single-header,
		.settings-var-popup .settings-var-content-all-header {
			padding-bottom: 5px;
			margin-bottom: 7px;
		}

		.settings-var-popup .settings-var-single-specific-content label,
		.settings-var-popup .settings-var-single-latest-content label,
		.settings-var-popup .settings-var-all-closest-content label,
		.settings-var-popup .settings-var-all-latest-content label {
			display: block;
		}
			.settings-var-popup .settings-var-single-specific-content label span,
			.settings-var-popup .settings-var-single-latest-content label span,
			.settings-var-popup .settings-var-all-closest-content label span,
			.settings-var-popup .settings-var-all-latest-content label span {
				display: inline-block;
				width: 125px;
			}

/**
*	dimension section
**/
	.dimensions-list {
		padding: 0;
		list-style-type: none;
	}
	.dimension-box {}
		.dimension-box .dd-wrapper {
			min-height: 45px;
		}
		.dimensions-list .dd-empty {
			border: 2px dashed #fff;
		}
		.dimension-box .fa-close {
			display: none;
		}

.variable-label .variable-setting-btn {
	/* hide setting button by default */
	display: none;
	position: absolute;
	top: 12px;
	right: 10px;
	color: #aaaaaa;
	font-size: 12px;
}
	.variable-label .variable-setting-btn.hidden {
		display: none;
	}
	.variable-label .variable-setting-btn span {
    	margin-left: 5px;
		display: none;
	}
	.variable-label .variable-setting-btn:hover {
		color: #000000;
	}
		.variable-label .variable-setting-btn:hover span {
			display: inline-block;
		}
		.variable-label .variable-setting-btn span.fa-cog {
			display: inline-block;
			position: relative;
			top: 2px;
			right: 0px;
			font-size: 16px;
		}	
	.variable-label .variable-setting-btn .fa {
		position: static;
		display: none;
	}
		.variable-label .variable-setting-btn:hover .fa {
			color: #000000;
		}
	.dimensions-list.chart-type-2 .variable-label .variable-setting-btn {
		display: inline-block;
	}

/**
*	 entities section
**/	
.add-country-control-wrapper {
	margin-top: 20px;
}
	.add-country-control-wrapper input {
		margin-right: 5px;
	}
	.add-country-control-wrapper label {
		display: block;
	}

/**
*	time section
**/
.time-section {}
	.time-section .irs {}
		.time-section .irs.disabled {
			opacity: .5;
			pointer-events: none;
		}

.type-of-line-section {}
	.type-of-line-section label {
		display: block;
	}
		.type-of-line-section input[type=radio] {
			margin-right: 5px;
		}

.chart-time-inputs-wrapper {
	margin-top: 15px;
}
	.chart-time-inputs-wrapper input {
		width: 120px;
	}
		.chart-time-inputs-wrapper label:last-child {
			float: right;
			text-align: right;
		}
			.chart-time-inputs-wrapper label:last-child input {
				text-align: right;
			}

/**
*	margins-section
**/
.margins-section {}
	.margins-section label {
		display: block;
	}
		.margins-section label span {
			width: 100px;
		}

/**
*	units-section
**/
.units-section {}
	.units-section ul {
		list-style-type: none;
		padding-left: 0;
	}
		.units-section li label {
			display: block;
		}
	.units-section input[type=input] {
		display: inline-block;
		width: 35%;
		max-width: 150px;
		margin-left: 5px;
	}
		.units-section input[type=checkbox] {
			margin-left: 5px;
		}
		.units-section input:last-child {
			display: inline-block;
			width: 35%;
		}
	.units-section label {
		width: 15%;
		max-width: 80px;
	}
	
/**
*	export section
**/
.nav-tabs-custom>.nav-tabs>li [href="#map-tab"] {
	display: none;
}

/**
*	embed section
**/
.embed-section {}

	
/**
*	chart show
**/
.chart-show-module .col-md-6 {
	width: 100%;
}

