/* Chart General
--------------------------------------------- */
#chart-view {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #000000;
	width: 100%;
	height: 100%;
	background: white;
	overflow-y: auto;
	/* Hidden overflow x so that tooltips in iframes don't cause scrollbars */
	overflow-x: hidden;
	position: relative;

	a {
		cursor: pointer;
		color: #0645ad;
		fill: #0645ad;
	}
	a:hover {
		text-decoration: underline;
	}
	.logos {
		float: right;
		padding-left: 0.6rem;
	}
	.chart-wrapper-inner {
		position: relative;
		table-layout: fixed;
		border-collapse: collapse;
		border-spacing: 0;
		height: calc(100% - 24px);
		width: 100%;
	}
	.tab-content {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.tab-content > .clearfix {
		position: relative;
		z-index: 2;
		background-color: #fff;
	}
	.tab-pane {
		border-top: 1px solid #ccc;
		position: relative;
		overflow: auto;
		width: 100%;
		height: 100%;
		min-height: 300px;
	}
	#data-chart-tab,
	#sources-chart-tab {
		position: relative;
		z-index: 2;
	}
	svg {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	svg text {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
}

/* The chart in the editor only takes up half the space */
.chart-edit-module #chart-view {
	width: 50%;
}

/* The little loading icon */
#chart-view .chart-preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 1.25rem;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);

	/*hidden by default*/
	display: none;
}

#chart-view .chart-error { 
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 0.9rem;
	color: red;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	display: none;
	.fa-exclamation-triangle {
		margin-right: 0.6rem;
	}
}

/* Header
--------------------------------------------- */

#chart-view .chart-header-svg {
	.chart-name-svg {
		font-size: 1.3rem;
		fill: #35322F;
	}
	.chart-subname-svg {
		margin-top: 0;
		margin-bottom: 0.5em;
		font-size: 0.7rem;
		fill: #4F4B49;
	}	
	.chart-logo-svg {
		path {
		    stroke: #FFFFFF;
		    stroke-width: 1px;
		}
	}	
}

/* Tab Menu (Chart, Data, Map, Sources)
--------------------------------------------- */
#chart-view .chart-tabs {
	position: relative;
	margin-bottom: 0;
	list-style-type: none;
	text-transform: uppercase;
	padding-left: 0;
	z-index: 2;

	li { 
		position: relative;
		top: 0.06rem;
		z-index: 1;
		font-size: 0.7rem;
		border: 1px solid #ddd;
		border-left: 0px;
		background-color: #FAFAFA;
	}
	li.first {
		border-left: 1px solid #ddd;
	}
	li.active,
	li:hover {
		background-color: #FFFFFF;
		border-top: 2px solid rgba(0,33,71,.9);
		border-bottom: 0;
	}
	li a {
		color: #000;
		display: block;
		padding: 0.5rem 0.8rem;
		text-decoration: none;
		i {
			margin-right: 0.3rem;
		}
	}
	li.edit-btn-wrapper:hover {
		background-color: #444;
		border: 1px solid #444;
		border-left: 0;
	}
	li.edit-btn-wrapper:hover a {
		color: #FAFAFA;
	}
	li.edit-btn-wrapper i {
		margin-right: 0;
	}
}

/* Footer
--------------------------------------------- */
.chart-footer-svg {
	font-size: 12px;
}

.footer-btns {
	font-size: 0.8rem;
	height: 24px;
}
.footer-btns a {
	text-decoration: none;
	margin-right: 0.5em;
	display: inline-block;
}
.footer-btns a:hover {
	text-decoration: none;
}

/* Legend
--------------------------------------------- */
#chart-view .nv-custom-legend {
	&.transparent .nv-series {
		opacity: .8;
	}
	&.transparent .nv-series.highlight {
		opacity: 1;
	}
	.nv-series {
		cursor: pointer;
	}
	/* special case for opaque legend */
	#chart-view .nv-custom-legend.transparent {
	}
	.nv-series .nv-custom-legend-symbol {
		stroke-width: 1px !important;
	}
	/* disabled */
	.nv-series.nv-disabled .nv-custom-legend-symbol {
		stroke: #666 !important;
	}
	.nv-series.nv-disabled .nv-remove-btn .nv-box {
		stroke: #999 !important;
	}
	.nv-remove-btn {
		display: none;
	}
	.nv-series:hover .nv-remove-btn {
		display: block;
	}
	.nv-remove-btn .nv-box {
		stroke-width: 3px;
		stroke: #fff;
	}
	.nv-entity-label text {
		font-size: 0.9rem;
	}
	.nv-add-btn {
		cursor: pointer;
	}
	.nv-add-btn .add-btn-bg {
		fill: #fff;
	}
	.nv-add-btn:hover .add-btn-bg {
		fill: #444444;
	}
	.nv-add-btn:hover text {
		fill: #fff;
	}
	.nv-add-btn:hover .nv-box {
		stroke: #fff;
		fill: #fff;
	}
	.nv-add-btn .nv-box {
		stroke-width: 4px;
		stroke: #000;
	}	
}

#chart-view .available-countries-select-wrapper {
	position: relative;
	z-index: 10;
	line-height: 0;

	select {
		display: none;
	}
	.chosen-container {
		width: 100% !important;
	}
	.chosen-single {
		display: none;
	}
	.chosen-container .chosen-drop {
		box-shadow: none;
		border-top: 1px solid #aaa;
		border-radius: 0;
	}
	.chosen-container .chosen-results li.highlighted {
		background: #002147;
	}
}

/* Axis Scale Selectors
--------------------------------------------- */
#chart-view .axis-scale-selectors-wrapper {
	.x-axis-scale-selector,
	.y-axis-scale-selector { 
		position: absolute;
		z-index: 11;
		display: none;
	}
	.axis-scale-btn {
		position: relative;
		font-size: 0.8rem;
	}
	.axis-scale {
		text-transform: uppercase;
		font-size: 0.6rem;
		border: 1px solid #eeeeee;
		background-color: white;
		display: none;
	}
	ul {
		list-style-type: none;
		margin-bottom: 0;
		padding-left: 0;
	}
	li {
		cursor: pointer;
		padding: 0.3rem;
		white-space: nowrap;
	}
	li.selected {
		font-weight: bold;
	}
	li:hover {
		background-color: #eeeeee;
	}	
}

/* Tooltips
--------------------------------------------- */

.nvtooltip {
	background-color: rgba(255,255,255,1.0);
    color: rgba(0,0,0,1.0);
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 0;
	box-shadow: none;

	table tbody, table td {
		border: 0;
	}
	h3 {
		padding: 0.3rem 0.9rem;
		font-size: 1rem;
	}
	p {
		font-size: 0.8rem;
	}
	/* scatter plot has values underneath each other */
	.var-popup-value {
		display: block;
	}
}

/* Chart Tab
--------------------------------------------- */
	
#chart-view .nvd3-svg {
	/* Tweak some nvd3 styling */
	.nvd3 .nv-axis {
		line {
			fill: none;
			stroke: #a5a5a5;
			stroke-dasharray: 2,2;
			shape-rendering: crispEdges;
		}
	}
	.nvd3 text {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 0.7rem;
	}
	.nvd3 .nv-axis .nv-axisMaxMin text {
		font-weight: normal;
	}
	.nvd3 .nv-axis line {
		opacity: .6;
	}	
	.nv-custom-legend .nv-series text {
	}

	/* Allow user to select text */
	.chart-header-svg,
	.chart-footer-svg {
		-webkit-touch-callout: initial !important;
		-webkitr-user-select: initial !important;
		-khtml-user-select: initial !important;
		-ms-user-select: initial !important;
		-moz-user-select: initial !important;
		user-select: initial !important;
	}
}

/* Data Tab
--------------------------------------------- */
#chart-view #data-chart-tab {
	padding-top: 1.5rem;
	padding-left: 1rem;
	font-size: 16px;

	.download-data-btn {
		color: #fff;
	}
	.download-data-btn i {
		margin-right: 0.3rem;
	}
	.data-table {
		margin-top: 1.25rem;
	}
	.data-table th, .data-table td {
		padding: 4px 4px;
	}
	.data-table th {
		border-bottom: 1px solid #aaa;
	}
	.data-table td {
		border-bottom: 1px solid #afafaf;
	}
}

/* Sources Tab
--------------------------------------------- */
#chart-view #sources-chart-tab {
	padding: 2.5rem;
	.datasource-wrapper {
		margin-bottom: 1.9rem;
		font-size: 0.8rem;	
	}
	.datasource-wrapper h2 {
		width: 70%;
		padding-bottom: 0.3rem;
		text-transform: uppercase;
		font-size: 0.9rem;
		font-family: inherit;
		border-bottom: 1px solid #35322F;	
	}
	.datasource-wrapper h2,
	.datasource-wrapper h3,
	.datasource-wrapper h4 {
		margin-left: 0px;
		font-family: inherit;
	}
	.datasource-wrapper h3,
	.datasource-wrapper h4 {
		margin-top: 2px;
		margin-bottom: 1px;
		font-size: 0.9rem;
		font-weight: bold;
	}
	.datasource-property {
		display: inline-block;
		width: 150px;
	}
	table {
		margin-top: 0.6rem;
		margin-bottom: 0.6rem;
	}
	.datasource-additional p {
		margin-top: 0.3rem;
	}
}

/* Map Tab
--------------------------------------------- */
#chart-view svg.datamap {
	/* MAP LEGEND */
	.legend-step {
		rect {
			stroke: #4F4F4F;
			stroke-width: .1px;
		}
		text {
			font-size: 0.6rem;
		}
		line {
			stroke: #4F4F4F;
			stroke-width: 1px;
		}
	}
	.legend-description {
		font-size: 0.6rem;
	}

	/* MAP BORDERS DISCLAIMER */
	.border-disclaimer {
		font-size: 0.6rem;
	}	

	.map-bg {
		fill: #ECF6FC;	
	}

	path {
		stroke: #4b4b4b !important;
		stroke-width: 0.3px !important;
	}

	path:hover {
		stroke: #FFEC38 !important;
		stroke-width: 3px !important;
	}
}

.datamaps-hoverover {
	font-family: inherit !important;
	text-align: center;
	h3 {
		margin: 0;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	.hoverinfo {
		padding: 0;
		box-shadow: none;
	}
}


#chart-view #map-chart-tab {
	overflow: inherit;
	//override datamaps
	padding: 0 !important;
	border: 1px solid #eee;

	.map-controls-header {
		position: absolute;
		top: 0.6rem;
		left: 0.6rem;
		z-index: 2;

		.control {
			float: left;
			margin-right: 0.2rem;
			cursor: pointer;
			transition: .3s height;
			white-space: nowrap;
			overflow: hidden;

			&:hover, &.active {
				.control-head, .control-body {
					color: #fff;
					background-color: #444;
					border: 1px solid #444;
				}
				.control-body {
					display: block;
				}
			}
			.control-head, .control-body {
				padding: 0.3rem 0.6rem;
				border: 1px solid #EEEEEE;
				background-color: #FAFAFA;
			}
			.control-head {
				display: inline-block;
				width: auto;
				label {
					margin-bottom: 0;
				}
			}
			.control-body {
				display: none;
				position: absolute;
				label {
					margin-bottom: 0;
					cursor: pointer;
				}
			}
			
		}

		.target-year-control {
			.control-body {
				width: 200.5rem;
			}
			input {
				display: inline-block;
				margin: 0.6rem 0;
				/*writing-mode: bt-lr;
				-webkit-appearance: slider-vertical;*/
			}
		}

		.region-control {
			.region-label {
				width: calc(100% - 0.9rem);
				text-align: center;
			}
			ul {
				margin: 0.3rem 0;
				padding: 0;
				//padding-left: 0.3rem;
				list-style-type: none;
				//white-space: nowrap;
			}
			li {
				//display: inline-block;
				padding: 4px 0;
				//border-right: 1px solid #fff;
				&:last-child {
				//	border-right: 0;
				}
				&:hover,
				&.highlight {
					cursor: pointer;
					color: #FFEC38;
				}
			}
		}

		.settings-control {
			.control-body {
				width: 17.5rem;
				padding: 0.3rem 0.9rem 0.3rem 0.6rem;
				input[type=checkbox] {
					margin-right: 6px;
				}
			}

		}

	}

	/* MAP TIMELINE CONTROL */
	.map-timeline-controls {
		position: absolute;
		bottom: -1px;
		z-index: 2;
		width: 100%;
		height: 3.1rem;
		color: #404040;
		background-color: #FAFAFA;
		border-top: 1px solid #ddd;

		.control {
			float: left;
		}

		/* play/pause control */
		$play-pause-control: 3.1rem;
		.play-pause-control {
			/*display: none;*/
			width: $play-pause-control;
			height: 100%;
			.btn {
				display: block;
				color: #404040;
				width: 3.1rem;
				height: 100%;
			}
			.play-btn,
			.pause-btn {
				position: absolute;
				top: 0;
				&:hover {
					color: #666;
				}
				&:active {
					box-shadow: none;
				}
			}
			.play-btn {
				top: -1px;
				left: 0.5rem;
				font-size: 1.6rem;
			}
			.pause-btn {
				display: none;
				top: 4px;
				left: 6px;
				.fa-stack-1x {
					font-size: 0.6rem;
					top: 0px;
				}
			}
		}

		/* timeline-control */
		.timeline-control {
			/*display: none;*/
			height: 100%;
			width: calc(100% - #{$play-pause-control});
			position: relative;
			cursor: pointer;

			.timeline-start-year,
			.timeline-end-year {
				min-height: 1.8rem;
				line-height: 1.2rem;
				white-space: nowrap;
			};

			.timeline-start-year {
				position: absolute;
				top: 0.25rem;
				right: calc(100% + 0.3rem);
				padding: 0.3rem 0.5rem;
			}
			.timeline-end-year {
				position: absolute;
				top: 0.25rem;
				left: calc(100% + 0.3rem);
				padding: 0.3rem 0.5rem;
			}
			.timeline-slider-label {
				padding: 0.3rem 0.8rem;
			}
			.timeline-slider-label,
			.timeline-end-year.highlight,
			.timeline-start-year.highlight {
				background-color: #404040;
				color: #fff;
				cursor: pointer;
				user-select: none;           
				-webkit-user-select: none;   /* Chrome/Safari/Opera */
				-moz-user-select: none;      /* Firefox */
				-ms-user-select: none;       /* IE/Edge */
				-webkit-touch-callout: none; /* iOS Safari */
			}
			.timeline-wrapper {
				position: absolute;
				top: 0.4rem;
				left: 4.4rem;
				right: 4.4rem;

				.timeline {
					width: 100%;
					height: 0.6rem;
					margin: 0;
					padding: 0;
					background-color: #ddd;
				}
				input[type="range"] {
					height: 0.1rem;
				}
				.timeline-slider {
					position: absolute;
					left: 6.25rem;
					top: -1.25rem;
					z-index: 2;
					cursor: pointer;
					-webkit-transform: translate(-50%,0);
					transform: translate(-50%,0);

					> span {
						display: block;
					}
					.timeline-slider-graphic {
						width: 0.3rem;
						height: 1.25rem;
						background-color: #000000;
						margin: 0 auto;
					}

				}

				.timeline-ticks {
					pointer-events: none;
					position: absolute;
					top: 0.9rem;
					left: 0;
					width: 100%;
					padding-left: 0;
					list-style-type: none;
					li {
						position: absolute;
						display: inline-block;
						width: 0.25rem;
						height: 0.5rem;
						border: 1px solid #FAFAFA;
						font-size: 0;
						list-style-type: none;
						background-color: #404040;
						transform-style: preserve-3d;
						backface-visibility: hidden;
					}
				}

			}

		}

		/* buttons-control */
		.buttons-control {
			display: none;
			/*display: table;*/
			width: 100%;
			height: 100%;

			ul {
				list-style-type: none;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				padding-left: 0;
			}
			.year-btn {
				display: inline-block;
				margin-right: 0.3rem;
				&:last-child {
					margin-right: 0;
				}
				&.selected,
				&:hover {
					.btn {
						color: white;
						background-color: #404040;
						border: 1px solid #ddd;
					}
				}
				.btn {
					background-color: white;
					border-radius: 0;
					&.btn:active {
						box-shadow: none;
					}
				}
			}

		}

		/* single-year mode */
		&.single-year {
			.play-pause-control,
			.timeline-end-year,
			.timeline-wrapper {
				display: none !important;
			}
		}

	}

}

/* Export
--------------------------------------------- */

/* MISPY: When the "download image" button is clicked, the backend fires up phantomjs and hits
 * a special .export url to screenshot the chart. #chart-export styles therefore apply specifically
 * to these screenshots. */

body#chart-export {
	background: white;

	#chart-view {
		padding: 20px !important;
	}

	/* Remove interactive UI elements since obviously they can't be used in a static image
	 * NOTE (Mispy): Unneeded SVG elements should be removed entirely by the JS as well as hidden here. */
	.chart-tabs,
	.footer-btns,
	.fullscreen-link,
	.map-timeline-controls,
	.settings-control,
	.color-blind-control,
	.map-controls-header,
	.nv-add-btn,
	.nv-controlsWrap {
		display: none !important;	
	}	

	.tab-pane {
		border-top: none;
	}
}


/* Responsiveness
--------------------------------------------- */

@media screen and (min-width: 500px){
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 570px){
  html{
    font-size: 15px;
  }
}
@media screen and (min-width: 620px){
  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 680px){
  html{
    font-size: 17px;
  }
}
@media screen and (min-width: 720px){
  html{
    font-size: 18px;
  }
}
@media screen and (min-width: 800px){
  html{
    font-size: 19px;
  }
}
@media screen and (min-width: 860px){
  html{
    font-size: 20px;
  }
}
/*@media screen and (min-width: 920px){
  html{
    font-size: 21px;
  }
}
@media screen and (min-width: 1000px){
  html{
    font-size: 22px;
  }
}*/

@media (max-width: 800px) {
	#chart-view.embedded {
		padding: 0.6rem;
	}
	#chart-view:not(.embedded) {
		padding: 1rem;
	}

	/* Tabs should fill the entire width */
	#chart-view ul.chart-tabs {
		display: table;
		width: 100%;
	}
	#chart-view ul.chart-tabs li {
		display: table-cell;
	}	
    #chart-view ul.chart-tabs li > a {
        padding: 0.5rem 0.3rem;
    }

	#chart-view ul.chart-tabs li.edit-btn-wrapper {
		display: none;
	}
	#chart-view .footer-btns {
		a.chart-link-btn,
		a.tweet-btn,
		a.facebook-btn,
		a.embed-btn {
			span { display: none; }
		}

		i {
			font-size: 1.2rem;
		}		
	}
	#chart-view .nv-add-btn {
		display: none;
	}
}


@media (min-width: 800px) {
	#chart-view.embedded {
		padding: 1rem 2rem;
	}
	#chart-view:not(.embedded) {
		padding: 1.5rem 3rem;
	}

	#chart-view ul.chart-tabs {
		float: right;
	}
	#chart-view ul.chart-tabs li {
		float: left;
	}
}

/* Miscellaneous
--------------------------------------------- */

.error-label {
	color: red;
}

.dashed {
	stroke-dasharray: 2,2;
}

.unstroked {
	display: none;
}

/* HACK (Mispy): Once we properly update to Bootstrap 4 javascript this shouldn't be needed. */
.modal-backdrop {
	z-index: -1;
}