.chart-controls {
    margin-bottom: 16px;

    .chart-controls__title {
        font-size: 10px;
        font-weight: 900;
        letter-spacing: 0.15em;
        color: $light-text;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
}
