$inset: 15px; // space between the sparkline and tooltip frame
$nudge: 3px; // step away from the axis

.sparkline {
    padding-bottom: 4px;

    .HorizontalAxis text {
        fill: #787878;
        font-weight: 700;
        font-size: 10px;
        transform: translate(2px, 2px);

        &:last-child {
            transform: translate(-2px, 2px);
        }
    }

    // min-line + zero-line
    .AxisGridLines.horizontalLines {
        line {
            stroke-dasharray: 0;
            stroke-linecap: square;
            stroke: #dadada;
        }

        // the zero line
        line:nth-child(2) {
            stroke: #787878;
        }
    }

    line.max-line {
        stroke-linecap: square;
        stroke: #dadada;
    }

    .axis-label {
        &.max {
            transform: translate(calc(100% - $inset - $nudge), $inset - $nudge);
        }

        &.min {
            transform: translate(
                calc(100% - $inset - $nudge),
                calc(100% - $inset - 2 * $nudge)
            );
        }

        text {
            font: 400 10px Lato;
            letter-spacing: 0.01em;
            font-style: italic;
            text-anchor: end;
            fill: #787878;
            &.outline {
                stroke: rgba(255, 255, 255, 0.85);
                stroke-width: 2px;
            }
        }
    }
}
