.sparkline {
    padding-bottom: 4px;

    // .Lines polyline {
    //     stroke: #787878 !important;
    // }

    .HorizontalAxis text {
        fill: #787878;
        font-weight: 700;
        font-size: 10px;
        transform: translate(2px, 2px);

        &:last-child {
            transform: translate(-2px, 2px);
        }
    }

    .AxisGridLines.horizontalLines {
        line {
            stroke-dasharray: 0;
            stroke-linecap: square;
        }

        line:nth-child(1),
        line:nth-child(2) {
            stroke: #dadada;
        }

        line:nth-child(3) {
            stroke: #787878;
        }
    }

    .min-max-labels text {
        font: 700 10px Lato;
        text-anchor: end;
        fill: #787878;
    }
}
