.owid-btn {
    @include body-3-medium;
    padding: 8.5px 24px;
    border: 1px solid transparent;
    border-radius: 0;
    text-align: center;
    display: block;
    cursor: pointer;

    svg {
        font-size: 0.75rem;
    }
}

.owid-btn--icon-right {
    margin-left: 0.5rem;
}

.owid-btn--icon-left {
    margin-right: 0.5rem;
}

.owid-btn--solid-vermillion {
    background-color: $vermillion;
    color: #fff;

    &:hover {
        background-color: $accent-vermillion;
    }
}

.owid-btn--outline-vermillion {
    border-color: $vermillion;
    color: $vermillion;

    &:hover {
        border-color: $accent-vermillion;
        color: $accent-vermillion;
    }
}

.owid-btn--solid-blue {
    background-color: $blue-60;
    color: #fff;

    &:hover {
        background-color: $blue-90;
    }
}

.owid-btn--solid-dark-blue {
    background-color: $blue-95;
    color: #fff;

    &:hover {
        background-color: #164377;
    }
}

.owid-btn--outline-white {
    border-color: $white;
    color: $white;

    &:hover {
        background-color: $white;
        color: $blue-90;
    }
}

.whitespace-nowrap {
    white-space: nowrap;
}
