{% extends 'base_admin_template.html' %}
{% block content %}
	<h2>UN World Population Prospects Datasets</h2>
	<table class="table table-bordered table-hover dataTable">
		<thead>
			<tr>
				<th style="width: 20%">Dataset name</th>
				<th>Variables</th>
			</tr>
		</thead>
		<tbody>
			{% for key, value in datasets.items %}
				<tr>
                {% autoescape off %}
                    <td><h3>{{ key }}</h3></td>
                {% endautoescape %}
					<td>
                        {% for each in value %}
							<a href="{% url 'showvariable' each.id %}">{{ each.name }}</a><br>
                        {% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
