// Base theme to override
// Without this CSS, the Autocomplete component doesn't initialise correctly
@import "@algolia/autocomplete-theme-classic";

:root {
    // Also referenced in Autocomplete.tsx - grep "detachedMediaQuery"
    --aa-detached-media-query: (max-width: $md);
    --aa-detached-modal-media-query: (min-width: $md);
    --aa-detached-modal-max-width: $md;
}

.aa-DetachedFormContainer .aa-Form,
.aa-Autocomplete[aria-expanded="true"] .aa-Form {
    box-shadow: none;
    border-color: $blue-20;
    background-color: #fff;
    &:focus-within {
        box-shadow: none;
    }
}

.aa-Form {
    border-radius: 0;
    border-color: transparent;
    border-width: 1px;

    @include lg-up {
        background-color: $blue-90;
    }

    @include md-down {
        border: none;
    }
}

.aa-Input {
    margin-left: 16px;
    color: $blue-30;
    &:focus {
        color: $blue-90;
    }
}

.aa-Input::placeholder {
    color: $blue-30;
}

.aa-InputWrapperPrefix {
    order: 4;
}

.aa-DetachedSearchButton {
    padding: 0;
    background: none;
    border: none;
}

.aa-DetachedSearchButtonPlaceholder {
    display: none;
}

.aa-SubmitButton {
    cursor: pointer;
}

.aa-Form:invalid .aa-SubmitButton {
    cursor: unset;
    pointer-events: none;
    svg {
        fill: $blue-20;
    }
}

.aa-DetachedCancelButton {
    color: $blue-90;
    border-radius: 0;
    &:hover {
        background: $blue-10;
        box-shadow: none;
    }
}

.aa-SubmitIcon,
.aa-ClearButton {
    fill: $blue-30;
    color: $blue-30;
    stroke: none;

    &:hover {
        fill: $blue-90;
        color: $blue-90;
    }
}

@include md-down {
    .aa-SubmitIcon {
        fill: #fff;
    }
    .aa-DetachedOverlay .aa-SubmitIcon {
        fill: $blue-90;
    }
}

.aa-Panel {
    z-index: $zindex-lightbox + 1;
    margin: 0;
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: none;

    @include md-down {
        // The detached panel gets positioned incorrectly for some reason
        left: 0 !important;
    }
}

.aa-PanelLayout {
    margin: 8px;
    padding: 0;
}

.aa-SourceHeader {
    padding: 16px;
    h5.overline-black-caps {
        margin: 0;
        color: $blue-50;
    }
}

.aa-Item {
    padding: 16px;
    border-radius: 0;
    color: $blue-90;

    &[aria-selected="true"] {
        background-color: $blue-10;
    }
}

// Less padding for these ones because of the icons
section[data-autocomplete-source-id="recentSearchesPlugin"] .aa-Item {
    padding: 9px;
}

section[data-autocomplete-source-id="runSearch"] {
    border-top: 1px solid $blue-10;
    margin-top: 10px;
    padding-top: 10px;

    .aa-Item {
        padding: 9px;
    }

    .aa-ItemIcon {
        box-shadow: none;
        width: 16px;
        margin-left: 8px;
        background: none;
        svg {
            width: 100%;
        }
    }
}
