// Base theme to override
// Without this CSS, the Autocomplete component doesn't initialise correctly
@import "@algolia/autocomplete-theme-classic";

:root {
    // Also referenced in Autocomplete.tsx - grep "detachedMediaQuery"
    --aa-detached-media-query: (max-width: $lg);
    --aa-detached-modal-media-query: (min-width: $md);
    --aa-detached-modal-max-width: $md;
    --aa-muted-color-rgb: $blue-20;
}

// base styles
// desktop expanded
// desktop inactive
// mobile expanded
// mobile inactive

.aa-DetachedFormContainer .aa-Form,
.aa-Autocomplete[aria-expanded="true"] .aa-Form {
    box-shadow: none;
    border-color: $blue-20;
    background-color: #fff;
    &:focus-within {
        box-shadow: none;
    }
}

.aa-Form {
    height: $search-cta-height;
    border-radius: 0;
    border-color: transparent;
    border-width: 1px;

    &:focus-within {
        border-color: transparent;
        box-shadow: none;
    }

    @include md-up {
        background-color: $blue-90;
    }

    @include md-down {
        border: none;
    }
}

.aa-Input {
    margin-left: 16px;
    @include sm-up {
        font-size: 14px; // shouldn't be set for mobile (ios zooms in on focus when font-size is < 16px)
    }
    color: $blue-30;
    &:focus {
        color: $blue-90;
    }
}

.aa-Input::placeholder {
    color: $blue-30;
    @include lg-down {
        color: transparent;
    }
}

.aa-InputWrapperPrefix {
    order: 5;
    @include md-down {
        display: none;
    }
}

.aa-DetachedSearchButton {
    padding: 0;
    background: none;
    border: none;
}

.aa-DetachedSearchButtonPlaceholder,
.aa-DetachedSearchButtonQuery {
    display: none;
}

.aa-SubmitButton {
    line-height: 0.7;
    cursor: pointer;

    &:hover {
        .aa-SubmitIcon {
            fill: $blue-90;
        }
    }
}

.aa-Form:invalid .aa-SubmitButton {
    cursor: unset;
    pointer-events: none;
    svg {
        fill: $blue-20;
    }
}

.aa-Autocomplete[aria-expanded="false"] .aa-SubmitButton:hover .aa-SubmitIcon {
    fill: $blue-20;
}

.aa-DetachedCancelButton {
    color: $blue-90;
    border-radius: 0;
    border: none;
    padding: 8px;
    &:hover,
    &:focus,
    &:focus-visible {
        background: $blue-10;
        box-shadow: none;
        outline: none;
    }
}

.aa-SubmitButton,
.aa-ItemActionButton,
.aa-DetachedSearchButtonIcon {
    svg {
        fill: $blue-50;
        color: $blue-50;
        stroke: none;
    }
}

.aa-ItemActionButton:focus {
    background: $blue-10;
    outline: none;
}

@include md-down {
    .aa-DetachedSearchButtonIcon svg {
        fill: #fff;
    }
}

.aa-ClearButton {
    &:hover {
        .aa-ClearIcon {
            background-color: $blue-60;
        }
    }
    &::after {
        content: "";
        height: 16px;
        border-right: 1px solid $blue-20;
        left: 16px;
        position: relative;
    }
    .aa-ClearIcon {
        width: 24px;
        height: 24px;
        padding: 4px;
        border-radius: 16px;
        background-color: $blue-50;
        fill: #fff;
    }
}

.aa-Autocomplete[aria-expanded="false"] .aa-ClearButton {
    display: none;
}

.aa-Panel {
    z-index: $zindex-lightbox + 1;
    margin: 0;
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: none;
}

.aa-PanelLayout {
    margin: 8px;
    padding: 0;
}

.aa-SourceHeader {
    padding: 12px;
    margin: 0;
    h5.overline-black-caps {
        margin: 0;
        color: $blue-50;
    }
}

.aa-Item {
    padding: 12px 16px;
    line-height: 1.5;
    border-radius: 0;
    color: $blue-90;

    &[aria-selected="true"] {
        background-color: $blue-10;
    }
}

// Less padding for these ones because of the icons
section[data-autocomplete-source-id="recentSearchesPlugin"] .aa-Item {
    padding: 9px;
}

section[data-autocomplete-source-id="recentSearchesPlugin"]
    .aa-ItemContentTitle {
    font-weight: bold;

    mark {
        font-weight: normal;
    }
}

section[data-autocomplete-source-id="autocomplete"]
    .aa-ItemWrapper__contentType {
    color: $blue-50;
}

section[data-autocomplete-source-id="runSearch"] {
    &:not(:first-child) {
        border-top: 1px solid $blue-10;
        margin-top: 10px;
        padding-top: 10px;
    }

    .aa-Item {
        padding: 9px;
    }

    .aa-ItemIcon {
        box-shadow: none;
        width: 16px;
        margin-left: 8px;
        background: none;
        svg {
            width: 100%;
        }
    }
}
