.search-chart-hit-captioned-link {
    &:hover {
        .search-chart-hit-captioned-link__label {
            text-decoration: none;
        }
    }

    @include md-down {
        scroll-snap-align: start;
    }

    .search-chart-hit-captioned-link__label {
        @include note-1-regular;
        color: $blue-90;
        text-decoration: underline;
        text-underline-offset: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        margin-top: 8px;
    }
}
