.search-chart-hit-medium {
    $grid-gap: 16px;

    background-color: $blue-5;
    padding: 16px;

    .search-chart-hit-medium__header {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    .search-chart-hit-medium__download-button {
        padding: 5px 8px;
        font-size: 13px;
        white-space: nowrap;
        align-self: flex-start;

        &:hover {
            background-color: #bed2e7;
        }

        @include sm-only {
            display: none;
        }
    }

    .search-chart-hit-medium__content {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-template-rows: repeat(2, auto);
        gap: $grid-gap;
        align-items: flex-end;

        @include md-down {
            margin-top: 12px;

            // The number of columns are set in the component
            --num-columns: 4; // fallback value
            grid-template-columns: repeat(calc(2 * var(--num-columns)), 120px);

            // Horizontal scroll container with scroll snapping
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;

            // Hide scrollbar
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* Internet Explorer and Edge */
            &::-webkit-scrollbar {
                display: none; /* Safari and Chrome */
            }
        }
    }

    .search-chart-hit-medium__captioned-link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 8px;
        height: 100%;

        @include md-down {
            scroll-snap-align: start;
        }

        &:hover {
            .search-chart-hit-medium__captioned-link-label {
                text-decoration: none;
            }
        }
    }

    .search-chart-hit-medium__captioned-link-label {
        @include note-1-regular;
        color: $blue-90;
        text-decoration: underline;
        text-underline-offset: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .search-chart-hit-table-wrapper {
        background: #fff;

        // Trick to maintain aspect ratio of the container. We can use the
        // aspect-ratio property in the future when more browsers support it.
        // Needs padding-bottom to work, which is set below.
        // https://stackoverflow.com/a/10441480/9846837
        position: relative;
        width: 100%;
        height: 0;

        .search-chart-hit-table-wrapper-content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .search-chart-hit-table,
        .search-chart-hit-data-points {
            padding: 6px 12px;
        }

        .search-chart-hit-data-points--align-top {
            padding-top: 12px;
        }
    }

    .search-chart-hit-medium__placeholder {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .search-chart-hit-medium__thumbnail-placeholder {
            aspect-ratio: calc(
                $grapher-thumbnail-width / $grapher-thumbnail-height
            );
            width: 100%;
            background: $blue-10;
        }

        .search-chart-hit-medium__captioned-link-label {
            height: 16px;
            background: $blue-10;
            width: 40px;
        }
    }

    @include md-down {
        .search-chart-hit-data-display {
            display: none;
        }
    }

    // grid utilities

    .single-slot {
        grid-column: span 2;
        grid-row: span 2;

        .search-chart-hit-table-wrapper {
            padding-bottom: calc(
                ($grapher-thumbnail-height / $grapher-thumbnail-width * 100%)
            );
        }

        .search-chart-hit-table {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .double-slot {
        grid-column: span 4;
        grid-row: span 2;

        .search-chart-hit-table-wrapper {
            padding-bottom: calc(
                $grapher-thumbnail-height /
                    (2 * $grapher-thumbnail-width + 1 * $grid-gap) * 100%
            );
        }

        .search-chart-hit-table {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .triple-slot {
        grid-column: span 6;
        grid-row: span 2;

        .search-chart-hit-table-wrapper {
            padding-bottom: calc(
                $grapher-thumbnail-height /
                    (3 * $grapher-thumbnail-width + 2 * $grid-gap) * 100%
            );
        }

        .search-chart-hit-table {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .quad-slot {
        grid-column: span 8;
        grid-row: span 2;

        .search-chart-hit-table {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .small-slot-left {
        grid-column: 7;
        grid-row: 2;

        // Takes up a full slot on smaller screens
        @include md-down {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

    .small-slot-right {
        grid-column: 8;
        grid-row: 2;

        // Takes up a full slot on smaller screens
        @include md-down {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

    .data-slot {
        grid-column: 7 / 9;
        grid-row: 1;
    }
}
