.search-chart-hit-small {
    background-color: $blue-5;
    padding: 16px;

    display: flex;
    gap: 48px;

    .search-chart-hit-small__content {
        flex: 1 1 0;
        width: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .search-chart-hit-small__tabs-container {
        margin-top: 8px;
        display: flex;
        gap: 10px;

        a {
            color: $blue-60;
            line-height: 0;
        }

        svg {
            width: 14px;
            height: 14px;
        }
    }

    @include sm-only {
        .search-chart-hit-data-display {
            display: none;
        }
    }
}
