.search-suggested-topics {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    align-items: center;
}

.search-suggested-topics__label {
    @include body-3-medium;
    font-style: italic;
    color: $blue-60;
}

.search-suggested-topic-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
}
