.search-show-more {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $blue-20;
        z-index: -1;
    }
}

.search-show-more__button {
    border: 2px solid $white;
}
