.search-topics-refinement-list {
    margin-bottom: 16px;
    @include sm-only {
        display: block;
        border-top: 1px solid $gray-20;
        border-bottom: 1px solid $gray-20;
    }
}

.search-topics-refinement-expand-button {
    display: none;
    cursor: pointer;
    color: $blue-60;
    svg {
        color: $blue-90;
    }
    @include sm-only {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        padding: 16px 8px;
        h5 {
            margin: 0;
        }
    }
}

.search-topics-refinement-list__list {
    line-height: 24px;
    list-style: none;
    @include sm-only {
        display: none;
        line-height: 32px;
    }
}

.search-topics-refinement-list__list--is-expanded {
    @include sm-only {
        display: block;
    }
}

.search-topics-refinement-list__list-item {
    display: inline;
    margin: 0;
    margin-right: 6px;
    button {
        cursor: pointer;
        font-weight: bold;
        color: $blue-90;
        padding: 0;
        background-color: transparent;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }
    @include sm-only {
        display: inline-block;
        width: 100%;
        margin-left: 8px;
        &:last-child {
            margin-bottom: 16px;
        }
    }
}

.search-topics-refinement-list__separator {
    display: inline-block;
    pointer-events: none;
    margin: 0;
    margin-right: 6px;
    color: $blue-30;
    &::after {
        content: "•";
    }
    @include sm-only {
        display: none;
    }
}

// Skeletons
.search-topics-refinement-list__skeleton {
    background-color: $blue-10;
    height: 48px;
    // Most areas have more than 2 lines of topics, so when we're in an area we set the height to 96px and hope for the best
    &.search-topics-refinement-list__skeleton--large {
        height: 96px;
        @include sm-only {
            // On mobile, topics are nested under an accordion that is always 48px tall
            height: 48px;
        }
    }
}
