.search-panel {
    max-width: 1280px;
    margin: auto;
    margin-top: 24px;
}

.searchbox form {
    position: relative;
    margin-top: 8px;
    margin-bottom: 0;
    max-width: 1280px;

    .ais-SearchBox-input {
        width: 100%;
        height: 56px;
        line-height: 56px;
        padding-left: 16px;
    }

    .ais-SearchBox-submit,
    .ais-SearchBox-reset {
        position: absolute;
        right: 8px;
        height: 100%;
        line-height: 0.1;
        border: none;
        background: none;
    }

    .ais-SearchBox-reset {
        right: 32px;
    }
}

.search-panel__filters-container {
    margin-top: 16px;
}

.search-panel__content-filter-container {
    border-bottom: 1px solid $blue-10;
}

.search-panel__content-filter-button {
    background: none;
    border: none;
    padding: 16px;
    color: $blue-60;

    &:hover {
        color: $blue-90;
    }
}

.search-panel__content-filter-button--is-active {
    border-bottom: $vermillion 1px solid;
    color: $blue-90;
}

.search-panel__content-filter-button:disabled {
    opacity: 0.4;
}

.search-panel__content-filter-count {
    background: $blue-20;
    border-radius: 40%;
    padding: 2px 6px;
    margin-left: 8px;
}

.search-panel__header {
    display: flex;
    justify-content: space-between;
}

.search-panel__section-title {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
    color: $blue-50;
}

.search-panel__show-more-container {
    margin-top: 24px;
    line-height: 2rem;
    p {
        margin: 0;
        display: inline-block;
    }
    button {
        @include owid-link-90;
        display: inline-block;
        background: none;
        border: none;
    }
}

.search-panel__pages-list-container {
    border-bottom: 1px solid $blue-20;
    padding-bottom: 24px;
}

.search-panel__page-hit {
    list-style: none;
    margin-bottom: 24px;
    display: none;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        display: block;
    }

    &:hover {
        // Just the title, not the page type
        .search-panel__page-hit-title {
            text-decoration: underline;
        }
    }
}

.search-panel__pages-list-container--is-expanded .search-panel__page-hit {
    display: block;
}

.search-panel__page-hit-title {
    display: inline;
    color: $blue-90;
    margin: 0;
}

.search-panel__page-hit-type {
    color: $blue-60;
    margin-left: 0.5em;
}

.search-panel__page-hit-snippet {
    margin: 4px 0;
    color: $blue-60;
    display: block;
}

.search-panel__explorers-list-container {
    border-bottom: 1px solid #dbe5f0;
    padding-bottom: 24px;
}

.search-panel__explorer-item {
    list-style: none;
}

.search-panel__explorer-hit {
    background-color: $blue-10;
    height: 100%;
    padding: 24px;
    list-style: none;

    &:hover {
        h4 {
            text-decoration: underline;
        }
    }

    h4 {
        margin: 0;
        color: $blue-90;
    }

    p {
        color: $blue-60;
    }
}

.search-panel__chart-hit {
    list-style: none;
    margin-bottom: 24px;
    &:hover {
        .search-panel__chart-hit-highlight {
            text-decoration: underline;
        }
    }
}

.search-panel__chart-hit-highlight {
    color: $blue-90;
}

.search-panel__pages,
.search-panel__explorers,
.search-panel__charts {
    display: none;
}

.search-panel__results[data-active-filter="all"] {
    .search-panel__pages,
    .search-panel__explorers,
    .search-panel__charts {
        display: inline;
    }
}

.search-panel__results[data-active-filter="pages"] .search-panel__pages {
    display: inline;
}

.search-panel__results[data-active-filter="charts-test"] .search-panel__charts {
    display: inline;
}

.search-panel__results[data-active-filter="explorers-test"]
    .search-panel__explorers {
    display: inline;
}
