.search-active-filters-container {
    background: #fff;
    height: 48px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.search-active-filter-button {
    background: transparent;
    border: none;
    padding: 0;
    margin-right: 8px;
    cursor: pointer;
}
