$reset-button-size: 24px;
$reset-button-margin: 16px;

.search-page-container {
    min-height: calc(100vh - $header-height-sm);
    @include sm-up {
        min-height: calc(100vh - $header-height-md);
        margin-top: 24px;
    }
}

.search-panel {
    max-width: 1280px;
    margin: auto;

    @include sm-only {
        margin-top: 0;
    }
}

.searchbox form {
    position: relative;
    margin-bottom: 0;
    max-width: 1280px;
    @include lg-down {
        margin: 0 16px;
    }

    @include sm-only {
        margin: 0;
    }
}

.search-panel-input {
    background-color: white;
    width: 100%;
    height: 56px;
    padding-left: 16px;
    // To give room to the "Clear" button to the right
    padding-right: $reset-button-size + $reset-button-margin + 4px;

    // If the placeholder is shown, then the Clear button is not shown
    &:placeholder-shown {
        padding-right: 16px;
        text-overflow: ellipsis;
    }

    border: none;
    outline: $blue-20 1px solid;
    outline-offset: 0px;

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

.search-panel-reset-button {
    display: inline-block;
    position: absolute;
    right: $reset-button-margin;
    top: 30%;
    border: none;
    border-radius: 16px;
    background: $blue-50;
    padding: 8px;
    line-height: 0;
    cursor: pointer;
    &:hover {
        background: $blue-60;
    }
    svg {
        fill: #fff;
        width: 8px;
        height: 8px;
    }
}

.ais-SearchBox-input[value=""] ~ .ais-SearchBox-reset {
    display: none;
}

.ais-SearchBox-loadingIndicator,
.ais-SearchBox-submit {
    display: none;
}

.search-filters__list {
    border-bottom: 1px solid $blue-10;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.search-filters__tab {
    list-style: none;
}

.search-filters__tab-button {
    background: none;
    border: none;
    white-space: pre;
    padding: 16px;
    color: $blue-60;

    &:not(:disabled):hover {
        cursor: pointer;
        color: $blue-90;
    }
}

.search-filters__tab-button--is-active {
    border-bottom: $vermillion 1px solid;
    color: $blue-90;
}

.search-filters__tab-button:disabled {
    opacity: 0.4;
}

.search-filters__tab-count {
    background: $blue-20;
    border-radius: 16px;
    padding: 2px 6px;
    margin-left: 8px;
    pointer-events: none;
}

.search-results {
    @include lg-down {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.search-results__header-container {
    margin-top: 24px;
    margin-bottom: 24px;
}

.search-results__header {
    display: flex;
    align-items: baseline;
}

.search-results__section-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
    color: $blue-50;

    @include sm-only {
        color: $blue-90;
    }
}

.search-results__section-subtitle {
    margin-top: 4px;
    color: $blue-90;
}

.search-results__show-more-container {
    @include body-3-medium;
    em {
        color: $blue-50;
    }
    button {
        @include owid-link-90;
        display: inline-block;
        background: none;
        border: none;
        cursor: pointer;
    }

    &.show-more-btn-hidden button {
        visibility: hidden; // Don't show the button, but keep the margin/padding for mobile layout
    }

    @include sm-only {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        bottom: -16px;
        top: unset;
        right: 0;
        left: 0;

        em {
            width: 100%;
        }

        button {
            background-color: $blue-10;
            border: 2px solid #fff;
            padding: 8px 24px;
            cursor: pointer;
            z-index: 1;
            text-decoration: none;
            margin-top: 24px;
            &:hover {
                background-color: $blue-20;
            }
        }
    }
}

.search-results__list-container {
    border-bottom: 1px solid $blue-20;
    padding-bottom: 24px;

    @include sm-only {
        // expanding to make space for .search-results__show-more-container
        padding-bottom: 72px;
    }
}

.search-results__pages-list,
.search-results__explorer-list,
.search-results__charts-list {
    gap: var(--grid-gap);
    @include sm-only {
        padding-bottom: 24px;
    }
}

// For charts, make it clearer that the title etc. belong to the chart above
.search-results__charts-list {
    row-gap: calc(2 * var(--grid-gap));
}

.search-results__page-hit {
    list-style: none;

    &:hover {
        // Just the title, not the page type
        .search-results__page-hit-title {
            text-decoration: underline;
        }
    }
}

.search-results__page-hit-container {
    display: flex;
}

.search-results__page-hit-img-container {
    margin-right: 16px;
    @include sm-only {
        display: none;
    }
}
.search-results__page-hit-img {
    width: 100px;
    max-width: none;
}

.search-results__page-hit-title {
    display: inline;
    color: $blue-90;
    margin: 0 8px 0 0;
}

.search-results__page-hit-type {
    color: $blue-60;
}

.search-results__page-hit-snippet {
    margin: 0;
    margin-bottom: 4px;
    color: $blue-60;
    display: block;
}

.search-results__explorer-hit {
    background-color: $blue-10;
    height: 100%;
    padding: 24px;
    display: block;

    h4 {
        margin: 0;
        color: $blue-90;
    }

    p {
        color: $blue-50;
        font-weight: 400;
    }

    .search-results__explorer-hit-link-mobile {
        @include body-3-medium;
        @include owid-link-60;
        margin-top: 16px;
        display: block;
    }

    .search-results__explorer-hit-header {
        display: flex;
        justify-content: space-between;

        .search-results__explorer-hit-title-container {
            min-width: 0;
        }

        .search-results__explorer-hit-title {
            display: inline;
            color: $blue-90;
            margin: 0 8px 0 0;
        }

        .search-results__explorer-hit-subtitle {
            margin: 0 8px 0 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .search-results__explorer-hit-link {
            margin-top: 0;
            flex: 0 0 auto;
            text-align: right;

            a {
                @include body-3-medium;
                @include owid-link-60;
            }
        }
    }

    .search-results__explorer-views-list {
        margin-top: 16px;
        list-style: none;
        gap: 16px;

        .search-results__explorer-view {
            margin-left: 24px;
            overflow: hidden;

            .search-results__explorer-view-title-container {
                color: $blue-90;
                @include owid-link-90;

                svg {
                    font-size: 0.75em;
                    margin-left: 6px;
                }
            }

            .search-results__explorer-view-subtitle {
                margin-top: 0;
                margin-bottom: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            @include sm-only {
                // *If on "All" tab on small screens*, only show the first two views on mobile, and hide view subtitles
                @at-root .search-results[data-active-filter="all"] & {
                    &:nth-child(n + 3) {
                        display: none;
                    }

                    .search-results__explorer-view-subtitle {
                        display: none;
                    }
                }
            }
        }
    }
}

/*
*  Tabs / Filtering
**/

.search-results__pages,
.search-results__explorers,
.search-results__charts {
    display: none;
}

// Show results depending on active tab
.search-results {
    &[data-active-filter="all"] {
        .search-results__pages,
        .search-results__explorers,
        .search-results__charts {
            // both needed for .search-results__show-more-container absolute-positioning
            display: inline-block;
            position: relative;
            width: 100%;
        }

        // On the "All" tab, limit to the first 4 pages, 4 charts, and 2 explorer views
        .search-results__page-hit:nth-child(n + 5),
        .chart-hit:nth-child(n + 5),
        .search-results__explorer-hit:nth-child(n + 3) {
            display: none;
        }
    }

    &[data-active-filter="pages"] .search-results__pages {
        display: inline;
    }

    &[data-active-filter="charts"] .search-results__charts {
        display: inline;
    }

    &[data-active-filter="explorer-views"] .search-results__explorers {
        display: inline;
    }
}

.search-panel section[hidden] {
    display: none !important;
}

section.search-page__no-results {
    display: none;
    height: 60vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: $gray-10;

    h2 {
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }

    svg {
        padding: 12px;
        background: $blue-10;
        border-radius: 24px;
    }
}

// When all the other sections are hidden, show the no results section
section[hidden]
    + section[hidden]
    + section[hidden]
    + section.search-page__no-results {
    display: flex;
}

.ais-PoweredBy {
    width: 200px;
    margin: 32px;
    margin-left: 0;
    @include lg-down {
        margin-left: 16px;
    }
}
