.search-data-insights-results__hits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 24px;

    @include md-down {
        grid-template-columns: repeat(2, 1fr);
    }
}
