.search-writing-results {
    margin-bottom: 16px;
}

.search-writing-results__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-bottom: 16px;
}

.search-writing-results__articles {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.search-writing-results__topics {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.search-writing-results__overflow {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    gap: 24px;
}
