.search-autocomplete-container {
    position: absolute;
    background-color: white;
    padding: 8px;
    top: 102%;

    // Account for the border of the input.
    left: -1px;
    right: -1px;

    box-shadow: $box-shadow-xl;
    z-index: $zindex-search-overlay;

    li {
        list-style: none;
    }
}

.search-autocomplete-item {
    &:hover {
        background-color: $blue-5;
        color: $blue-90;
    }
}

.search-autocomplete-button {
    width: 100%;
    padding: 8px;
    text-align: left;
    background-color: transparent;
}

.search-autocomplete-button--active {
    background-color: $blue-5;
    color: $blue-90;
    outline: none;
}
