.search-data-insights-results__hits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);

    @include md-down {
        grid-template-columns: repeat(2, 1fr);
    }

    @include sm-only {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
}

.search-data-insights-results__trigger {
    display: none;
    height: 1px;
    width: 1px;

    @include sm-only {
        display: block;
        flex-shrink: 0;
    }
}
