.search-detected-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    align-items: center;
}

.search-detected-filters__label {
    @include body-3-medium;
    font-style: italic;
    color: $blue-60;
}

.search-detected-filter-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
}

.search-quoted-phrase {
    @include body-3-medium;
    font-style: italic;
    .search-quoted-phrase__underlined {
        @include owid-link-90;
    }
}
