#search-page-root {
    --thumbnail-width-sm: 294px;
    min-height: calc(100vh - $header-height-md);
    @include sm-only {
        min-height: calc(100vh - $header-height-sm);
    }
}

.search-header {
    background-color: $blue-5;
    margin-bottom: 16px;
    padding-bottom: 24px;
}

.search-heading {
    h1 {
        margin-top: 24px;
        margin-bottom: 8px;
    }
    p {
        margin-top: 0;
        color: $blue-65;
    }
}

.search-bar {
    display: flex;
    align-items: flex-start;
    outline: 1px solid $blue-20;
    background-color: #fff;
    position: relative;
    &:focus-within {
        outline: 1px solid $blue-5;
    }
}

.search-bar__submit-button {
    background-color: transparent;
    width: 24px;
    height: 48px;
    flex: none;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
    cursor: pointer;
    color: $blue-50;
    &:hover {
        color: $blue-90;
    }
}

.search-reset-button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    margin-right: 16px;
    width: 32px;
    padding: 0;
    svg {
        color: $blue-50;
        border-radius: 16px;
        width: 16px;
        height: 16px;
        margin-top: 1px;
    }
    &:disabled {
        display: none;
    }
    &:after {
        content: "";
        border-right: 1px solid $blue-20;
        position: absolute;
        height: 26px;
        margin-left: 14px;
        margin-top: -4px;
    }
    &:hover {
        svg {
            color: $blue-90;
        }
    }
}

.search-controls-container {
    position: relative;
}

.search-form {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    @include sm-up {
        margin: 10px 0;
    }
    gap: 8px;
}

.search-input-row {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-input {
    background-color: white;
    height: 32px;
    @include sm-up {
        height: 28px;
    }
    border: none;
    padding: 0;
    flex: 1 0 auto;
    width: 75px;
    outline-offset: 0px;
    color: $blue-90;

    &:focus {
        outline: none;
        &::placeholder {
            opacity: 0;
        }
    }

    &::placeholder,
    &:placeholder-shown {
        text-overflow: ellipsis;
        color: $blue-60;
    }

    @include sm-only {
        // Prevents auto-zoom on Safari
        font-size: 16px;
    }
}
