.GrapherPopover {
    // Backdrop - transparent mouse-event catcher while popup is visible
    .GrapherPopover__backdrop {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: $zindex-controls-backdrop;
    }

    // Wrapper - the actual popover container
    .GrapherPopover__wrapper {
        position: absolute;
        background: white;
        border-radius: 4px;
        box-shadow: 0px 4px 23px 4px #0000000f;
        z-index: $zindex-controls-popup;
        overflow-y: auto;
    }

    // Header - sticky header with title and close button
    .GrapherPopover__header {
        background: white;
        padding: 9px 15px 3px 15px;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
