@use "sass:math";

.StandaloneGrapherOrExplorerPage {
    .site-subnavigation {
        padding-left: 1rem;
        margin: 0 auto;
        max-width: $max-width-covid-data-explorer;
    }

    .related-research-data {
        display: block;
        & > :first-child {
            margin-top: $chart-header-padding;
            line-height: 1;
        }
        .research {
            font-size: 1.1rem;
        }
        svg {
            margin-right: 0.5rem;
        }
        h3 {
            margin-bottom: 0.5rem;
        }
        a:hover {
            text-decoration: underline;
        }
        ul {
            margin-left: 1rem;
        }
    }

    // Attention: these styles affect grapher and explorer pages in ALL contexts:
    // - when viewing in standalone pages (e.g. /grapher/xyz)
    // - in iframes embedded in external sites (without context)
    // - in iframes embedded internally, for the "All charts" gallery (possibly with context)
    //
    // see also <IframeDetector>
    main {
        @include content-wrapper;

        figure[data-grapher-src] {
            display: flex;
            height: $grapher-height-in-columns;
            margin: 0; // reset default figure margin
            align-items: center; // also reveals top box shadow in iframe
            justify-content: center; // also reveals left box shadow in iframe
            flex-direction: column; //
        }

        @include lg-up {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: flex-start; // maintain columns original height to allow sticky positioning
            max-width: $content-wrapper-max-width-lg;

            .related-research-data {
                @include text-column;
                margin-right: $padding-x-md * 0.5;
            }

            figure[data-grapher-src] {
                @include media-column;
                margin-left: $padding-x-md * 0.5;
            }
        }
    }
}

html.IsInIframe .StandaloneGrapherOrExplorerPage {
    background-color: inherit;

    @include hide-site-chrome;
}

html.IsInIframe:not(.PossiblyWithContext) .StandaloneGrapherOrExplorerPage {
    main {
        padding: 0;
        figure[data-grapher-src] {
            height: 100vh;
        }
    }

    .related-research-data,
    .explorerContentContainer {
        display: none;
    }
}

html.IsInIframe.PossiblyWithContext .StandaloneGrapherOrExplorerPage {
    figure[data-grapher-src] {
        .GrapherComponent {
            box-shadow: none;
        }
    }
}

// With the extra "<p>Unable to load interactive visualization</p>", the
// fallback figure is taller than the interactive GrapherComponent and
// overflows. This unbounds the figure and let it flow down naturally.
#fallback {
    height: auto;
}
