/*******************************************************************************
 * Colors
 */

// Brand colors
$oxford-blue: #002147;
$vermillion: #ce261e;
$amber: #f7c020;

// Blue shades
$blue-100: #002147;
$blue-90: #1d3d63;
$blue-60: #577291;
$blue-50: #6e87a2;
$blue-40: #98a9bd;
$blue-30: #a4b6ca;

/* Amber shades */
$amber-110: #f9cf44;
$amber-10: #f4eddb;

// Background colors
$blue-20: #dbe5f0;
$blue-10: #ebeef2;
$gray-10: #f7f7f7;
$beige: #fbf9f3;
$white: #ffffff;

// Accent colors
$accent-electric-blue: #2162e6;
$accent-pale-blue: #e7f2ff;
$accent-vermillion: #b40000;

// Visited
$purple-90: #631d49;
$purple-60: #91577c;

/* Highlight color */
$highlight-color: #f8c723;

/* Text colors */
$tertiary-text-color: $amber;
$grey-text-color: #616161;
$text-color: $blue-90;
$secondary-text-color: $blue-60;
$bluish-grey-text-color: $blue-50;
$error-text-color: $vermillion;

/* Hyperlink colors */
$link-color: #2162e6;
$link-hover-color: $link-color;
$link-visited-color: #7c45d8;

/* Category colors */
$population-color: #2082a2;
$health-color: #bf1b1b;
$food-color: #588a0f;
$energy-color: #ca6f34;
$environment-color: #0c6947;
$technology-color: #2774c6;
$growth-inequality-color: #009655;
$work-life-color: #ab348a;
$public-sector-color: #eb6400;
$global-connections-color: #17393d;
$war-peace-color: #660000;
$politics-color: #1b0655;
$violence-rights-color: #cc235c;
$education-color: #253f77;
$media-color: #0089be;
$culture-color: #af488f;

/* Controls color */
$controls-color: #0073e6;
$light-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.08) 0px 2px 2px;

/* SDG colors */
$sdgColors: (
    1: #e5243b,
    2: #dda63a,
    3: #4c9f38,
    4: #c5192d,
    5: #ff3a21,
    6: #26bde2,
    7: #fcc30b,
    8: #a21942,
    9: #fd6925,
    10: #dd1367,
    11: #fd9d24,
    12: #bf8b2e,
    13: #3f7e44,
    14: #0a97d9,
    15: #56c02b,
    16: #00689d,
    17: #19486a,
);

:root {
    @each $i, $sdgColor in $sdgColors {
        // See also owidTypes.ts > OwidArticleContent > cover-color
        --sdg-color-#{$i}: #{$sdgColor};
    }
}
