.article-content p {
    margin-top: 0;
}
/*******************************************************************************
 * Links
 */
.article-content a {
    @include owid-link-90;
}

.article-content .ref {
    color: $vermillion;
    text-decoration: none;
}

/*******************************************************************************
 * Figures, images
 */

.article-content img {
    display: block;
    margin: 0 auto 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px,
        rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    padding: 10px;
    background-color: #fff;
    transition: all 300ms ease;
}

.article-content img.lightbox-enabled:hover {
    @include image-hover;
    cursor: zoom-in;
}

.article-content figure {
    margin: 0 0 1rem;
}

.article-content figure[data-grapher-src],
.SearchResults figure[data-grapher-src] {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 0;

    width: 100%;

    > a {
        border-bottom: none !important;
    }

    > a > div {
        display: inline-block;
        position: relative;
    }

    > a > div:hover {
        -webkit-box-shadow: 0px 0px 4px #000;
        -moz-box-shadow: 0px 0px 4px #000;
        box-shadow: 0px 0px 4px #000;
    }

    img {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: $content-max-width;
    }

    .interactionNotice {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        color: rgba(black, 0.4);
        display: none;
        background-color: rgba(black, 0.03);
        padding: 12px 30px;
        position: relative;
        text-decoration: none;
        color: $controls-color;

        // Anything >680px will get the interactive graphics in-place.
        // 680px is a breakpoint also used in the JavaScript code – keep it in sync.
        @media screen and (max-device-width: 680px) {
            display: block;
        }

        .icon {
            font-size: 21px;
            line-height: 28px;
            margin-top: -15px;
            position: absolute;
            left: 10px;
            top: 50%;
        }

        .label {
            display: block;
        }
    }
}

.article-content figure[data-grapher-src].grapherPreview,
.SearchResults figure[data-grapher-src].grapherPreview {
    padding: 1em 0;
}

.article-content figure[data-grapher-src]:not(.grapherPreview),
.SearchResults figure[data-grapher-src]:not(.grapherPreview) {
    height: $grapher-height;
}

figure[data-explorer-src] {
    position: relative;
}

/*******************************************************************************
 * Tables
 */

.article-content .tableContainer {
    margin: 1em 0;
    overflow-x: auto;
}

.article-content .tableContainer > table:not(.plain) {
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    @include block-shadow;

    > tbody {
        border-bottom: 1px solid #ddd;
    }

    td,
    th {
        text-align: center;
        border: 1px solid #aaa;
        padding: 0.4rem;
    }

    th {
        font-weight: 700;
        padding: 0.5rem 0.4rem;
    }
}

.tablepress {
    margin: 1em 0;
    color: #000;
}

.tablepress th {
    border-bottom: 1px solid #333;
    background: $blue-20;
}

.tablepress th,
.tablepress td {
    padding: 0.4rem;
    border: 1px solid #ddd;
    text-align: center;
}

.tablepress tr {
    background-color: $white;
}

/* Fix for title on really small screens */
@media (max-width: 400px) {
    .logo {
        max-width: calc(100% - 100px);
        font-size: 20px;
    }
}

/*******************************************************************************
 * Columns
 */
.page .wp-block-columns {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;

    // default is first column is full-width, second column should be empty
    .wp-block-column {
        grid-column: 1 / 13;
        // necessary for Grapher resizing in all column-types
        width: 100%;
    }

    @include md-up {
        &.is-style-sticky-right {
            .wp-block-column:nth-child(1) {
                grid-column: 1 / 6;
            }
            .wp-block-column:nth-child(2) {
                grid-column: 6 / 13;
            }
            .wp-block-column .wp-sticky-container {
                @include sticky-child;
            }
        }

        &.is-style-sticky-left {
            .wp-block-column:nth-child(1) {
                grid-column: 1 / 8;
            }
            .wp-block-column:nth-child(2) {
                grid-column: 8 / 13;
            }
            .wp-block-column .wp-sticky-container {
                @include sticky-child;
            }
        }

        &.is-style-side-by-side {
            .wp-block-column:nth-child(1) {
                grid-column: 1 / 7;
            }
            .wp-block-column:nth-child(2) {
                grid-column: 7 / 13;
            }
        }
    }
}

/*******************************************************************************
 * Notices
 */

.article-content {
    /* Notice for entries that are only a preliminary collection of relevant material */
    .pcrm {
        @include info;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: $padding-x-sm;
        background-color: $amber;
        h3 {
            span {
                @include hide;
            }
            margin: 0 0 0.5rem;
            font-size: inherit;
            text-transform: uppercase;
        }
    }

    /* Used for in-page notices (e.g. /coronavirus) */
    .notice {
        @include info;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: $padding-x-sm;
        background-color: $amber;
        .title {
            font-weight: bold;
            margin: 0 0 0.5rem;
            font-size: inherit;
            text-transform: uppercase;
        }
    }
}

.article-content {
    span.add-country {
        font-size: 0.9rem;
        font-weight: bold;
        color: $controls-color;

        .icon {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 3px;
            vertical-align: text-bottom;

            svg {
                position: absolute;
                top: 0;
                left: 0;
            }

            path {
                stroke: #fff;
                stroke-width: 2px;
            }

            &::before {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                background-color: $controls-color;
                border-radius: 50%;
            }
        }
    }
}

/*******************************************************************************
 * Code blocks
 */

code {
    white-space: pre-wrap; // make sure long code lines do not overflow
}
