$full-button-width-breakpoint: 400px;

.cookie-notice {
    background-color: $amber;
    color: $blue-95;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-cookie-notice;
    // to avoid flash before animation
    display: none;
    @include content-wrapper;

    & {
        padding: 24px;
    }

    &.open {
        display: block;
        animation: 400ms ease slide-in forwards;
    }

    @include sm-only {
        padding: 16px;
    }
}

.cookie-notice__inner {
    max-width: $lg;
    margin: auto;
}

.cookie-notice__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.cookie-notice__title {
    @include h3-bold;
    margin: 0 0 8px;
}

.cookie-notice__text {
    @include note-13-medium;
    margin: 0 0 8px;
    opacity: 0.9;

    a {
        @include owid-link-90;
        color: $blue-95;
    }
}

.cookie-notice__actions {
    display: flex;
    gap: 8px 16px;
    white-space: nowrap;

    @include sm-only {
        margin-top: 24px;
    }

    @media (max-width: $full-button-width-breakpoint) {
        flex-direction: column;
        margin-top: 16px;
    }
}

.cookie-notice__button {
    @include note-12-medium;
    padding: 8px 16px;

    @media (max-width: $full-button-width-breakpoint) {
        height: 40px;
    }

    .owid-btn--icon-left {
        color: $blue-40;
    }
}

@keyframes slide-in {
    0% {
        opacity: 0; // prevent flickering when animation starts
        transform: translate(0, 100%);
    }
    1% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
    }
}
