.cookie-notice {
    @include content-wrapper;
    background-color: $tertiary-color;
    font-weight: 700;
    line-height: 1.5;
    padding: 16px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-cookie-notice;
    // to avoid flash before animation
    display: none;

    &.open {
        display: block;
        animation: 400ms ease slide-in forwards;
    }

    @include lg-up {
        &.open {
            display: flex;
            justify-content: space-between;
        }
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        margin-top: 16px;

        @include md-up {
            margin-top: 0;
        }
    }

    .button {
        font-weight: 700;
        line-height: 1.2;
        padding: 10px 16px;
        color: $text-color;
        cursor: pointer;
        border: 2px solid rgba($text-color, 0.2);
        transition: border-color 150ms linear;
        margin-top: 8px;
        margin-right: 12px;
        min-width: 196px;

        @include md-up {
            flex: 0;
            font-size: 1rem;
        }

        &:hover {
            border-color: rgba($text-color, 0.8);
        }

        .icon {
            margin-right: 0.5rem;
        }
    }

    .button.accept {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
        transition: background-color 150ms linear, border-color 150ms linear;

        &:hover {
            background-color: $primary-color-900;
            border-color: $primary-color-900;
        }
    }
}

@keyframes slide-in {
    0% {
        opacity: 0; // prevent flickering when animation starts
        transform: translate(0, 100%);
    }
    1% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
    }
}
