.article-content ul.covid-country-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 0.5rem;
    padding: 0;
    list-style-type: none;

    a {
        text-align: center;
        border-radius: 3px;
        border: 1px solid $blue-20;
        background-color: $blue-10;
        display: block;
        height: 100%;
        padding: 0.5rem;
        color: $blue-100;
        text-decoration: none;
        transition: all 0.1s;

        &:hover {
            color: $blue-90;
            text-decoration: none;
            background-color: $blue-20;
            border-color: $oxford-blue;
        }

        &:visited {
            color: $blue-90;
        }
    }
}
