.donate-page {
    padding-bottom: 3rem;

    .page-header {
        margin: 3rem 0 1.5rem;

        h1 {
            font-family: $serif-font-stack;
            font-weight: 400;
            font-size: 2.5rem;
            color: $text-color;
            margin: 0 0 2rem;

            @include sm-only {
                font-size: 2rem;
                margin: 0 0 1.5rem;
            }
        }
    }

    .shaded-box {
        border: 2px solid $oxford-blue;
        padding: 2rem;

        @include sm-only {
            padding: 1.5rem;
        }
    }
}

.donate-form {
    font-size: 1.125rem;

    fieldset {
        margin: 0 0 24px;
    }

    legend,
    .donation-name__label {
        margin-bottom: 8px;
        @include overline-black-caps;
        color: $blue-50;
    }

    .donation-options {
        display: flex;
        & > * {
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .donation-options__button {
        flex: 1;
        padding: 8px 16px;
        @include body-3-medium;
        color: $blue-50;
        border: 1px solid $blue-20;
        background-color: $white;
        transition: background-color 0.1s;
        &:hover {
            cursor: pointer;
            background-color: $gray-10;
            border: 1px solid $gray-10;
        }
        &.active {
            color: $blue-90;
            background-color: $accent-pale-blue;
            border: 1px solid $accent-pale-blue;
        }
    }

    .donation-custom-amount {
        padding: 8px 16px;
        border: 1px solid $blue-20;
        @include body-3-medium;
        color: $blue-50;
        &.active {
            color: $blue-90;
            background-color: $accent-pale-blue;
            border: 1px solid $accent-pale-blue;
        }
    }

    .donation-custom-amount__input {
        @include body-3-medium;
        color: inherit;
        border: none;
        background: transparent;
        width: 48px;
        outline: none;

        &::placeholder {
            color: $blue-40;
            transition: color 150ms linear;
        }

        &:focus::placeholder {
            color: $blue-20;
        }
    }

    .donation-name {
        margin-bottom: 16px;
    }

    .donation-name__label {
        display: block;
    }

    .donation-name__input {
        width: 100%;
        padding: 8px 16px;
        border: 1px solid $blue-20;
        @include body-3-medium;
        color: $blue-90;
    }

    .donation-public-checkbox__label {
        a {
            @include owid-link-90;
        }
    }

    button[type="submit"] {
        padding: 12px 24px;
        background-color: $vermillion;
        color: white;
        border: none;
        @include body-2-semibold;
        cursor: pointer;

        &:hover {
            opacity: 0.85;

            .donation-submit__icon {
                transform: translateX(2px);
            }
        }

        &[disabled] {
            opacity: 0.5;
            cursor: default;
        }
    }

    .donation-submit__icon {
        margin-left: 8px;
        font-size: 14px;
        transition: transform 150ms;
    }

    .note {
        font-size: 0.875rem;
        color: $secondary-text-color;
        margin-bottom: 0;
    }

    .error {
        @include body-3-medium;
        color: $error-text-color;
    }
}

.donate-success-page {
    main {
        text-align: center;
    }

    h1 {
        font-size: 3rem;
    }
}
