.site-footer {
    background-color: $oxford-blue;
    color: $blue-40;
    padding: 32px 0;

    @include sm-only {
        padding: 24px 0;
    }

    .affiliates {
        display: flex;
        flex-direction: column;
        a {
            opacity: 0.6;
            display: flex;
        }

        .yc-logo {
            align-self: start;
        }

        a:hover {
            opacity: 1;
        }

        @include sm-only {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .yc-logo {
                align-self: center;
            }
        }
    }

    .oxford-logos {
        display: flex;
        gap: 8px;
        margin-bottom: 8px;

        @include sm-only {
            margin-bottom: 0;
        }

        img {
            height: 64px;
            width: auto;
        }
    }
}

.footer-left {
    padding-bottom: 24px;
    @include sm-only {
        border-bottom: 1px solid scale-color($blue-20, $alpha: -90%);
    }
    p {
        margin-top: 0;
    }
    a {
        color: #fff;
        &:hover {
            color: $blue-40;
        }
    }
}

.footer-right {
    @include sm-only {
        margin-top: 24px;
    }
}

.footer-link-column {
    h5 {
        color: $blue-50;
        margin: 0;
        margin-bottom: 8px;
    }
    h5 svg {
        display: inline-block;
        margin-right: 8px;
    }
    @include sm-only {
        h5 {
            margin-bottom: 16px;
        }
    }
}

.footer-link-list {
    list-style: none;
    margin-bottom: 24px;

    li {
        margin-bottom: 8px;
    }
    a {
        color: #fff;
        &:hover {
            color: $blue-40;
        }
    }

    @include sm-only {
        margin-bottom: 32px;

        li {
            margin-bottom: 16px;
        }
    }
}

.footer-base {
    border-top: 1px solid scale-color($blue-20, $alpha: -90%);
    padding-top: 24px;
}

.footer-base__socials {
    display: flex;
    gap: 24px;
    line-height: 1;
    align-items: center;

    @include sm-only {
        padding-bottom: 24px;
        border-bottom: 1px solid scale-color($blue-20, $alpha: -90%);
        margin-bottom: 16px;
        flex-wrap: wrap;
        justify-content: space-between;

        h5 {
            width: 100%;
            color: $blue-50;
        }
    }

    h5 {
        margin: 0;
        margin-right: 8px;
    }
    a {
        color: $blue-20;
        &:hover {
            color: $blue-40;
        }
    }
}

.footer-base__legal {
    .footer-link-list {
        display: flex;
        line-height: 1;
        margin-bottom: 0;
        justify-content: end;
        li {
            margin: 0;
        }
        a {
            color: $blue-40;
            margin-right: 16px;
            &:hover {
                color: #fff;
            }
        }
        @include sm-only {
            flex-direction: column;
            gap: 12px;
            li {
                margin: 0;
                a {
                    margin-right: 0;
                }
            }
        }
    }
}

.donate-footer {
    background-color: $amber;
    padding: 24px 0;
}

.donate-footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        @include h2-bold;
        margin: 0;
    }

    p {
        @include body-1-regular;
        margin: 0;
    }

    @include md-down {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h4 {
            @include h3-bold;
            margin: 0;
            margin-bottom: 4px;
        }
        p {
            @include body-3-regular;
            margin: 0;
            margin-bottom: 16px;
        }
    }
    .donate-button {
        background-color: $vermillion;
        padding: 15px 24px;
        line-height: 1;
        @include sm-only {
            padding: 11px 24px;
        }
        &:hover,
        &:focus {
            background-color: $accent-vermillion;
        }
    }
}
