/* Reset
   ========================================================================== */

fieldset,
legend {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Text fields
   ========================================================================== */

%owid-button-visual {
    font-family: $sans-serif-font-stack;
    font-size: 1.125rem;
    transition: opacity 150ms ease;
    background-color: $oxford-blue;
    font-weight: 700;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.85;
    }
}

%owid-button {
    padding: 0.8rem 1rem;

    @extend %owid-button-visual;
}

.owid-button {
    @extend %owid-button;
}

.owid-button[disabled],
.owid-button.disabled {
    opacity: 0.5;
    cursor: default;
}
