// Most of this CSS will get removed soon once we merge the gdocs homepage branch,
// For now, it's a mess of old styles and overrides to allow us to stay on the old homepage
// until we merge and publish the gdocs branch

.homepage-masthead {
    background: url(/images/WorldMapDark2.png) 50% 0 $oxford-blue;
    background-image: image-set(
        url(/images/WorldMapDark2.avif) type("image/avif"),
        url(/images/WorldMapDark2.png) type("image/png")
    );
    background-size: cover;
    text-align: center;
    padding: 2rem 0;
    color: $tertiary-text-color;

    @include md-up {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    h1 {
        font-family: $serif-font-stack;
        font-weight: 400;
        line-height: 1.4;
        font-size: 1.875rem;
        margin: 0 auto 1.5rem;
        max-width: 39.5rem;

        @include sm-only {
            font-size: 1.5rem;
        }
    }

    p {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.3;
        color: $blue-40;
        text-align: center;
        margin: 0.25rem 0 0;

        strong {
            color: $blue-30;
        }
    }
}

.homepage-coverage {
    padding: 2.5rem 0;

    @include sm-only {
        text-align: center;
    }

    .inner-wrapper {
        margin: 0 auto;
    }

    section {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .divider {
        flex: 1;
        border-left: 2px solid $blue-10;
    }

    .lead {
        font-family: $serif-font-stack;
        font-size: 1.5rem;
        line-height: 1.2;
        color: $blue-50;
        text-align: center;
        margin: 0;
    }

    .lead--first {
        margin-bottom: 2.5rem;
    }

    .lead--last {
        margin-top: 2.5rem;
    }

    h3 {
        font-size: 0.875rem;
        font-weight: 400;
        color: $blue-50;
        text-transform: uppercase;
        letter-spacing: 0.035rem;
        margin: 0 0 0.25rem;
    }

    ul {
        list-style-type: none;
        color: $blue-50;
        font-size: 1rem;
    }

    strong {
        font-weight: 700;
        color: $blue-90;
    }

    .oxford-logo {
        max-width: 15rem;
    }

    .coverage-link {
        display: block;
        position: relative;

        .hover-note {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            display: flex;
            text-align: center;
            align-items: center;
            align-content: center;
            text-shadow: 0 0 10px white;
            padding: 1rem;
            transition: opacity 350ms ease;

            p {
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.45;
                flex: 1;
                color: $blue-90;
            }
        }

        img {
            transition:
                opacity 450ms ease,
                filter 450ms ease;
            opacity: 0.7;
            width: 100%;
            max-width: 41rem;
            margin: 0 auto;
            display: block;
        }

        &:hover {
            img {
                filter: blur(3px);
                opacity: 0.2;
            }
            .hover-note {
                opacity: 1;
            }
        }
    }
}

.homepage-posts {
    background-color: $blue-10;

    .see-all {
        display: flex;
        justify-content: center;
        a {
            font-size: 1.125rem;
            padding: 0.75rem;
            font-weight: 700;
            color: $blue-90;
            background-color: transparent;
            border: 2px solid $blue-30;
            transition:
                color 150ms ease,
                background-color 150ms ease,
                border-color 150ms ease;

            &:hover {
                color: $blue-100;
                background-color: $blue-30;
                border-color: $blue-30;
            }
        }

        .icon,
        .label {
            display: inline-block;
        }

        .icon {
            margin-left: 0.5rem;
        }
    }
}

.heading-latest {
    font-family: $serif-font-stack;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 2 * $vertical-spacing;
}

.heading-latest__subtitle {
    display: block;
    margin-top: 8px;
    @include body-2-regular;
    color: $blue-60;

    @include md-up {
        @include body-1-regular;
    }
}

.homepage-posts--explainers {
    flex: 1;
    padding: 1.5rem 0 1.75rem;

    ul {
        @include posts-list;
    }

    @include lg-up {
        padding: 2.5rem 0 2.75rem;
    }
}

#subscribe {
    background-color: $blue-5;
    padding-bottom: 24px;
}

.homepage-social-ribbon {
    @include body-3-medium;

    > h2 {
        margin-top: 24px;
        margin-bottom: 8px;
    }

    .NewsletterSubscriptionForm__header {
        margin-bottom: 16px;
        display: block;
    }
    .owid-checkbox-block {
        margin-bottom: 16px;
        .label-title {
            font-weight: bold;
        }
    }
}

.FrontPage .NewsletterSubscription__email {
    background-color: #fff;
}
.FrontPage .homepage-subscribe#subscribe {
    background: #fff;
}
.homepage-subscribe--social-media {
    margin-top: var(--grid-gap);
    padding: 24px;
    h2 {
        margin: 0;
    }
    .shaded-box {
        flex: 1;
        padding: 2rem;
        background-color: $blue-10;
        color: $text-color;
    }

    .list-item {
        color: #1d3d63;
        display: flex;
        align-items: center;
        transition: opacity 0.2s ease;
        .icon {
            font-size: 1.375rem;
            flex: 0;
            min-width: 2.1rem;
        }
    }

    .label {
        font-size: 1rem;
        font-weight: 700;
        flex: 1;
    }
}

.homepage-social-ribbon__social-media {
    margin-top: var(--grid-gap);
    padding: 24px;
    background-color: $blue-20;
    h2 {
        margin: 0;
    }
}

.NewsletterSubscription__email {
    border: 1px solid #dbe5f0;
    background: $blue-5;
    border-radius: 0;
    height: inherit;
    padding: 0 16px;
    flex: 1;
    margin-right: 8px;
    width: 100%;
}

.NewsletterSubscription__privacy {
    margin-top: 8px;
    a {
        @include owid-link-90;
    }
}

.NewsletterSubscription__email-submit {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.NewsletterSubscription__submit {
    @include body-3-medium;
    padding: 0 24px;
    color: #fff;
    border: none;
    background-color: #ce261e;
    cursor: pointer;
    &:hover {
        background-color: #b40000;
    }
}

.homepage-social-ribbon__social-list {
    margin-top: 16px;
    li {
        list-style: none;
        margin-bottom: 8px;
        &:hover {
            a {
                color: $blue-60;
            }
        }
        a {
            color: $blue-90;
            font-weight: bold;
        }
        svg {
            margin-right: 8px;
        }
    }
}
.homepage-topics-section {
    > h2 {
        margin-top: 40px;
        margin-bottom: 8px;
        & + p {
            margin-bottom: 8px;
            margin-top: 0;
            color: $blue-60;
        }
    }
    .homepage-topic {
        &:not(:last-child) {
            padding-bottom: 16px;
            border-bottom: 1px solid $blue-10;
        }
        &:last-child {
            padding-bottom: 48px;
        }
    }
    .homepage-topic__topic-name {
        color: $blue-60;
        margin-top: 16px;
        margin-bottom: 8px;
    }
    .homepage-topic__topic-list {
        line-height: 1.33;
    }
    .homepage-topic__subtopic,
    .homepage-topic__topic-entry {
        display: inline list-item;
    }
    .homepage-topic__subtopic {
        font-weight: bold;
        list-style: none;
        white-space: nowrap;
        display: inline-block;
        &:not(:first-child) {
            &::before {
                content: "|";
                margin-right: 8px;
                color: $blue-90;
            }
        }
    }

    .homepage-topic__topic-entry {
        padding-right: 8px;
        &:first-child {
            list-style: none;
        }
        &::marker {
            color: $blue-30;
        }

        a {
            color: $blue-90;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .homepage-topic__subtopic + .homepage-topic__topic-entry {
        margin-left: 8px;
        list-style: none;
    }
}
