@mixin owid-link-90 {
    color: $blue-90;
    text-decoration: underline;

    &:visited {
        color: $purple-90;
    }
    &:hover {
        text-decoration: none;
    }
}

@mixin owid-link-60 {
    color: $blue-60;
    text-decoration: underline;

    &:visited {
        color: $purple-60;
    }
    &:hover {
        text-decoration: none;
    }
}

@mixin cancel-link-styles {
    color: $primary-color-800;
    &:visited {
        color: $primary-color-800;
    }
    &:hover {
        text-decoration: none;
        color: $primary-color;
    }
}

@mixin info {
    font-size: 0.875rem;

    p {
        margin-top: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin block-spacing {
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include wrapper-spacing-sm;
    @include md-up {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        @include wrapper-spacing-md;
    }
}

@mixin sticky-child {
    top: 24px;
    position: sticky;
    padding-top: 0;
}

@mixin grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
}

@mixin grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
}

@mixin left-media-columns {
    @include md-up {
        &.with-image .content-wrapper {
            display: flex;
            figure {
                flex: 1 1 40%;
                margin-right: $padding-x-md;
                img {
                    width: 100%;
                }
            }
            .content {
                flex: 1 1 60%;
                *:first-child {
                    margin-top: 0;
                }
                *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    figure,
    img {
        width: 100%;
        margin: 0;
    }
}

@mixin block-shadow {
    box-shadow: $light-shadow;
}

@mixin h3-style {
    font-family: $serif-font-stack;
    font-size: 1.75rem;
    @include md-up {
        font-size: 2.25rem;
    }
    font-weight: 400;
    line-height: 1.25em;
}

@mixin h4-style {
    font-family: $serif-font-stack;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4em;

    @include sm-only {
        font-size: 1.25rem;
    }
}

@mixin button-disabled {
    &:disabled {
        opacity: 0.5;
        cursor: auto;
    }
}

@mixin button-hover {
    &:hover {
        background-color: $primary-color-700;
    }
}

@mixin popover-box-button {
    padding: 0.2rem 0.5rem;
    line-height: 1.6rem;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    background: $primary-color;
    outline: none;

    @include button-hover;
    @include button-disabled;

    svg {
        margin-right: 0.5rem;
    }
}

@mixin popover-box-styles {
    border-radius: 3px;
    width: 23rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 3px 15px rgba(0, 0, 0, 0.25);
    background: hsla(0, 0%, 100%, 0.98);
    color: #333;

    .header {
        background: #002147;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }
    button {
        @include popover-box-button;
    }
}

@mixin expandable-block-button {
    background-color: $primary-color-100;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0.25rem;
    color: $primary-color;
    transition: all 150ms;
    &:hover {
        background-color: $primary-color-200;
    }
}

@mixin wrapper-spacing-sm {
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding-x-sm;
    padding-right: $padding-x-sm;
}

@mixin wrapper-spacing-md {
    padding-left: $padding-x-md;
    padding-right: $padding-x-md;
}

@mixin wrapper-x-spacing {
    @include wrapper-spacing-sm;

    @include md-up {
        @include wrapper-spacing-md;
    }
}

@mixin content-wrapper {
    @include wrapper-x-spacing;
}

@mixin full-width {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

@mixin posts-heading {
    font-family: $serif-font-stack;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 2 * $vertical-spacing;
}

@mixin posts-list {
    margin-bottom: $vertical-spacing * 2;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($grid-card-min-width, 1fr));
    gap: 1rem;
}

@mixin hide {
    display: none;
}

@mixin titling($h1-font-size) {
    .supertitle {
        margin-bottom: -($h1-font-size * 0.1);
        font-size: $h1-font-size * 40 * 0.01;
    }
    h1 {
        font-size: $h1-font-size;
    }
}

@mixin image-hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}
