.newsletter-subscription form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    button[type="submit"] {
        border-width: 1px;

        @include button-disabled;
    }

    .label-title {
        @include body-3-medium;
        @include sm-up {
            @include body-2-semibold;
        }
    }

    .label-text {
        color: $blue-60;
        @include sm-only {
            font-size: 0.75rem;
            line-height: 1.5;
        }
        @include sm-up {
            @include body-3-medium;
        }
    }

    .alert {
        @include body-3-medium;
        color: $error-text-color;
    }

    .owid-checkbox-block {
        margin: 0;
    }

    .NewsletterSubscription__email-submit {
        height: 40px;
        display: flex;
        justify-content: space-between;
        column-gap: 8px;
    }

    .NewsletterSubscription__email {
        border: 1px solid $blue-20;
        height: inherit;
        @include sm-only {
            font-size: 0.75rem;
            line-height: 1.5;
        }
        @include sm-up {
            @include body-3-medium;
        }
        padding: 0 16px;
        flex: 1;
        &::placeholder {
            color: $blue-40;
        }
    }

    .NewsletterSubscription__submit {
        padding: 0 24px;
        @include body-3-medium;
        color: $white;
        border: none;
        background-color: $vermillion;
        cursor: pointer;
        &:hover {
            background-color: #b40000;
        }
    }

    .NewsletterSubscription__privacy {
        @include sm-only {
            font-size: 0.75rem;
            line-height: 1.5;
        }
        @include sm-up {
            @include body-3-medium;
        }
        a {
            @include owid-link-60;
        }
    }
}

.homepage-subscribe .newsletter-subscription {
    flex: 1;
    .box {
        padding: 2rem;
        border: 3px solid $text-color;
        color: $text-color;
    }
}
