.newsletter-subscription form {
    display: flex;
    flex-direction: column;
    @include row-gap(16px);
    @include body-3-medium;

    button[type="submit"] {
        border-width: 1px;
        @include button-disabled;
    }

    .label-title {
        @include body-2-semibold;
    }

    .label-text {
        color: $blue-60;
    }

    .alert {
        color: $error-text-color;
    }

    .owid-checkbox-block {
        margin: 0;
    }

    .NewsletterSubscription__email-submit {
        height: 40px;
        display: flex;
        justify-content: space-between;
        @include column-gap(8px);
    }

    .NewsletterSubscription__email {
        flex: 1;
        width: 100%;
    }

    .NewsletterSubscription__submit {
        padding: 0 24px;
        color: $white;
        border: none;
        background-color: $vermillion;
        cursor: pointer;
        &:hover {
            background-color: #b40000;
        }
    }

    .NewsletterSubscription__privacy {
        a {
            @include owid-link-60;
        }
    }
}

.homepage-subscribe .newsletter-subscription {
    flex: 1;
}

.site-tools .newsletter-subscription form {
    padding: 32px 40px;
}
