.newsletter-subscription-form {
    display: flex;
    flex-wrap: wrap;
    @include body-3-medium;
    @include row-gap(16px);
}

// hidden by default, shown on the /subscribe page
.newsletter-subscription-form__checkbox-image {
    display: none;
}

.newsletter-subscription-form__label-title {
    @include body-2-bold;
}

// hidden by default, shown on the /subscribe page and homepage
.newsletter-subscription-form__label-frequency {
    display: none;
    color: $blue-60;
    margin-left: 8px;
}

.newsletter-subscription-form__label-text {
    color: $blue-60;
}

// hidden by default, shown on the /subscribe page
.newsletter-subscription-form__example-link {
    @include owid-link-60;
    display: none;
    padding: 0 0.5rem;
}

.newsletter-subscription-form__alert {
    color: $error-text-color;
}

.newsletter-subscription-form__checkbox {
    margin: 0;
    flex: 1 1 100%;
}

.newsletter-subscription-form__email-submit {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    @include column-gap(8px);
}

.newsletter-subscription-form__email {
    flex: 1;
    width: 100%;
}

.newsletter-subscription-form__submit {
    padding: 0 24px;
    color: $white;
    border: none;
    background-color: $vermillion;
    cursor: pointer;
    border-width: 1px;
    &:hover {
        background-color: #b40000;
    }
    @include button-disabled;
}

.newsletter-subscription-form__privacy-notice {
    a {
        @include owid-link-60;
    }
}

.newsletter-subscription-header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px 16px;
    margin-bottom: 8px;
    align-items: center;
    .newsletter-subscription-header__icon {
        height: 56px;
        width: 56px;
        flex-shrink: 0;
    }

    .newsletter-subscription-header__heading {
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: $blue-90;
        margin: 0;
        // magic number to get the heading to wrap at the same place as the announcements heading
        // (can't use calc because that makes it linebreak differently)
        flex: 0 0 150.25px;
    }
}

.homepage-subscribe .newsletter-subscription {
    flex: 1;
}

.site-tools .newsletter-subscription form {
    padding: 32px 40px;
}
