.page {
    & > .content-wrapper {
        position: relative;
        padding-top: $vertical-spacing;
    }

    .content-and-footnotes,
    .article-header,
    .site-subnavigation {
        @include content-wrapper;
        @include lg-up {
            max-width: $text-max-content-width + $graph-max-content-width + 3 *
                $padding-x-md;
        }
    }
    @include sm-only {
        .site-subnavigation {
            padding-right: 0;
        }
    }

    &.with-sidebar {
        @include xxlg-down {
            @include md-up {
                .offset-header,
                .offset-content,
                .offset-subnavigation {
                    padding-left: $sidebar-closed-drawer-width;
                }
            }
        }
        @include xxlg-up {
            & > .content-wrapper {
                display: flex;
            }
            .offset-header,
            .offset-subnavigation {
                padding-left: ($sidebar-content-width + 2 * $padding-x-md);
            }
            .offset-content {
                flex: 1;
            }
        }
    }

    .article-titles {
        margin-top: $vertical-spacing;
        margin-bottom: $vertical-spacing * 2;
    }

    .supertitle {
        font-family: $sans-serif-font-stack;
        color: $secondary-text-color;
    }

    .subtitle {
        font-size: 1.1rem;
        margin-top: $vertical-spacing / 2;
        line-height: 1.3;
    }

    h1 {
        margin: 0;
        font-family: $serif-font-stack;
        font-weight: 400;
        line-height: 1.2;
    }

    .authors-byline {
        margin-right: 1rem;
        font-size: 1.125rem;
        color: $secondary-text-color;

        a {
            color: inherit;

            &:hover {
                color: #c0023e;
            }
        }
    }

    .blog-info {
        @include info;
        font-style: italic;
        color: $secondary-text-color;
        p {
            margin-bottom: 0.5rem;
        }
    }

    // Cite this research and other potential tools located at the top of entries
    .tools {
        margin-top: 3rem;
        color: $secondary-text-color;
        font-size: 0.875rem;
        > * {
            margin-right: 1rem;
        }
        @include lg-up {
            .last-updated {
                display: inline;
            }
        }

        a {
            color: inherit;
            text-decoration: underline;
            transition: all 0.2s;
            &:hover {
                color: $secondary-color;
            }
        }

        svg {
            margin-right: 0.5rem;
        }
    }

    &.large-banner {
        .offset-header {
            background-color: $primary-color-100;
        }
        .article-header {
            padding-top: 2 * $vertical-spacing;
            padding-bottom: 2 * $vertical-spacing;

            @include titling(2.5rem);

            @include md-up {
                @include titling(3rem);
            }

            @include lg-up {
                padding-top: 4rem;
                @include titling(4rem);
            }
            @include xlg-up {
                padding-top: 6rem;
                padding-bottom: 3 * $vertical-spacing;
                @include titling(5rem);
            }
        }
    }

    &.thin-banner {
        .offset-header {
            background-color: $tertiary-color-100;
        }
        .article-header {
            padding-top: 2 * $vertical-spacing;
            padding-bottom: 2 * $vertical-spacing;

            h1 {
                max-width: $content-max-width;
                font-size: 3rem;
            }

            time {
                display: block;
                font-size: 0.875rem;
                color: $secondary-text-color;
            }

            .blog-info {
                margin-top: $vertical-spacing;
            }
        }
    }
}

.columns {
    display: flex;
    flex-direction: row;
    margin: 0 -1rem;

    .column {
        margin: 0 1rem 2rem;
        flex: 1;
    }

    @include sm-only {
        display: block;
    }
}
