.page {
    & > .content-wrapper {
        position: relative;
        padding-top: $vertical-spacing;
    }

    .content-and-footnotes,
    .article-header,
    .site-subnavigation,
    .sticky-nav-container {
        @include content-wrapper;
        @include lg-up {
            max-width: $xlg;
        }
    }

    .content-and-footnotes {
        margin-top: 32px;
    }

    &.with-sidebar .content-and-footnotes {
        @include xxlg-up {
            max-width: min(calc(100vw - 384px), $xlg);
        }
    }

    @include sm-only {
        .site-subnavigation {
            padding-right: 0;
        }
    }

    &.with-sidebar {
        @include xxlg-down {
            @include md-up {
                .offset-header,
                .offset-content,
                .offset-subnavigation {
                    padding-left: $sidebar-closed-drawer-width;
                }
            }
        }
        @include xxlg-up {
            & > .content-wrapper {
                display: flex;
            }
            .offset-header,
            .offset-subnavigation {
                padding-left: ($sidebar-content-width + 2 * $padding-x-md);
            }
            .offset-content {
                flex: 1;
            }
        }
    }

    .supertitle {
        font-family: $sans-serif-font-stack;
        color: $secondary-text-color;
    }

    .subtitle {
        font-size: 1.1rem;
        margin-top: $vertical-spacing * 0.5;
        line-height: 1.3;
    }

    h1 {
        @include display-1-semibold;
    }

    .authors-byline {
        margin-right: 1rem;
        color: $secondary-text-color;

        a {
            color: inherit;

            &:hover {
                color: $accent-vermillion;
            }
        }
    }

    // Cite this research and other potential tools located at the top of entries
    .tools {
        margin-top: 1.5rem;
        color: $secondary-text-color;
        font-size: 0.875rem;
        > * {
            margin-right: 1rem;
        }
        @include lg-up {
            .last-updated {
                display: inline;
            }
        }

        a {
            color: inherit;
            text-decoration: underline;
            transition: all 0.2s;
            &:hover {
                color: $vermillion;
            }
        }

        svg {
            margin-right: 0.5rem;
        }
    }

    &.large-banner {
        .offset-subnavigation {
            position: relative;
            z-index: $zindex-extended-header;
        }
        .offset-header {
            background-color: $blue-10;
            position: relative;
            z-index: $zindex-extended-header;
        }

        .article-header {
            padding-top: 2 * $vertical-spacing;
            padding-bottom: 2 * $vertical-spacing;

            h1 {
                @include display-1-semibold;
                margin-top: 2rem;
                margin-bottom: 0;

                @include sm-only {
                    font-size: 32px;
                    margin-top: 0;
                }
            }
        }

        .authors-byline {
            font-size: 1.125rem;
        }

        .blog-info {
            @include info;
            font-style: italic;
            color: $secondary-text-color;
            p {
                margin-bottom: 0.5rem;
            }
        }
    }

    &.thin-banner {
        .back-to-topic {
            font-size: 0.875rem;
            &:hover {
                text-decoration: underline;
            }
            svg {
                margin-right: 0.5rem;
            }
        }
        .article-header {
            padding-top: 2 * $vertical-spacing;
            @include md-up {
                padding-bottom: $vertical-spacing;
            }
        }
        h1 {
            font-size: clamp(2rem, 5vw, 3rem);
        }

        .article-meta {
            color: $secondary-text-color;
            margin-bottom: 2 * $vertical-spacing;
        }

        .excerpt {
            font-size: clamp(1.2rem, 2vw, 1.5rem);
            line-height: normal;
            margin-bottom: 2 * $vertical-spacing;
        }

        .authors-byline {
            font-weight: bold;
        }
        .published-updated {
            font-size: 0.875rem;
        }

        .blog-info {
            margin-top: $vertical-spacing;
        }
    }
}

.columns {
    display: flex;
    flex-direction: row;
    margin: 0 -1rem;

    .column {
        margin: 0 1rem 2rem;
        flex: 1;
    }

    @include sm-only {
        display: block;
    }
}
