/* Page Navigation Sidebar
--------------------------------------------- */
$toc-link-color: #79b8ff;
$border-width: 0.125rem;

.entry-sidebar {
    &.sticky {
    }

    .entry-toc {
        position: fixed;
        top: 117px; //TODO HACK
        left: 0;
        right: 0;
        height: calc(100vh - 117px); //TODO HACK
        line-height: 1.3em;
        overflow-y: scroll;
        background: rgba($primary-color, 0.8);
    }

    .container {
        display: flex;
        align-items: flex-start;

        > ul {
            padding: $vertical-spacing 0;
            max-width: 20rem;
        }
    }

    .current,
    .toc {
        background-color: #032f62;
    }

    ul.subnavigation {
        position: sticky;
        top: 0;
        background: $primary-color;

        li {
            opacity: 0.8;
            &.current {
                opacity: initial;
            }
        }
        .section {
            text-transform: uppercase;
        }
    }

    li {
        list-style-type: none;

        &:first-child {
            margin-bottom: $vertical-spacing;
            line-height: initial;

            a {
                font-size: 1.5rem;
            }
        }

        &.subsection {
            font-size: 0.8rem;
            margin-left: $border-width + $padding-x-sm;

            a {
                border-left-color: rgba($toc-link-color, 0.2);
            }

            + .section {
                margin-top: $vertical-spacing / 2;
            }
        }

        a {
            display: block;
            color: $white;
            font-size: 0.9rem;
            border-left: $border-width solid transparent;
            padding: $vertical-spacing/2 $padding-x-sm;

            &:hover {
                color: $toc-link-color;
            }
        }

        &.active a {
            color: $toc-link-color;
            border-left-color: rgba($toc-link-color, 0.8);
        }
    }
    .toggle-toc {
        margin-left: 0.75rem;
        button {
            @include popover-box-button;
        }
    }

    @include xlg-down {
        transition: margin 300ms ease;
    }

    @include xxlg-up {
        position: relative;
        height: 100%;
        margin-top: -$content-wrapper-padding-top;

        // .sticky-sentinel {
        //     position: absolute;
        //     height: 1px;
        //     width: inherit;
        // }
    }
}
