/* Page Navigation Sidebar
--------------------------------------------- */
$toc-link-color: #79b8ff;
$border-width: 0.125rem;

.toc-wrapper {
    margin-left: 6rem;
}

.entry-sidebar {
    &.sticky {
    }

    .entry-toc {
        position: fixed;
        top: 108px;
        left: 0;
        height: 100%;
        padding-bottom: 108px;
        line-height: 1.3em;
        overflow-y: scroll;
        background: $primary-color;
        z-index: $zindex-sidebar;
    }

    .container {
        display: flex;
        align-items: flex-start;
        > ul {
            padding: $vertical-spacing 0;
            max-width: 20rem;
        }
    }

    .current,
    .toc {
        background-color: #032f62;
    }

    ul.subnavigation {
        position: sticky;
        top: 0;

        .section {
            text-transform: uppercase;
            opacity: 0.8;
            &.current {
                opacity: initial;
            }
        }

        li:first-child {
            margin-bottom: $vertical-spacing;

            a {
                font-size: 1.5rem;
            }
        }
    }

    li {
        list-style-type: none;

        &.subsection {
            font-size: 0.8rem;
            margin-left: $border-width + $padding-x-sm;

            a {
                border-left-color: rgba($toc-link-color, 0.2);
            }

            + .section {
                margin-top: $vertical-spacing / 2;
            }
        }

        a {
            display: block;
            color: $white;
            font-size: 0.9rem;
            border-left: $border-width solid transparent;
            padding: $vertical-spacing/2 $padding-x-sm;

            &:hover {
                color: $toc-link-color;
            }
        }

        &.active a {
            color: $toc-link-color;
            border-left-color: rgba($toc-link-color, 0.8);
        }
    }

    @include xlg-down {
        z-index: $zindex-sidebar;
        transition: margin 300ms ease;

        .toggle-toc {
            @include popover-box-button;
        }
    }

    @include xxlg-up {
        position: relative;
        height: 100%;
        margin-top: -$content-wrapper-padding-top;

        .sticky-sentinel {
            position: absolute;
            height: 1px;
            width: inherit;
        }

        .toggle-toc {
            display: none;
        }
    }
}
