/* Page Navigation Sidebar
--------------------------------------------- */

.toc-wrapper {
    &.toc-wrapper--sticky {
        position: sticky;
    }
    top: 0;
    z-index: $zindex-sidebar;
}

.topic-page-header + .toc-wrapper {
    margin-top: -48px;
    margin-bottom: 48px;
    background-color: $blue-10;
}

.centered-article-header + .toc-wrapper {
    margin-bottom: 8px;
    background-color: $white;
    &.toc-wrapper--sticky {
        background-color: $blue-10;
    }
}

.table-of-contents {
    &.table-of-contents--open {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .toc-header {
        display: flex;
        align-items: center;
    }

    .toc-header__active-heading,
    .toc-header__page-title {
        flex: 1 1 auto;
        padding: 8px 0;
        a {
            color: $blue-90;
            text-underline-offset: 4px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .toc-header__page-title {
        margin: 0;
        font-weight: normal;
        font-size: 20px;
    }

    .toc-header-button {
        margin: 8px 0 8px 16px;
        padding: 8px 16px;
        @include body-3-medium;
        background: transparent;
        color: $blue-90;
        border: 1px solid $blue-90;
        cursor: pointer;

        &:hover {
            color: $blue-60;
            border-color: $blue-60;
        }
    }

    .toc-header-button--toggle {
        flex: 0 0 auto;
        .toc-header-button__label {
            margin-left: 8px;
        }
        @include sm-only {
            .toc-header-button__label--collapsed-sm {
                display: none;
            }
        }
    }

    .toc-nav {
        overflow-y: scroll;
        flex: 1;
        margin-bottom: 8px;

        li {
            list-style-type: none;
            border-left: 4px solid transparent;

            &.subsection {
                margin-left: 16px;
            }

            &.active {
                border-left-color: $oxford-blue;
                a {
                    color: $blue-90;
                }
            }
        }
        a {
            display: block;
            padding: 8px;
            color: $blue-60;
            text-underline-offset: 4px;

            &:hover {
                color: $blue-90;
                text-decoration: underline;
            }
        }
    }
}
