.multi-dim-container {
    display: flex;
    flex-direction: column;
}

.multi-dim-grapher-container {
    flex-grow: 1;
    min-height: $grapher-height;
}

html.IsInIframe {
    .multi-dim-container {
        height: 100vh;
    }

    .multi-dim-grapher-container {
        // Martin: min-height must be zero to allow the grapher to grow to the
        // height of the container, but not higher. Not even sure if this answer
        // applies to height the same as to width, but it's what helped me
        // figure it out:
        // https://stackoverflow.com/a/66689926/9846837
        min-height: 0;
        max-height: none;
    }
}
