.multi-dim-container {
    display: flex;
    flex-direction: column;
}

.multi-dim-grapher-container {
    flex-grow: 1;
    min-height: $grapher-height;
}

html.IsInIframe {
    .multi-dim-container {
        height: 100vh;
    }

    .multi-dim-grapher-container {
        min-height: auto !important;
        max-height: none;
    }
}
