.indicator-key-data {
    --title: var(--indicator-key-data-title, #{$blue-50});
    --content: var(--indicator-key-data-content, currentColor);
    --border: var(--indicator-key-data-border, #{$blue-20});

    @include body-3-medium;

    &--top-border {
        border-top: 1px solid var(--border);
    }

    &--bottom-border {
        border-bottom: 1px solid var(--border);
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .indicator-key-data-item {
        display: flex;
        padding: 16px 24px 16px 0;

        @include sm-only {
            display: block;
        }

        + .indicator-key-data-item {
            border-top: 1px solid var(--border);
        }

        &__title {
            flex: 0 0 140px; // using a fixed width here to make sure the content is aligned
            margin-right: 24px;
            color: var(--title);

            @include sm-only {
                margin-right: 0;
            }
        }

        &__content {
            color: var(--content);
        }

        &--span {
            grid-column: 1 / -1;
        }
    }

    a {
        @include owid-link-90;
        color: inherit;
    }
}
