DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_HOST=database

# Must be set on staging in order to be able to refresh the database
GRAPHER_DB_HOST=
GRAPHER_DB_NAME=

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL=mysql://database_user:database_password@database_host:database_port/database_name

# Optional variables
# DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://our-world-in-data.lndo.site
# Do not use variables for compatibility with Lando env file requirements
# https://docs.lando.dev/config/env.html#environment-files
WP_SITEURL=http://our-world-in-data.lndo.site/wp

# Salts removed: https://roots.io/guides/dockerize-local-bedrock-and-sage-development-with-lando/
# Generate your keys here: https://roots.io/salts.html
# AUTH_KEY='generateme'
# SECURE_AUTH_KEY='generateme'
# LOGGED_IN_KEY='generateme'
# NONCE_KEY='generateme'
# AUTH_SALT='generateme'
# SECURE_AUTH_SALT='generateme'
# LOGGED_IN_SALT='generateme'
# NONCE_SALT='generateme'

# Get the Application Audience (AUD) tag from https://dash.teams.cloudflare.com/
CLOUDFLARE_AUD=