div.about-page {
    .about-page-content {
        --content: var(--about-page-content, #{$blue-60});
        --content-size: var(--about-page-content-size, 0.875rem);

        margin-top: 24px;
        color: var(--content);

        > p {
            @include body-3-medium;
            margin: 0 0 16px;
            font-size: var(--content-size);
        }

        > h3 {
            @include h3-bold;
            margin: 24px 0 16px;

            &:first-child {
                margin-top: 0;
            }
        }

        > ul,
        > ol {
            @include body-3-medium;
            font-size: var(--content-size);
            margin-left: 1em;

            li {
                margin: 1em 0;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                p {
                    margin: 0;
                }
            }
        }

        a {
            @include owid-link-60;
            color: inherit;
        }
    }

    .about-page-callout {
        --background: var(--about-page-background, #{$white});
        --title: var(--about-page-title, currentColor);
        --content: var(--about-page-content, #{$blue-60});
        --content-size: var(--about-page-content-size, 0.875rem);

        display: flex;
        flex-direction: column;
        background-color: var(--background);
        margin: 0 calc(-1 * var(--grid-gap));
        padding: 24px;

        .about-page-callout__title {
            @include overline-black-caps;
            text-transform: uppercase;
            margin: 0 0 8px;
            color: var(--title);
        }

        .about-page-callout__content {
            @include body-3-medium;
            color: var(--content);
            margin: 0;
            font-size: var(--content-size);

            p,
            ol,
            ul {
                @include body-3-medium;
                font-size: var(--content-size);
            }

            ol,
            ul {
                margin-left: 1em;

                li {
                    margin: 1em 0;
                    &:first-child {
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    p {
                        margin: 0;
                    }
                }
            }

            ol li {
                margin: 0.5em 0;
            }

            > *:first-child {
                margin-top: 0;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }

        a {
            @include owid-link-60;
            color: inherit;
        }
    }
}
