@import "../../css/libs/bootstrap.css";

.importer {
	& input, select, textarea {
		@extend .form-control;
	}
}

.chooseDataset {
	& label {
		margin-top: 10px;
	}

	& p {
		margin-bottom: 0;
	}
}

.editVariable {
	& .variableProps {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	}

    & .variableProps > label {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
}

.editSource {
	& label {
		display: block;
	}
}

.editSourceDescription {

}

.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Overlay {
	z-index: 2000;
}

.importProgress {
	& .success {
		color: #00a65a;
	}

	& .error {
		color: #dd4b39;
	}

	& .progressInner {
		overflow: auto;
		margin: 10px;
	}

}