.editVariable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & label {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
}

.editSource {
	
}