@import "../../css/libs/bootstrap.css";

.importer {
	& input, select, textarea {
		@extend .form-control;
	}
}

.chooseDataset {
	& label {
		margin-top: 10px;
	}

	& p {
		margin-bottom: 0;
	}
}

.editVariable {
	& .variableProps {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	}

    & .variableProps > label {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
}

.editSource {
	& label {
		display: block;
	}
}

.editSourceDescription {
	
}