.SourcesFooterHTML {
    padding: 0 $framePadding;
    text-align: left;
    color: $dark-text;

    a {
        color: $dark-text;
        &:visited {
            color: $dark-text;
        }
    }

    p {
        margin: 0;
    }

    .NoteAndLicense {
        position: relative;

        .license {
            position: absolute;
            right: 0;
            top: 0;
            text-align: right;
        }
    }

    .SourcesAndActionButtons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        > * {
            flex-shrink: 0;
        }

        a:not(.btn) {
            text-decoration: underline;
        }
    }

    // removes margin that is added by default to prevent border-bottom used for dod from clipping
    .markdown-text-wrap__line:last-child {
        margin-bottom: 0;
    }
}
