// keep in sync with constant values in Footer.tsx
$horizontalPadding: 8px; // keep in sync with HORIZONTAL_PADDING

.SourcesFooterHTML {
    padding: 0 $framePadding;
    text-align: left;
    color: $dark-text;

    a {
        color: $dark-text;
        &:visited {
            color: $dark-text;
        }
    }

    p {
        margin: 0;
    }

    .sources a.learn-more-about-data {
        text-decoration: underline;
        text-decoration-color: $dark-text;

        &:hover {
            text-decoration: none;
        }
    }

    // "Learn more about this data" link is rendered after the sources and should be on the same line
    .sources .markdown-text-wrap__line:last-child {
        display: inline-block;
    }

    .license {
        a:hover {
            text-decoration: underline;
        }
    }

    .SourcesAndLicense {
        display: flex;
        justify-content: space-between;
        gap: $horizontalPadding;
    }

    .SourcesFooterHTMLBottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: $horizontalPadding;
    }

    // removes margin that is added by default to prevent border-bottom used for dod from clipping
    .markdown-text-wrap__line:last-child {
        margin-bottom: 0;
    }
}
