// keep in sync with constant values in Footer.tsx
$licensePaddingTop: 4px; // keep in sync with LICENSE_PADDING_TOP
$horizontalPadding: 16px; // keep in sync with HORIZONTAL_PADDING

.SourcesFooterHTML {
    padding: 0 $framePadding;
    text-align: left;
    color: $dark-text;

    a {
        color: $dark-text;
        &:visited {
            color: $dark-text;
        }
    }

    p {
        margin: 0;
    }

    .sources a {
        text-decoration: underline;
    }

    .license {
        margin-top: $licensePaddingTop;
    }

    .NoteAndActionButtons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: $horizontalPadding;
    }

    // removes margin that is added by default to prevent border-bottom used for dod from clipping
    .markdown-text-wrap__line:last-child {
        margin-bottom: 0;
    }
}
