.form-variable-select-wrapper {}
	.form-variable-select-wrapper select {
		margin-bottom: 10px;
	}

/**
*	add variable section
**/
.variable-label {}
	.variable-label .dd-handle {
		background: transparent;
	}
		.variable-label:hover {
			background-color: #ddd;
		}
		.variable-label .dd-handle:hover {
			color: inherit;
		}

/**
*	select var popup
**/
.select-var-popup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1040;
	display: none;
}
	.select-var-popup .modal {
		display: block;
	}

/**
*	dimension section
**/
.dimensions-list {
	padding: 0;
}
.dimension-box {}
	.dimension-box .dd-wrapper {
		min-height: 100px;
	}
	.dimensions-list .dd-empty {
		border: 2px dashed #fff;
	}

/**
*	time section
**/
.time-section {}
	.time-section .irs {}
		.time-section .irs.disabled {
			opacity: .5;
			pointer-events: none;
		}

.type-of-line-section {}
	.type-of-line-section label {
		display: block;
	}
		.type-of-line-section input[type=radio] {
			margin-right: 5px;
		}

/**
*	embed section
**/
.embed-section {}
	

