.form-variable-select-wrapper {}
	.form-variable-select-wrapper select {
		margin-bottom: 10px;
	}

.form-collapse-btn {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -22px;
    padding-left: 8px;
    font-size: 26px;
    border: 1px solid gray;
    background-color: #ecf0f5;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}    
	.form-panel-collapsed .form-collapse-btn i {
		position: relative;
		left: -4px;
		padding-left: -2px;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

/**
*	add variable section
**/
.variable-label {}
	.variable-label .dd-handle {
		background: transparent;
	}
		.variable-label:hover {
			background-color: #ddd;
		}
		.variable-label .dd-handle:hover {
			color: inherit;
		}

/**
*	select var popup
**/
.select-var-popup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1040;
	display: none;
}
	.select-var-popup .modal {
		display: block;
	}

/**
*	settings var popup
**/
.settings-var-popup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1040;
	display: none;
}
	.settings-var-popup .modal {
		display: block;
	}
	.settings-var-popup .settings-var-header label {
		margin-right: 20px;
	}
		.settings-var-popup .settings-var-content > div:not(:first-child) {
			display: none;
		}
		.settings-var-popup .settings-var-content-single-content > div:not(:first-child),
		.settings-var-popup .settings-var-content-all-content > div:not(:first-child) {
			display: none;
		}
/**
*	dimension section
**/
.dimensions-list {
	padding: 0;
	list-style-type: none;
}
.dimension-box {}
	.dimension-box .dd-wrapper {
		min-height: 45px;
	}
	.dimensions-list .dd-empty {
		border: 2px dashed #fff;
	}

.variable-label .fa-cog {
	/* hide setting button by default */
	display: none;
}
	.dimensions-list.chart-type-2 .variable-label .fa-cog {
		display: inline-block;
	} 

/**
*	time section
**/
.time-section {}
	.time-section .irs {}
		.time-section .irs.disabled {
			opacity: .5;
			pointer-events: none;
		}

.type-of-line-section {}
	.type-of-line-section label {
		display: block;
	}
		.type-of-line-section input[type=radio] {
			margin-right: 5px;
		}

/**
*	margins-section
**/
.margins-section {}
	.margins-section label {
		display: block;
	}
		.margins-section label span {
			width: 100px;
		}

/**
*	embed section
**/
.embed-section {}

	
/**
*	chart show
**/
.chart-show-module .col-md-6 {
	width: 100%;
}

