/* variable */
.values-table {}
	.values-table td,
	.values-table th {
		padding: 4px 10px;
	}
	.values-table td:nth-child(1) {
		width: 100px;
	}
	.values-table td:nth-child(2) {
		width: 200px;
	}



/* value */
.edit-value-module, .edit-dataset-module, .edit-variable-module {}
	.edit-value-module form,
	.edit-variable-module form,
	.edit-dataset-module form,
	.edit-datasource-module form {
		max-width: 500px;
	}

/* datasources */
.btn-new-datasource {
	margin: 10px 0px;
}

