.import-view {
	background-color: inherit;
}

.variable-name-section {}
	.variable-name-section input {
		width: 50% !important;
	}

.csv-import-result {}
	.csv-import-result table {
		background-color: #fff;
	}
	.csv-import-result th, .csv-import-result td {
		padding: 10px;
		border: 1px solid gray;
	}
