$placeholder-height: 800px;
$chart-border-radius: 2px;

$light-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.08) 0px 2px 2px;

#explorerContainer {
    min-height: $placeholder-height;
    width: 100%;
    position: relative;
    padding: 8px;
}

html.iframe #explorerContainer {
    height: 100vh;
    min-height: auto !important;
    max-height: none;
    // leave some padding for shadows
    padding: 3px;
}

.ExplorerHeaderBox {
    padding: 8px;
    min-width: 200px;
    background: white;
    border-radius: $chart-border-radius;
    box-shadow: $light-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .ExplorerTitle {
        font-size: 28px;
        font-weight: bold;
        line-height: 32px;
        font-family: "Playfair Display";
    }

    .ExplorerSubtitle {
        color: #7a899e;
        font-size: 13px;
    }
}
