$placeholder-height: 800px;
$chart-border-radius: 2px;
$explorer-grid-gap: 10px;
$explorer-min-width-first-col: 200px;
$explorer-padding: 0.5rem;

$light-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.08) 0px 2px 2px;

#explorerContainer {
    min-height: $placeholder-height;
    width: 100%;
    position: relative;
    padding: $explorer-padding;
}

html.iframe #explorerContainer {
    height: 100vh;
    min-height: auto !important;
    max-height: none;
    // leave some padding for shadows
    padding: 3px;
}

.ExplorerHeaderBox {
    padding: 8px;
    min-width: $explorer-min-width-first-col;
    background: white;
    border-radius: $chart-border-radius;
    box-shadow: $light-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .ExplorerTitle {
        font-size: 28px;
        font-weight: bold;
        line-height: 32px;
        font-family: "Playfair Display";
    }

    .ExplorerSubtitle {
        color: #7a899e;
        font-size: 13px;
    }
}

.explorerContentContainer {
    // liberale approximation of ExplorerShell._isMobile()
    @media (max-width: 849px) {
        @include wrapper-x-spacing;
    }

    @media (min-width: 850px) {
        max-width: $max-width-covid-data-explorer;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: $explorer-grid-gap;
        padding: $explorer-padding;

        .sidebar {
            min-width: $explorer-min-width-first-col;
        }
    }
}
