.indicator-descriptions {
    .key-info {
        --background: var(--indicator-key-info-background, #{$gray-10});
        --border-left: var(--indicator-key-info-border-left, #{$blue-10});
        --title: var(--indicator-key-info-title, #{$blue-50});
        --content: var(--indicator-key-info-content, currentColor);
        --content-size: var(--indicator-key-info-content-size, 1rem);

        background-color: var(--background);
        border-left: 4px solid var(--border-left);
        padding: 40px;
        margin: 32px -40px;

        &__title {
            @include h5-black-caps;
            color: var(--title);
            margin-top: 0;
            margin-bottom: 16px;
        }

        &__content,
        &__content ul {
            @include body-2-regular;
            color: var(--content);
            font-size: var(--content-size);
        }

        &__content ul {
            margin-left: 16px;
            li {
                margin-bottom: 1em;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__learn-more {
            @include expandable-paragraph__expand-button--full;
            margin-top: 24px;
            svg {
                font-size: 0.75em;
                margin-left: 12px;
            }
        }
    }

    a {
        @include owid-link-60;
        color: inherit;
    }
}
