.map-value-with-sparkline {
    display: flex;
    flex-direction: row;
    align-items: center;

    .sparkline {
        flex: 0;
    }

    .value-wrapper {
        flex: 1;
        text-align: left;
        line-height: 1.3;
        white-space: nowrap;
        padding: 0 0 0 0.75em;

        .value {
            font-size: 1.125em;
            font-weight: 700;
        }

        .time {
            font-size: 0.8125em;
            font-weight: 400;
        }
    }

    .value-wrapper.no-plot {
        text-align: center;
        padding: 0;
    }
}
