.key-data-table {
    $border: #e7e7e7;

    @include label-2-medium;
    margin-top: 16px;

    &--top-border {
        border-top: 1px solid $border;
    }

    &--bottom-border {
        border-bottom: 1px solid $border;
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .key-data-table-item {
        display: flex;
        padding: 16px 24px 16px 0;

        @include sm-only {
            display: block;
        }

        &:not(.key-data-table-source) {
            border-top: 1px solid $border;
        }

        &__title {
            flex: 0 0 130px; // using a fixed width here to make sure the content is aligned
            margin-right: 24px;
            color: $light-text;

            @include sm-only {
                margin-right: 0;
            }
        }

        &__content {
            color: var(--content);
        }

        &--span {
            grid-column: 1 / -1;
        }
    }

    a {
        @include owid-link-90;
        color: inherit;
    }
}

&.GrapherComponentNarrow .key-data-table {
    .indicator-key-data-item {
        display: block;
    }
}
