.download-modal-content {
    color: $dark-text;

    // necessary for scrolling
    display: flex;
    flex-direction: column;

    .download-modal__tab-list {
        padding: 0 var(--modal-padding);
    }

    .download-modal__tab-panel {
        padding-bottom: 24px;
        margin-top: 16px;

        flex: 1 1 auto;
        overflow-y: auto;

        // needed for the loading indicator
        position: relative;
        min-height: 45px;
    }

    .download-modal__tab {
        padding: 0 var(--modal-padding);
    }

    .download-modal__data-section {
        padding-bottom: 16px;

        display: flex;
        flex-direction: column;
        gap: 8px;

        h3 {
            margin-bottom: 8px; // 8px margin + 8px gap
        }
    }

    .download-modal__data-section + .download-modal__data-section {
        border-top: 1px solid $gray-10;
        padding-top: 16px;
    }

    .grouped-menu-item + .grouped-menu-item {
        margin-top: 4px;
    }

    .grouped-menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $blue-90;
        background-color: $blue-5;
        position: relative;
        width: 100%;
        padding: 16px;
        overflow: hidden;
        text-align: left;

        &:hover {
            cursor: pointer;
            background-color: $hover-fill;
        }

        &:active {
            background-color: $active-fill;
        }
    }

    .grouped-menu-icon img {
        display: block;
        box-shadow:
            0px 0px 0px 0px rgba(49, 37, 2, 0.03),
            0px 6px 13px 0px rgba(49, 37, 2, 0.03),
            0px 93px 37px 0px rgba(49, 37, 2, 0.01),
            0px 145px 41px 0px rgba(49, 37, 2, 0);
        padding: 0;
        margin: 0 24px 0 0;
    }

    .grouped-menu-content {
        flex: 1;
    }

    .grouped-menu-content-description {
        color: $bluish-grey-text-color;
    }

    hr {
        margin: 16px 0;
        padding: 0;
        color: $gray-10;
    }

    .grouped-menu-section-data {
        display: flex;
        flex-direction: column;

        .label {
            @include grapher_label-1-regular;
        }

        p {
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 24px;
            font-size: 12pt;
        }

        code {
            background-color: $gray-10;
            color: $gray-70;
            padding: 2px 4px;
            font-family: "Courier New", Courier, monospace;
            line-height: 1.4;
        }
    }

    .ExpandableToggle {
        --border: transparent;
    }

    .ExpandableToggle {
        --expandable-toggle-button: $gray-80;
        --expandable-toggle-button-hover: $gray-60;
        --title-size: 18px;
        --expandable-toggle-content: currentColor;
    }

    .ExpandableToggle__button {
        padding-bottom: 2px;
    }

    .ExpandableToggle__description {
        margin: 0;

        p {
            margin: 0;
            @include grapher_label-1-regular;
            color: $gray-60;
        }
    }

    .download-modal__citation-guidance-list {
        font-size: 14px;
        display: inline;
        list-style: none;
        line-height: 1.4;

        li {
            display: inline;

            &::after {
                display: inline-block;
                white-space: pre;
                content: "; ";
            }

            &:last-child::after {
                content: none;
            }

            a {
                @include owid-link-90;
                color: $gray-80;
            }
        }
    }

    .download-icon {
        padding: 0 8px 0 16px;
        font-size: 16px;
    }

    .grouped-menu-item:hover .download-icon {
        opacity: 1;
    }

    .grouped-menu-callout {
        border-radius: 8px;
        border: 1px solid $gray-20;
        background: $gray-5;
        padding: 16px;

        svg {
            margin-right: 8px;
            color: $light-text;
        }

        .title {
            font-size: 16px;
        }

        p {
            margin: 8px 0 0;
            font-size: 14px;
        }

        ul {
            margin: 6px 0 0;
            padding-left: 22px;
        }

        a {
            @include owid-link-60;
        }
    }

    .Tabs__tab {
        flex-basis: 100%;
    }
}

.static-exports-options {
    margin: 16px 0 0;

    gap: 8px;
    display: flex;
    flex-direction: column;
}

&.GrapherComponentSmall .download-modal-content {
    .grouped-menu-item h4,
    .grouped-menu-callout h4 {
        font-size: 14px;
    }

    .grouped-menu-item p,
    .grouped-menu-callout p {
        font-size: 13px;
    }
}

&.GrapherComponentNarrow .download-modal-content {
    .grouped-menu-icon img {
        display: none;
    }
}
