.DownloadModalContent {
    height: calc(100% - 14px);
    overflow-y: auto;
    color: $dark-text;

    .grouped-menu-section {
        h2 {
            color: $dark-text;
            font-family: $serif-font-stack;
            font-size: 1.125em;
            font-weight: 600;
            margin-bottom: 0.7em;
        }
    }

    .grouped-menu-section + .grouped-menu-section {
        margin-top: 1.5em;
    }

    .grouped-menu-item + .grouped-menu-item {
        margin-top: 4px;
    }

    .grouped-menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $dark-text;
        background-color: #f7f7f7;
        position: relative;
        width: 100%;
        padding: 1em;
        overflow: hidden;
        text-align: left;

        &:hover {
            z-index: 1;
            background-color: $hover-fill;
        }
    }

    .grouped-menu-icon img {
        display: block;
        box-shadow: 0px 0px 0px 0px rgba(49, 37, 2, 0.03),
            0px 6px 13px 0px rgba(49, 37, 2, 0.03),
            0px 93px 37px 0px rgba(49, 37, 2, 0.01),
            0px 145px 41px 0px rgba(49, 37, 2, 0);
    }

    .grouped-menu-content {
        flex: 1;
        padding: 0 1.5em;

        .title {
            margin: 0;
            margin-bottom: 0.2em;
            font-weight: 600;
            font-size: 1em;
        }

        .description {
            margin: 0;
            color: $light-text;
            font-size: 0.875em;
        }
    }

    .grouped-menu-section-data .grouped-menu-content {
        padding-left: 0;
    }

    .download-icon {
        padding: 0 0.5em;
        font-size: 1.1em;
    }
    .grouped-menu-item:hover .download-icon {
        opacity: 1;
    }

    // todo(redesign): restyle callout
    .grouped-menu-callout {
        display: flex;
        flex-direction: row;
        // align-items: center;
        color: #444;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        margin-bottom: 1.25em;

        &.danger {
            background-color: #fbf3f3;
            border-color: #bb7a76;
            color: #851811;
        }

        .title {
            font-size: 1em;
            margin: 0;
        }

        p {
            font-size: 0.9375em;
            margin: 0.5em 0 0;
            opacity: 0.9;
        }
    }

    .grouped-menu-callout-icon {
        flex: 0;
        margin: 1em;
        margin-right: 0;
    }

    .grouped-menu-callout-content {
        flex: 1;
        padding: 0.85em 1em;
    }
}

// todo(redesign): restyle input
.static-exports-options {
    margin: 1em 0 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid $hover-fill;

    label {
        margin-left: 8px;
        font-size: 14px;
    }
}
