.embed-modal-content {
    color: $dark-text;

    // necessary for scrolling
    display: flex;
    flex-direction: column;
    height: 100%;
    > * {
        flex-shrink: 0;
    }

    .scrollable {
        flex: 1 1 auto;
        overflow-y: auto;
        padding: 0 var(--modal-padding) var(--modal-padding);
        width: 100%;
    }

    p {
        margin-bottom: 16px;
    }

    .embed-modal--options {
        display: flex;
        gap: 32px;
        flex-direction: column;
    }

    .embed-modal--option-title {
        color: $gray-80;
    }

    .embed-modal--option-description {
        color: $gray-70;
    }
}

.embed-modal-hide-controls {
    margin-top: 16px;
}
