$zindex-embedMenu: 12;

.embedMenu {
    text-align: left;
    z-index: $zindex-embedMenu;
    color: $dark-text;
    margin-bottom: 1rem;
}

.embedMenu p {
    margin-bottom: 1.15em;
    margin-top: 0;
    font-size: 0.875em;
    font-weight: 500;
}

.embedMenu .embedCode {
    width: 100%;
    padding: 16px 24px;
    border: 1px solid $light-stroke;
    background: $gray-10;
    display: flex;
    align-items: flex-start;
}

.embedMenu code {
    width: 100%;
    border: none;
    background: none;
    color: $light-text;
    font-size: 0.75em;
    line-height: 1.33;
    word-break: break-word;
}

.embedMenu button {
    flex: 0 0 64px;
    cursor: pointer;
    color: $dark-text;
    padding: 0;
    text-align: right;
    font-size: 0.875em;
}
