.embedMenu {
    text-align: left;
    color: $dark-text;
    margin-bottom: $modal-padding;

    p {
        margin-bottom: 1.15em;
        margin-top: 0;
        font-size: 0.875em;
        font-weight: 500;
    }
}
