$modal-padding: 1.5em;

// the base font size for modals is 16px and on
// smaller devices scales down to 14px.
// it is never scaled up though.

.modalOverlay {
    position: absolute;
    // -1px to hide the frame border
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: $zindex-modal;

    .modalWrapper {
        position: relative;
        height: 100%;

        .modalContent {
            position: absolute;
            border-radius: 4px;
            background: #fff;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
            padding: $modal-padding;
            padding-bottom: 0;
            min-height: 150px;
            // necessary to allow modal to scroll
            display: flex;
            flex-direction: column;
        }

        .close-button--top-right {
            position: absolute;
            top: $modal-padding;
            right: $modal-padding;
        }

        .modalHeader {
            flex-shrink: 0; // necessary to allow modal to scroll
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1em;

            &__empty {
                margin-bottom: 4px;
            }

            .modalTitle {
                text-transform: uppercase;
                color: $light-text;
                font-size: 0.75em;
                font-weight: 900;
                letter-spacing: 1.2px;
                margin: 0;
            }
        }

        .modalScrollable {
            overflow-y: auto;
        }
    }
}
