.modalOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: $zindex-modal;

    .modalWrapper {
        position: relative;
        height: 100%;

        .modalContent {
            position: absolute;
            border-radius: 4px;
            background: #fff;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
            padding: 1.5em 1em;
            padding-bottom: 0;
            min-height: 150px;
            // necessary to allow modal to scroll
            display: flex;
            flex-direction: column;
        }

        .modalHeader {
            // necessary to allow modal to scroll
            flex-shrink: 0;
        }

        .modalScrollable {
            overflow-y: auto;
        }

        .modalTitle {
            text-transform: uppercase;
            color: $light-text;
            font-size: 0.75em;
            font-weight: 900;
            letter-spacing: 1.2px;
            margin-bottom: 24px;
        }

        .modalDismiss {
            z-index: inherit;
            position: absolute;
            font-size: 13px;
            color: $dark-text;
            top: 1em;
            right: 1em;
            border: 1px solid $light-stroke;
            border-radius: 50%;
            width: 32px;
            height: 32px;

            &:hover {
                border-color: $hover-fill;
                background: $hover-fill;
            }
        }
    }
}
