.SourcesModalContent {
    padding-bottom: $modal-padding;

    .datasource-wrapper {
        font-size: 0.8125rem;
        color: $dark-text;
        line-height: 1.38461538;

        & + .datasource-wrapper {
            margin-top: 24px;
        }

        > h2 {
            color: $dark-text;
            font-family: $serif-font-stack !important;
            font-size: 1.4em;
            font-weight: 600;
            margin: 0;
            margin-bottom: 0.4em;
        }

        h2,
        h3,
        h4 {
            margin-left: 0px;
            font-family: inherit;
        }

        h3,
        h4 {
            margin-top: 2px;
            margin-bottom: 1px;
            font-size: 0.9em;
            font-weight: bold;
        }

        ul,
        ol {
            margin-left: 1.1rem;
        }

        table {
            width: 100%;
            border-spacing: 0;
        }

        td {
            padding: 16px 0;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        td:first-child {
            padding-right: 24px;
            color: $light-text;
            min-width: 100px;
        }

        tr:first-child td {
            border: 0;
        }

        a {
            text-decoration: underline;
            color: inherit;
            word-break: break-word;
        }

        p.additionalInfo {
            margin: 0;
            margin-top: 1em;
        }
    }
}
