.SourcesModalContent {
    // keep in sync with variables in SourcesModal.tsx
    $max-width: 832px;

    padding-bottom: $modal-padding;
    max-width: $max-width;
    margin: 0 auto;

    $border: #e7e7e7;
    $box-title: #a1a1a1;

    .note-multiple-indicators {
        color: $light-text;
        font-size: 0.875rem;
        font-style: italic;
        font-weight: 500;
    }

    .source {
        color: $dark-text;

        h2 {
            @include h1-semibold;
            margin-top: 0;
            margin-bottom: 8px;

            @include sm-up {
                font-size: 1.5rem;
            }
        }

        h2 + p {
            @include body-3-medium;
            margin-top: 8px;
            margin-bottom: 16px;
        }

        a {
            color: inherit;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }

        .heading {
            @include h2-semibold;
            margin-bottom: 16px;
            margin-top: 32px;

            &--tight {
                margin-bottom: 8px;
            }
        }

        .indicator-key-data {
            --indicator-key-data-title: #{$light-text};
            --indicator-key-data-border: #{$border};

            @include label-2-medium;
            margin-top: 16px;
        }

        .indicator-descriptions .key-info {
            --indicator-key-info-title: #{$box-title};

            margin: 24px 0;
            padding: 32px;

            &__content,
            &__content ul {
                font-size: 0.875rem;
                font-weight: 500;
            }
        }

        .source-key-data {
            --source-key-data-title: #{$dark-text};
        }

        .data-processing {
            --data-processing-content: #{$light-text};

            margin-top: 0;
            margin-bottom: 16px;
        }

        .indicator-processing-callout {
            --indicator-processing-background: #{$gray-10};
            --indicator-processing-title: #{$box-title};
            --indicator-processing-content: #{$dark-text};

            margin-left: 0;
            margin-right: 0;
        }

        .ExpandableToggle {
            --expandable-toggle-border: #{$border};
            --expandable-toggle-title: #{$dark-text};
            --expandable-toggle-button: #{$dark-text};
            --expandable-toggle-button-hover: #{$light-text};
            --expandable-toggle-content: #{$light-text};
        }

        .NonExpandable {
            --non-expandable-title: #{$dark-text};
            --non-expandable-content: #{$light-text};
            --non-expandable-border: #{$border};
        }

        .wp-code-snippet {
            --code-snippet-border: #{$border};
            --code-snippet-background-light: #f7f7f7;
            --code-snippet-text: #{$light-text};
            --code-snippet-button: #{$dark-text};
            --code-snippet-button-hover: #{$light-text};
            --code-snippet-button-active: #{$light-text};
        }

        // keep in sync with measureTabWidth() in SourcesModal.tsx
        .Tabs__tab {
            font-size: 13px;
            padding: 8px 16px;
            margin-right: 8px;
            max-width: 240px;
        }

        .indicator-descriptions .key-info__learn-more,
        .indicator-processing .indicator-processing__link {
            @include body-3-medium;
            display: inline-block;
            height: auto;
            padding: 0;
            text-align: left;
            color: inherit;
            background-color: transparent;
            text-decoration: underline;
            text-underline-offset: 4px;

            &:hover {
                text-decoration: none;
            }

            svg {
                display: inline-block;
                transform: rotate(-90deg);
            }
        }
    }
}
