.SourcesModalContent {
    // keep in sync with variables in SourcesModal.tsx
    $max-width: 832px;

    padding-bottom: $modal-padding;
    max-width: $max-width;
    margin: 0 auto;

    $border: #e7e7e7;

    .note-multiple-indicators {
        margin-top: 0;
        color: $light-text;
        font-size: 0.875rem;
        font-style: italic;
        font-weight: 500;
    }

    .source {
        color: $light-text;

        h2 {
            @include h1-semibold;
            margin-top: 0;
            margin-bottom: 8px;
            color: $dark-text;

            @include sm-up {
                font-size: 1.5rem;
            }
        }

        h2 + p {
            @include body-3-medium;
            margin-top: 8px;
            margin-bottom: 16px;
            color: $dark-text;
        }

        a {
            color: inherit;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }

        .heading {
            @include h2-semibold;
            margin-top: 32px;
            margin-bottom: 8px;
            color: $dark-text;
        }

        .indicator-sources {
            --indicator-sources-description-heading: #{$dark-text};
            --indicator-sources-key-data-title: #{$dark-text};

            .ExpandableToggle:first-of-type {
                border-top: none;
            }
        }

        .data-processing {
            margin-top: 0;
            margin-bottom: 16px;
        }

        .indicator-processing-callout {
            --indicator-processing-background: #{$gray-10};
            --indicator-processing-title: #{$dark-text};
            --indicator-processing-content: #{$light-text};

            margin-left: 0;
            margin-right: 0;
        }

        .ExpandableToggle {
            --expandable-toggle-border: #{$border};
            --expandable-toggle-title: #{$dark-text};
            --expandable-toggle-button: #{$dark-text};
            --expandable-toggle-button-hover: #{$light-text};
        }

        .NonExpandable {
            --non-expandable-title: #{$dark-text};
            --non-expandable-border: #{$border};
        }

        .wp-code-snippet {
            --code-snippet-border: #{$border};
            --code-snippet-background-light: #f7f7f7;
            --code-snippet-text: #{$light-text};
            --code-snippet-button: #{$dark-text};
            --code-snippet-button-hover: #{$light-text};
            --code-snippet-button-active: #{$light-text};
        }

        // keep in sync with measureTabWidth() in SourcesModal.tsx
        .Tabs__tab {
            font-size: 13px;
            padding: 8px 16px;
            margin-right: 8px;
            max-width: 240px;
        }

        .indicator-processing .indicator-processing__link {
            @include body-3-medium;
            display: inline-block;
            height: auto;
            padding: 0;
            text-align: left;
            color: $dark-text;
            background-color: transparent;
            text-decoration: underline;
            text-underline-offset: 4px;

            &:hover {
                text-decoration: none;
            }

            svg {
                display: inline-block;
                transform: rotate(-90deg);
            }
        }
    }
}

&.GrapherComponentSmall .SourcesModalContent {
    .source {
        --text-small: 0.8125rem;

        --indicator-processing-content-size: var(--text-small);
        --data-processing-content-size: var(--text-small);
        --expandable-toggle-title-size: 0.875rem;
        --expandable-toggle-content-size: var(--text-small);
        --non-expandable-title-size: 0.875rem;
        --non-expandable-content-size: var(--text-small);

        h2 {
            font-size: 1.25rem;
            @include sm-up {
                font-size: 1.25rem;
            }
        }

        h2 + p {
            font-size: var(--text-small);
        }

        .heading {
            font-size: 1.125rem;
        }

        .indicator-descriptions .key-info {
            --indicator-key-info-content-size: var(--text-small);
            padding: 24px;
        }

        .indicator-descriptions .key-info__learn-more,
        .indicator-processing .indicator-processing__link {
            font-size: var(--text-small);
        }
    }
}
