.SourcesModalContent {
    // keep in sync with variables in SourcesModal.tsx
    $max-content-width: 640px;
    $tab-padding: 16px;
    $tab-font-size: 13px;
    $tab-gap: 8px;

    padding-bottom: $modal-padding;
    max-width: $max-content-width;
    margin: 0 auto;

    $border: #e7e7e7;

    .note-multiple-indicators {
        margin-top: 0;
        color: $light-text;
        font-size: 0.875rem;
        font-style: italic;
        font-weight: 500;
    }

    .source {
        color: $light-text;

        h2 {
            @include h1-semibold;
            margin-top: 0;
            margin-bottom: 8px;
            color: $dark-text;

            @include sm-up {
                font-size: 1.5rem;
            }
        }

        h2 + p {
            @include body-3-medium;
            margin-top: 8px;
            margin-bottom: 16px;
            color: $dark-text;
        }

        .title-fragments {
            color: $light-text;
            font-size: 1.25rem;
            margin-left: 8px;
        }
        a {
            color: inherit;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }

            // DoD spans should be dotted via the border, not underlined
            &.dod-span {
                text-decoration: none;
            }
        }

        .heading {
            @include h2-semibold;
            margin-top: 32px;
            margin-bottom: 16px;
            color: $dark-text;

            &--tight {
                margin-bottom: 8px;
            }
        }

        .indicator-sources {
            --indicator-sources-description-heading: #{$dark-text};
            --indicator-sources-key-data-title: #{$dark-text};
            --indicator-sources-content: #{$light-text};

            .ExpandableToggle:first-of-type,
            .NonExpandable:first-of-type {
                border-top: none;
                padding-top: 0;

                .ExpandableToggle__button {
                    padding-top: 0;
                }
            }

            &--single .NonExpandable {
                border: none;
                padding: 0;
            }
        }

        .data-processing {
            --data-processing-content: #{$light-text};

            margin-top: 0;
            margin-bottom: 16px;
        }

        .indicator-processing-callout {
            --indicator-processing-background: #{$gray-10};
            --indicator-processing-title: #{$dark-text};
            --indicator-processing-content: #{$light-text};

            margin-left: 0;
            margin-right: 0;
        }

        .ExpandableToggle {
            --expandable-toggle-border: #{$border};
            --expandable-toggle-title: #{$dark-text};
            --expandable-toggle-content: #{$light-text};
            --expandable-toggle-button: #{$dark-text};
            --expandable-toggle-button-hover: #{$light-text};
        }

        .NonExpandable {
            --non-expandable-title: #{$dark-text};
            --non-expandable-border: #{$border};
        }

        .Tabs__tab {
            font-size: $tab-font-size;
            padding: 8px $tab-padding;
            margin-right: $tab-gap;
        }

        .citation__paragraph {
            color: $light-text;
        }

        .citation__type {
            color: $dark-text;
            font-weight: 500;
        }

        .indicator-processing .indicator-processing__link {
            @include body-3-medium;
            display: inline-block;
            height: auto;
            padding: 0;
            text-align: left;
            color: $dark-text;
            background-color: transparent;
            text-decoration: underline;
            text-underline-offset: 4px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

&.GrapherComponentSmall .SourcesModalContent {
    .source {
        --text-small: 0.8125rem;

        --indicator-processing-content-size: var(--text-small);
        --data-processing-content-size: var(--text-small);
        --expandable-toggle-title-size: 0.875rem;
        --expandable-toggle-content-size: var(--text-small);
        --non-expandable-title-size: 0.875rem;
        --non-expandable-content-size: var(--text-small);

        h2 {
            font-size: 1.25rem;
            @include sm-up {
                font-size: 1.25rem;
            }
        }

        h2 + p {
            font-size: var(--text-small);
        }

        .heading {
            font-size: 1.125rem;
        }

        .indicator-descriptions .key-info {
            --indicator-key-info-content-size: var(--text-small);
            padding: 24px;
        }

        .indicator-descriptions .key-info__learn-more,
        .indicator-processing .indicator-processing__link,
        .citation__paragraph,
        .citation__type {
            font-size: var(--text-small);
        }
    }
}
