.collapsibleList {
    margin: 12px 0px;
    margin-left: 15px;

    ul {
        list-style: none;
        > .list-item:not(:first-child) {
            margin-left: 16px;
        }

        li {
            display: inline-block;
        }
    }
}
