.collapsibleList {
    margin: 12px 0px;
    padding-left: 15px;
    white-space: nowrap;

    ul {
        list-style: none;
        > .list-item:not(:first-child) {
            padding-left: 16px;
        }

        .moreButton {
            padding-left: 16px;
        }

        li {
            display: inline-block;
        }
    }
}
