.collapsibleList {
    padding-left: 15px;
    white-space: nowrap;

    ul {
        list-style: none;
        > .list-item {
            &.visible {
                display: inline-block;

                padding-left: 15px;
            }
        }
    }
}
