.controlsRow {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;

    /* blue dark */
    color: #1d3d63;

    margin: 12px 0px;
    margin-left: 15px;

    > .control:not(:first-child) {
        margin-left: 16px;
    }
}
