.controlsRow {
    .list-item {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;

        /* blue gray */
        color: #60758c;
    }

    .moreButton {
        /* blue medium */
        color: #0073e6;
    }

    margin: 12px 0px 0px 0px;
}
