.controlsRow {
    .list-item {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;

        /* blue dark */
        color: #1d3d63;
    }

    margin: 12px 0px;
}
