.region-provider-tooltip {
    a {
        @include owid-link-90;
    }

    max-width: 320px;
    color: $gray-100;
    font-size: 0.875rem;

    h3 {
        margin: 0;
        font-size: 1em;
    }

    p {
        margin: 0;
    }

    &__map-container {
        position: relative;
        margin: 8px 0;
        // border: 1px solid black;
    }

    &__map {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 4px;
    }

    &__country-label {
        position: absolute;
        bottom: -4px;
        right: 0;
        font-size: 0.75rem;
        line-height: 1;
        padding: 2px 4px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 2px;
        color: $dark-text;
        pointer-events: none;
    }

    &__description {
        margin: 0;
    }

    &__region-list {
        color: $dark-text;
        font-size: 0.9em;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 4px 12px;
    }

    &__region {
        display: inline-flex;
        align-items: baseline;
        gap: 4px;
        line-height: 1.2;
        cursor: default;

        // &--highlighted {
        //     font-weight: 500;
        // }

        &--muted {
            opacity: 0.4;
        }
    }

    &__region-dot {
        width: 0.8em;
        height: 0.8em;
        flex-shrink: 0;
    }
}
