openapi: 3.0.4
info:
    title: Grapher Chart API
    version: 1.0.0
    description: |
        API for accessing Our World in Data charts, data exports, and metadata.

        This API allows you to:
        - Retrieve chart HTML pages
        - Export charts as PNG or SVG images
        - Download chart data as CSV or JSON
        - Access chart metadata and READMEs
    contact:
        name: Our World in Data
        url: https://ourworldindata.org
    license:
        name: CC BY 4.0
        url: https://creativecommons.org/licenses/by/4.0/

servers:
    - url: https://ourworldindata.org
      description: Production server

paths:
    /grapher/{slug}:
        get:
            summary: Get chart HTML page
            description: Returns the full HTML page for a specific chart.
            operationId: getChartHtml
            tags:
                - Charts
            parameters:
                - $ref: "#/components/parameters/slug"
                - $ref: "#/components/parameters/tab"
                - $ref: "#/components/parameters/country"
                - $ref: "#/components/parameters/mapSelect"
                - $ref: "#/components/parameters/time"
                - $ref: "#/components/parameters/nocache"
            responses:
                "200":
                    description: Successful response
                    content:
                        text/html:
                            schema:
                                type: string
                "404":
                    $ref: "#/components/responses/NotFound"

    /grapher/{slug}.png:
        get:
            summary: Get chart as PNG
            description: Returns a PNG image of the chart.
            operationId: getChartPng
            tags:
                - Images
            parameters:
                - $ref: "#/components/parameters/slug"
                - $ref: "#/components/parameters/imType"
                - $ref: "#/components/parameters/imWidth"
                - $ref: "#/components/parameters/imHeight"
                - $ref: "#/components/parameters/imDetails"
                - $ref: "#/components/parameters/imFontSize"
                - $ref: "#/components/parameters/imMinimal"
                - $ref: "#/components/parameters/imSquareSize"
                - $ref: "#/components/parameters/nocache"
                - $ref: "#/components/parameters/tab"
                - $ref: "#/components/parameters/country"
                - $ref: "#/components/parameters/time"
            responses:
                "200":
                    description: PNG image
                    content:
                        image/png:
                            schema:
                                type: string
                                format: binary
                "404":
                    $ref: "#/components/responses/NotFound"

    /grapher/{slug}.svg:
        get:
            summary: Get chart as SVG
            description: Returns an SVG image of the chart.
            operationId: getChartSvg
            tags:
                - Images
            parameters:
                - $ref: "#/components/parameters/slug"
                - $ref: "#/components/parameters/imType"
                - $ref: "#/components/parameters/imWidth"
                - $ref: "#/components/parameters/imHeight"
                - $ref: "#/components/parameters/imDetails"
                - $ref: "#/components/parameters/imFontSize"
                - $ref: "#/components/parameters/imMinimal"
                - $ref: "#/components/parameters/imSquareSize"
                - $ref: "#/components/parameters/nocache"
                - $ref: "#/components/parameters/tab"
                - $ref: "#/components/parameters/country"
                - $ref: "#/components/parameters/time"
            responses:
                "200":
                    description: SVG image
                    content:
                        image/svg+xml:
                            schema:
                                type: string
                                format: binary
                "404":
                    $ref: "#/components/responses/NotFound"

    /grapher/{slug}.csv:
        get:
            summary: Get chart data as CSV
            description: |
                Returns the data used in the chart as a CSV file.

                **CSV Structure:**

                Each row in the CSV file corresponds to an observation for an entity (most often a country or region) at a specific time point (generally a year).

                **Columns:**

                The first two columns in the CSV file are "Entity" and "Code."

                - **Entity**: The name of the entity, typically a country, such as "United States."
                - **Code**: The OWID internal entity code used for countries or regions. For standard countries, this matches the [:octicons-link-external-16: ISO alpha-3 code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) (e.g., "USA"); for non-standard or historical countries, we use custom codes. Country and region names are standardized across all Our World in Data datasets, allowing you to join multiple datasets using either of these columns.
                - **Year** or **Day**: If the data is annual, this is "Year" and contains only the year as an integer. If the column is "Day", it contains a date string in the form "YYYY-MM-DD".
                - **Data columns**: The time series that powers the chart. Simple line charts have a single data column, while more complex charts can have multiple columns.
            operationId: getChartCsv
            tags:
                - Data
            parameters:
                - $ref: "#/components/parameters/slug"
                - name: v
                  in: query
                  description: Version number (e.g., 1)
                  schema:
                      type: integer
                - name: csvType
                  in: query
                  description: Type of CSV to return
                  schema:
                      type: string
                      enum: [full, filtered]
                      default: full
                - name: useColumnShortNames
                  in: query
                  description: Use short names for columns
                  schema:
                      type: boolean
                      default: true
                - $ref: "#/components/parameters/nocache"
            responses:
                "200":
                    description: CSV data
                    content:
                        text/csv:
                            schema:
                                type: string
                            examples:
                                life-expectancy:
                                    summary: The first three rows of data from our life expectancy chart
                                    value: |
                                        Entity,Code,Year,Period life expectancy at birth - Sex: all - Age: 0
                                        Afghanistan,AFG,1950,27.7275
                                        Afghanistan,AFG,1951,27.9634
                                        Afghanistan,AFG,1952,28.1992
                "403":
                    description: Data is non-redistributable
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "404":
                    $ref: "#/components/responses/NotFound"

    /grapher/{slug}.metadata.json:
        get:
            summary: Get chart metadata
            description: |
                Returns metadata about the chart configuration and data.

                The metadata includes:
                - **chart**: Chart configuration (title, subtitle, citation, etc.)
                - **columns**: Metadata for each data column (units, timespan, citations, etc.)
                - **dateDownloaded**: Timestamp of when the data was downloaded
            operationId: getChartMetadata
            tags:
                - Metadata
            parameters:
                - $ref: "#/components/parameters/slug"
                - $ref: "#/components/parameters/nocache"
            responses:
                "200":
                    description: Chart metadata
                    content:
                        application/json:
                            schema:
                                type: object
                            examples:
                                life-expectancy:
                                    summary: Life expectancy chart metadata
                                    value:
                                        chart:
                                            title: Life expectancy
                                            subtitle: The [period life expectancy](#dod:period-life-expectancy) at birth, in a given year.
                                            citation: UN WPP (2022); HMD (2023); Zijdeman et al. (2015); Riley (2005)
                                            originalChartUrl: https://ourworldindata.org/grapher/life-expectancy
                                            selection:
                                                - World
                                                - Americas
                                                - Europe
                                                - Africa
                                                - Asia
                                                - Oceania
                                        columns:
                                            "Period life expectancy at birth - Sex: all - Age: 0":
                                                titleShort: Life expectancy at birth
                                                titleLong: Life expectancy at birth - Various sources – period tables
                                                descriptionShort: The period life expectancy at birth, in a given year.
                                                descriptionKey:
                                                    - Period life expectancy is a metric that summarizes death rates across all age groups in one particular year.
                                                    - "..."
                                                shortUnit: years
                                                unit: years
                                                timespan: 1543-2021
                                                type: Numeric
                                                owidVariableId: 815383
                                                shortName: life_expectancy_0__sex_all__age_0
                                                lastUpdated: "2023-10-10"
                                                nextUpdate: "2024-11-30"
                                                citationShort: UN WPP (2022); HMD (2023); Zijdeman et al. (2015); Riley (2005) – with minor processing by Our World in Data
                                                citationLong: UN WPP (2022); HMD (2023); Zijdeman et al. (2015); Riley (2005) – ...
                                                fullMetadata: https://api.ourworldindata.org/v1/indicators/815383.metadata.json
                                        dateDownloaded: "2024-10-30"
                "404":
                    $ref: "#/components/responses/NotFound"

    /grapher/{slug}.readme.md:
        get:
            summary: Get chart README
            description: Returns a README markdown file for the chart data.
            operationId: getChartReadme
            tags:
                - Metadata
            parameters:
                - $ref: "#/components/parameters/slug"
                - $ref: "#/components/parameters/nocache"
            responses:
                "200":
                    description: README file
                    content:
                        text/markdown:
                            schema:
                                type: string
                "404":
                    $ref: "#/components/responses/NotFound"

    /grapher/{slug}.zip:
        get:
            summary: Get chart data ZIP
            description: Returns a ZIP file containing CSV data, metadata, and README.
            operationId: getChartZip
            tags:
                - Data
            parameters:
                - $ref: "#/components/parameters/slug"
                - $ref: "#/components/parameters/nocache"
            responses:
                "200":
                    description: ZIP file
                    content:
                        application/zip:
                            schema:
                                type: string
                                format: binary
                "403":
                    description: Data is non-redistributable
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "404":
                    $ref: "#/components/responses/NotFound"

    /grapher/{slug}.config.json:
        get:
            summary: Get grapher config
            description: Returns the raw configuration for the grapher chart.
            operationId: getChartConfig
            tags:
                - Metadata
            parameters:
                - $ref: "#/components/parameters/slug"
                - $ref: "#/components/parameters/nocache"
            responses:
                "200":
                    description: Grapher configuration
                    content:
                        application/json:
                            schema:
                                type: object
                "404":
                    $ref: "#/components/responses/NotFound"

    /grapher/{slug}.values.json:
        get:
            summary: Get data values
            description: Returns data values for a specific entity.
            operationId: getChartValues
            tags:
                - Data
            parameters:
                - $ref: "#/components/parameters/slug"
                - $ref: "#/components/parameters/country"
                - $ref: "#/components/parameters/nocache"
            responses:
                "200":
                    description: Data values
                    content:
                        application/json:
                            schema:
                                type: object
                "404":
                    $ref: "#/components/responses/NotFound"

    /grapher/{slug}.search-result.json:
        get:
            summary: Get search results
            description: Returns search results within the context of the chart.
            operationId: getChartSearchResults
            tags:
                - Search
            parameters:
                - $ref: "#/components/parameters/slug"
                - name: version
                  in: query
                  description: API version
                  schema:
                      type: integer
                      default: 1
                - name: entities
                  in: query
                  description: Selected entities
                  schema:
                      type: string
                - name: variant
                  in: query
                  description: Data variant (Large or Medium)
                  schema:
                      type: string
                      enum: [Large, Medium]
                - name: numDataTableRowsPerColumn
                  in: query
                  description: Number of rows per column in data table
                  schema:
                      type: integer
                      default: 4
                - $ref: "#/components/parameters/nocache"
            responses:
                "200":
                    description: Search results
                    content:
                        application/json:
                            schema:
                                type: object
                "404":
                    $ref: "#/components/responses/NotFound"

components:
    parameters:
        slug:
            name: slug
            in: path
            description: The URL slug of the chart
            required: true
            schema:
                type: string
            example: "population-density"

        tab:
            name: tab
            in: query
            description: Active tab for the chart
            schema:
                type: string
                enum:
                    - table
                    - map
                    - chart
                    - line
                    - scatter
                    - stacked-area
                    - discrete-bar
                    - stacked-discrete-bar
                    - slope
                    - stacked-bar
                    - marimekko
            example: "map"

        country:
            name: country
            in: query
            description: |
                Selected countries/entities. Can be a single entity or multiple separated by `~` (tilde) or `+` (plus).
                Also supports special selectors like `~OWID_WRL` (World).
            schema:
                type: string
            example: "United States~China"

        mapSelect:
            name: mapSelect
            in: query
            description: Entity to highlight on the map
            schema:
                type: string
            example: "France"

        time:
            name: time
            in: query
            description: |
                Time period to display. Can be a single year (`2020`), a range (`2000..2020`), or `latest`.
            schema:
                type: string
            example: "2000..2020"

        nocache:
            name: nocache
            in: query
            description: If present, bypasses the cache
            schema:
                type: string
                nullable: true
            allowEmptyValue: true

        imType:
            name: imType
            in: query
            description: Image type/preset
            schema:
                type: string
                enum:
                    - twitter
                    - og
                    - thumbnail
                    - square
                    - social-media-square
                    - uncaptioned
            example: "og"

        imWidth:
            name: imWidth
            in: query
            description: Width of the generated image in pixels
            schema:
                type: integer

        imHeight:
            name: imHeight
            in: query
            description: Height of the generated image in pixels
            schema:
                type: integer

        imDetails:
            name: imDetails
            in: query
            description: Include details (1 to enable)
            schema:
                type: string
                enum: ["0", "1"]

        imFontSize:
            name: imFontSize
            in: query
            description: Font size for the image
            schema:
                type: integer

        imMinimal:
            name: imMinimal
            in: query
            description: Minimal mode (1 to enable). Affects thumbnails and uncaptioned images.
            schema:
                type: string
                enum: ["0", "1"]

        imSquareSize:
            name: imSquareSize
            in: query
            description: Size for square images
            schema:
                type: integer

    schemas:
        Error:
            type: object
            required:
                - error
            properties:
                error:
                    type: string
                message:
                    type: string

    responses:
        NotFound:
            description: Chart not found
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/Error"
