.TimelineComponent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    padding: 0 1em;

    > div {
        margin-right: 0.5em;
        &:last-child {
            margin-right: 0;
        }
    }

    .play,
    .date {
        height: 100%;
        font-size: 13px;
        font-weight: 500;
        color: #5b5b5b;
        padding: 0 8px;
        border-radius: 4px;
        display: grid;
        place-content: center;
    }

    .date {
        margin-right: 0;
        border: 1px solid #e7e7e7;

        &:hover {
            background: #e7e7e7;
        }

        &:active {
            background: #dbe5f0;
            color: #1d3d63;
        }
    }

    .play {
        margin-right: 8px;
        background: #f2f2f2;
        cursor: pointer;

        svg {
            width: 16px;
            height: 14px;
        }

        .label {
            margin-left: 4px;
        }
    }

    $handle-diameter: 20px;
    .slider {
        height: 2px;
        flex-grow: 1;
        background: #e7e7e7;
        position: relative;
        display: flex;
        align-items: center;
        margin-left: $handle-diameter;
        margin-right: $handle-diameter;

        padding: 12px 0;
    }

    .handle {
        $handleSidePadding: 6px;

        position: absolute;
        z-index: 1;
        margin-left: (-$handle-diameter * 0.5) - $handleSidePadding;
        cursor: col-resize;
        padding: 10px $handleSidePadding;

        > .icon {
            height: $handle-diameter;
            width: $handle-diameter;
            border-radius: 100%;

            background: #a1a1a1;
            border: 2px solid #fff;
            z-index: 1;
            pointer-events: none;

            transform: scale(1);
            transition: transform 0.1s ease-out;
        }
    }

    .interval {
        position: absolute;
        height: 2px;
        background: #e7e7e7;

        cursor: grab;
        &:active {
            cursor: grabbing;
        }

        padding: 10px 0;
    }

    .handle,
    .interval,
    .slider {
        box-sizing: content-box !important;
        background-clip: content-box !important;
    }
}

.TimelineComponent.hover {
    .handle > .icon {
        background: #6e87a2;
        transform: scale(1.2);
    }

    .interval {
        background: #a4b6ca;
    }
}
