$timelineHeight: 32px;

.timeline-component {
    // timeline slider and interval
    $light-timeline: #e7e7e7;
    $active-timeline: #a4b6ca;

    // start/end handle
    $light-knob: #a1a1a1;
    $active-knob: #6e87a2;

    // start/end year label
    $light-fill: #f2f2f2;
    $hover-fill: #e7e7e7;
    $active-fill: #dbe5f0;

    width: 100%;
    height: $timelineHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;

    > div {
        margin-right: 0.5em;
        &:last-child {
            margin-right: 0;
        }
    }

    .date {
        height: 100%;
        font-size: 13px;
        font-weight: 400;
        color: $dark-text;
        padding: 0 8px;
        border-radius: 4px;
        display: grid;
        place-content: center;
        margin-right: 0;
        background-color: $light-fill;
        user-select: none;

        &:hover {
            background: $hover-fill;
        }

        &:active {
            background: $active-fill;
            color: $active-text;
        }
    }

    $handle-diameter: 20px;
    .slider {
        height: 2px;
        flex-grow: 1;
        background: $light-timeline;
        position: relative;
        display: flex;
        align-items: center;
        margin-left: $handle-diameter;
        margin-right: $handle-diameter;

        padding: 12px 0;
    }

    .handle {
        $handleSidePadding: 6px;

        position: absolute;
        z-index: 1;
        margin-left: (-$handle-diameter * 0.5) - $handleSidePadding;
        cursor: col-resize;
        padding: 10px $handleSidePadding;

        > .icon {
            height: $handle-diameter;
            width: $handle-diameter;
            border-radius: 100%;

            background: $light-knob;
            border: 2px solid #fff;
            z-index: 1;
            pointer-events: none;

            transform: scale(1);
            transition: transform 0.1s ease-out;
        }

        > .handle-label {
            position: absolute;
            top: -32px;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 8px;
            font-size: 12px;
            line-height: 16px;
            background-color: $tooltip-fill;
            color: $tooltip-text;
            border-radius: 4px;
            width: max-content;
        }

        > .handle-label-arrow {
            width: 6px;
            height: 6px;
            background-color: $tooltip-fill;
            top: -3px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0) rotate(45deg);
        }
    }

    .interval {
        position: absolute;
        height: 2px;
        background: $active-timeline;
        padding: 10px 0;

        &:hover {
            height: 3px;
        }

        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }

    .handle,
    .interval,
    .slider {
        box-sizing: content-box !important;
        background-clip: content-box !important;
    }

    &.hover {
        .handle > .icon {
            background: $active-knob;
            transform: scale(1.3);
        }
    }
}
