// Hide the noisy arrow in the autocomplete dropdown.
.handsontable {
    .htAutocompleteArrow {
        font-size: 0 !important;
    }

    .ShowDropdownArrow {
        // But still show the autocomplete dropdown arrow on last cell.
        .htAutocompleteArrow:before {
            content: "+" !important;
            color: green !important;
            font-size: 14px !important;
            font-weight: bold;
            cursor: pointer;
        }
    }

    // Change the default dark top right corner comment arrow into a subtle checkmark.
    .htCommentCell:after {
        content: "✓" !important;
        color: #ccc !important;
        border: 0 !important;
        font-size: 8px;
    }

    .KeywordCellType {
        color: #3c4e66;
    }

    .BooleanCellType {
        color: #00847e;
    }

    .EnumCellType {
        color: #00847e;
    }

    .StringCellType {
        color: #0f739c;
    }

    .IntegerCellType {
        color: #578145;
    }

    .SubTableHeaderCellType {
        color: #4c6a9c;
        border-bottom: 1px solid #4c6a9c;
    }

    .SubTableWordCellType {
        color: #287669;
    }

    .UrlCellType {
        color: #00823f;
    }

    .SlugDeclarationType {
        color: #00823f;
    }

    .CommentType {
        color: #999;
        font-style: italic;
    }

    .ErrorCellType,
    .NothingGoesThereType {
        color: #b13507;
        text-decoration: underline;
        text-decoration-style: wavy;

        &.htCommentCell:after {
            content: "✗" !important;
            color: #b13507 !important;
        }
    }

    .WipCellType {
        color: #777;
    }
}

// Unused colors from Owid Default Color Scheme:
// "#287669",
// "#CD2285",
// "#9A5129",
// "#008860",
// "#8C4569",
// "#B36216",
// "#366388",
// "#A2559C",
// "#D7263F",
// "#18470F",
// "#BC8E5A",
// "#585C64",
