name: CI
on:
    pull_request:
    push:
        branches:
            - master

jobs:
    # Checks for prettify errors, TypeScript errors and runs vitest tests.
    "test-db":
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v5

            - uses: ./.github/actions/setup-node-yarn-deps

            - name: Install dependencies
              run: cp .env.example-grapher .env
              shell: bash

            - name: Build and run db tests
              run: make dbtest
              timeout-minutes: 6

    test:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v5

            - uses: ./.github/actions/setup-node-yarn-deps

            - name: Run vitest
              run: yarn test --pool=forks

    typecheck:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v5

            - uses: ./.github/actions/setup-node-yarn-deps
              with:
                  runPostinstallScripts: false

            - name: Run typecheck
              run: yarn typecheck
    typecheck-legacy:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v5

            - uses: ./.github/actions/setup-node-yarn-deps
              with:
                  runPostinstallScripts: false

            - name: Run typecheck (legacy)
              run: yarn tsc -b

    format:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v5

            - uses: ./.github/actions/setup-node-yarn-deps
              with:
                  runPostinstallScripts: false

            - name: Check formatting
              run: yarn testFormatAll

    eslint:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v5

            - uses: ./.github/actions/setup-node-yarn-deps
              with:
                  runPostinstallScripts: false

            - name: Run eslint
              # the --max-warnings makes eslint exit with non-zero exit code even for warnings
              run: yarn testLint --max-warnings=0

    # Runs `bundlemon` on the code to see if our Vite build assets exceed a given file size.
    bundlemon:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v5

            - uses: ./.github/actions/setup-node-yarn-deps

            - name: Build
              run: yarn buildViteSite
              env:
                  BUNDLEMON: true

            - name: BundleMon
              uses: lironer/bundlemon-action@v1
