name: Continuous Integration
on: [push]

jobs:
    # Checks for prettify errors, TypeScript errors and runs Jest tests.
    testcheck:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v2

            # Use Node version specified in .nvmrc
            # https://github.com/actions/setup-node/issues/32#issuecomment-525791142
            - name: Read .nvmrc
              id: nvm
              run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"

            - name: Use Node.js (.nvmrc)
              uses: actions/setup-node@v2
              with:
                  node-version: "${{ steps.nvm.outputs.NVMRC }}"
                  cache: "yarn"

            - name: Install dependencies
              run: yarn --frozen-lockfile --network-concurrency 1

            - name: Register Problem Matcher
              run: echo "##[add-matcher].github/problemMatchers/tsc.json"

            - name: Run tests & checks
              run: yarn testPrettierAll && yarn buildTsc && yarn testJest

    # Runs `bundlewatch` on the code to see if our Webpack build assets exceed a given file size.
    bundlewatch:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v2

            # Use Node version specified in .nvmrc
            # https://github.com/actions/setup-node/issues/32#issuecomment-525791142
            - name: Read .nvmrc
              id: nvm
              run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"

            - name: Use Node.js (.nvmrc)
              uses: actions/setup-node@v2
              with:
                  node-version: "${{ steps.nvm.outputs.NVMRC }}"
                  cache: "yarn"

            - name: Install dependencies
              run: yarn --frozen-lockfile --network-concurrency 1

            - name: Run tsc
              run: yarn buildTsc

            - name: Run bundlewatch
              run: yarn testBundlewatch
              env:
                  BUNDLEWATCH_GITHUB_TOKEN: "${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}"
