name: Continuous Integration
on: [push, pull_request]

jobs:
    # Checks for prettify errors, TypeScript errors and runs Jest tests.
    testdbcheck:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v4

            - uses: ./.github/actions/setup-node-yarn-deps

            - name: Install dependencies
              run: cp .env.example-grapher .env
              shell: bash

            - name: Build and run db tests
              run: make dbtest
              timeout-minutes: 6

    testcheck:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v4

            - uses: ./.github/actions/setup-node-yarn-deps

            - name: Run prettier
              run: yarn testPrettierAll

            - name: Run tsc build
              run: yarn buildTsc

            - name: Run tsc buildTests
              run: yarn lerna run buildTests

            - name: Run jest
              run: yarn testJest

    eslint:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v4

            - uses: ./.github/actions/setup-node-yarn-deps

            - name: Run eslint
              # the --max-warnings makes eslint exit with non-zero exit code even for warnings
              run: yarn testLint --max-warnings=0

    # Runs `bundlewatch` on the code to see if our Vite build assets exceed a given file size.
    bundlewatch:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v4

            - uses: ./.github/actions/setup-node-yarn-deps
            - uses: ./.github/actions/build-tsc

            - name: Send bundle stats to RelativeCI
              uses: relative-ci/agent-action@v2
              with:
                  webpackStatsFile: ./dist/assets/webpack-stats.json
                  key: ${{ secrets.RELATIVE_CI_KEY }}
                  token: ${{ secrets.GITHUB_TOKEN }}
