.indicator-source {
    .description {
        @include body-3-medium;
        margin: 0;
        margin-bottom: 16px;
    }

    .source-key-data-blocks {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
        row-gap: 8px;

        .wp-code-snippet {
            margin-top: 8px;
            margin-bottom: 0;
        }
    }

    .source-key-data {
        --title: var(--source-key-data-title, #{$blue-90});

        @include body-3-medium;
    }

    .source-key-data--span-2 {
        grid-column: span 2;
    }

    .source-key-data__title {
        color: var(--title);
    }

    .source-key-data__content--hide-overflow {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    a {
        @include owid-link-90;
        color: inherit;
    }
}

.NonExpandable {
    --title: var(--non-expandable-title, currentColor);
    --content: var(--non-expandable-content, #{$blue-60});
    --border: var(--non-expandable-border, #d0dae3);

    padding: 16px 0;

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);

    &--stacked {
        border-bottom: none;
    }

    &__title {
        @include h4-semibold;
        margin: 0;
        margin-bottom: 8px;
        color: var(--title);
    }

    &__content {
        color: var(--content);
    }
}
